<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>

            <!--Create Worksheet-->
            <ice:panelTab id="createworksheet" rendered="true">
                <div class="box">
                    <ice:form>
                        <div class="heading">
                            <h1> <img src="../images/h1_front_line.png" /> Create Worksheet </h1>
                            <div class="buttons">
                                <ice:commandButton styleClass="button_create" value="Create" actionListener="#{createworksheet.CreateWorksheetFun}"/> 
                                <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{createworksheet.changTocancel}" />
                            </div>
                        </div>
                    </ice:form>

                    <div class="content">
                        <ice:form>
                            <table class="form">
                                <tr>
                                    <td class="label">Order No. : </td>
                                    <td ><ice:inputText value="#{createworksheet.detailFl.orderNo}" /></td>
                                    <td class="label">Invoice broze plate No. :</td>
                                    <td ><ice:inputText value="#{createworksheet.detailFl.invoicebrozeplat}" /></td>
                                </tr>
                                <tr>
                                    <td class="label">Product code name :</td>
                                    <td ><ice:selectOneMenu partialSubmit="true" required="true" value="#{createworksheet.detailFl.productcodeName}" valueChangeListener="#{createworksheet.ChangProductCodeNameValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "></f:selectItem>
                                            <f:selectItems value="#{createworksheet.productcodenamelist}"></f:selectItems>
                                        </ice:selectOneMenu>
                                    </td>
                                    <td class="label">QTY Frame :</td>
                                    <td ><ice:inputText value="#{createworksheet.detailFl.qtyFrame}" /></td>
                                </tr>
                                <tr>
                                    <td class="label">Product code :</td>
                                    <td >
                                        <ice:inputText readonly="true" value="#{createworksheet.detailFl.productcode}" />
                                    </td>
                                    <td class="label">QTY Roll :</td>
                                    <td >
                                        <ice:inputText value="#{createworksheet.detailFl.qtyRoll}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Type bobbin :</td>
                                    <td ><ice:inputText value="#{createworksheet.detailFl.typeBb}" /></td>
                                    <td class="label">Plant :</td>
                                    <td ><ice:selectOneMenu partialSubmit="true" required="true" value="#{createworksheet.detailFl.plat}" valueChangeListener="#{createworksheet.ChangPlantValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                            <f:selectItems value="#{createworksheet.selectItemPlant}" />
                                        </ice:selectOneMenu>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Resin name :</td>
                                    <td ><ice:selectOneMenu required="true" value="#{createworksheet.detailFl.resinName}" partialSubmit="true" valueChangeListener="#{createworksheet.ChangResinNameValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "></f:selectItem>
                                            <f:selectItems value="#{createworksheet.resinnamelist}"></f:selectItems>
                                        </ice:selectOneMenu>
                                    </td>


                                    <td class="label">Series :</td>
                                    <td ><ice:selectOneMenu required="true" value="#{createworksheet.detail.modelseries}" requiredMessage="Select on Series." partialSubmit="true" valueChangeListener="#{createworksheet.ChangModelSeries}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                            <f:selectItems value="#{createworksheet.modelserieslist}"/>
                                        </ice:selectOneMenu>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Resin type :</td>
                                    <td ><ice:selectOneMenu required="true" value="#{createworksheet.detailFl.resinType}" partialSubmit="true" valueChangeListener="#{createworksheet.ChangResinTypeValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "></f:selectItem>
                                            <f:selectItems value="#{createworksheet.resintypelist}"></f:selectItems>
                                        </ice:selectOneMenu>
                                    </td>
                                    <td class="label">Type Model :</td>
                                    <td ><ice:selectOneMenu required="true" value="#{createworksheet.detail.model}" requiredMessage="Select on model." partialSubmit="true" valueChangeListener="#{createworksheet.ChangModelpoolValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                            <f:selectItems value="#{createworksheet.modelPoolsList}"/>
                                        </ice:selectOneMenu>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Product type :</td>
                                    <td ><ice:selectOneMenu required="true" value="#{createworksheet.detailFl.productType}" partialSubmit="true" valueChangeListener="#{createworksheet.ChangProductTypeValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "></f:selectItem>
                                            <f:selectItems value="#{createworksheet.producttypelist}"></f:selectItems>
                                        </ice:selectOneMenu>
                                    </td>
                                    <td class="label"> </td>
                                    <td > </td>
                                </tr>
                            </table>
                        </ice:form>
                        <!-- Process Status -->
                        <h2 class="lable_line">Process Status (#{createworksheet.detailprocess.size()}) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="detailprocess" value="#{createworksheet.detailprocess}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        
                    <!--end Process Status -->
                                <!--ice:panelSeries var="detailprocess" value="#{createworksheet.detailprocess}">
                                    <table class="xxtable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr >
                                            <td class="xxtd_lable" width="10%" >Process# :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.processnumber}</td>
                                            <td class="xxtd_lable" width="10%">Process name :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.processname}</td>
                                            <td class="xxtd_lable" width="10%">NG Detail :</td>
                                            <td class="xxtd" width="24%">(Click hear)</td>
                                        </tr>
                                        <tr>
                                            <td class="xxtd_lable" width="10%">Start :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.startdate}</td>
                                            <td class="xxtd_lable" width="10%">Shift :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.shift}</td>
                                            <td class="xxtd_lable" width="10%"> </td>
                                            <td class="xxtd" width="24%"> </td>
                                        </tr>
                                        <tr>
                                            <td class="xxtd_lable" width="10%">Finish :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.finishdate}</td>
                                            <td class="xxtd_lable" width="10%">Input QTY :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.inputqty}</td>
                                            <td class="xxtd_lable" width="10%"> </td>
                                            <td class="xxtd" width="24%"> </td>
                                        </tr>
                                        <tr>
                                            <td class="xxtd_lable" width="10%">Start hold :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.starthold}</td>
                                            <td class="xxtd_lable" width="10%">Output QTY :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.outputqty}</td>
                                            <td class="xxtd_lable" width="10%"> </td>
                                            <td class="xxtd" width="24%"> </td>
                                        </tr>
                                        <tr>
                                            <td class="xxtd_lable" width="10%">Stop hold :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.stophold}</td>
                                            <td class="xxtd_lable" width="10%">NG QTY :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.ngqty}</td>
                                            <td class="xxtd_lable" width="10%"> </td>
                                            <td class="xxtd" width="24%"> </td>
                                        </tr>
                                        <tr>
                                            <td class="xxtd_lable" width="10%">MC# :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.mc}</td>
                                            <td class="xxtd_lable" width="10%">Order No. :</td>
                                            <td class="xxtd" width="23%">#{detailprocess.ordernumber}</td>
                                            <td class="xxtd_lable" width="10%"> </td>
                                            <td class="xxtd" width="24%"> </td>
                                        </tr>
                                    </table>
                                </ice:panelSeries-->
                            </div>
                        </div>
                        <!--end Process Status -->
                    </div>
                </div>  
            </ice:panelTab>

        </h:body>
    </f:view>
</html>