<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print work sheet</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!-- Print worksheet -->
        <ice:panelTab id="printworksheet" rendered="true">
            <div class="box"> <ice:form>
                    <div class="heading">
                        <h1> <img src="../images/h1_front_line.png" /> Print Worksheet </h1>
                        <div class="buttons">
                            <ice:commandLink  styleClass="button_print_all" value="Print All" partialSubmit="true" actionListener="#{createworksheet.printAll}" />
                            <script type="text/javascript" >#{createworksheet.script}</script> 
                            <ice:commandButton styleClass="button_print_select" partialSubmit="true" value="Print Check" actionListener="#{createworksheet.printSelect}" />
                            <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{createworksheet.changTocancel}" />
                        </div>

                    </div>
                    <table class="form">
                        <tr>
                            <td class="label">Order No. : </td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.orderNo}" /></td>
                            <td class="label">Invoice broze plate No. :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.invoicebrozeplat}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Product code name :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.productcodeName}"/></td>
                            <td class="label">QTY Frame :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.qtyFrame}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Product code :</td>
                            <td >
                                <ice:outputText value="#{printworksheet.currentDetailFl.productcode}" />
                            </td>
                            <td class="label">QTY Roll :</td>
                            <td >
                                <ice:outputText value="#{printworksheet.currentDetailFl.qtyRoll}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Type bobbin :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.typeBb}" /></td>
                            <td class="label">Plant :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.plat}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Resin name :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.resinName}"/>
                            </td>
                            <td class="label">Series :</td>
                            <td ><ice:outputText value="#{printworksheet.currentModelPool.modelSeries}"/>
                            </td>

                        </tr>
                        <tr>
                            <td class="label">Resin type :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.resinType}"/>
                            </td>
                            <td class="label">Type Model :</td>
                            <td ><ice:outputText value="#{printworksheet.currentModelPool.modelName}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td ><ice:outputText value="#{printworksheet.currentDetailFl.productType}"/>
                            </td>
                            <td class="label"> </td>
                            <td > </td>
                        </tr>
                    </table>

                    <!-- Frame Barcode -->
                    <h2 class="lable_line">Frame Barcode  </h2>
                    <div  class="content_line">
                        <div class="content_barcode">
                            <ice:panelSeries value="#{printworksheet.flist}" var="fbarcodes">
                                <ice:panelGroup styleClass="barcode">
                                    <div><!-- barcode -->
                                        <p><ice:selectBooleanCheckbox value="#{fbarcodes.selectbarcode}" partialSubmit="true"/>No :#{fbarcodes.num} [ #{fbarcodes.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle"><img src="#{fbarcodes.qrcodepicurl}" width="120" height="120" /></td>
                                                <td valign="middle"><img src="#{fbarcodes.barcodepicurl}" width="120" height="34" /></td>
                                            </tr>
                                        </table>
                                    </div><!-- end barcode -->
                                </ice:panelGroup>
                            </ice:panelSeries>
                            <div style="clear:both;"></div>		  
                        </div>
                    </div>
                    <!--end Frame Barcode -->

                    <!-- Roll Barcode -->
                    <h2 class="lable_line">Roll Barcode  </h2>
                    <div  class="content_line">
                        <div class="content_barcode">
                            <ice:panelSeries value="#{printworksheet.rlist}" var="rbarcodes" >
                                <ice:panelGroup styleClass="barcode">
                                    <div><!--barcode -->
                                        <p><ice:selectBooleanCheckbox value="#{rbarcodes.selectbarcode}" partialSubmit="true"/>No :#{rbarcodes.num} [ #{rbarcodes.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle"><img src="#{rbarcodes.qrcodepicurl}" width="120" height="120" /></td>
                                                <td valign="middle"><img src="#{rbarcodes.barcodepicurl}" width="120" height="34" /></td>
                                            </tr>
                                        </table>
                                    </div><!--end barcode -->
                                </ice:panelGroup>
                            </ice:panelSeries>
                            <div style="clear:both;"></div>		  
                        </div>
                    </div>
                    <!--end Roll Barcode -->
                </ice:form>
            </div>

        </ice:panelTab>
    </h:body>
</html>