<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=iso-8859-1" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <!--Front Line listview-->
            <ice:panelTab id="worksheetlistview" rendered="true">
                <div class="box" >
                    <ice:form>
                        <div class="heading">
                            <h1> <img src="../images/h1_front_line.png" /> Front Line </h1>

                            <div class="buttons">
                                <ice:commandButton  styleClass="button_insert" value="Insert" partialSubmit="true" actionListener="#{createworksheet.changToInsertview}"/>
                            </div>
                        </div>
                        <div class="content">
                            <div class="search_content">
                                <table class="form_search">
                                    <tr>
                                        <td width="30%" align="left" valign="middle">Order No :<br /> <ice:inputText value="#{worksheet.ordernumber}" /></td>
                                        <td width="30%" align="left" valign="middle">Process :<br /> <ice:inputText value="#{worksheet.process}" /></td>
                                        <td width="30%" align="left" valign="middle"> </td>
                                        <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" actionListener="#{worksheet.searchWorksheet}" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%" align="left" valign="middle">Model :<br /> <ice:inputText value="#{worksheet.typemodel}" /></td>
                                        <td width="30%" align="left" valign="middle">Type Bobbin :<br /> <ice:inputText value="#{worksheet.typepoppin}" /></td>
                                        <td width="30%" align="left" valign="middle"> </td>
                                        <td width="10%" align="right" valign="middle"> </td>
                                    </tr>
                                </table>
                            </div>
                            <ice:dataTable id="dataSortData"  border="1" cellpadding="0" cellspacing="0" width="100%" value="#{worksheet.worksheet}" var="order">
                                <ice:column id="column0" style="width: 15%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.barcodeColum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.barcode}" />
                                </ice:column>
                                <ice:column id="column1" style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.ordernumbercolum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.ordernumber}" />
                                </ice:column>
                                <ice:column id="column2" style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.typemodelcolum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.typemodel}" />
                                </ice:column>
                                <ice:column id="column3" style="width: 15%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.typebobbincolum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.typebobbin}" />
                                </ice:column>
                                <ice:column id="column4" style="width: 15%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.datecreatecolum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.createdate}" />
                                </ice:column>
                                <ice:column id="column5" style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.processcolum}" />
                                    </f:facet>
                                    <ice:outputText value="#{order.process}" />
                                </ice:column>
                                <ice:column id="column6" style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="#{worksheet.statuscolum}"/>
                                    </f:facet>
                                    <ice:outputText value="#{order.status}" />
                                </ice:column>
                                <ice:column id="column7" style="width: 15%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Action"/>
                                    </f:facet>
                                    <ice:panelGrid columns="3">
                                        <ice:panelGroup>
                                            <ice:commandLink panelConfirmation="confirmdeletelot" styleClass="button_del" value="Del" partialSubmit="true" actionListener="#{createworksheet.deleteWorksheet}"/>
                                            <ice:panelConfirmation id="confirmdeletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                        </ice:panelGroup>
                                        <ice:commandLink styleClass="button_edit" value="Edit" partialSubmit="true" actionListener="#{createworksheet.editWorksheet}"/>
                                        <ice:commandLink styleClass="button_print" value="Print" partialSubmit="true" actionListener="#{createworksheet.printWorksheet}"/>
                                    </ice:panelGrid>
                                </ice:column>
                            </ice:dataTable>


                            <div class="pagination">

                                <div align="center"> 
                                    <ice:commandLink styleClass="prev" actionListener="#{worksheet.previous}" value="Previous" rendered="#{worksheet.pagination.hasPreviousPage}"/> 
                                    #{worksheet.pagination.page+1}/#{worksheet.allPages}
                                    <ice:commandLink styleClass="next" actionListener="#{worksheet.next}" value="Next" rendered="#{worksheet.pagination.hasNextPage}"/> 
                                    <div class="results">
                                        Showing #{worksheet.pagination.pageFirstItem+1} to #{worksheet.pagination.pageLastItem+1} of #{worksheet.pagination.itemsCount}
                                    </div>
                                </div>

                            </div>
                        </div>
                    </ice:form>
                </div>
            </ice:panelTab>
        </h:body>
    </f:view>
</html>