<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditMainDataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditMainDataLabel_id}" for="id" />
                    <h:inputText id="id" value="#{mainDataController.selected.id}" title="#{bundle.EditMainDataTitle_id}" required="true" requiredMessage="#{bundle.EditMainDataRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditMainDataLabel_lotNumber}" for="lotNumber" />
                    <h:inputText id="lotNumber" value="#{mainDataController.selected.lotNumber}" title="#{bundle.EditMainDataTitle_lotNumber}" />
                    <h:outputLabel value="#{bundle.EditMainDataLabel_currentNumber}" for="currentNumber" />
                    <h:inputText id="currentNumber" value="#{mainDataController.selected.currentNumber}" title="#{bundle.EditMainDataTitle_currentNumber}" />
                    <h:outputLabel value="#{bundle.EditMainDataLabel_lotControlId}" for="lotControlId" />
                    <h:selectOneMenu id="lotControlId" value="#{mainDataController.selected.lotControlId}" title="#{bundle.EditMainDataTitle_lotControlId}" required="true" requiredMessage="#{bundle.EditMainDataRequiredMessage_lotControlId}">
                        <f:selectItems value="#{lotControlController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditMainDataLabel_idProc}" for="idProc" />
                    <h:selectOneMenu id="idProc" value="#{mainDataController.selected.idProc}" title="#{bundle.EditMainDataTitle_idProc}" required="true" requiredMessage="#{bundle.EditMainDataRequiredMessage_idProc}">
                        <f:selectItems value="#{processPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{mainDataController.update}" value="#{bundle.EditMainDataSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditMainDataViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{mainDataController.prepareList}" value="#{bundle.EditMainDataShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditMainDataIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
