<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMainDataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMainDataEmpty}" rendered="#{mainDataController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{mainDataController.items.rowCount > 0}">
                    <h:outputText value="#{mainDataController.pagination.pageFirstItem + 1}..#{mainDataController.pagination.pageLastItem + 1}/#{mainDataController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{mainDataController.previous}" value="#{bundle.Previous} #{mainDataController.pagination.pageSize}" rendered="#{mainDataController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{mainDataController.next}" value="#{bundle.Next} #{mainDataController.pagination.pageSize}" rendered="#{mainDataController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{mainDataController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMainDataTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMainDataTitle_lotNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMainDataTitle_currentNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMainDataTitle_lotControlId}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotControlId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMainDataTitle_idProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{mainDataController.prepareView}" value="#{bundle.ListMainDataViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{mainDataController.prepareEdit}" value="#{bundle.ListMainDataEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{mainDataController.destroy}" value="#{bundle.ListMainDataDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{mainDataController.prepareCreate}" value="#{bundle.ListMainDataCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListMainDataIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
