<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMainDataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMainDataLabel_id}"/>
                    <h:outputText value="#{mainDataController.selected.id}" title="#{bundle.ViewMainDataTitle_id}"/>
                    <h:outputText value="#{bundle.ViewMainDataLabel_lotNumber}"/>
                    <h:outputText value="#{mainDataController.selected.lotNumber}" title="#{bundle.ViewMainDataTitle_lotNumber}"/>
                    <h:outputText value="#{bundle.ViewMainDataLabel_currentNumber}"/>
                    <h:outputText value="#{mainDataController.selected.currentNumber}" title="#{bundle.ViewMainDataTitle_currentNumber}"/>
                    <h:outputText value="#{bundle.ViewMainDataLabel_lotControlId}"/>
                    <h:outputText value="#{mainDataController.selected.lotControlId}" title="#{bundle.ViewMainDataTitle_lotControlId}"/>
                    <h:outputText value="#{bundle.ViewMainDataLabel_idProc}"/>
                    <h:outputText value="#{mainDataController.selected.idProc}" title="#{bundle.ViewMainDataTitle_idProc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{mainDataController.destroyAndView}" value="#{bundle.ViewMainDataDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewMainDataEditLink}"/>
                <br />
                <h:commandLink action="#{mainDataController.prepareCreate}" value="#{bundle.ViewMainDataCreateLink}" />
                <br />
                <h:commandLink action="#{mainDataController.prepareList}" value="#{bundle.ViewMainDataShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewMainDataIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
