<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Assy Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Edit InputByHeader </h1>
                    <div class="buttons">
                        <ice:commandButton value="Save" styleClass="button_save" partialSubmit="true" actionListener="#{inputbyheadercontrol.changToSave}"/>&nbsp;
                        <ice:commandButton value="Cancel" styleClass="button_cancel" partialSubmit="true" actionListener="#{inputbyheadercontrol.changTocancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td>
                                <ice:inputRichText value="#{inputbyheadercontrol.textAll}" width="90%" skin="silver" height="350" toolbar="Basic" />
                            </td>
                        </tr>
                    </table>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>
