<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <!--Front Line-->
        <div class="box">
            <div class="heading">
                <h1> <img src="../images/h1_model.png" />Input By Header</h1>
                <div class="buttons">
                    <h:form> <ice:commandButton styleClass="button_search" value="Refresh" partialSubmit="true" actionListener="#{inputbyheadercontrol.loadLine}" /></h:form>
                </div>
            </div>
            <div class="content">
<!--                <div class="search_content">  
                    <h:form>
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">NG Code :<br />
                                    <ice:inputText  value="#{editngcontrol.ngCodeSearch}"/>
                                </td>
                                <td width="30%" align="left" valign="middle">NG Type :<br /> 
                                    <ice:selectOneMenu value="#{editngcontrol.ngTypeSearch}" valueChangeListener="#{editngcontrol.ChangeValueNgType}" required="true" partialSubmit="true" >
                                        <f:selectItems value="#{editngcontrol.itemNgType}" />
                                    </ice:selectOneMenu> 
                                </td>
                                <td width="30%" align="left" valign="middle"><br /></td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton   styleClass="button_search" value="Search" partialSubmit="true" actionListener="#{editngcontrol.searchEditngList}" /></td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">NG name :<br />
                                    <ice:inputText value="#{editngcontrol.ngNameSearch}"/> 
                                </td>
                                <td width="30%" align="left" valign="middle">Status :<br />
                                    <ice:selectOneMenu value="#{editngcontrol.ngStatusSearch}" valueChangeListener="#{editngcontrol.ChangeValueNgStatus}" required="true" partialSubmit="true" >
                                        <f:selectItems value="#{editngcontrol.itemNgStatus}"/>
                                    </ice:selectOneMenu>    
                                </td>
                                <td width="30%" align="left" valign="middle"><br /></td>
                                <td width="10%" align="right" valign="middle">&nbsp;</td>
                            </tr> 
                        </table>
                    </h:form>
                </div>-->
                <ice:form> 
                    <ice:dataTable  value="#{inputbyheadercontrol.listTable}" var="linelists" width="100%" >
                        <ice:column style="width:10%; ">
                            <f:facet name="header">
                                <ice:outputText value="No."/>
                            </f:facet>
                            <ice:outputText value="#{linelists.num}"/>
                        </ice:column>
                        <ice:column style="width:30%; ">
                            <f:facet name="header">
                                <ice:outputText value="Line Name"/>
                            </f:facet>
                            <ice:outputText value="#{linelists.linename}"/>
                        </ice:column>
                        <ice:column style="width:40%; ">
                            <f:facet name="header">
                                <ice:outputText value="Description"/>
                            </f:facet>
                            <ice:outputText value="#{linelists.linedescription}"/>
                        </ice:column>
                        <ice:column style="width: 20%">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet>
                            <ice:commandButton immediate="true" styleClass="button_edit" partialSubmit="true" value="Edit" actionListener="#{inputbyheadercontrol.changToEdit}"/>
                            <ice:commandButton styleClass="button_view" partialSubmit="true" value="View Slide" actionListener="#{inputbyheadercontrol.changToView}"/> 
                        </ice:column>
                    </ice:dataTable>
                </ice:form>

                <div class="pagination">
                    <div align="center"> 
                        <h:form>    
                            <ice:commandLink styleClass="prev" actionListener="#{inputbyheadercontrol.previous}" value="Previous" rendered="#{inputbyheadercontrol.paginationHelper.hasPreviousPage}"/> 
                            #{inputbyheadercontrol.paginationHelper.page+1}/#{inputbyheadercontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{inputbyheadercontrol.next}" value="Next" rendered="#{inputbyheadercontrol.paginationHelper.hasNextPage}"/>
                        </h:form>
                        <div class="results">
                            Showing #{inputbyheadercontrol.paginationHelper.pageFirstItem+1} to #{inputbyheadercontrol.paginationHelper.pageLastItem+1} of #{inputbyheadercontrol.paginationHelper.itemsCount}
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </h:body>
</html>
