<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateModelPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_id}" for="id" />
                    <h:inputText id="id" value="#{modelPoolController.selected.id}" title="#{bundle.CreateModelPoolTitle_id}" required="true" requiredMessage="#{bundle.CreateModelPoolRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_modelGroup}" for="modelGroup" />
                    <h:inputText id="modelGroup" value="#{modelPoolController.selected.modelGroup}" title="#{bundle.CreateModelPoolTitle_modelGroup}" />
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_modelType}" for="modelType" />
                    <h:inputText id="modelType" value="#{modelPoolController.selected.modelType}" title="#{bundle.CreateModelPoolTitle_modelType}" />
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_modelSeries}" for="modelSeries" />
                    <h:inputText id="modelSeries" value="#{modelPoolController.selected.modelSeries}" title="#{bundle.CreateModelPoolTitle_modelSeries}" />
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_modelName}" for="modelName" />
                    <h:inputText id="modelName" value="#{modelPoolController.selected.modelName}" title="#{bundle.CreateModelPoolTitle_modelName}" />
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{modelPoolController.selected.createDate}" title="#{bundle.CreateModelPoolTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{modelPoolController.selected.userCreate}" title="#{bundle.CreateModelPoolTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateModelPoolRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{modelPoolController.selected.userApprove}" title="#{bundle.CreateModelPoolTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.CreateModelPoolLabel_plat}" for="plat" />
                    <h:inputText id="plat" value="#{modelPoolController.selected.plat}" title="#{bundle.CreateModelPoolTitle_plat}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{modelPoolController.create}" value="#{bundle.CreateModelPoolSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{modelPoolController.prepareList}" value="#{bundle.CreateModelPoolShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateModelPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
