<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListModelPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListModelPoolEmpty}" rendered="#{modelPoolController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{modelPoolController.items.rowCount > 0}">
                    <h:outputText value="#{modelPoolController.pagination.pageFirstItem + 1}..#{modelPoolController.pagination.pageLastItem + 1}/#{modelPoolController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{modelPoolController.previous}" value="#{bundle.Previous} #{modelPoolController.pagination.pageSize}" rendered="#{modelPoolController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{modelPoolController.next}" value="#{bundle.Next} #{modelPoolController.pagination.pageSize}" rendered="#{modelPoolController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{modelPoolController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_modelGroup}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelGroup}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_modelType}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_modelSeries}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelSeries}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_modelName}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListModelPoolTitle_plat}"/>
                            </f:facet>
                            <h:outputText value="#{item.plat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{modelPoolController.prepareView}" value="#{bundle.ListModelPoolViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modelPoolController.prepareEdit}" value="#{bundle.ListModelPoolEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{modelPoolController.destroy}" value="#{bundle.ListModelPoolDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{modelPoolController.prepareCreate}" value="#{bundle.ListModelPoolCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListModelPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
