<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewModelPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewModelPoolLabel_id}"/>
                    <h:outputText value="#{modelPoolController.selected.id}" title="#{bundle.ViewModelPoolTitle_id}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_modelGroup}"/>
                    <h:outputText value="#{modelPoolController.selected.modelGroup}" title="#{bundle.ViewModelPoolTitle_modelGroup}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_modelType}"/>
                    <h:outputText value="#{modelPoolController.selected.modelType}" title="#{bundle.ViewModelPoolTitle_modelType}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_modelSeries}"/>
                    <h:outputText value="#{modelPoolController.selected.modelSeries}" title="#{bundle.ViewModelPoolTitle_modelSeries}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_modelName}"/>
                    <h:outputText value="#{modelPoolController.selected.modelName}" title="#{bundle.ViewModelPoolTitle_modelName}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_createDate}"/>
                    <h:outputText value="#{modelPoolController.selected.createDate}" title="#{bundle.ViewModelPoolTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_userCreate}"/>
                    <h:outputText value="#{modelPoolController.selected.userCreate}" title="#{bundle.ViewModelPoolTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_userApprove}"/>
                    <h:outputText value="#{modelPoolController.selected.userApprove}" title="#{bundle.ViewModelPoolTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewModelPoolLabel_plat}"/>
                    <h:outputText value="#{modelPoolController.selected.plat}" title="#{bundle.ViewModelPoolTitle_plat}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{modelPoolController.destroyAndView}" value="#{bundle.ViewModelPoolDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewModelPoolEditLink}"/>
                <br />
                <h:commandLink action="#{modelPoolController.prepareCreate}" value="#{bundle.ViewModelPoolCreateLink}" />
                <br />
                <h:commandLink action="#{modelPoolController.prepareList}" value="#{bundle.ViewModelPoolShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewModelPoolIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
