<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/loop.js" /> 
        <style type="text/css">
            a{
                color: #FFFFFF;
                text-decoration: none;
            }   
        </style>  
    </h:head>
    <h:body>
        <h:form> 
            <div class="box">
                <div class="heading">
                    <h1><img src="../images/h1_history.png" /> History downtime</h1>
                    <div class="buttons">
                        <ice:dataExporter id="dataexport" for="carData222"   
                                          label="Export"  type="excel" styleClass="button_create"
                                          includeColumns="0,1,2,3,4,5,6,7" popupBlockerLabel="blocked" />
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form">
                            <tr>
                                <td class="label" width="30%" >process : <br/>
                                    <ice:selectOneMenu value="#{historyDowntimeReportControl.currentHistoryDowntimeDataSearch.process}"> 
                                        <f:selectItems value="#{historyDowntimeReportControl.itemProcess()}" />
                                    </ice:selectOneMenu>
                                </td> 
                                <td class="label" width="30%">Line  : <br/>
                                    <ice:selectOneMenu value="#{historyDowntimeReportControl.currentHistoryDowntimeDataSearch.line}"> 
                                        <f:selectItems value="#{historyDowntimeReportControl.itemLine()}" />
                                    </ice:selectOneMenu>
                                </td>
<!--                                <td class="label" width="30%">Status : <br/>
                                    <ice:selectOneMenu value="#{historyDowntimeReportControl.currentHistoryDowntimeDataSearch.status}"> 
                                        <f:selectItems value="#{historyDowntimeReportControl.itemStatus()}" />
                                    </ice:selectOneMenu>
                                </td>-->
                                <td class="label">Start from date : <br/> 
                                    <ice:selectInputDate   renderAsPopup="true" value="#{historyDowntimeReportControl.currentHistoryDowntimeDataSearch.startdate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td width="10%">
                                    <ice:commandButton value="Search" styleClass="button_search" actionListener="#{historyDowntimeReportControl.changeToSearch()}" />
                                </td>

                            </tr>
                            <tr>
                               
                                <td class="label">To date : <br/> 
                                    <ice:selectInputDate   renderAsPopup="true" value="#{historyDowntimeReportControl.currentHistoryDowntimeDataSearch.todatdate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td></td>
                                <td></td> 
                                <td></td>
                            </tr> 
                            <tr>
                                <td colspan="3"><ice:commandButton  styleClass="button_search"  value="Daily" actionListener="#{historyDowntimeReportControl.searchByDaily()}" />&nbsp;<ice:commandButton styleClass="button_search"  value="Weekly" actionListener="#{historyDowntimeReportControl.searchWeekly()}"/>&nbsp;<ice:commandButton styleClass="button_search"  value="Monthly" actionListener="#{historyDowntimeReportControl.searchMonthly()}" />&nbsp;<ice:commandButton styleClass="button_search"  value="Yearly" actionListener="#{historyDowntimeReportControl.searchYearly()}" />  </td>
                            </tr>
                        </table>
                    </div> 
                    <ice:dataTable  id="carData222" width="100%" value="#{historyDowntimeReportControl.hostoryModel}" var="itemHistoty">
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Date" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.date}" />
                        </ice:column> 
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Process" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.process}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Line" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.line}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Status" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.status}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Start time" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.starttime}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Stop time"/>
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.stoptime}" />
                        </ice:column>  
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Downtime reason"/>
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.reason}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Total Summary" />
                            </f:facet>
                            <ice:outputText value="#{itemHistoty.total}" />
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{historyDowntimeReportControl.previous}" value="Previous" rendered="#{historyDowntimeReportControl.worksheetpagination.hasPreviousPage}"/> 
                            #{historyDowntimeReportControl.worksheetpagination.page+1}/#{historyDowntimeReportControl.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{master.next}" value="Next" rendered="#{historyDowntimeReportControl.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{historyDowntimeReportControl.worksheetpagination.pageFirstItem+1} to #{historyDowntimeReportControl.worksheetpagination.pageLastItem+1} of #{mcDowntimeReportControl.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>
