<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetailsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_idDetail}" for="idDetail" />
                    <h:inputText id="idDetail" value="#{detailsController.selected.idDetail}" title="#{bundle.CreateDetailsTitle_idDetail}" required="true" requiredMessage="#{bundle.CreateDetailsRequiredMessage_idDetail}"/>
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_detailBarcode}" for="detailBarcode" />
                    <h:inputText id="detailBarcode" value="#{detailsController.selected.detailBarcode}" title="#{bundle.CreateDetailsTitle_detailBarcode}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_lotcontrol}" for="lotcontrol" />
                    <h:inputText id="lotcontrol" value="#{detailsController.selected.lotcontrol}" title="#{bundle.CreateDetailsTitle_lotcontrol}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_model}" for="model" />
                    <h:inputText id="model" value="#{detailsController.selected.model}" title="#{bundle.CreateDetailsTitle_model}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_shift}" for="shift" />
                    <h:inputText id="shift" value="#{detailsController.selected.shift}" title="#{bundle.CreateDetailsTitle_shift}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_line}" for="line" />
                    <h:inputText id="line" value="#{detailsController.selected.line}" title="#{bundle.CreateDetailsTitle_line}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{detailsController.selected.userCreate}" title="#{bundle.CreateDetailsTitle_userCreate}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{detailsController.selected.userApprove}" title="#{bundle.CreateDetailsTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_dateCreate}" for="dateCreate" />
                    <h:inputText id="dateCreate" value="#{detailsController.selected.dateCreate}" title="#{bundle.CreateDetailsTitle_dateCreate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_detailType}" for="detailType" />
                    <h:inputText id="detailType" value="#{detailsController.selected.detailType}" title="#{bundle.CreateDetailsTitle_detailType}" />
                    <h:outputLabel value="#{bundle.CreateDetailsLabel_detailName}" for="detailName" />
                    <h:inputText id="detailName" value="#{detailsController.selected.detailName}" title="#{bundle.CreateDetailsTitle_detailName}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailsController.create}" value="#{bundle.CreateDetailsSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detailsController.prepareList}" value="#{bundle.CreateDetailsShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateDetailsIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
