<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDetailsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDetailsEmpty}" rendered="#{detailsController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{detailsController.items.rowCount > 0}">
                    <h:outputText value="#{detailsController.pagination.pageFirstItem + 1}..#{detailsController.pagination.pageLastItem + 1}/#{detailsController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{detailsController.previous}" value="#{bundle.Previous} #{detailsController.pagination.pageSize}" rendered="#{detailsController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{detailsController.next}" value="#{bundle.Next} #{detailsController.pagination.pageSize}" rendered="#{detailsController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{detailsController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_idDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.idDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_detailBarcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailBarcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_lotcontrol}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotcontrol}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_model}"/>
                            </f:facet>
                            <h:outputText value="#{item.model}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_shift}"/>
                            </f:facet>
                            <h:outputText value="#{item.shift}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_line}"/>
                            </f:facet>
                            <h:outputText value="#{item.line}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_dateCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.dateCreate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_detailType}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailsTitle_detailName}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{detailsController.prepareView}" value="#{bundle.ListDetailsViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailsController.prepareEdit}" value="#{bundle.ListDetailsEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailsController.destroy}" value="#{bundle.ListDetailsDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{detailsController.prepareCreate}" value="#{bundle.ListDetailsCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListDetailsIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
