<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetailsTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetailsLabel_idDetail}"/>
                    <h:outputText value="#{detailsController.selected.idDetail}" title="#{bundle.ViewDetailsTitle_idDetail}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_detailBarcode}"/>
                    <h:outputText value="#{detailsController.selected.detailBarcode}" title="#{bundle.ViewDetailsTitle_detailBarcode}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_lotcontrol}"/>
                    <h:outputText value="#{detailsController.selected.lotcontrol}" title="#{bundle.ViewDetailsTitle_lotcontrol}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_model}"/>
                    <h:outputText value="#{detailsController.selected.model}" title="#{bundle.ViewDetailsTitle_model}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_shift}"/>
                    <h:outputText value="#{detailsController.selected.shift}" title="#{bundle.ViewDetailsTitle_shift}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_line}"/>
                    <h:outputText value="#{detailsController.selected.line}" title="#{bundle.ViewDetailsTitle_line}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_userCreate}"/>
                    <h:outputText value="#{detailsController.selected.userCreate}" title="#{bundle.ViewDetailsTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_userApprove}"/>
                    <h:outputText value="#{detailsController.selected.userApprove}" title="#{bundle.ViewDetailsTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_dateCreate}"/>
                    <h:outputText value="#{detailsController.selected.dateCreate}" title="#{bundle.ViewDetailsTitle_dateCreate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailsLabel_detailType}"/>
                    <h:outputText value="#{detailsController.selected.detailType}" title="#{bundle.ViewDetailsTitle_detailType}"/>
                    <h:outputText value="#{bundle.ViewDetailsLabel_detailName}"/>
                    <h:outputText value="#{detailsController.selected.detailName}" title="#{bundle.ViewDetailsTitle_detailName}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailsController.destroyAndView}" value="#{bundle.ViewDetailsDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewDetailsEditLink}"/>
                <br />
                <h:commandLink action="#{detailsController.prepareCreate}" value="#{bundle.ViewDetailsCreateLink}" />
                <br />
                <h:commandLink action="#{detailsController.prepareList}" value="#{bundle.ViewDetailsShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewDetailsIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
