<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/loop.js" /> 
        <style type="text/css">
            a{
                color: #FFFFFF;
                text-decoration: none;
            }   
        </style>  
    </h:head>
    <h:body>
        <h:form> 
            <div class="box">
                <div class="heading">
                    <h1><img src="../images/h1_history.png" /> MC Downtime Report</h1>
                    <div class="buttons">
                        <ice:dataExporter id="dataexport" for="carData22"   
                                          label="Export"  type="excel" styleClass="button_create"
                                          includeColumns="0,1,2,3,4,5,6,7,8,9,10,11" popupBlockerLabel="blocked" />
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form">
                            <tr>
                                <td class="label" width="30%" >process : <br/>
                                    <ice:selectOneMenu value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.process}"> 
                                        <f:selectItems value="#{mcDowntimeReportControl.itemProcess()}" />
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label" width="30%">#MC name : <br/>
                                    <ice:selectOneMenu value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.mcName}"> 
                                        <f:selectItems value="#{mcDowntimeReportControl.itemMcName()}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label" width="30%">Line  : <br/>
                                    <ice:selectOneMenu value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.line}"> 
                                        <f:selectItems value="#{mcDowntimeReportControl.itemLine()}" />
                                    </ice:selectOneMenu>
                                </td>
                                <td width="10%">
                                    <ice:commandButton value="Search" styleClass="button_search" actionListener="#{mcDowntimeReportControl.changeToSearch()}" />
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Start from date : <br/> 
                                    <ice:selectInputDate   renderAsPopup="true" value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.startFromDate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td class="label">To date : <br/> 
                                    <ice:selectInputDate   renderAsPopup="true" value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.toDate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td class="label">Downtime reason : <br/>
                                    <ice:selectOneMenu value="#{mcDowntimeReportControl.currentMcDowntimeReportSerachData.downTimeReason}"> 
                                        <f:selectItems value="#{mcDowntimeReportControl.itemDowntimeReason()}" />
                                    </ice:selectOneMenu>
                                </td>
                            </tr> 
                            <tr>
                                <td colspan="3"><ice:commandButton  styleClass="button_search"  value="Daily" actionListener="#{mcDowntimeReportControl.searchByDaily()}" />&nbsp;<ice:commandButton styleClass="button_search"  value="Weekly" actionListener="#{mcDowntimeReportControl.searchWeekly()}"/>&nbsp;<ice:commandButton styleClass="button_search"  value="Monthly" actionListener="#{mcDowntimeReportControl.searchMonthly()}" />&nbsp;<ice:commandButton styleClass="button_search"  value="Yearly" actionListener="#{mcDowntimeReportControl.searchYearly()}" />  </td>
                            </tr>
                        </table>
                    </div> 
                    <ice:dataTable  id="carData22" width="100%" value="#{mcDowntimeReportControl.mcDowntimeModel}" var="itemMcDowntime">
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Date" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.dated}" />
                        </ice:column> 
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="MC name" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.mcName}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Process" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.process}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Line" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.line}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Plan operation" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.planOperation}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Start downtime" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.startDownTime}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Stop downtime"/>
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.stopDowntime}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Total downtime" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.totalDownTime}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Operation time" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.operationTime}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Downtime reason"/>
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.downtimeReason}" />
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="CA/PA" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.capa}" />
                        </ice:column><ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Total Summary" />
                            </f:facet>
                            <ice:outputText value="#{itemMcDowntime.totalSummary}" />
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{mcDowntimeReportControl.previous}" value="Previous" rendered="#{mcDowntimeReportControl.worksheetpagination.hasPreviousPage}"/> 
                            #{mcDowntimeReportControl.worksheetpagination.page+1}/#{mcDowntimeReportControl.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{master.next}" value="Next" rendered="#{mcDowntimeReportControl.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{mcDowntimeReportControl.worksheetpagination.pageFirstItem+1} to #{mcDowntimeReportControl.worksheetpagination.pageLastItem+1} of #{mcDowntimeReportControl.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </h:form>
    </h:body>
</html>
