
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Config Process</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <div width="100%"
                 style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%;">
                <ice:outputLabel value="Config Process" />
                <br /><br />
                <ice:outputLabel value="Process to config : " />
                <ice:outputText value="#{config_process.connumber}" />
                <br /> <br />
                <ice:form style="vertical-align: top; height: 100%; width: 100%; ">
                    <table width="100%" style="height: 90%;">
                        <tr valign="top">
                            <td height="100%" width="23%" valign="top"><div width="100%"
                                                                            style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; overflow: auto;">
                                    <ice:outputLabel value="Data Process" />
                                    <ice:dataTable border="1" width="100%"
                                                   value="#{config_process.dataprocess}" var="dataprocess">
                                        <ice:column id="column1">
                                            <ice:rowSelector id="selected"
                                                             selectionListener="#{config_process.rowSelectionListener}"
                                                             multiple="false" selectedClass="tableRowSelected"
                                                             mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{dataprocess.name}" />
                                        </ice:column>
                                    </ice:dataTable>
                                </div></td>
                            <td height="100%" width="8%" valign="middle" align="center"><ice:commandButton
                                    value=" &lt;&lt; "
                                    actionListener="#{config_process.AddProcessData}" /><br /> <br />
                                <ice:commandButton value=" &gt;&gt; "
                                                   actionListener="#{config_process.DelectProcessData}" /></td>
                            <td height="100%" width="23%"><div width="100%"
                                                               style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; ">
                                    <ice:outputLabel value="Data Process Text Field" />
                                    <ice:dataTable border="1" width="100%"
                                                   value="#{config_process.dataprocessT}" var="dataprocesst">
                                        <ice:column id="column2">
                                            <ice:rowSelector id="selected"
                                                             selectionListener="#{config_process.rowSelectionListenert}"
                                                             multiple="false" selectedClass="tableRowSelected"
                                                             mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{dataprocesst.name}" />
                                        </ice:column>
                                    </ice:dataTable>
                                </div>
                            </td>
                            <td height="100%" width="23%">
                                <div width="100%" style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; overflow: auto;">
                                    <ice:outputLabel value="Data Process Combo Box" />
                                    <ice:dataTable border="1" width="100%"
                                                   value="#{config_process.dataprocessC}" var="dataprocessc">
                                        <ice:column id="column3">
                                            <ice:rowSelector id="selected"
                                                             selectionListener="#{config_process.rowSelectionListenerc}"
                                                             multiple="false" selectedClass="tableRowSelected"
                                                             mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{dataprocessc.name}" />
                                        </ice:column>
                                    </ice:dataTable>
                                </div></td>
                            <td height="100%" width="23%"><div width="100%"
                                                               style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 80%;overflow: auto;">
                                    <ice:outputLabel value="Option" />
                                    <br />

                                    <ice:dataTable width="100%" border="1" value="#{config_process.option}" var="option">
                                        <ice:column id="column4">
                                            <ice:outputText value="#{option}" />
                                        </ice:column>
                                    </ice:dataTable>
                                </div> <br /> <ice:outputLabel for="selectmachine"
                                                               value="Select Machine" /> <ice:selectOneMenu id="selectmachine"
                                                               partialSubmit="false" value="machine">
                                    <f:selectItems value="#{config_process.machinelist}"></f:selectItems>
                                </ice:selectOneMenu><br />
                                <p align="right">
                                    <ice:commandButton value=" Save config "></ice:commandButton>
                                </p>
                            </td>
                        </tr>
                    </table>
                </ice:form>
            </div>
        </h:body>
    </f:view>
</html>