
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core">
<f:view>
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>Data Peocess</title>
		<link rel="stylesheet" type="text/css"
			href="../../../xmlhttp/css/rime/rime.css" />
                <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
	</h:head>
	<h:body>
		<div
			style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
			<ice:outputLabel value="Data process"></ice:outputLabel>
			<br />
			<div
				style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
				<ice:outputLabel value="New tex field"></ice:outputLabel>
				<br />
				<ice:form id="newtextfield">
					<table width="100%">
						<tr>
							<td width="20%" align="right"><ice:outputLabel
									value="Label text filed name" for="textfieldname" /></td>
							<td width="40%" align="left"><ice:inputText
									id="textfieldname" value="#{dataprocessbean.textfieldname}" />
								<ice:commandButton value="  Create  "
									actionListener="#{dataprocessbean.createTextField}"></ice:commandButton></td>
							<td style="width: 20%;" align="left"></td>
							<td width="20%"></td>
						</tr>
					</table>
				</ice:form>
			</div>
			<br />
			<div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
				<ice:form id="createcombobox">
				<table width="100%">
				<tr>
				<td align="left" valign="top"><ice:outputLabel value="New combo box"/></td>
				<td align="right" valign="top"><ice:outputLabel value="Option Detail"/></td>
				</tr>
				</table>
				<br />
				<table width="100%">
					<tr>
						<td align="right" width="20%"><ice:outputLabel
								for="comboboxname" value="Label combo box name	"></ice:outputLabel></td>
						<td width="20%"><ice:inputText id="comboboxname"
								value="#{dataprocessbean.comboboxname}"></ice:inputText></td>
						<td width="10%"></td>
						<td rowspan="3" width="50%" align="left" valign="top"><div
								style="width: 100%; height: 100%; overflow: auto;">
								<ice:dataTable width="100%" border="1"
									value="#{dataprocessbean.combooption}" var="comborow">
									<ice:column id="column1">
										<ice:outputText value="#{comborow}"></ice:outputText>
									</ice:column>
								</ice:dataTable>
							</div></td>
					</tr>
					<tr>
						<td align="right" width="20%"><ice:outputLabel value="Option"></ice:outputLabel></td>
						<td width="20%"><ice:inputText value="#{dataprocessbean.optioninput}"></ice:inputText> <ice:commandButton
								value="  +  " actionListener="#{dataprocessbean.addOption}"></ice:commandButton></td>
						<td width="10%"></td>
					</tr>
					<tr>
						<td width="20%"></td>
						<td width="20%"></td>
						<td width="10%"><ice:commandButton value="  create  " actionListener="#{dataprocessbean.createNewCombobox}"></ice:commandButton></td>

					</tr>
				</table>
				</ice:form>
			</div>
			<br />
			<ice:form>
				<table width="100%">
					<tr>
						<td width="30%" align="right" valign="top"><div width="100%"
								style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; overflow: auto;">
								<ice:outputLabel value="Pool text field" />
								<br />
								<ice:dataTable border="1"
									value="#{dataprocessbean.textfieldlist}" var="textfield"
									width="100%">
									<ice:column id="column1">
										<ice:rowSelector id="selected"
											selectionListener="#{dataprocessbean.rowSelectionListenert}"
											multiple="false" selectedClass="tableRowSelected"
											mouseOverClass="tableRowMouseOver" />
										<ice:outputText value="#{textfield.name}"></ice:outputText>
									</ice:column>
								</ice:dataTable>
							</div></td>
						<td width="30%" align="right" valign="top"><div width="100%"
								style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; overflow: auto;">
								<ice:outputLabel value="Pool compo box"></ice:outputLabel>
								<br />
								<ice:dataTable border="1" value="#{dataprocessbean.comboList}"
									var="textfield" width="100%">
									<ice:column id="column2">
										<ice:rowSelector id="selected"
											selectionListener="#{dataprocessbean.rowSelectionListenerc}"
											multiple="false" selectedClass="tableRowSelected"
											mouseOverClass="tableRowMouseOver" />
										<ice:outputText value="#{textfield.name}"></ice:outputText>
									</ice:column>
								</ice:dataTable>
							</div></td>
						<td width="10%" align="center" valign="middle"></td>
						<td width="30%" align="right" valign="top"><div width="100%"
								style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; height: 100%; overflow: auto;">
								<ice:outputLabel value="Option list"></ice:outputLabel>
								<br />
								<ice:dataTable border="1" value="#{dataprocessbean.datalist}"
									var="values" width="100%">
									<ice:column id="column2">
										<ice:outputText value="#{values}"></ice:outputText>
									</ice:column>
								</ice:dataTable>
							</div></td>
					</tr>
				</table>
			</ice:form>
		</div>
	</h:body>
</f:view>
</html>