<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core">
<f:view>
	<h:head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<title>MenuBar Component Tutorial - Basic</title>
		<link rel="stylesheet" type="text/css"
			href="../../../xmlhttp/css/rime/rime.css" />
                <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
	</h:head>
	<h:body>
		<div
			style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
			<div
				style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
				<ice:outputLabel value="New NG detail"></ice:outputLabel>
				<br />
				<ice:form>
					<table width="100%">
						<tr>
							<td align="right"><ice:outputLabel value="NG name"></ice:outputLabel>
							</td>
							<td><ice:inputText value="#{editngbean.ngname}"></ice:inputText>
							</td>
							<td align="right"><ice:outputLabel value="Status"></ice:outputLabel>
							</td>
							<td><ice:selectOneMenu partialSubmit="false"
									value="#{editngbean.status}"
									>
									<f:selectItem itemValue="" itemLabel="----- Select One -----"></f:selectItem>
									<f:selectItems value="#{editngbean.statuslist}"></f:selectItems>
								</ice:selectOneMenu></td>
							<td></td>
						</tr>
						<tr>
							<td align="right"><ice:outputLabel value="User Create"></ice:outputLabel>
							</td>
							<td><ice:inputText value="#{editngbean.usercreate}"></ice:inputText>
							</td>
							<td align="right"><ice:outputLabel value="Create date"></ice:outputLabel>
							</td>
							<td><ice:selectInputDate renderAsPopup="true"
									value="#{editngbean.createdate}">
									<f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"
										timeZone="#{newprocess.timeZone}"></f:convertDateTime>
								</ice:selectInputDate></td>
							<td></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td></td>
							<td><ice:commandButton value="  Create  "
									actionListener="#{editngbean.CreateNewNG}"></ice:commandButton></td>
						</tr>
					</table>
				</ice:form>
			</div>
			<br />
			<div
				style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
				<ice:outputLabel value="Add NG to process"></ice:outputLabel>
				<br />
				<ice:form>
					<table width="100%">
						<tr>
							<td valign="top" align="right" width="30%"><div
									style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
									<ice:outputLabel value="Process pool"></ice:outputLabel>
									<br />
									<ice:dataTable width="100%" border="1"
										value="#{editngbean.proclist}" var="proclist">
										<ice:column id="column1">
										<ice:rowSelector id="selected" selectionListener="#{editngbean.ProcessPoolListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
											<ice:outputText value="#{proclist.name}"></ice:outputText>
										</ice:column>
									</ice:dataTable>
								</div></td>
							<td valign="top" align="right" width="30%"><div
									style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
									<ice:outputLabel value="Process NG"></ice:outputLabel>
									<br />
									<ice:dataTable border="1" width="100%"
										value="#{editngbean.processnglist}" var="pngl">
										<ice:column id="column1">
										<ice:rowSelector id="selected" selectionListener="#{editngbean.ProcessNGListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
											<ice:outputText value="#{pngl.name}"></ice:outputText>
										</ice:column>
									</ice:dataTable>
								</div></td>
							<td width="10%" align="center">
									<ice:commandButton value="  &gt;&gt;  " actionListener="#{editngbean.delNgFromProcess}"/>
									<br />
									<ice:commandButton value="  &lt;&lt;  " actionListener="#{editngbean.addNgToProcess}"/>
							</td>
							<td valign="top" align="right" width="30%"><div
									style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
									<ice:outputLabel value="NG pool"></ice:outputLabel>
									<br />
									<ice:dataTable border="1" value="#{editngbean.ngpoollist}"
										var="ng" width="100%">
										<ice:column id="column1">
										<ice:rowSelector id="selected" selectionListener="#{editngbean.NGPoolListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
											<ice:outputText value="#{ng.name}"></ice:outputText>
										</ice:column>
									</ice:dataTable>
								</div></td>
						</tr>
						<tr>
							<td></td>
							<td></td>
							<td></td>
							<td align="right"><ice:commandButton value="  Save  "></ice:commandButton>
							</td>
						</tr>
					</table>
				</ice:form>
			</div>
		</div>
	</h:body>
</f:view>
</html>