<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=UTF-8" />
            <title>EditModel Step</title>
            <link rel="stylesheet" type="text/css"
                  href="../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        </h:head>
        <h:body>
            <ice:outputLabel value="*** ใช้สำหรับเพิ่มโปรเซสการทำงานของ model"></ice:outputLabel>
            <div
                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;"
                width="100%">
                <table width="100%">
                    <tr>
                        <td width="30%" align="left" valign="top">
                            <div
                                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;"
                                width="100%">
                                <ice:outputLabel value="model"/>
                                <br />
                                <ice:form>
                                    <table width="100%">
                                        <tr>
                                            <td><ice:outputLabel value="Model"/></td>
                                            <td><ice:selectOneMenu partialSubmit="true" required="true" requiredMessage="Select One Model."
                                                                   value="#{editmodulessteps.modelselected}" valueChangeListener="#{editmodulessteps.modelChangValueListener}">
                                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                    <f:selectItems value="#{editmodulessteps.modelselect}" />
                                                </ice:selectOneMenu>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><ice:outputLabel value="Series"/></td>
                                            <td><ice:selectOneMenu partialSubmit="true" valueChangeListener="#{editmodulessteps.seriesChangValueListener}"
                                                                   value="#{editmodulessteps.seriesselected}">
                                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                    <f:selectItems value="#{editmodulessteps.series}" />
                                                </ice:selectOneMenu>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><ice:outputLabel value="Type"/></td>
                                            <td>
                                                <ice:inputText readonly="true" value="#{editmodulessteps.typeselected}"/>
                                                <!--<ice:selectOneMenu
                                                    value="#{editmodulessteps.typeselected}">
                                                    <f:selectItems value="#{editmodulessteps.type}" />
                                                </ice:selectOneMenu>-->
                                            </td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <ice:commandButton disabled="#{editmodulessteps.selectedStatus}" partialSubmit="true" actionListener="#{editmodulessteps.actionSelectedModel}" value=" Select "/>
                                            </td>
                                        </tr>
                                    </table>
                                </ice:form>
                            </div>
                            <br />
                            <div
                                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;"
                                width="100%">
                                <ice:outputLabel value="new model" />
                                <br />
                                <ice:form>
                                <table width="100%">
                                    <tr>
                                        <td align="right"><ice:outputLabel value="Group" /></td>
                                        <td><ice:inputText value="#{editmodulessteps.newgroup}" /></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><ice:outputLabel value="Model" /></td>
                                        <td><ice:inputText value="#{editmodulessteps.newmodel}" /></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><ice:outputLabel value="Series" /></td>
                                        <td><ice:inputText value="#{editmodulessteps.newseries}" /></td>
                                    </tr>
                                    <tr>
                                        <td align="right"><ice:outputLabel value="Type" /></td>
                                        <td><ice:inputText value="#{editmodulessteps.newtype}" /></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <ice:commandButton partialSubmit="true" actionListener="#{editmodulessteps.createModel}" value="Create new"/>
                                        </td>
                                    </tr>
                                </table>
                                </ice:form>
                            </div>
                        </td>
                        <td width="30%" valign="top" align="right"><ice:outputLabel
                                value="Process step" /> <br />
                            <div
                                style="border: 1px #000000 solid; padding: 5px; border-radius: 5px; height: 500px; overflow: auto;"
                                width="100%">
                                <ice:form>
                                    <ice:dataTable border="1" value="#{editmodulessteps.processSteplist}" var="proclist" width="100%">
                                        <ice:column id="column1">
                                            <ice:rowSelector id="selected" selectionListener="#{editmodulessteps.selectMd2pcListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{proclist.processPoolIdProc.procName}"></ice:outputText>
                                        </ice:column>
                                    </ice:dataTable>
                                </ice:form>
                            </div></td>
                        <td width="10%">
                            <ice:form>
                                <div
                                    style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;"
                                    width="100%" align="center">
                                    <ice:outputLabel for="" value="single" />
                                    <br />
                                    <ice:commandButton value="  &gt;&gt;  " partialSubmit="true" actionListener="#{editmodulessteps.deletProcessOnModel}"/>
                                    <br />
                                    <ice:commandButton value="  &lt;&lt;  " partialSubmit="true" actionListener="#{editmodulessteps.addProcessToModel}"/>
                                </div>
                            </ice:form>
                        </td>
                        <td width="30%" valign="top" align="right">
                            <ice:outputLabel
                                value="Process list pool"/> <br />
                            <div
                                style="border: 1px #000000 solid; padding: 5px; border-radius: 5px; height: 500px; overflow: auto;"
                                width="100%">
                                <ice:form>
                                    <ice:dataTable border="1" value="#{editmodulessteps.processlistpool}" var="procpool" width="100%">
                                        <ice:column id="column1">
                                            <ice:rowSelector id="selected" selectionListener="#{editmodulessteps.selectProcessPoolListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{procpool.procName}"/>
                                        </ice:column>
                                    </ice:dataTable>
                                </ice:form>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </h:body>
    </f:view>
</html>