<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html" charset="UTF-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>  
            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">

                <ice:outputLabel value="New process detail"></ice:outputLabel> 
                <br/>
                <ice:form>
                    <table width="100%">
                        <tr>
                            <td width="23%" align="right">
                                <ice:outputLabel for="processname" value="Process name"/> 
                            </td>
                            <td width="22%">
                                <ice:inputText id="processname" value="#{newprocess.processname}"/>
                            </td>
                            <td width="23%" align="right">
                                <ice:outputLabel for="codeOperation" value="Code Operation"/> 
                            </td>
                            <td width="22%">
                                <ice:inputText id="codeOperation" value="#{newprocess.codeoperation}"/>
                            </td>
                        </tr>
                        <tr>
                            <td width="23%" align="right">
                                <ice:outputLabel for="costProc" value="Cost Process"/> 
                            </td>
                            <td width="22%">
                                <ice:inputText id="costProc" value="#{newprocess.costprocess}"/>
                            </td>
                            <td width="22%" align="right">
                                <ice:outputLabel value="Status"/>
                            </td>
                            <td width="22%">
                                <ice:selectOneMenu value="#{newprocess.status}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{newprocess.statuslist}"/>
                                </ice:selectOneMenu> </td>
                            <td width="10%"></td>
                        </tr>
                        <tr><!--
                            <td align="right"><ice:outputLabel for="usercreate" value="User Create"/></td>
                            <td><ice:inputText readonly="true" id="usercreate" value="#{newprocess.usercreate}"/> </td>
                            <td align="right"><ice:outputLabel for="createdate2" value="create date"/></td>
                            <td>
                                <ice:selectInputDate id="createdate2" value="#{newprocess.createdate}" renderAsPopup="true" >
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="#{newprocess.timeZone}" />
                                </ice:selectInputDate>
                            </td>-->
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><ice:commandButton partialSubmit="true" actionListener="#{newprocess.CreatProcess}" value="  create  "></ice:commandButton> </td>
                        </tr>
                    </table>
                </ice:form>
            </div>  
            <br/>
            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                <ice:outputLabel value="Summary Process"></ice:outputLabel>
                <br/>
                <ice:form>
                    <table width="100%">
                        <tr>
                            <td align="right">
                                <ice:dataTable id="dataSortData"
                                               sortColumn="#{newprocess.sortColumnName}"
                                               sortAscending="#{newprocess.ascending}" border="0"
                                               width="100%" value="#{newprocess.listProcess}" var="process" >
                                    <ice:column id="column1" >
                                <!--        <ice:rowSelector id="selected" selectionListener="#{newprocess.rowSelectionListener}" multiple="false" selectedClass="tableRowSelected" mouseOverClass="tableRowMouseOver" />
                                        -->    
                                        <f:facet name="header" >
                                            <ice:commandSortHeader
                                                columnName="#{newprocess.columnNomber}"
                                                arrow="true">
                                                <ice:outputText value="#{newprocess.columnNomber}"></ice:outputText>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{process.number}"/>
                                    </ice:column>
                                    <ice:column id="column2" >
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{newprocess.columnProcessName}"
                                                arrow="true">
                                                <ice:outputText value="#{newprocess.columnProcessName}"></ice:outputText>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{process.processname}"/>
                                    </ice:column>
                                    <ice:column id="column3">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{newprocess.columnStatus}"
                                                arrow="true">
                                                <ice:outputText value="#{newprocess.columnStatus}"></ice:outputText>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{process.status}"/>
                                    </ice:column>
                                    <ice:column id="column4">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{newprocess.columnDateCreate}"
                                                arrow="true">
                                                <ice:outputText value="#{newprocess.columnDateCreate}"></ice:outputText>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{process.createdate}"/>
                                    </ice:column>
                                    <ice:column id="column5">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{newprocess.columnUsercreate}"
                                                arrow="true">
                                                <ice:outputText value="#{newprocess.columnUsercreate}"></ice:outputText>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{process.usercreate}"/>
                                    </ice:column>
                                </ice:dataTable>
                            </td>
                        </tr>
                        <!--    <tr>
                                <td align="right">
                                    <ice:commandButton value="  Config Process  " actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="config_process"/>
                                    </ice:commandButton>
                                </td>
                            </tr>-->
                    </table>
                </ice:form>
            </div>
        </h:body>
    </f:view>
</html>