<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components">
<f:view>
	<h:head>
		<meta http-equiv="Content-Type"
			content="text/html; charset=iso-8859-1" />
		<title>MenuBar Component Tutorial - Basic</title>
		<link rel="stylesheet" type="text/css"
			href="../xmlhttp/css/rime/rime.css" />
	</h:head>
	<h:body>
		<div
			style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
			<ice:outputLabel value="Select barcode type"></ice:outputLabel>
			<br />
			<table width="100%">
				<tr>
					<td width="50%"><input type="checkbox"/><ice:outputLabel value="Barcode 1D"></ice:outputLabel>
						<br /> <ice:graphicImage
							value="#{resource['images:barcode1.jpg']}"></ice:graphicImage></td>
					<td width="50%"><input type="checkbox"/><ice:outputLabel value="Barcode 2D"></ice:outputLabel>
						<br /> <ice:graphicImage
							value="#{resource['images:barcode2.jpg']}"></ice:graphicImage></td>
				</tr>
				<tr>
					<td></td> 	
					<td><ice:commandButton value="  save  "></ice:commandButton></td>
				</tr>
			</table>
		</div>
	</h:body>
</f:view>
</html>