<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>History Lot Control</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <div class="heading">
                <h1><img src="../images/h1_history.png" /> OEE Report</h1>
            </div>
            <div class="content">
                <ice:form>
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">
                                    Start from date :<br />
                                    <ice:selectInputDate id="d1" required="true" requiredMessage="Select start date." renderAsPopup="true" value="#{oeereportcontrol.startfromdate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td width="30%" align="left" valign="middle">
                                    To date : <br />
                                    <ice:selectInputDate id="d2" required="true" requiredMessage="Select to date." renderAsPopup="true" value="#{oeereportcontrol.todate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td width="30%" align="left" valign="middle">
                                    Machine name :<br />
                                    <ice:selectOneMenu value="#{oeereportcontrol.mcid}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                        <f:selectItems value="#{oeereportcontrol.machineList}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td width="10%" align="right" valign="middle">
                                    <ice:commandButton actionListener="#{oeereportcontrol.searchOeeReport}" title="Search" value="Search" styleClass="button_search"/>
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">
                                    Process :<br />
                                    <ice:selectOneMenu value="#{oeereportcontrol.processid}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                        <f:selectItems value="#{oeereportcontrol.processList}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td width="30%" align="left" valign="middle">
                                    Line :<br />
                                    <ice:selectOneMenu value="#{oeereportcontrol.lineid}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                        <f:selectItems value="#{oeereportcontrol.lineList}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td width="30%" align="left" valign="middle">
                                </td>
                                <td width="10%" align="left" valign="middle">
                                </td>
                            </tr>
                        </table>
                    </div>

                    <ice:dataTable value="#{oeereportcontrol.dataTables}" var="oeereport" style="overflow: auto;" width="100%" border="1" cellpadding="0" cellspacing="0">
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Date"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.date}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Machine Number"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.mcNumber}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Machine Name"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.mcName}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Process"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.process}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Line"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.line}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Plan Production Time"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.planproductiontime}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Operation Time"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.operationtime}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Avability 1"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.avability1}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Product Rate"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.productrate}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Performance"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.performance}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Good Price"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.goodprice}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Total Price"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.totalprice}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Quality"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.quqlity}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="% OEE"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.percenoee}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Frequency"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.frequency}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Total Downtime"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.totaldowntime}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="MTBF"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.mtbf}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="MTTR"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.mttr}"/>
                        </ice:column>
                        <ice:column>
                            <f:facet name="header">
                                <ice:outputText value="Avability 2"/>
                            </f:facet>
                            <ice:outputText value="#{oeereport.avability2}"/>
                        </ice:column>
                    </ice:dataTable>
                </ice:form>
            </div>
        </div>
    </h:body>
</html>

