<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form> 
            <div class="box">
			<div class="heading">
      			<h1> <img src="../images/h1_kpi_picture.png" />KPI Picture  </h1>
      			<div class="buttons">
                            <ice:commandButton rendered="#{kpipicturecontrol.statusButtonUpLoad}" styleClass="button_create" value="Upload" actionListener="#{kpipicturecontrol.changeToUpload()}"/>
                            &nbsp;
                            <ice:commandButton rendered="#{kpipicturecontrol.statusButtonSave}" styleClass="button_create" value="Save" actionListener="#{kpipicturecontrol.changeToSave()}"/>
                            &nbsp;
                            <ice:commandButton styleClass="button_cancel" value="Cancel"  actionListener="#{kpipicturecontrol.changeToCancel()}"/>
      			</div>
	  	  </div>
			<div class="content">
			  <table class="form">
                            <tr>
                                <td class="label">Title Name   :</td>
                                <td ><ice:inputText value="#{kpipicturecontrol.cuurentKpiPicture.titleKpiPicture}"/> </td>
                            </tr>
                            <tr>
                                <td class="label">Picture : </td>
                                <td >  
                                    <p><img src="#{kpipicturecontrol.linkImage}" width="100" height="100" /></p>  
                                  <ice:commandButton value="upload" actionListener="#{kpipicturecontrol.uploadImage()}" />(File type upload jpeg,jpg,gif,png only)
                                  <script>
                                    #{kpipicturecontrol.showpopup}
                                </script>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Show  :</td>
                                <td ><ice:selectBooleanCheckbox value="#{kpipicturecontrol.cuurentKpiPicture.showPicture}"/></td>
                            </tr>
			  </table>
                        <h2 class="lable_line"></h2>                              
                        <div  class="content_line">
                        <div class="content_process">   
                            <ice:dataTable width="100%" value="#{kpipicturecontrol.kpiPictureModel}" var="itemPic" > 
                                <ice:column style="width:5%;">
                                    <f:facet name="header">
                                          <ice:outputText value="No."/>
                                    </f:facet>   
                                    <ice:outputText value="#{itemPic.number}" />
                                </ice:column>
                               <ice:column style="width:20%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Picture" />
                                    </f:facet>   
                                   <ice:outputText value="#{itemPic.picture}" />
                                </ice:column>
                                <ice:column style="width:45%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Title name" />
                                    </f:facet>   
                                    <ice:outputText value="#{itemPic.titleName}" />
                                </ice:column>
                               <ice:column style="width:10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Show" />
                                    </f:facet>
                                   <ice:selectBooleanCheckbox disabled="true" value="#{itemPic.show}"/>
<!--                                   <ice:outputText value="#{itemPic.show}"/>-->
                                </ice:column>
                                <ice:column style="width:30%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Action" />
                                    </f:facet>    
                                    <ice:commandButton styleClass="button_up" actionListener="#{kpipicturecontrol.up}" />
                                    <ice:commandButton styleClass="button_down" actionListener="#{kpipicturecontrol.down}" />
                                    <ice:commandButton styleClass="button_edit" value="Edit" actionListener="#{kpipicturecontrol.changeToEdit(itemPic.index)}" />					  
                                    <ice:commandButton panelConfirmation="idDelpicture" styleClass="button_del" value="Delete" actionListener="#{kpipicturecontrol.changeToDelelte(itemPic.index)}" />
                                    <ice:panelConfirmation id="idDelpicture" autoCentre="true" title="Confirm to delete Picture" acceptLabel="Confirm" cancelLabel="Cancel" message="You are about to picture. Are you sure?" />
                                </ice:column>
                            </ice:dataTable>   
                        </div>
                           </div>
<!--                             <div class="pagination">
                                    <div align="center"> 
                                        <ice:commandLink styleClass="prev" actionListener="#{kpipicturecontrol.previous}" value="Previous" rendered="#{kpipicturecontrol.worksheetpagination.hasPreviousPage}"/> 
                                            #{kpipicturecontrol.worksheetpagination.page+1}/#{kpipicturecontrol.allPages}
                                            <ice:commandLink styleClass="next" actionListener="#{kpipicturecontrol.next}" value="Next" rendered="#{kpipicturecontrol.worksheetpagination.hasNextPage}"/>
                                    <div class="results">
                                                Showing #{kpipicturecontrol.worksheetpagination.pageFirstItem+1} to #{kpipicturecontrol.worksheetpagination.pageLastItem+1} of #{kpipicturecontrol.worksheetpagination.itemsCount}
                                    </div>
                                </div>-->
                            </div>    
		  </div>  
        </h:form>
    </h:body>
</html>
