<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUsersLabel_id}" for="id" />
                    <h:inputText id="id" value="#{usersController.selected.id}" title="#{bundle.CreateUsersTitle_id}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{usersController.selected.createDate}" title="#{bundle.CreateUsersTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_department}" for="department" />
                    <h:inputText id="department" value="#{usersController.selected.department}" title="#{bundle.CreateUsersTitle_department}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_discription}" for="discription" />
                    <h:inputText id="discription" value="#{usersController.selected.discription}" title="#{bundle.CreateUsersTitle_discription}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{usersController.selected.firstName}" title="#{bundle.CreateUsersTitle_firstName}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{usersController.selected.lastName}" title="#{bundle.CreateUsersTitle_lastName}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_status}" for="status" />
                    <h:inputText id="status" value="#{usersController.selected.status}" title="#{bundle.CreateUsersTitle_status}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_userName}" for="userName" />
                    <h:inputText id="userName" value="#{usersController.selected.userName}" title="#{bundle.CreateUsersTitle_userName}" required="true" requiredMessage="#{bundle.CreateUsersRequiredMessage_userName}"/>
                    <h:outputLabel value="#{bundle.CreateUsersLabel_userPassword}" for="userPassword" />
                    <h:inputText id="userPassword" value="#{usersController.selected.userPassword}" title="#{bundle.CreateUsersTitle_userPassword}" />
                    <h:outputLabel value="#{bundle.CreateUsersLabel_userPicture}" for="userPicture" />
                    <h:inputText id="userPicture" value="#{usersController.selected.userPicture}" title="#{bundle.CreateUsersTitle_userPicture}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usersController.create}" value="#{bundle.CreateUsersSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundle.CreateUsersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateUsersIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
