<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsersLabel_id}" for="id" />
                    <h:inputText id="id" value="#{usersController.selected.id}" title="#{bundle.EditUsersTitle_id}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{usersController.selected.createDate}" title="#{bundle.EditUsersTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUsersLabel_department}" for="department" />
                    <h:inputText id="department" value="#{usersController.selected.department}" title="#{bundle.EditUsersTitle_department}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_discription}" for="discription" />
                    <h:inputText id="discription" value="#{usersController.selected.discription}" title="#{bundle.EditUsersTitle_discription}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_firstName}" for="firstName" />
                    <h:inputText id="firstName" value="#{usersController.selected.firstName}" title="#{bundle.EditUsersTitle_firstName}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_lastName}" for="lastName" />
                    <h:inputText id="lastName" value="#{usersController.selected.lastName}" title="#{bundle.EditUsersTitle_lastName}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_status}" for="status" />
                    <h:inputText id="status" value="#{usersController.selected.status}" title="#{bundle.EditUsersTitle_status}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_userName}" for="userName" />
                    <h:inputText id="userName" value="#{usersController.selected.userName}" title="#{bundle.EditUsersTitle_userName}" required="true" requiredMessage="#{bundle.EditUsersRequiredMessage_userName}"/>
                    <h:outputLabel value="#{bundle.EditUsersLabel_userPassword}" for="userPassword" />
                    <h:inputText id="userPassword" value="#{usersController.selected.userPassword}" title="#{bundle.EditUsersTitle_userPassword}" />
                    <h:outputLabel value="#{bundle.EditUsersLabel_userPicture}" for="userPicture" />
                    <h:inputText id="userPicture" value="#{usersController.selected.userPicture}" title="#{bundle.EditUsersTitle_userPicture}" />
                </h:panelGrid>
                <h:commandLink action="#{usersController.update}" value="#{bundle.EditUsersSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditUsersViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundle.EditUsersShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditUsersIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
