<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsersTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsersLabel_id}"/>
                    <h:outputText value="#{usersController.selected.id}" title="#{bundle.ViewUsersTitle_id}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_createDate}"/>
                    <h:outputText value="#{usersController.selected.createDate}" title="#{bundle.ViewUsersTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewUsersLabel_department}"/>
                    <h:outputText value="#{usersController.selected.department}" title="#{bundle.ViewUsersTitle_department}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_discription}"/>
                    <h:outputText value="#{usersController.selected.discription}" title="#{bundle.ViewUsersTitle_discription}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_firstName}"/>
                    <h:outputText value="#{usersController.selected.firstName}" title="#{bundle.ViewUsersTitle_firstName}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_lastName}"/>
                    <h:outputText value="#{usersController.selected.lastName}" title="#{bundle.ViewUsersTitle_lastName}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_status}"/>
                    <h:outputText value="#{usersController.selected.status}" title="#{bundle.ViewUsersTitle_status}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_userName}"/>
                    <h:outputText value="#{usersController.selected.userName}" title="#{bundle.ViewUsersTitle_userName}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_userPassword}"/>
                    <h:outputText value="#{usersController.selected.userPassword}" title="#{bundle.ViewUsersTitle_userPassword}"/>
                    <h:outputText value="#{bundle.ViewUsersLabel_userPicture}"/>
                    <h:outputText value="#{usersController.selected.userPicture}" title="#{bundle.ViewUsersTitle_userPicture}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usersController.destroyAndView}" value="#{bundle.ViewUsersDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewUsersEditLink}"/>
                <br />
                <h:commandLink action="#{usersController.prepareCreate}" value="#{bundle.ViewUsersCreateLink}" />
                <br />
                <h:commandLink action="#{usersController.prepareList}" value="#{bundle.ViewUsersShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewUsersIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
