<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
            <!--<script type="text/javascript" src="../report/slideshowkpi/js/prototype.js" />-->
            <script type="text/javascript" src="../report/slideshowkpi/js/Chart.min.js"></script>
            <!--             <link rel="stylesheet" type="text/css" href="../css/layout.css"/> -->
        </h:head>
        <h:body>
            <!-- Header -->
            <div id="head_site">
                <div id="logo_home">
                    <ice:form>
                        <ice:commandLink  
                            style="background:url(../images/logo_TCT_MRP.png) no-repeat;
                            height: 60px;
                            text-decoration:none;
                            width: 280px;
                            display:block;" 
                            title="TCT Production Management" actionListener="#{menuBar.listener}">
                            <f:param name="myParam" value="Home"></f:param>
                        </ice:commandLink>	
                    </ice:form>
                </div><!-- logo_home-->
                <div id="account_top_site">
                    <h:form>
                        <strong>welcome</strong> #{userlogin.currentUser.userName} |<ice:commandLink value="My Account" actionListener="#{myaccount.showMyaccount}" />|            
                        <ice:commandButton styleClass="button_logout" value="Logout" type="submit" action="#{userlogin.logout()}"> 
                        </ice:commandButton>
                    </h:form>	
                </div>
                <!-- account_top_site-->
            </div><!--head_site -->
            <!-- Nav Menu -->
            <div id="menu_nav_site">
                <ice:form>
                    <ul class="menu">
                        <li>
                            <ice:commandLink title="Home" value="#Home" actionListener="#{menuBar.listener}" immediate="true">
                                <f:param name="myParam" value="Home"/>
                            </ice:commandLink>
                        </li>
                        <!-- @pang -->
                        <li>
                            <ice:commandLink title="Master Worksheet" value="#Master Worksheet" actionListener="#{menuBar.listener}" >
                                <f:param name="myParam" value="MasterWorksheet"/>
                            </ice:commandLink>
                        </li>

<!--                        <li style="#{userlogin.menufronline}"> <ice:commandLink title="Front line" actionListener="#{menuBar.listener}"  > -->
<!--                        <li> <ice:commandLink title="Front line" actionListener="#{menuBar.listener}"  >         
                                <f:param name="myParam" value="frontline">#Front line</f:param>
                            </ice:commandLink>
                        </li>-->
                        <!--li><ice:commandLink>Module Back line</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Assy worksheet</f:param>  
                                   </ice:commandLink>
                               </li>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Auto worksheet list</f:param>  
                                   </ice:commandLink>
                               </li>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Assembly worksheet</f:param>  
                                   </ice:commandLink>
                               </li>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Packing worksheet</f:param>  
                                   </ice:commandLink>
                               </li>
                           </ul>
                       </li>
                        <li><ice:commandLink>Module PCB</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">PCB01</f:param>  
                                   </ice:commandLink>
                               </li>    
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">PCB02</f:param>  
                                   </ice:commandLink>
                               </li> 
                                <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">PCB03</f:param>  
                                   </ice:commandLink>
                               </li>                                
                           </ul>
                       </li>
                       <li><ice:commandLink>Module REFU</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">REFU01</f:param>  
                                   </ice:commandLink>
                               </li>    
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">REFU02</f:param>  
                                   </ice:commandLink>
                               </li>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">REFU03</f:param>  
                                   </ice:commandLink>
                               </li> 
                           </ul>
                       </li>
                       <li><ice:commandLink>Report</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="reportList">Report List</f:param>  
                                   </ice:commandLink>
                               </li>    
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="rChart">R Chart</f:param>  
                                   </ice:commandLink>
                               </li> 
                           </ul>
                       </li>
                       <li><ice:commandLink>Setting</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Model step</f:param>  
                                   </ice:commandLink>
                               </li> 
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">Process</f:param>  
                                   </ice:commandLink>
                               </li> 
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">NG</f:param>  
                                   </ice:commandLink>
                               </li> 
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="e">Select barcode type</f:param>  
                                   </ice:commandLink>
                               </li> 
                           </ul>
                       </li>
                       <li><ice:commandLink>Machine</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">M/C#</f:param>  
                                   </ice:commandLink>
                               </li> 
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="">M/C# Performance</f:param>  
                                   </ice:commandLink>
                               </li> 
                           </ul>
                       </li>

                       <li><ice:commandLink>App config</ice:commandLink>
                           <ul>
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="createUser">Role</f:param>  
                                   </ice:commandLink>
                               </li> 
                               <li><ice:commandLink actionListener="#{menuBar.listener}">
                                       <f:param name="myParam" value="userConfig">User</f:param>  
                                   </ice:commandLink>
                               </li> 
                           </ul>
                       </li>

                   </ul>	
               </ice:form>
           </div>
       
            Nav Menu old 
           <div id="menu_nav_site">
               <ice:form>
                   <ul class="menu"-->
<!--                         <li style="#{userlogin.menuBlackLine}}"><ice:commandLink>#Akasaki Back line</ice:commandLink>-->
                        <!--                        <li ><ice:commandLink>#Back line</ice:commandLink>
                                                    <ul>
                                                        li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="createAssyWorksheet">#Create Assy worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="assyWoeksheetList">#Assy worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="createAutoWorksheet">#Create Auto worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="autoworksheetList">#Auto worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="createLineworksheet">#Create line worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li
                        
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="lineWorksheetList">#Assembly worksheet</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="createpacking">#Create Packing</f:param>  
                                                            </ice:commandLink>
                                                        </li
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="packing">#Packing</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="refu">#Refu</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="refulist">#Refu List</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="pcb">#PCB</f:param>  
                                                            </ice:commandLink>
                                                        </li>
                                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                                <f:param name="myParam" value="pcblist">#PCB List</f:param>  
                                                            </ice:commandLink>
                                                        </li
                                                    </ul>
                                                </li>-->
                        <!--                        <li> <ice:commandLink value="#New Create" title="New Create" actionListener="#{menuBar.listener}">
                                                        <f:param name="myParam" value="newcreate"></f:param>
                                                    </ice:commandLink>
                                                </li>-->
                        <!--                         <li style="#{userlogin.menuReport}"><ice:commandLink>#Report</ice:commandLink>-->
                        <li><ice:commandLink>#Report</ice:commandLink>    
                            <ul>
<!--                                <li><ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="reportList">#Report List</f:param>  
                                    </ice:commandLink>
                                </li>    
                                <li><ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="rChart">#R Chart</f:param>  
                                    </ice:commandLink>
                                </li> -->
                                <!--                                <li>
                                                                    <ice:commandLink onclick="window.open('report/kpimonitor.xhtml');">#KPI</ice:commandLink>
                                                                </li>-->
                                <li>
                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshow_1.xhtml');">#KPI </ice:commandLink>
                                </li>
<!--                                <li>
                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshow_1_1.xhtml');">#KPI auto smartphone</ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshowmanual_2.xhtml');">#KPI manual</ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshowmanual_2_2.xhtml');">#KPI manual smartphone</ice:commandLink>
                                </li>-->
                                <!--                                <li>
                                                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshow.xhtml');">#KPI 2</ice:commandLink>
                                                                </li>
                                                                <li>
                                                                    <ice:commandLink onclick="window.open('report/slideshowkpi/kpislideshowmanual.xhtml');">#KPI 3</ice:commandLink>
                                                                </li>-->
                                <li>
                                    <ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="nghistory">#NG History</f:param>  
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="History Tacking" value="#History Tacking" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="historytacking"/>
                                    </ice:commandLink>
                                </li>
                                <!--                                <li>
                                                                    <ice:commandLink title="DAILY NG CONTROL CHART" value="#Daily NG Control Chart" onclick="window.open('report/totaldefect/defecttotalng.html');"/>
                                                                </li>-->
                                <li>
                                    <ice:commandLink title="OEE Report" value="#OEE Report" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="oeereport"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="OEE Chart" value="#OEE Chart" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="oeechart"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="%OEE Chart for M/C" value="%OEE Chart for M/C" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="oeechartmc"/>
                                    </ice:commandLink>
                                </li>
                                <li><ice:commandLink>#Quality</ice:commandLink>
                                    <ul>
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="Yield"># Yield</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="NG"># %NG</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="NG_repair"># %NG-repair</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                    </ul>
                                </li>
                                <li>
                                    <ice:commandLink title="NG defect" value="#Ng defect" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="ngdefect"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="stdTime">#STD time</f:param>  
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="mcdowntime">#Mc downtime</f:param>  
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="historydowntime">#Hisory downtime</f:param>  
                                    </ice:commandLink>
                                </li>
                            </ul>
                        </li>
<!--                         <li style="#{userlogin.menuSetting}"><ice:commandLink>#Setting</ice:commandLink>-->
                        <li ><ice:commandLink>#Setting</ice:commandLink>    
                            <ul>
                                <li><ice:commandLink>#Account</ice:commandLink>
                                    <ul>
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="users">#User</f:param>  
                                            </ice:commandLink>
                                        </li> 
        <!--                                <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="userConfig">#User config</f:param>  
                                            </ice:commandLink>
                                        </li> -->
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="role">#Role</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                    </ul>
                                </li>
                                <li><ice:commandLink>#Product</ice:commandLink>  
                                    <ul>
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="model">#Model</f:param>  
                                            </ice:commandLink>
                                        </li> 
        <!--                                <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="editModelStep">#Edit model step</f:param>  
                                            </ice:commandLink>
                                        </li> -->
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="processed">#New process</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                        <!--li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="dataProcess">#Data process</f:param>  
                                            </ice:commandLink>
                                        </li--> 
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="editng">#Edit NG</f:param>  
                                            </ice:commandLink>
                                        </li> 
                                        <!--li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="selectBarcodeType">#Select barcode type</f:param>  
                                            </ice:commandLink>
                                        </li-->
                                    </ul>
                                </li>
                                <li><ice:commandLink>#Machine</ice:commandLink>
                                    <ul>
                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="mc">#M/C#</f:param>  
                                            </ice:commandLink>
                                        </li> 
<!--                                        <li><ice:commandLink actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="mcPerformance">#M/C# Performance</f:param>  
                                            </ice:commandLink>
                                        </li> -->
                                    </ul>
                                </li>
                                <!-- @pang -->
                                <li>
                                    <ice:commandLink actionListener="#{menuBar.listener}">
                                        <f:param name="myParam"  value="attribute">#Attribute</f:param>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="Master Detail" value="#Master Detail" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="MasterDetail"/>
                                    </ice:commandLink>
                                </li>
                                <li><ice:commandLink>#Line</ice:commandLink>
                                    <ul>
                                        <li>
                                            <ice:commandLink title="Line" value="#Line" actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="Line"/>
                                            </ice:commandLink>
                                        </li>
                                        <li>
                                            <ice:commandLink immediate="true" title="Input By Hearder" value="Header input" actionListener="#{menuBar.listener}">
                                                <f:param name="myParam" value="headerinput"/>
                                            </ice:commandLink>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <ice:commandLink title="Radar" value="#Radar" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="Radar"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="KPI Picture " value="#KPI Picture " actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="KPIPicture"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="Setting time to slide" value="#Setting Time On Slide" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="settingtineonslide"/>
                                    </ice:commandLink>
                                </li>

                                <li>
                                    <ice:commandLink title="Report setting" value="#Report setting" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="reportsetting"/>
                                    </ice:commandLink>
                                </li>
                                <li>
                                    <ice:commandLink title="STD Time Setting" value="#STD Time Setting" actionListener="#{menuBar.listener}">
                                        <f:param name="myParam" value="stdTimeSetting"/>
                                    </ice:commandLink>
                                </li>

                                <!--                                <li>
                                                                    <ice:commandLink title="STD Time Setting" value="#STD Time Setting" actionListener="#{menuBar.listener}">
                                                                        <f:param name="myParam" value="stdtimesetting"/>
                                                                    </ice:commandLink>
                                                                </li>-->

                            </ul>
                        </li>
                        <li>
                            <!--                            <ice:commandLink>#BAR CODE INPUT</ice:commandLink>-->
                            <ice:commandLink onclick="window.open('pages/screenUser/users.xhtml');">#BAR CODE INPUT</ice:commandLink>
                            <!--                            <ice:commandLink>#Barcode input</ice:commandLink>-->
                        </li>        
                    </ul>	
                </ice:form>
            </div>
        </h:body>
    </f:view>
</html>

