<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <h:head>
        <title>Front line Edit view</title>
    </h:head>
    <h:body>
        <!--Edit Worksheet-->
        <ice:panelTab id="editworksheet" rendered="true">
            <div class="box">
                <ice:form>
                    <div class="heading">
                        <h1> <img src="../images/h1_front_line.png" /> Edit Worksheet </h1>
                        <div class="buttons">
                            <ice:commandButton styleClass="button_save" value="Save" partialSubmit="true" actionListener="#{frontlinecontrol.changToSave}"/>
                            <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{frontlinecontrol.changToCancel}" />
                            <ice:commandButton panelConfirmation="confirmdeletedetail" styleClass="button_delete" value="Delete" partialSubmit="true" actionListener="#{frontlinecontrol.changToDeleted}"/>
                            <ice:panelConfirmation id="confirmdeletedetail" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </div>
                    </div>
                    <div class="content">
                            <table class="form">
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Type bobbin :</td>
                                    <td>
                                        <ice:selectOneMenu id="typeBb" partialSubmit="true" value="#{frontlinecontrol.currentdetailfl.typeBb}" required="true" requiredMessage="Select this.">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                            <f:selectItems value="#{frontlinecontrol.typeBobbin}"/>
                                        </ice:selectOneMenu>
                                        <ice:message for="typeBb" />
                                    </td>
                                    <td class="label">Invoice broze plate No. :</td>
                                    <td>
                                        <ice:inputText value="#{frontlinecontrol.currentdetailfl.invoicebrozeplat}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Bobbin name</td>
                                    <td>
                                        <ice:selectOneMenu id="bbname" partialSubmit="true" value="#{frontlinecontrol.currentdetailfl.bobbinname}" required="true" requiredMessage="Select this.">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                            <f:selectItems value="#{frontlinecontrol.bobbinname}"/>
                                        </ice:selectOneMenu>
                                        <ice:message for="bbname" />
                                    </td>
                                    <td class="label"><font style="color: red;">*</font>Invoice resin</td>
                                    <td>
                                        <ice:inputText id="invresin" required="true" requiredMessage="Input this value." value="#{frontlinecontrol.currentdetailfl.invoiceresin}"/>
                                        <ice:message for="invresin"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Order No. :</td>
                                    <td>
                                        <ice:inputText id="orderno" required="true" requiredMessage="Input this value." value="#{frontlinecontrol.currentdetail.orderNumber}"/>
                                        <ice:message for="orderno"/>
                                    </td>
                                    <td class="label">Invoice Bobbin No. :</td>
                                    <td>
                                        <ice:inputText value="#{frontlinecontrol.currentdetailfl.invoiceBobbin}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Product Q'ty :</td>
                                    <td>
                                        <ice:inputText id="pdqty" required="true" requiredMessage="Input this value." value="#{frontlinecontrol.currentdetail.pdQty}" >
                                            <f:convertNumber pattern="#,###" integerOnly="true" />
                                        </ice:inputText><ice:outputText styleClass="label" value=" pcs." />
                                        <ice:message for="pdqty" />
                                    </td>
                                    <td class="label"><font style="color: red;">*</font>Type :</td>
                                    <td>
                                        <ice:selectOneMenu id="frtype" partialSubmit="true" value="#{frontlinecontrol.currentdetailfl.typeFR}" required="true" requiredMessage="Select this.">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.typeFR}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="frtype"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Mold Injection No. :</td>
                                    <td>
                                        <ice:selectOneMenu id="moldinject" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetailfl.moldInjection}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.moldInjection}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="moldinject"/>
                                    </td>
                                    <td class="label">Mold Stamping :</td>
                                    <td>
                                        <ice:selectOneMenu id="moldstamp" partialSubmit="true" value="#{frontlinecontrol.currentdetailfl.moldStamping}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.moldStamp}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="moldstamp"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Resin name :</td>
                                    <td>
                                        <ice:selectOneMenu id="resinname" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetailfl.resinName}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.resinnamelist}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="resinname"/>
                                    </td>
                                    <td class="label">Resin type :</td>
                                    <td>
                                        <ice:selectOneMenu partialSubmit="true" value="#{frontlinecontrol.currentdetailfl.resinType}" >
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.resintypelist}" />
                                        </ice:selectOneMenu>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Plating :</td>
                                    <td>
                                        <ice:selectOneMenu id="plating" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetailfl.plat}" >
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.platlist}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="plating"/>
                                    </td>
                                    <td class="label"><font style="color: red;">*</font>Product type :</td>
                                    <td>
                                        <ice:selectOneMenu id="pdtype" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetailfl.productType}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.productTypelist}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="pdtype"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Product code name :</td>
                                    <td>
                                        <ice:selectOneMenu id="pdcodename" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetailfl.productcodeName}" valueChangeListener="#{frontlinecontrol.changProductCodeNameValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.productcodenamelist}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="pdcodename"/>
                                    </td>
                                    <td class="label"><font style="color: red;">*</font>Product code :</td>
                                    <td>
                                        <ice:inputText id="pdcode" readonly="true" value="#{frontlinecontrol.currentdetailfl.productcode}" />
                                        <ice:message for="pdcode"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label"><font style="color: red;">*</font>Model :</td>
                                    <td>
                                        <ice:selectOneMenu id="model" partialSubmit="true" required="true" requiredMessage="Select this." value="#{frontlinecontrol.currentdetail.model}" valueChangeListener="#{frontlinecontrol.changModelpoolValue}">
                                            <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                            <f:selectItems value="#{frontlinecontrol.modelpoolslist}" />
                                        </ice:selectOneMenu>
                                        <ice:message for="model"/>
                                    </td>
                                    <td class="label">Series :</td>
                                    <td>
                                        <ice:inputText readonly="true" value="#{frontlinecontrol.currentdetail.modelseries}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Remark :</td>
                                    <td>
                                        <ice:inputTextarea cols="45" rows="5" value="#{frontlinecontrol.currentdetail.remark}" />
                                    </td>
                                    <td class="label"> </td>
                                    <td> </td>
                                </tr>
                            </table>

                            <!-- Process Status -->
                            <h2 class="lable_line">Process Status (#{frontlinecontrol.detailprocess.size()}) </h2>
                            <div  class="content_line">
                                <div class="content_process">
                                    <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="process_lable" width="20%" >Process</td>
                                            <td class="process_lable" width="2%" > Shift </td>
                                            <td class="process_lable" width="12%" > M/C </td>
                                            <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                            <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                            <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                            <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                            <td class="process_lable" width="5%" > Input </td>
                                            <td class="process_lable" width="5%" > NG </td>
                                            <td class="process_lable" width="5%" > Repair </td>
                                            <td class="process_lable" width="5%" > Output </td>
                                            <td class="process_lable" width="5%" > %NG </td>
                                            <td class="process_lable" width="5%" > %Repair </td>
                                        </tr>
                                    </table>
                                    <ice:panelSeries var="detailprocess" value="#{frontlinecontrol.detailprocess}">
                                        <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                                <td class="process_td" width="2%" align="center">-</td>
                                                <td class="process_td" width="12%" align="center">-</td>
                                                <td class="process_td" width="13%" align="center">-</td>
                                                <td class="process_td" width="13%" align="center">-</td>
                                                <td class="process_td" width="5%" align="right">-</td>
                                                <td class="process_td" width="5%" align="right">-</td>
                                                <td class="process_td" width="5%" align="right">0</td>
                                                <td class="process_td" width="5%" align="right">0</td>
                                                <td class="process_td" width="5%" align="right">0</td>
                                                <td class="process_td" width="5%" align="right">0</td>
                                                <td class="process_td" width="5%" align="right">0.00%</td>
                                                <td class="process_td" width="5%" align="right">0.00%</td>
                                            </tr>
                                        </table>
                                    </ice:panelSeries>
                                </div>
                            </div>
                            <!--end Process Status -->
                        </div>
                </ice:form>
            </div>
        </ice:panelTab>
    </h:body>
</html>

