<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print Front line</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <script>#{printassyworksheet.url}</script>
        <!--Print Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Print Auto Worksheet </h1>
                    <div class="buttons">
                        <ice:commandButton  styleClass="button_print_all" value="Print All" partialSubmit="true" actionListener="#{printassyworksheet.printFrontlineAll}"/>
                        <ice:commandButton styleClass="button_print_select" partialSubmit="true" value="Print Check" actionListener="#{printassyworksheet.printFrontlineSelection}"/>
                        <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{frontlinecontrol.changToCancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                                <tr>
                                    <td class="label">Type bobbin :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.typeBb}"/>
                                    </td>
                                    <td class="label">Invoice broze plate No. :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.invoicebrozeplat}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Bobbin name</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.bobbinname}"/>
                                    </td>
                                    <td class="label">Invoice resin</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.invoiceresin}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Order No. :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetail.orderNumber}"/>
                                    </td>
                                    <td class="label">Invoice Bobbin No. :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.invoiceBobbin}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Product Q'ty :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetail.pdQty}" >
                                            <f:convertNumber pattern="#,###" integerOnly="true" />
                                        </ice:outputText><ice:outputText styleClass="label" value=" pcs." />
                                    </td>
                                    <td class="label">Type :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.typeFR}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Mold Injection No. :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.moldInjection}"/> 
                                    </td>
                                    <td class="label">Mold Stamping :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.moldStamping}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Resin name :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.resinName}"/>
                                    </td>
                                    <td class="label">Resin type :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.resinType}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Plating :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.plat}" />
                                    </td>
                                    <td class="label">Product type :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.productType}"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Product code name :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.productcodeName}"/>
                                    </td>
                                    <td class="label">Product code :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetailfl.productcode}" />                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Model :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetail.model}" />
                                    </td>
                                    <td class="label">Series :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetail.modelseries}" />
                                    </td>
                                </tr>
                                <tr>
                                    <td class="label">Remark :</td>
                                    <td>
                                        <ice:outputText value="#{frontlinecontrol.currentdetail.remark}"  />
                                    </td>
                                    <td class="label"> </td>
                                    <td> </td>
                                </tr>
                            </table>

                    <!-- Frame Barcode -->
                    <h2 class="lable_line">Barcode Worksheet </h2>
                    <div  class="content_line">
                        <div class="content_barcode">
                            <ice:panelSeries value="#{printassyworksheet.barcode}" var="bcr">
                                <ice:panelGroup styleClass="barcode">
                                    <div><!--barcode -->
                                        <p><ice:selectBooleanCheckbox value="#{bcr.selected}" partialSubmit="true"/>No : [ #{bcr.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle"><img src="#{bcr.qrcodeUrl}" width="120" height="120" /></td>
                                                <td valign="middle"><img src="#{bcr.barcodeUrl}" width="120" height="34" /></td>
                                            </tr>
                                        </table>
                                    </div><!--end barcode -->
                                </ice:panelGroup>
                            </ice:panelSeries>
                            <div style="clear:both;"></div>		  
                        </div>
                    </div>
                    <!--end Frame Barcode -->
                </div>
            </ice:form>
        </div>
    </h:body>
</html>