<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <!--Create Worksheet-->
            <div class="box">
                <div class="heading">
                    <h1> <img src="../images/h1_model.png" /> Create Master  </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value="Create" partialSubmit="true" actionListener="#{master.changeToCreate()}" />
                        &nbsp;
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{master.changeToCancel()}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Type Master worksheet  :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" value="#{master.itemUse}"  valueChangeListener="#{master.changeValueItem}">
                                    <f:selectItems value="#{master.itemTypeSpecial}" />
                                </ice:selectOneMenu>
                            </td>
                        </tr>   
                    </table>  

                    <table class="form">
                        <tr>
                            <td class="label">Order No : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.orderNo}"/></td>
                            <td class="label">Product type : </td>
                            <td><ice:selectOneMenu value="#{master.currentDefaultData.productType}">
                                    <f:selectItems value="#{master.loadDataProductType()}" />
                                </ice:selectOneMenu>    
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product code name : </td>
                            <td>
                                <ice:selectOneMenu value="#{master.currentDefaultData.productCodeName}" valueChangeListener="#{master.productCodeValue}" partialSubmit="true">
                                    <f:selectItems value="#{master.loadProductCodeName()}"/>
                                </ice:selectOneMenu>    
                            </td>
                            <td class="label">Product code : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.productCode}" readonly="true" /></td>
                        </tr>
                        <tr>
                            <td class="label">Model : </td>
                            <td>
                                <ice:selectOneMenu value="#{master.currentDefaultData.model}"  valueChangeListener="#{master.changeValueModel}" partialSubmit="true">
                                    <f:selectItems value="#{master.modelItem}" />
                                </ice:selectOneMenu>   
                                &nbsp;
                                <ice:outputText style="color: red;" value="#{master.validateModel}"/>
                            </td>
                            <td class="label">Series : </td>
                            <td><ice:inputText readonly="true" value="#{master.currentDefaultData.seriee}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Product qty : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.productQty}"/>&nbsp;pcs.</td>
                            <td class="label">Lot control qty : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.lotControlQty}"/>&nbsp;Lot</td>
                        </tr>
<!--                        <tr>
                            <td class="label">Inv.Bronze : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.invBronze}"/></td>
                            <td class="label">Inv.Bobbin : </td>
                            <td><ice:inputText value="#{master.currentDefaultData.invBobbin}"/></td>
                        </tr>-->
                        <tr>
                            <td class="label">Plant : </td>
                            <td>
                                <ice:selectOneMenu value="#{master.currentDefaultData.plant}">
                                    <f:selectItems value="#{master.loadPlant()}"  />
                                </ice:selectOneMenu>    
                            </td>
                            <td class="label">Order type :</td>
                            <td>
                                <ice:selectOneMenu value="#{master.currentDefaultData.orderType}">
                                    <f:selectItems value="#{master.loadOrderType()}" />
                                </ice:selectOneMenu>    
                            </td>
<!--                            <td class="label">Planting date : </td>
                            <td>
                                <ice:selectInputDate renderAsPopup="true" value="#{master.currentDefaultData.plantingDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                </ice:selectInputDate>
                            </td>-->
                        </tr>
<!--                        <tr>
                            <td class="label">Injection date : </td>
                            <td>
                                <ice:selectInputDate  renderAsPopup="true" value="#{master.currentDefaultData.injectDate}"> 
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </ice:selectInputDate></td>
                            <td class="label">Assy date : </td>
                            <td>
                                <ice:selectInputDate renderAsPopup="true" value="#{master.currentDefaultData.assyDate}">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                                </ice:selectInputDate>
                            </td>
                        </tr>-->
                        <tr>  
                            <td class="label">Remarks :</td>
                            <td><ice:inputTextarea  cols="35" rows="5" value="#{master.currentDefaultData.remarks}"/> </td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <br/>
                    <table width="100%">
                        <tr>
                            <td width="50%" valign="top">
                                <ice:dataTable width="100%" value="#{master.itemMasterLeft}" var="itemLeft">
                                    <ice:column style="width:40%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Field Name" />
                                        </f:facet> 
                                        <ice:outputText value="#{itemLeft.name}" />
                                    </ice:column> 
                                    <ice:column style="width:60%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Value" />
                                        </f:facet>
                                        <ice:panelTab rendered="#{itemLeft.typeSelect}">
                                            <ice:selectOneMenu value="#{itemLeft.data}">
                                                <f:selectItems value="#{itemLeft.itemSlectBox}"/>
                                            </ice:selectOneMenu>
                                        </ice:panelTab>
                                        <ice:panelTab rendered="#{itemLeft.typeInput}">
                                            <ice:inputText value="#{itemLeft.data}"/>
                                        </ice:panelTab> 
                                    </ice:column>
                                </ice:dataTable>
                            </td>
                            <td width="50%" valign="top">
                                <ice:dataTable width="100%" value="#{master.itemMasterRight}" var="itemRight">
                                    <ice:column style="width:40%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Field Name" />
                                        </f:facet> 
                                        <ice:outputText value="#{itemRight.name}" />
                                    </ice:column> 
                                    <ice:column style="width:60%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Value" />
                                        </f:facet>
                                        <ice:panelTab rendered="#{itemRight.typeInput}">
                                            <ice:inputText value="#{itemRight.data}" />
                                        </ice:panelTab>
                                        <ice:panelTab rendered="#{itemRight.typeSelect}">
                                            <ice:selectOneMenu value="#{itemRight.data}">
                                                <f:selectItems value="#{itemRight.itemSlectBox}"/>
                                            </ice:selectOneMenu>
                                        </ice:panelTab>
                                    </ice:column>
                                </ice:dataTable> 
                            </td>
                        </tr> 
                    </table>
                    <br/> 
                    <ice:panelTab rendered="#{master.controlLot}">
                        <div class="box">
                            <div class="heading">
                                <h1> <img src="../images/h1_assy.png" /> Control lot </h1>
                                <div class="buttons">
                                </div>
                            </div>
                            <div class="content">
                                <table class="form">
                                    <tr>
                                        <td class="label">
                                            Input barcode : 
                                        </td>
                                        <td>
                                            <ice:inputText partialSubmit="true" value="#{master.barcodeinput}" size="50" />
                                            <ice:outputText value="#{master.validateTypeWorkSheet}" style="color: red;"/>
                                        </td>
                                        <td class="label">Remain q`ty : </td>
                                        <td><ice:inputText readonly="true" value="#{master.leftqty}" /><ice:outputText style="color: red; " value="#{master.validateLeft()}"/></td>
                                        <td class=""></td>
                                        <td></td>
                                    </tr>
                                </table>
                                <h2 class="lable_line"> Barcode Detail </h2>
                                <ice:panelTab rendered="#{master.lotControl!=null}">
                                    <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td class="process_lable" width="25%" > Barcode </td>
                                            <td class="process_lable" width="20%" > Model </td>
                                            <td class="process_lable" width="20%" > QTY Output </td>
                                            <td class="process_lable" width="20%" > QTY Wip </td>
                                            <td class="process_lable" width="15%" > Action </td>
                                        </tr>
                                        <tr>
                                            <td class="process_td" width="25%" align="left"> #{master.barcode} </td>
                                            <td class="process_td" width="20%" align="left"> #{master.model} </td>
                                            <td class="process_td" width="20%" align="center"> #{master.qtyoutput} </td>
                                            <td class="process_td" width="20%" align="center"> #{master.qtywip} </td>
                                            <td class="process_td" width="15%" align="center">
                                                <ice:commandButton actionListener="#{master.changToSelectedLot}" styleClass="button_add" value="Select" partialSubmit="true"/>
                                            </td>
                                        </tr>
                                    </table>
                                </ice:panelTab>
                                <br />
                                <h2 class="lable_line"> Barcode selected </h2>
                                <ice:dataTable value="#{master.barcodeSelecteds}" var="selectbarcode" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                                    <ice:column style="width: 25%">
                                        <f:facet name="header"> Barcode </f:facet>
                                        <ice:outputText value="#{selectbarcode.barcode}"/>
                                    </ice:column>
                                    <ice:column style="width: 25%">
                                        <f:facet name="header"> Model </f:facet>
                                        <ice:outputText value="#{selectbarcode.model}"/>
                                    </ice:column>
                                    <ice:column style="width: 20%">
                                        <f:facet name="header"> QTY </f:facet>
                                        <ice:outputText value="#{selectbarcode.qty}"/>
                                    </ice:column>
                                    <ice:column style="width: 15%">
                                        <f:facet name="header"> Action </f:facet>
                                        <ice:commandButton actionListener="#{master.changTodelLot(selectbarcode.index)}" panelConfirmation="deletelot" value="Del" styleClass="button_del" />
                                        <ice:panelConfirmation id="deletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                        </div>
                    </ice:panelTab>
                    <br/>
                    <!-- Process Status -->
                    <h2 class="lable_line">Process Status (#{master.currentProcessStatus.size()}) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="modelProcess" value="#{master.currentProcessStatus}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{modelProcess.name}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        </div>
                    </div>
                    <!--end Process Status -->
                </div>
            </div>  
        </h:form>
        
<!--   @author Tawat     -->
<!--                Control lot to master    -->
            <br />

<!--            <ice:panelTab rendered="true">
                <div class="box">
                    <div class="heading">
                        <h1> <img src="../images/h1_assy.png" /> Control lot </h1>
                        <div class="buttons">
                        </div>
                    </div>
                    <div class="content">
                        <table class="form">
                            <tr>
                                <td class="label">
                                    Input barcode : 
                                </td>
                                <td>
                                    <ice:inputText partialSubmit="true" value="#{master.barcodeinput}" size="50" />
                                </td>
                                <td class="label">Left qty : </td>
                                <td><ice:inputText readonly="true" value="#{master.leftqty}" /></td>
                                <td class=""></td>
                                <td></td>
                            </tr>
                        </table>
                        <h2 class="lable_line"> Barcode Detail </h2>
                        <ice:panelTab rendered="#{master.lotControl!=null}">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="25%" > Barcode </td>
                                    <td class="process_lable" width="20%" > Model </td>
                                    <td class="process_lable" width="20%" > QTY Output </td>
                                    <td class="process_lable" width="20%" > QTY Wip </td>
                                    <td class="process_lable" width="15%" > Action </td>
                                </tr>
                                <tr>
                                    <td class="process_td" width="25%" align="left"> #{master.barcode} </td>
                                    <td class="process_td" width="20%" align="left"> #{master.model} </td>
                                    <td class="process_td" width="20%" align="center"> #{master.qtyoutput} </td>
                                    <td class="process_td" width="20%" align="center"> #{master.qtywip} </td>
                                    <td class="process_td" width="15%" align="center">
                                        <ice:commandButton actionListener="#{master.changToSelectedLot}" styleClass="button_add" value="Select" partialSubmit="true"/>
                                    </td>
                                </tr>
                            </table>
                        </ice:panelTab>
                        <br />
                        <h2 class="lable_line"> Barcode selected </h2>
                        <ice:dataTable value="#{master.barcodeSelecteds}" var="selectbarcode" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                            <ice:column style="width: 25%">
                                <f:facet name="header"> Barcode </f:facet>
                                <ice:outputText value="#{selectbarcode.barcode}"/>
                            </ice:column>
                            <ice:column style="width: 25%">
                                <f:facet name="header"> Model </f:facet>
                                <ice:outputText value="#{selectbarcode.model}"/>
                            </ice:column>
                            <ice:column style="width: 20%">
                                <f:facet name="header"> QTY </f:facet>
                                <ice:outputText value="#{selectbarcode.qty}"/>
                            </ice:column>
                            <ice:column style="width: 15%">
                                <f:facet name="header"> Action </f:facet>
                                <ice:commandButton actionListener="#{master.changTodelLot(selectbarcode.index)}" panelConfirmation="deletelot" value="Del" styleClass="button_del" />
                                <ice:panelConfirmation id="deletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                            </ice:column>
                        </ice:dataTable>
                    </div>
                </div>
            </ice:panelTab>-->
        
    </h:body>
</html>
