<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print Front line</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
<!--        <script>#{master.url}</script>-->
    </h:head>
    <h:body> 
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_model.png" /> Print Master Worksheet </h1>
                    <div class="buttons">
<!--                        <ice:commandButton  styleClass="button_print_all" value="Print All" partialSubmit="true"  /> &nbsp;-->
<!--<ice:commandButton styleClass="button_print_select" partialSubmit="true" value="Print" actionListener="#{master.printFrontlineSelection()}"  />&nbsp;-->
                        <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{master.changeToPrintCancel}"/>
                    </div>
                </div>
                <div class="content"> 
                    <!--                    detail -->
                    <table class="form" >
                        <tr>
                            <td class="label">Type Master worksheet : </td>
                            <td><ice:outputText value="#{master.itemUse}"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                        <tr>
                            <td class="label">Order No. : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.orderNo}"/></td>
                            <td class="label">Product type : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.productType}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Product code name : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.productCodeName}"/> </td>
                            <td class="label">Product code : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.productCode}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Model : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.model}"/></td>
                            <td class="label">Series : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.seriee}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Product qty : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.productQty}"/></td>
                            <td class="label">Lot control qty : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.lotControlQty}"/></td>
                        </tr>
<!--                        <tr>
                            <td class="label">Inv.Bronze : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.invBronze}"/></td>
                            <td class="label">Inv.Bobbin : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.invBobbin}" /></td>
                        <tr>-->
                        <tr>   
                            <td class="label">Plant</td>
                            <td><ice:outputText value="#{master.currentDefaultData.plant}"/></td>
                            <td class="label">Order type : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.orderType}"/></td>
<!--                            <td class="label">Planting date: </td>
                            <td><ice:outputText value="#{master.currentDefaultData.plantingDate}"/></td>-->
                        </tr>
<!--                        <tr>
                            <td class="label">Injection date : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.injectDate}"/></td>
                            <td class="label">Assy date</td>
                            <td><ice:outputText value="#{master.currentDefaultData.assyDate}"/></td>
                        </tr>-->
                        <tr>
<!--                            <td class="label">Order type : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.orderType}"/></td>-->
                            <td class="label">Remarks : </td>
                            <td><ice:outputText value="#{master.currentDefaultData.remarks}"/></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </table>
                    <!--end detail-->
                    <!--                    detail specail-->
                    <table width="100%">
                        <tr>
                            <td width="50%" valign="top">
                                <ice:dataTable width="100%" value="#{master.itemMasterLeft}" var="itemLeft">
                                    <ice:column style="width:40%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Field Name" />
                                        </f:facet> 
                                        <ice:outputText value="#{itemLeft.name}" />
                                    </ice:column> 
                                    <ice:column style="width:60%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Value" />
                                        </f:facet>  
                                        <ice:outputText value="#{itemLeft.data}"/>
                                    </ice:column>
                                </ice:dataTable>
                            </td>
                            <td width="50%" valign="top">
                                 <ice:dataTable width="100%" value="#{master.itemMasterRight}" var="itemRight">
                                    <ice:column style="width:40%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Field Name" />
                                        </f:facet> 
                                        <ice:outputText value="#{itemRight.name}" />
                                    </ice:column> 
                                    <ice:column style="width:60%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Value" />
                                        </f:facet>
                                        <ice:outputText value="#{itemRight.data}" />
                                    </ice:column>
                                </ice:dataTable> 
                            </td>
                        </tr>
                    </table>
                    <!--                    end detail specail-->
                    <!--barcode image show -->
                    <br/>
                    <h2 class="lable_line" >Barcode worksheet</h2>
                    <div class="content_line"> 
                         <div class="content_barcode">
                                <ice:panelGroup styleClass="barcode">
                                    <div><!--barcode -->
                                        <p>No : [ #{master.currentLotControl.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle">
                                                    <img src="../images/barcode/2d/#{master.currentLotControl.barcode}.png" width="120" height="120" />
                                                   </td>
                                                <td valign="middle">
                                                    <img src="../images/barcode/1d/#{master.currentLotControl.barcode}.png" width="120" height="34" />
                                                </td>
                                            </tr>
                                        </table>
                                    </div><!--end barcode -->
                                </ice:panelGroup>
                            <div style="clear:both;"></div>		  
                        </div>
                        
                    </div>
                    <!--end barcode image show-->
                </div>
            </ice:form>
        </div>
    </h:body>
</html>