<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Create Worksheet-->
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1> <img src="../images/h1_model.png" /> Master   </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_insert" value="Insert" actionListener="#{master.changeToInsert}" /> 
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td class="label" width="30%">Barcode : 
                                    <ice:inputText value="#{master.currentSearch.barcode}"/></td>
                                <td class="label" width="30%">Order No. : 
                                    <ice:inputText value="#{master.currentSearch.orderNo}" /> 

                                </td>    
                                <td class="label" width="30%">Process :
                                    <ice:inputText  value="#{master.currentSearch.process}"/></td>
                                <td  width="10%" align="right">
                                    <ice:commandButton styleClass="button_search" value="Search"  actionListener="#{master.changeToSearch()}" /></td>
                            </tr>
                            <tr>
                                <td class="label">Model : 
                                    <ice:inputText value="#{master.currentSearch.model}"/></td>
                                <td class="label">Series : 
                                    <ice:inputText value="#{master.currentSearch.series}"/> </td> 
                                <td></td>
                            </tr>
                        </table>
                    </div> 
                    <ice:dataTable width="100%" value="#{master.masterModel}" var="listmaster">
                        <ice:column style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Barcode"/>
                            </f:facet>   
                            <ice:commandLink actionListener="#{master.changeToViewDetail(listmaster.barcode)}"><ice:outputText value="#{listmaster.barcode}"/></ice:commandLink>
                        </ice:column>
                        <ice:column style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Model" />
                            </f:facet>
                            <ice:outputText value="#{listmaster.model}" />
                        </ice:column>
                        <ice:column style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Order No" />
                            </f:facet>
                            <ice:outputText value="#{listmaster.orderNumber}" />
                        </ice:column>
                        <ice:column style="width: 10%;">
                            <f:facet name="header" >
                                <ice:outputText value="Series"/>
                            </f:facet>
                            <ice:outputText value="#{listmaster.series}" />
                        </ice:column>  
                        <ice:column style="width: 15%;">
                            <f:facet name="header" >
                                <ice:outputText value="Date Create"/>
                            </f:facet>
                            <ice:outputText value="#{listmaster.dateCreate}" />
                        </ice:column>    
                        <ice:column style="width: 15%;">
                            <f:facet name="header" >
                                <ice:outputText value="Process"/>
                            </f:facet>
                            <ice:outputText value="#{listmaster.process}" />
                        </ice:column>      
                        <ice:column style="width: 5%;">
                            <f:facet name="header" >
                                <ice:outputText value="Status"/>
                            </f:facet>
                            <ice:outputText value="#{listmaster.status}" />
                        </ice:column> 
                        <ice:column style="width:15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action" />
                            </f:facet>    
                            <ice:commandButton  value="Edit" styleClass="button_edit" actionListener="#{master.changeToEdit(listmaster.barcode)}" />
                            <ice:commandButton panelConfirmation="delDetailSpecial" value="Delete" styleClass="button_del" actionListener="#{master.changeToDelete(listmaster.barcode)}"/>
                            <ice:panelConfirmation id="delDetailSpecial" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete detail special " message="You are about to detial special. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                            <ice:commandButton value="Print" styleClass="button_print" actionListener="#{master.changeToPrintWorksheet(listmaster.barcode)}"/>
                        </ice:column>    
                    </ice:dataTable>    
                    <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{master.previous}" value="Previous" rendered="#{master.worksheetpagination.hasPreviousPage}"/> 
                            #{master.worksheetpagination.page+1}/#{master.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{master.next}" value="Next" rendered="#{master.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{master.worksheetpagination.pageFirstItem+1} to #{master.worksheetpagination.pageLastItem+1} of #{master.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>    
                </div>
            </div>  
        </h:form>
    </h:body>
</html>
