<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLineAssemblyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_id}" for="id" />
                    <h:inputText id="id" value="#{lineAssemblyController.selected.id}" title="#{bundle.CreateLineAssemblyTitle_id}" required="true" requiredMessage="#{bundle.CreateLineAssemblyRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_user}" for="user" />
                    <h:inputText id="user" value="#{lineAssemblyController.selected.user}" title="#{bundle.CreateLineAssemblyTitle_user}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_remark}" for="remark" />
                    <h:inputText id="remark" value="#{lineAssemblyController.selected.remark}" title="#{bundle.CreateLineAssemblyTitle_remark}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_stamp}" for="stamp" />
                    <h:inputText id="stamp" value="#{lineAssemblyController.selected.stamp}" title="#{bundle.CreateLineAssemblyTitle_stamp}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_detailproductreport}" for="detailproductreport" />
                    <h:inputText id="detailproductreport" value="#{lineAssemblyController.selected.detailproductreport}" title="#{bundle.CreateLineAssemblyTitle_detailproductreport}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_potcore}" for="potcore" />
                    <h:inputText id="potcore" value="#{lineAssemblyController.selected.potcore}" title="#{bundle.CreateLineAssemblyTitle_potcore}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_lotcontrolauto}" for="lotcontrolauto" />
                    <h:inputText id="lotcontrolauto" value="#{lineAssemblyController.selected.lotcontrolauto}" title="#{bundle.CreateLineAssemblyTitle_lotcontrolauto}" />
                    <h:outputLabel value="#{bundle.CreateLineAssemblyLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{lineAssemblyController.selected.detailIdDetail}" title="#{bundle.CreateLineAssemblyTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.CreateLineAssemblyRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lineAssemblyController.create}" value="#{bundle.CreateLineAssemblySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lineAssemblyController.prepareList}" value="#{bundle.CreateLineAssemblyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateLineAssemblyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
