<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditLineAssemblyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_id}" for="id" />
                    <h:inputText id="id" value="#{lineAssemblyController.selected.id}" title="#{bundle.EditLineAssemblyTitle_id}" required="true" requiredMessage="#{bundle.EditLineAssemblyRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_user}" for="user" />
                    <h:inputText id="user" value="#{lineAssemblyController.selected.user}" title="#{bundle.EditLineAssemblyTitle_user}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_remark}" for="remark" />
                    <h:inputText id="remark" value="#{lineAssemblyController.selected.remark}" title="#{bundle.EditLineAssemblyTitle_remark}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_stamp}" for="stamp" />
                    <h:inputText id="stamp" value="#{lineAssemblyController.selected.stamp}" title="#{bundle.EditLineAssemblyTitle_stamp}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_detailproductreport}" for="detailproductreport" />
                    <h:inputText id="detailproductreport" value="#{lineAssemblyController.selected.detailproductreport}" title="#{bundle.EditLineAssemblyTitle_detailproductreport}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_potcore}" for="potcore" />
                    <h:inputText id="potcore" value="#{lineAssemblyController.selected.potcore}" title="#{bundle.EditLineAssemblyTitle_potcore}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_lotcontrolauto}" for="lotcontrolauto" />
                    <h:inputText id="lotcontrolauto" value="#{lineAssemblyController.selected.lotcontrolauto}" title="#{bundle.EditLineAssemblyTitle_lotcontrolauto}" />
                    <h:outputLabel value="#{bundle.EditLineAssemblyLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{lineAssemblyController.selected.detailIdDetail}" title="#{bundle.EditLineAssemblyTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.EditLineAssemblyRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{lineAssemblyController.update}" value="#{bundle.EditLineAssemblySaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditLineAssemblyViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{lineAssemblyController.prepareList}" value="#{bundle.EditLineAssemblyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditLineAssemblyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
