<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLineAssemblyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLineAssemblyEmpty}" rendered="#{lineAssemblyController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lineAssemblyController.items.rowCount > 0}">
                    <h:outputText value="#{lineAssemblyController.pagination.pageFirstItem + 1}..#{lineAssemblyController.pagination.pageLastItem + 1}/#{lineAssemblyController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lineAssemblyController.previous}" value="#{bundle.Previous} #{lineAssemblyController.pagination.pageSize}" rendered="#{lineAssemblyController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lineAssemblyController.next}" value="#{bundle.Next} #{lineAssemblyController.pagination.pageSize}" rendered="#{lineAssemblyController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lineAssemblyController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_remark}"/>
                            </f:facet>
                            <h:outputText value="#{item.remark}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_stamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.stamp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_detailproductreport}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailproductreport}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_potcore}"/>
                            </f:facet>
                            <h:outputText value="#{item.potcore}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_lotcontrolauto}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotcontrolauto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLineAssemblyTitle_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lineAssemblyController.prepareView}" value="#{bundle.ListLineAssemblyViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lineAssemblyController.prepareEdit}" value="#{bundle.ListLineAssemblyEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lineAssemblyController.destroy}" value="#{bundle.ListLineAssemblyDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lineAssemblyController.prepareCreate}" value="#{bundle.ListLineAssemblyCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListLineAssemblyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
