<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLineAssemblyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_id}"/>
                    <h:outputText value="#{lineAssemblyController.selected.id}" title="#{bundle.ViewLineAssemblyTitle_id}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_user}"/>
                    <h:outputText value="#{lineAssemblyController.selected.user}" title="#{bundle.ViewLineAssemblyTitle_user}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_remark}"/>
                    <h:outputText value="#{lineAssemblyController.selected.remark}" title="#{bundle.ViewLineAssemblyTitle_remark}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_stamp}"/>
                    <h:outputText value="#{lineAssemblyController.selected.stamp}" title="#{bundle.ViewLineAssemblyTitle_stamp}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_detailproductreport}"/>
                    <h:outputText value="#{lineAssemblyController.selected.detailproductreport}" title="#{bundle.ViewLineAssemblyTitle_detailproductreport}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_potcore}"/>
                    <h:outputText value="#{lineAssemblyController.selected.potcore}" title="#{bundle.ViewLineAssemblyTitle_potcore}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_lotcontrolauto}"/>
                    <h:outputText value="#{lineAssemblyController.selected.lotcontrolauto}" title="#{bundle.ViewLineAssemblyTitle_lotcontrolauto}"/>
                    <h:outputText value="#{bundle.ViewLineAssemblyLabel_detailIdDetail}"/>
                    <h:outputText value="#{lineAssemblyController.selected.detailIdDetail}" title="#{bundle.ViewLineAssemblyTitle_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lineAssemblyController.destroyAndView}" value="#{bundle.ViewLineAssemblyDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewLineAssemblyEditLink}"/>
                <br />
                <h:commandLink action="#{lineAssemblyController.prepareCreate}" value="#{bundle.ViewLineAssemblyCreateLink}" />
                <br />
                <h:commandLink action="#{lineAssemblyController.prepareList}" value="#{bundle.ViewLineAssemblyShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewLineAssemblyIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
