<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateNgNormalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateNgNormalLabel_idNg}" for="idNg" />
                    <h:inputText id="idNg" value="#{ngNormalController.selected.idNg}" title="#{bundle.CreateNgNormalTitle_idNg}" required="true" requiredMessage="#{bundle.CreateNgNormalRequiredMessage_idNg}"/>
                    <h:outputLabel value="#{bundle.CreateNgNormalLabel_name}" for="name" />
                    <h:inputText id="name" value="#{ngNormalController.selected.name}" title="#{bundle.CreateNgNormalTitle_name}" />
                    <h:outputLabel value="#{bundle.CreateNgNormalLabel_qty}" for="qty" />
                    <h:inputText id="qty" value="#{ngNormalController.selected.qty}" title="#{bundle.CreateNgNormalTitle_qty}" />
                    <h:outputLabel value="#{bundle.CreateNgNormalLabel_currentProcessId}" for="currentProcessId" />
                    <h:selectOneMenu id="currentProcessId" value="#{ngNormalController.selected.currentProcessId}" title="#{bundle.CreateNgNormalTitle_currentProcessId}" required="true" requiredMessage="#{bundle.CreateNgNormalRequiredMessage_currentProcessId}">
                        <f:selectItems value="#{currentProcessController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ngNormalController.create}" value="#{bundle.CreateNgNormalSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{ngNormalController.prepareList}" value="#{bundle.CreateNgNormalShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateNgNormalIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
