<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNgNormalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNgNormalEmpty}" rendered="#{ngNormalController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ngNormalController.items.rowCount > 0}">
                    <h:outputText value="#{ngNormalController.pagination.pageFirstItem + 1}..#{ngNormalController.pagination.pageLastItem + 1}/#{ngNormalController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ngNormalController.previous}" value="#{bundle.Previous} #{ngNormalController.pagination.pageSize}" rendered="#{ngNormalController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ngNormalController.next}" value="#{bundle.Next} #{ngNormalController.pagination.pageSize}" rendered="#{ngNormalController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ngNormalController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgNormalTitle_idNg}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgNormalTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgNormalTitle_qty}"/>
                            </f:facet>
                            <h:outputText value="#{item.qty}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgNormalTitle_currentProcessId}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentProcessId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ngNormalController.prepareView}" value="#{bundle.ListNgNormalViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngNormalController.prepareEdit}" value="#{bundle.ListNgNormalEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngNormalController.destroy}" value="#{bundle.ListNgNormalDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ngNormalController.prepareCreate}" value="#{bundle.ListNgNormalCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListNgNormalIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
