<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNgNormalTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNgNormalLabel_idNg}"/>
                    <h:outputText value="#{ngNormalController.selected.idNg}" title="#{bundle.ViewNgNormalTitle_idNg}"/>
                    <h:outputText value="#{bundle.ViewNgNormalLabel_name}"/>
                    <h:outputText value="#{ngNormalController.selected.name}" title="#{bundle.ViewNgNormalTitle_name}"/>
                    <h:outputText value="#{bundle.ViewNgNormalLabel_qty}"/>
                    <h:outputText value="#{ngNormalController.selected.qty}" title="#{bundle.ViewNgNormalTitle_qty}"/>
                    <h:outputText value="#{bundle.ViewNgNormalLabel_currentProcessId}"/>
                    <h:outputText value="#{ngNormalController.selected.currentProcessId}" title="#{bundle.ViewNgNormalTitle_currentProcessId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ngNormalController.destroyAndView}" value="#{bundle.ViewNgNormalDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewNgNormalEditLink}"/>
                <br />
                <h:commandLink action="#{ngNormalController.prepareCreate}" value="#{bundle.ViewNgNormalCreateLink}" />
                <br />
                <h:commandLink action="#{ngNormalController.prepareList}" value="#{bundle.ViewNgNormalShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewNgNormalIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
