<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePc2dataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_pc2dataId}" for="pc2dataId" />
                    <h:inputText id="pc2dataId" value="#{pc2dataController.selected.pc2dataId}" title="#{bundle.CreatePc2dataTitle_pc2dataId}" required="true" requiredMessage="#{bundle.CreatePc2dataRequiredMessage_pc2dataId}"/>
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{pc2dataController.selected.createDate}" title="#{bundle.CreatePc2dataTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{pc2dataController.selected.userCreate}" title="#{bundle.CreatePc2dataTitle_userCreate}" required="true" requiredMessage="#{bundle.CreatePc2dataRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{pc2dataController.selected.userApprove}" title="#{bundle.CreatePc2dataTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_idKdataO}" for="idKdataO" />
                    <h:inputText id="idKdataO" value="#{pc2dataController.selected.idKdataO}" title="#{bundle.CreatePc2dataTitle_idKdataO}" />
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_idKdataT}" for="idKdataT" />
                    <h:inputText id="idKdataT" value="#{pc2dataController.selected.idKdataT}" title="#{bundle.CreatePc2dataTitle_idKdataT}" />
                    <h:outputLabel value="#{bundle.CreatePc2dataLabel_idProc}" for="idProc" />
                    <h:selectOneMenu id="idProc" value="#{pc2dataController.selected.idProc}" title="#{bundle.CreatePc2dataTitle_idProc}" required="true" requiredMessage="#{bundle.CreatePc2dataRequiredMessage_idProc}">
                        <f:selectItems value="#{processPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pc2dataController.create}" value="#{bundle.CreatePc2dataSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pc2dataController.prepareList}" value="#{bundle.CreatePc2dataShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreatePc2dataIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
