<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPc2dataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPc2dataEmpty}" rendered="#{pc2dataController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pc2dataController.items.rowCount > 0}">
                    <h:outputText value="#{pc2dataController.pagination.pageFirstItem + 1}..#{pc2dataController.pagination.pageLastItem + 1}/#{pc2dataController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pc2dataController.previous}" value="#{bundle.Previous} #{pc2dataController.pagination.pageSize}" rendered="#{pc2dataController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pc2dataController.next}" value="#{bundle.Next} #{pc2dataController.pagination.pageSize}" rendered="#{pc2dataController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pc2dataController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_pc2dataId}"/>
                            </f:facet>
                            <h:outputText value="#{item.pc2dataId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_idKdataO}"/>
                            </f:facet>
                            <h:outputText value="#{item.idKdataO}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_idKdataT}"/>
                            </f:facet>
                            <h:outputText value="#{item.idKdataT}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2dataTitle_idProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pc2dataController.prepareView}" value="#{bundle.ListPc2dataViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pc2dataController.prepareEdit}" value="#{bundle.ListPc2dataEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pc2dataController.destroy}" value="#{bundle.ListPc2dataDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pc2dataController.prepareCreate}" value="#{bundle.ListPc2dataCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListPc2dataIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
