<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPc2dataTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPc2dataLabel_pc2dataId}"/>
                    <h:outputText value="#{pc2dataController.selected.pc2dataId}" title="#{bundle.ViewPc2dataTitle_pc2dataId}"/>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_createDate}"/>
                    <h:outputText value="#{pc2dataController.selected.createDate}" title="#{bundle.ViewPc2dataTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_userCreate}"/>
                    <h:outputText value="#{pc2dataController.selected.userCreate}" title="#{bundle.ViewPc2dataTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_userApprove}"/>
                    <h:outputText value="#{pc2dataController.selected.userApprove}" title="#{bundle.ViewPc2dataTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_idKdataO}"/>
                    <h:outputText value="#{pc2dataController.selected.idKdataO}" title="#{bundle.ViewPc2dataTitle_idKdataO}"/>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_idKdataT}"/>
                    <h:outputText value="#{pc2dataController.selected.idKdataT}" title="#{bundle.ViewPc2dataTitle_idKdataT}"/>
                    <h:outputText value="#{bundle.ViewPc2dataLabel_idProc}"/>
                    <h:outputText value="#{pc2dataController.selected.idProc}" title="#{bundle.ViewPc2dataTitle_idProc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pc2dataController.destroyAndView}" value="#{bundle.ViewPc2dataDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewPc2dataEditLink}"/>
                <br />
                <h:commandLink action="#{pc2dataController.prepareCreate}" value="#{bundle.ViewPc2dataCreateLink}" />
                <br />
                <h:commandLink action="#{pc2dataController.prepareList}" value="#{bundle.ViewPc2dataShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewPc2dataIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
