<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNgPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_idNg}" for="idNg" />
                    <h:inputText id="idNg" value="#{ngPoolController.selected.idNg}" title="#{bundle.EditNgPoolTitle_idNg}" required="true" requiredMessage="#{bundle.EditNgPoolRequiredMessage_idNg}"/>
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_ngCode}" for="ngCode" />
                    <h:inputText id="ngCode" value="#{ngPoolController.selected.ngCode}" title="#{bundle.EditNgPoolTitle_ngCode}" />
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_ngName}" for="ngName" />
                    <h:inputText id="ngName" value="#{ngPoolController.selected.ngName}" title="#{bundle.EditNgPoolTitle_ngName}" />
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_status}" for="status" />
                    <h:inputText id="status" value="#{ngPoolController.selected.status}" title="#{bundle.EditNgPoolTitle_status}" />
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{ngPoolController.selected.createDate}" title="#{bundle.EditNgPoolTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{ngPoolController.selected.userCreate}" title="#{bundle.EditNgPoolTitle_userCreate}" required="true" requiredMessage="#{bundle.EditNgPoolRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{ngPoolController.selected.userApprove}" title="#{bundle.EditNgPoolTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.EditNgPoolLabel_ngType}" for="ngType" />
                    <h:inputText id="ngType" value="#{ngPoolController.selected.ngType}" title="#{bundle.EditNgPoolTitle_ngType}" />
                </h:panelGrid>
                <h:commandLink action="#{ngPoolController.update}" value="#{bundle.EditNgPoolSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditNgPoolViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{ngPoolController.prepareList}" value="#{bundle.EditNgPoolShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditNgPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
