<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNgPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNgPoolEmpty}" rendered="#{ngPoolController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ngPoolController.items.rowCount > 0}">
                    <h:outputText value="#{ngPoolController.pagination.pageFirstItem + 1}..#{ngPoolController.pagination.pageLastItem + 1}/#{ngPoolController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ngPoolController.previous}" value="#{bundle.Previous} #{ngPoolController.pagination.pageSize}" rendered="#{ngPoolController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ngPoolController.next}" value="#{bundle.Next} #{ngPoolController.pagination.pageSize}" rendered="#{ngPoolController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ngPoolController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_idNg}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_ngCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.ngCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_ngName}"/>
                            </f:facet>
                            <h:outputText value="#{item.ngName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgPoolTitle_ngType}"/>
                            </f:facet>
                            <h:outputText value="#{item.ngType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ngPoolController.prepareView}" value="#{bundle.ListNgPoolViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngPoolController.prepareEdit}" value="#{bundle.ListNgPoolEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngPoolController.destroy}" value="#{bundle.ListNgPoolDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ngPoolController.prepareCreate}" value="#{bundle.ListNgPoolCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListNgPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
