<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNgPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNgPoolLabel_idNg}"/>
                    <h:outputText value="#{ngPoolController.selected.idNg}" title="#{bundle.ViewNgPoolTitle_idNg}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_ngCode}"/>
                    <h:outputText value="#{ngPoolController.selected.ngCode}" title="#{bundle.ViewNgPoolTitle_ngCode}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_ngName}"/>
                    <h:outputText value="#{ngPoolController.selected.ngName}" title="#{bundle.ViewNgPoolTitle_ngName}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_status}"/>
                    <h:outputText value="#{ngPoolController.selected.status}" title="#{bundle.ViewNgPoolTitle_status}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_createDate}"/>
                    <h:outputText value="#{ngPoolController.selected.createDate}" title="#{bundle.ViewNgPoolTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_userCreate}"/>
                    <h:outputText value="#{ngPoolController.selected.userCreate}" title="#{bundle.ViewNgPoolTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_userApprove}"/>
                    <h:outputText value="#{ngPoolController.selected.userApprove}" title="#{bundle.ViewNgPoolTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewNgPoolLabel_ngType}"/>
                    <h:outputText value="#{ngPoolController.selected.ngType}" title="#{bundle.ViewNgPoolTitle_ngType}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ngPoolController.destroyAndView}" value="#{bundle.ViewNgPoolDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewNgPoolEditLink}"/>
                <br />
                <h:commandLink action="#{ngPoolController.prepareCreate}" value="#{bundle.ViewNgPoolCreateLink}" />
                <br />
                <h:commandLink action="#{ngPoolController.prepareList}" value="#{bundle.ViewNgPoolShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewNgPoolIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
