<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditCurrentProcessTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditCurrentProcessLabel_id}" for="id" />
                    <h:inputText id="id" value="#{currentProcessController.selected.id}" title="#{bundle.EditCurrentProcessTitle_id}" required="true" requiredMessage="#{bundle.EditCurrentProcessRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditCurrentProcessLabel_currentProc}" for="currentProc" />
                    <h:inputText id="currentProc" value="#{currentProcessController.selected.currentProc}" title="#{bundle.EditCurrentProcessTitle_currentProc}" />
                    <h:outputLabel value="#{bundle.EditCurrentProcessLabel_status}" for="status" />
                    <h:inputText id="status" value="#{currentProcessController.selected.status}" title="#{bundle.EditCurrentProcessTitle_status}" />
                    <h:outputLabel value="#{bundle.EditCurrentProcessLabel_time}" for="time" />
                    <h:inputText id="time" value="#{currentProcessController.selected.time}" title="#{bundle.EditCurrentProcessTitle_time}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditCurrentProcessLabel_mainDataId}" for="mainDataId" />
                    <h:selectOneMenu id="mainDataId" value="#{currentProcessController.selected.mainDataId}" title="#{bundle.EditCurrentProcessTitle_mainDataId}" required="true" requiredMessage="#{bundle.EditCurrentProcessRequiredMessage_mainDataId}">
                        <f:selectItems value="#{mainDataController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{currentProcessController.update}" value="#{bundle.EditCurrentProcessSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditCurrentProcessViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{currentProcessController.prepareList}" value="#{bundle.EditCurrentProcessShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditCurrentProcessIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
