<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCurrentProcessTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCurrentProcessEmpty}" rendered="#{currentProcessController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{currentProcessController.items.rowCount > 0}">
                    <h:outputText value="#{currentProcessController.pagination.pageFirstItem + 1}..#{currentProcessController.pagination.pageLastItem + 1}/#{currentProcessController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{currentProcessController.previous}" value="#{bundle.Previous} #{currentProcessController.pagination.pageSize}" rendered="#{currentProcessController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{currentProcessController.next}" value="#{bundle.Next} #{currentProcessController.pagination.pageSize}" rendered="#{currentProcessController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{currentProcessController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCurrentProcessTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCurrentProcessTitle_currentProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCurrentProcessTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCurrentProcessTitle_time}"/>
                            </f:facet>
                            <h:outputText value="#{item.time}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCurrentProcessTitle_mainDataId}"/>
                            </f:facet>
                            <h:outputText value="#{item.mainDataId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{currentProcessController.prepareView}" value="#{bundle.ListCurrentProcessViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{currentProcessController.prepareEdit}" value="#{bundle.ListCurrentProcessEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{currentProcessController.destroy}" value="#{bundle.ListCurrentProcessDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{currentProcessController.prepareCreate}" value="#{bundle.ListCurrentProcessCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListCurrentProcessIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
