<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewCurrentProcessTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewCurrentProcessLabel_id}"/>
                    <h:outputText value="#{currentProcessController.selected.id}" title="#{bundle.ViewCurrentProcessTitle_id}"/>
                    <h:outputText value="#{bundle.ViewCurrentProcessLabel_currentProc}"/>
                    <h:outputText value="#{currentProcessController.selected.currentProc}" title="#{bundle.ViewCurrentProcessTitle_currentProc}"/>
                    <h:outputText value="#{bundle.ViewCurrentProcessLabel_status}"/>
                    <h:outputText value="#{currentProcessController.selected.status}" title="#{bundle.ViewCurrentProcessTitle_status}"/>
                    <h:outputText value="#{bundle.ViewCurrentProcessLabel_time}"/>
                    <h:outputText value="#{currentProcessController.selected.time}" title="#{bundle.ViewCurrentProcessTitle_time}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewCurrentProcessLabel_mainDataId}"/>
                    <h:outputText value="#{currentProcessController.selected.mainDataId}" title="#{bundle.ViewCurrentProcessTitle_mainDataId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{currentProcessController.destroyAndView}" value="#{bundle.ViewCurrentProcessDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewCurrentProcessEditLink}"/>
                <br />
                <h:commandLink action="#{currentProcessController.prepareCreate}" value="#{bundle.ViewCurrentProcessCreateLink}" />
                <br />
                <h:commandLink action="#{currentProcessController.prepareList}" value="#{bundle.ViewCurrentProcessShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewCurrentProcessIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
