<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateLotControlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_id}" for="id" />
                    <h:inputText id="id" value="#{lotControlController.selected.id}" title="#{bundle.CreateLotControlTitle_id}" required="true" requiredMessage="#{bundle.CreateLotControlRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_barcode}" for="barcode" />
                    <h:inputText id="barcode" value="#{lotControlController.selected.barcode}" title="#{bundle.CreateLotControlTitle_barcode}" />
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_lotNumber}" for="lotNumber" />
                    <h:inputText id="lotNumber" value="#{lotControlController.selected.lotNumber}" title="#{bundle.CreateLotControlTitle_lotNumber}" />
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_md2pcIdModel}" for="md2pcIdModel" />
                    <h:inputText id="md2pcIdModel" value="#{lotControlController.selected.md2pcIdModel}" title="#{bundle.CreateLotControlTitle_md2pcIdModel}" required="true" requiredMessage="#{bundle.CreateLotControlRequiredMessage_md2pcIdModel}"/>
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_mainDataId}" for="mainDataId" />
                    <h:inputText id="mainDataId" value="#{lotControlController.selected.mainDataId}" title="#{bundle.CreateLotControlTitle_mainDataId}" />
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_modelPoolId}" for="modelPoolId" />
                    <h:selectOneMenu id="modelPoolId" value="#{lotControlController.selected.modelPoolId}" title="#{bundle.CreateLotControlTitle_modelPoolId}" required="true" requiredMessage="#{bundle.CreateLotControlRequiredMessage_modelPoolId}">
                        <f:selectItems value="#{modelPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateLotControlLabel_detailsIdDetail}" for="detailsIdDetail" />
                    <h:selectOneMenu id="detailsIdDetail" value="#{lotControlController.selected.detailsIdDetail}" title="#{bundle.CreateLotControlTitle_detailsIdDetail}" required="true" requiredMessage="#{bundle.CreateLotControlRequiredMessage_detailsIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lotControlController.create}" value="#{bundle.CreateLotControlSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{lotControlController.prepareList}" value="#{bundle.CreateLotControlShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateLotControlIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
