<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListLotControlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListLotControlEmpty}" rendered="#{lotControlController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{lotControlController.items.rowCount > 0}">
                    <h:outputText value="#{lotControlController.pagination.pageFirstItem + 1}..#{lotControlController.pagination.pageLastItem + 1}/#{lotControlController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{lotControlController.previous}" value="#{bundle.Previous} #{lotControlController.pagination.pageSize}" rendered="#{lotControlController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{lotControlController.next}" value="#{bundle.Next} #{lotControlController.pagination.pageSize}" rendered="#{lotControlController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{lotControlController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_barcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.barcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_lotNumber}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotNumber}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_md2pcIdModel}"/>
                            </f:facet>
                            <h:outputText value="#{item.md2pcIdModel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_mainDataId}"/>
                            </f:facet>
                            <h:outputText value="#{item.mainDataId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_modelPoolId}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelPoolId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListLotControlTitle_detailsIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailsIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{lotControlController.prepareView}" value="#{bundle.ListLotControlViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lotControlController.prepareEdit}" value="#{bundle.ListLotControlEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{lotControlController.destroy}" value="#{bundle.ListLotControlDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{lotControlController.prepareCreate}" value="#{bundle.ListLotControlCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListLotControlIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
