<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewLotControlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewLotControlLabel_id}"/>
                    <h:outputText value="#{lotControlController.selected.id}" title="#{bundle.ViewLotControlTitle_id}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_barcode}"/>
                    <h:outputText value="#{lotControlController.selected.barcode}" title="#{bundle.ViewLotControlTitle_barcode}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_lotNumber}"/>
                    <h:outputText value="#{lotControlController.selected.lotNumber}" title="#{bundle.ViewLotControlTitle_lotNumber}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_md2pcIdModel}"/>
                    <h:outputText value="#{lotControlController.selected.md2pcIdModel}" title="#{bundle.ViewLotControlTitle_md2pcIdModel}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_mainDataId}"/>
                    <h:outputText value="#{lotControlController.selected.mainDataId}" title="#{bundle.ViewLotControlTitle_mainDataId}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_modelPoolId}"/>
                    <h:outputText value="#{lotControlController.selected.modelPoolId}" title="#{bundle.ViewLotControlTitle_modelPoolId}"/>
                    <h:outputText value="#{bundle.ViewLotControlLabel_detailsIdDetail}"/>
                    <h:outputText value="#{lotControlController.selected.detailsIdDetail}" title="#{bundle.ViewLotControlTitle_detailsIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{lotControlController.destroyAndView}" value="#{bundle.ViewLotControlDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewLotControlEditLink}"/>
                <br />
                <h:commandLink action="#{lotControlController.prepareCreate}" value="#{bundle.ViewLotControlCreateLink}" />
                <br />
                <h:commandLink action="#{lotControlController.prepareList}" value="#{bundle.ViewLotControlShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewLotControlIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
