<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title> 
 
        <link rel="stylesheet" type="text/css" href="../../../xmlhttp/css/rime/rime.css" /> 
    </h:head>
    <h:body> 
    <h:form  id="CloseForm"> 
        <ice:commandButton value="  Close  " actionListener="#{CloseProcess.openPopupType('closeProcessPopup')}"   styleClass="#{barcode.closeProcessButtonShow}"></ice:commandButton>
        <ice:panelPopup modal="true" visible="#{CloseProcess.closeProcessPopup}" rendered="#{CloseProcess.closeProcessPopup}" style="z-index:1001; width:650px; top:0px;" styleClass="popup_site">
				<f:facet name="header">
                                    <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;" styleClass="popup_head">
                                        <ice:outputText  styleClass="popup_head"  value="Close process"/>
						<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{CloseProcess.closePopup('closeProcessPopupClose')}" title="Close this draggable popup" />
				    </ice:panelGrid>
				</f:facet>
				<f:facet name="body">
                                    
                                    <div class="popup_content">
                                      <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                          <tr >
                                              <td class="poptd_lable" width="28%" >Close process : </td>
                                              <td class="poptd" width="78%"><ice:outputLabel value="#{barcode.nameProcess}"/></td>
                                          </tr>
                                           <tr>
                                              <td class="poptdx_lable" width="28%">Start time : </td>
                                              <td class="poptd" width="78%"><ice:outputLabel value="#{CloseProcess.startTime}"/></td>
                                          </tr>
                                          <tr>
                                              <td class="poptd_lable" width="28%">Stop time : </td>
                                              <td class="poptd" width="78%"><ice:outputLabel value="#{timeCurrent.date}"/></td>
                                          </tr>
                                          <tr>
                                            <td class="poptdx_lable" width="28%">NG Qty : </td>
                                            <td class="poptd" width="78%">
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ice:inputText value="#{CloseProcess.ngQty}"   partialSubmit="true" required="true"> 
                                                                <f:convertNumber id="true"/>
                                                            </ice:inputText>
                                                        </td>
                                                        <td>
                                                           <ice:commandButton  value="     Input NG        "   actionListener="#{CloseProcess.openPopupType('inputNG')}" visible ="#{CloseProcess.inputNgqtyButton}" />
                                                        </td>  
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                               <ice:outputLabel value="#{CloseProcess.validateInputNgQty}" style="color: red;"/>
                                                        </td>
                                                    </tr>
                                               </table>
                                            </td>
                                            </tr>
                                                <tr>
                                            <td class="poptd_lable" width="28%">NG repair Qty : </td>
                                            <td class="poptd" width="78%"> 
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ice:inputText value="#{CloseProcess.ngRepairQty}"   partialSubmit="true" required="true">
                                                                 <f:convertNumber id="true"/>
                                                            </ice:inputText>  
                                                        </td>
                                                        <td>
                                                            <ice:commandButton value="  Input NG repair "    actionListener="#{CloseProcess.openPopupType('inputNGrepair')}" visible="#{CloseProcess.inputNgRepairQtyButton}"></ice:commandButton> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2">
                                                            <ice:outputLabel value="#{CloseProcess.validateInputNgRepairQty}" style="color:red;"/>  
                                                        </td>
                                                    </tr>
                                                </table>     
                                            </td>
                                            </tr>
                                        <tr>
                                       
                                            <td class="poptdx_lable" width="28%">Output Qty :</td>
                                            <td class="poptd" width="78%"> 
                                                <table>
                                                    <tr>
                                                        <td><ice:outputLabel value="#{CloseProcess.outPutQty}" readonly="true"/></td>
                                                        <td><ice:outputLabel style="color: red;" value="#{CloseProcess.validateOutput}"></ice:outputLabel>  </td>
                                                    </tr> 
                                                </table> 
                                            </td>
                                       </tr> 
                                       <tr>
                                           <td class="poptd_lable"  width="28%">Remark :</td>
                                           <td class="poptd" width="78%">
                                               <ice:inputTextarea value="#{CloseProcess.remark}" rows="5" cols="45">
                                               </ice:inputTextarea>    
                                           </td>
                                       </tr>   
                                      </table>
                                    </div>
                                     <div class="popup_button"> 
                                        <ice:commandButton value="       Close Process       " actionListener="#{CloseProcess.closePopup('closeProcessPopup')}" visible="#{CloseProcess.closePopupButton}" /> 
<!--                                      <ice:commandButton value="       Close Process       " actionListener="#{CloseProcess.closePopup('closeProcessPopup')}"   />-->
                                     </div>
					</f:facet>
                        </ice:panelPopup>  
                        </h:form> 
                        <h:form id="ngPopup">
                            <ice:panelPopup  modal="true" rendered="#{CloseProcess.inputNG}" styleClass="ng_site"  visible="#{CloseProcess.inputNG}" style="z-index:1001; width:650px; top:0px;"  >
                                        <f:facet name="header">
                                            <ice:panelGrid width="650px" cellpadding="0" cellspacing="0"  styleClass="ng_head" columns="2" style="text-align: left;">
                                                    <ice:outputText style="color: #000000; float:left;" value="inputNG" />
                                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{CloseProcess.closePopup('inputNGClose')}"
                                                                                                        title="Close this draggable popup" />
                                            </ice:panelGrid>
                                        </f:facet>
                                        <f:facet name="body"> 
                                            <div class="ng_content">
                                                <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                                    <tr >
                                                        <td class="poptd_lable" width="40%" >Total NG  : </td>
                                                        <td class="poptd" width="60%"> <ice:outputText value="#{CloseProcess.ngQty}" id="txt_output" /> </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="poptdx_lable" width="40%">NG : </td>
                                                        <td class="poptd" width="60%">
                                                            <table>
                                                                <tr>
                                                                    <td><input type="text" value="#{CloseProcess.ngLeft}" id="txt_output2" readonly="true" style="border:none;"/></td>
                                                                </tr>    
                                                                <tr>
                                                                    <td> <ice:outputLabel value="#{CloseProcess.validateNgLeft}" style="color:red;"/></td>    
                                                                </tr>
                                                            </table>    
                                                        </td>
                                                    </tr>
                                                </table>
                                            <div class="tb_ng_site">
                                            <!--หัวตาราง -->
                                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                    <tr>
                                                        <td class="ng_td_lable">NG Type </td>
                                                        <td class="ng_td_lable">NG QTY </td>
                                                    </tr>
                                                </table>
                                            <!--end หัวตาราง -->
                                            <div class="tb_ng_content">
                                                <!--ข้อมุลในตาราง --> 
                                                <ice:dataTable id="dataSortData" border="0" width="100%" value="#{CloseProcess.ngNamePool}" var="inputNGorder">
                                                        <ice:column id="column1" style="width: 50%"> 
                                                        <ice:outputText value="#{inputNGorder.ngname}" />
                                                    </ice:column>
                                                        <ice:column id="column2" style="width: 50%"> 
                                                            <table>
                                                                <tr>
                                                                    <td>
                                                                          <ice:inputText value="#{inputNGorder.ngNums}" partialSubmit="true" >
                                                                              <f:convertNumber integerOnly="true"/>
                                                                          </ice:inputText>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                         <ice:outputLabel value="#{inputNGorder.validateNgQtyOne}" style="color:red;"/>
                                                                    </td>
                                                                </tr>
                                                            </table> 
                                                    </ice:column>
                                                </ice:dataTable>   
                                                <!--end ข้อมุลในตาราง -->
                                            </div>
                                        </div>
                                    </div>
                                <div class="popup_button"> 
<!--                                    <ice:commandButton value="          Save          " onclick="saveNgOutput()||"  actionListener="#{inputNG.searchWorksheet()}" />-->
                                    <ice:commandButton value="     Save      "  actionListener="#{CloseProcess.closePopup('inputNG')}" />
                                </div>
                            </f:facet>
                            </ice:panelPopup>   
                        </h:form>  
                        <h:form id="ngRepairPopup">
                            <ice:panelPopup styleClass="tb_ng_site"  modal="true" rendered="#{CloseProcess.inputNGRepair}"    visible="#{CloseProcess.inputNGRepair}" style="z-index:1001; width:650px; top: 0px;" >
                                        <f:facet name="header">
                                            <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" styleClass="ng_head" columns="2" style="text-align: left;">
                                                        <ice:outputText style="color: #000000; float:left;" value="Input NG repair" />
                                                        <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{CloseProcess.closePopup('inputNGRepairClose')}" title="Close this draggable popup" />
                                                </ice:panelGrid>
                                        </f:facet>
                                        <f:facet name="body">
                                            <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                                <tr >
                                                    <td class="poptd_lable" width="40%" >Total NG repair : </td>
                                                    <td class="poptd" width="60%"><ice:outputText  value="#{CloseProcess.ngRepairQty}"/></td>
                                                    </tr>
                                                <tr>
                                                    <td class="poptdx_lable" width="40%">NG repair  : </td>
                                                    <td class="poptd" width="60%">
                                                        <table>
                                                            <tr>
                                                                <td><ice:inputText readonly="true" value="#{CloseProcess.ngRepairLeft}">
                                                                         <f:convertNumber integerOnly="true"/>
                                                                    </ice:inputText> </td>
                                                            </tr>
                                                            <tr>
                                                                <td><ice:outputLabel value="#{CloseProcess.validateNgleftRepair}" style="color:red;" /></td>
                                                            </tr>  
                                                        </table>
                                                        </td>
                                                </tr>
                                            </table>
                                            <div class="tb_ng_site"> 
                                                <div class="tb_ng_content">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                                <td class="ng_td_lable">NG repair Type </td>
                                                                <td class="ng_td_lable">NG repair QTY </td>
                                                        </tr>
                                                    </table>
                                                        <ice:dataTable id="dataSortData" border="0" width="100%" value="#{CloseProcess.ngRepairPool}" var="inputNGRepairorder">   
                                                            <ice:column id="column1" style="width: 50%"> 
                                                                <ice:outputText value="#{inputNGRepairorder.ngRepairname}"/>
                                                            </ice:column>
                                                            <ice:column id="column2"  style="width: 50%">
                                                                <table>
                                                                    <tr>
                                                                        <td>
                                                                            <ice:inputText  id="ngRepairQty" value="#{inputNGRepairorder.ngRepairNums}" partialSubmit="true" >
                                                                                 <f:convertNumber integerOnly="true"/>
                                                                            </ice:inputText>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td><ice:outputLabel value="#{inputNGRepairorder.validateNgRepairOne}" style="color: red;" />
                                                                    </td>
                                                                    </tr> 
                                                                 </table> 
                                                                 </ice:column>
                                                    </ice:dataTable>  
                                                </div> 
                                            </div> 
                                            <div class="popup_button"><ice:commandButton value="         Save          " actionListener="#{CloseProcess.closePopup('inputNGRepair')}"/>
                                            </div>

                        </f:facet>
                        </ice:panelPopup>  
                    </h:form>  
                    <h:form>
                            <ice:panelPopup visible="#{CloseProcess.closeProcessConfirm}" rendered="#{CloseProcess.closeProcessConfirm}" style="z-index:1001;   padding-top:15px; padding-bottom:15px; top:0px;" modal="true" >
                                    <f:facet name="body">
                                        <table style="width: 350px;" cellspacing="15"> 
                                                    <tr>
                                                        <td align="center" colspan="2"><ice:outputLabel value="Confirm to close process ?"></ice:outputLabel> </td>
                                                    </tr>
                                                    <tr>
                                                            <td align="right"><ice:commandButton value="  Confirm  " actionListener="#{CloseProcess.closePopup('closeProcessConfirmYes')}"></ice:commandButton> </td>
                                                            <td align="left"><ice:commandButton value="  Cancel  " actionListener="#{CloseProcess.closePopup('closeProcessConfirmNo')}"></ice:commandButton> </td>
                                                    </tr>
                                         </table> 
                                    </f:facet>
                            </ice:panelPopup>
                    </h:form>   
    
    </h:body> 					
</html>
