<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body>
        <h:form>
            <ice:outputLabel value="Edit NG repair to input now process" />
            <table width="100%" cellspacing="15">
                <tr>
                    <td width="20%"><ice:outputLabel value="Barcode" /></td>
                    <td width="80%"><ice:inputText size="80"/></td>
                </tr>
            </table>    
        
        <br />
        <div style="border-radius: 15px; border: 1px #000 solid;  padding: 15px;">
        <ice:outputLabel value="Last process" />
         <br/>
         <table width="100%"  cellspacing="15">
             <tr>
                 <td width="20%"><ice:outputLabel value="operation code process" /></td>
                 <td width="30%"><ice:outputLabel /></td>
                 <td width="20%"><ice:outputLabel value="process sequence" /></td>
                 <td width="30%"><ice:outputLabel /> </td>
             </tr>
             <tr>
                 <td><ice:outputLabel value="last process name" /></td>
                 <td><ice:outputLabel /> </td>
                 <td><ice:outputLabel value="status process"/></td>
                 <td><ice:outputLabel /></td>
             </tr>  
             <tr>
                 <td><ice:outputLabel value="input" /></td>
                 <td><ice:outputLabel /></td>
                 <td><ice:outputLabel  value="NG" /></td>
                 <td><ice:outputLabel /></td>
             </tr> 
             <tr>
                 <td><ice:outputLabel value="output"/></td>
                 <td><ice:outputLabel /> </td>
                 <td><ice:outputLabel value="NG repair" /></td>
                 <td><ice:outputLabel /></td>
             </tr>    
             <tr>
                 <td><ice:outputLabel value="run process date" /></td>
                 <td></td>
                 <td></td>
                 <td style="float:right;"><ice:commandButton value="  Edit NG Repair  " /></td>
             </tr>
         </table>   
        </div>   
        <br/>
        <div style="border:1px #000 solid; border-radius: 15px; padding: 15px; ">
        <ice:outputLabel value="Now process" /> 
        <br/>
        <table width="100%"  cellspacing="15">
            <tr>
                <td width="20%"><ice:outputLabel value="operation code process" /></td>
                <td width="30%"><ice:outputLabel /> </td>
                <td width="20%"><ice:outputLabel value="process sequence" /> </td>
                <td width="30%"><ice:outputLabel /> </td>
            </tr>  
             <tr>
                <td><ice:outputLabel value="now process" /></td>
                <td><ice:outputLabel /> </td>
                <td><ice:outputLabel value="process sequence" /></td>
                <td><ice:outputLabel /></td>
            </tr>
             <tr>
                <td><ice:outputLabel value="Now process" /></td>
                <td><ice:outputLabel /> </td>
                <td><ice:outputLabel value="status process"/> </td>
                <td><ice:outputLabel /></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td style="float:right;"><ice:commandButton value="  Save  " /></td>
            </tr>    
        </table>    
        </div>
        </h:form>
    </h:body> 
</html>

