<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
        <script type="text/javascript">
//            function validatePositiveQtyWork(value)
//            {
//                var c  = isNaN(value);
//                if(c==true)
//                {
//                    document.getElementById('validateQtyword').innerHTML          = 'invalid input';
//                    document.getElementById('startHoldTimeButton').style.display  = 'none'; 
//                }
//                else
//                {
//                    var cc  =  parseInt(value);
//                    if(!(cc >= 0))
//                    {
//                        document.getElementById('validateQtyword').innerHTML = 'Qty word >= 0';
//                        document.getElementById('startHoldTimeButton').style.display  = 'none'; 
//                        
//                    }
//                    else
//                    {
//                        document.getElementById('hold:qtyWorkInProcess').value=cc;
//                        document.getElementById('validateQtyword').innerHTML=''; 
//                        document.getElementById('startHoldTimeButton').style.display  = ''; 
//                    }    
//                }
//                
//            }
        </script>
    </h:head>
    <h:body>
    <h:form id="hold">
        <ice:commandButton value="  Hold time  " actionListener="#{holdProcess.openPopupType('Hold')}"    styleClass="#{barcode.holdTimeButtonShow}"></ice:commandButton>   
		<ice:panelPopup visible="#{holdProcess.holdProcessPopup}" rendered="#{holdProcess.holdProcessPopup}" style="z-index:1001;  width:650px; top:0px;" modal="true"   >
			<f:facet name="header">
                            <ice:panelGrid styleClass="popup_head" width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
					<ice:outputText style="color: #000000; float:left;" value="Hold process" />
					<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{holdProcess.closePopup('HoldProcessPopupClose')}" title="Close this draggable popup" />
				</ice:panelGrid>
			</f:facet>
			<f:facet name="body">
                            <div class="popup_content">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td>	
                                            <div id="hold_worksheet_number">Worksheet Number
                                                <div id="hold_worksheet_number_lable"><ice:outputLabel value="#{barcode.textProcess}" /> </div>
                                            </div>
                                            <div id="hold_process_name">Process Name
                                                <div id="hold_process_name_lable">
                                                    <ice:outputText value="#{barcode.nameProcess}" >
                                                        <f:convertNumber integerOnly="true"/>
                                                    </ice:outputText>  </div>
                                            </div>
                                            </td>
                                    </tr>
                                </table>

                                        <!--Start hold -->
                                        <ice:panelTab  rendered="#{holdProcess.startHoltTime}">
                                        <h2 class="hh">Start hold time</h2>
                                        <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td class="poptdx_lable" width="30%">Start hold time:</td>
                                        <td class="poptd" width="70%"><ice:outputLabel value="#{timeCurrent.date}" /></td>
                                    </tr>
                                    <tr>
                                        <td class="poptd_lable" width="30%">Qty work in process : </td>
                                        <td class="poptd" width="70%">
                                            <ice:inputText id="qtyWorkInProcess" value="#{holdProcess.qtyWorkinProcess}"></ice:inputText> 
                                            <ice:outputLabel value="#{holdProcess.validateQtyWord}" style="color: red;"/>
                                        </td>
                                    </tr>
                                    </table>
                                        </ice:panelTab>
                                        
                                        <ice:panelTab rendered="#{holdProcess.stopHoldTime}">
                                        <!--Stop hold -->
                                        <h2 class="hh">Qty work in process</h2>
                                        <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td class="poptdx_lable" width="30%">Stop hold time:</td>
                                        <td class="poptd" width="70%"><ice:outputLabel value="#{timeCurrent.date}" /></td>
                                    </tr>
                                    <tr>
                                        <td class="poptd_lable" width="30%">Shift : </td>
                                        <td class="poptd" width="70%"> 
                                           <ice:selectOneMenu partialSubmit="true" id="shiftPartHold" required="true"
                                                              value="#{holdProcess.shiftUse}"
                                                                    valueChangeListener="#{holdProcess.ChangShiftPart}"> 
                                               <f:selectItems value="#{holdProcess.shiftPart}" />
                                            </ice:selectOneMenu>  
                                            <ice:outputLabel style="color: red;" value="#{holdProcess.validateShift}"/>
                                       </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                    </tr>        
                                    </table>
                                   </ice:panelTab>    
                                        <!--detail -->
                                    <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td class="poptdx_lable" width="30%">M/C# :</td>
                                        <td class="poptd" width="70%"><ice:outputLabel value="#{holdProcess.mcName}" /> </td>
                                    </tr>
                                    <tr>
                                        <td class="poptd_lable" width="30%">User report :</td>
                                        <td class="poptd" width="70%">xxx</td>
                                    </tr>
                                    <tr>
                                        <td class="poptdx_lable" width="30%">Report Date :</td>
                                        <td class="poptd" width="70%"><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
                                    </tr>
                                    <tr>
                                        <td class="poptd_lable" width="30%">Remark :</td>
                                        <td class="poptd" width="70%"><textarea name="textarea2" cols="40" rows="3"></textarea></td>
                                    </tr>
                                    <tr>
                                        <td class="poptdx_lable" width="30%">Reson :</td>
                                         <td class="poptd" width="70%"><textarea name="textarea2" cols="40" rows="3"></textarea></td>
                                     </tr>    
                                    </table>
                                </div>
                                <div class="popup_button">
                                    <ice:panelTab rendered="#{holdProcess.stopHoldTime}">
                                        <ice:commandButton value="       Close      "   actionListener="#{holdProcess.closePopup('stopHold')}"/> 
                                        <ice:commandButton value="     Cancel      " actionListener="#{holdProcess.closePopup('HoldProcessPopup')}">
                                        </ice:commandButton>
                                    </ice:panelTab>
                                    <ice:panelTab rendered="#{holdProcess.startHoltTime}">
                                        <ice:commandButton value="     Start     " actionListener="#{holdProcess.closePopup('startHold')}" /> 
                                        <ice:commandButton value="     Cancel    " actionListener="#{holdProcess.closePopup('HoldProcessPopup')}">
                                        </ice:commandButton>
                                    </ice:panelTab>
                                   </div>
			</f:facet>
		</ice:panelPopup>   
	</h:form>          
    </h:body>
</html>
