<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body>
    <h:form id="DowntimeForm" >
	 <ice:commandButton value="  M/C Downtime  " actionListener="#{popupBean.openPopupType('mcDowntime')}"></ice:commandButton> 
		<ice:panelPopup modal="true" visible="#{popupBean.x3}" style="z-index:1001; width:650px;" autoCentre="true">
			<f:facet name="header">
				<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
					<ice:outputText style="color: #000000;" value="M/C Downtime" />
					<ice:commandButton image="#{resource['images:close.png']}" actionListener="#{popupBean.closePopup('x3')}" title="Close this draggable popup" />
				 </ice:panelGrid>
			</f:facet>
			<f:facet name="body">
				 <table width="100%">
					 <tr>
						 <td><ice:outputLabel value="M/C#"></ice:outputLabel> </td>
                                                 <td><ice:outputLabel value="#{barcodeAuto.nameProcess}"></ice:outputLabel></td>
						 <td></td>
					 </tr>
					 <tr>
						 <td><ice:outputLabel value="Stop downtime"></ice:outputLabel> </td>
						 <td></td>
						 <td></td>
					 </tr>
					 <tr>
						 <td><ice:outputLabel value="Downtime reason"></ice:outputLabel> </td>
						 <td></td>
						 <td></td>
					 </tr>
					 <tr>
						 <td colspan="2"><input type="checkbox"/><ice:outputLabel value="Status active"></ice:outputLabel></td>
						 <td></td>
					 </tr>
					 <tr>
						 <td colspan="2">
							 <ice:outputLabel value="Remark"></ice:outputLabel> <br/>
							 <ice:inputTextarea cols="30" rows="5"></ice:inputTextarea>
						 </td>
						 <td><ice:commandButton value="  Stop downtime  "></ice:commandButton>  <br/>
							 <ice:commandButton value="  Save  " actionListener="#{popupBean.closePopup('x3')}"></ice:commandButton>
						 </td>
					 </tr> 
				 </table>   
			 </f:facet>
		  </ice:panelPopup> 
	 </h:form>
    </h:body>
</html>
