<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   
	xmlns:ace="http://www.icefaces.org/icefaces/components"    
	xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body>
 <h:form id="MoveForm">
									<ice:commandButton value="  Move M/C  " actionListener="#{moveProcess.openPopupType('Movemc')}"  disabled="#{barcode.moveProcessButton}">
									</ice:commandButton>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopup}" rendered="#{moveProcess.moveProcessPopup}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
									         <f:facet name="header">
												<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
														<ice:outputText style="color: #000000; float:left;" value="Move M/C" />
														<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{moveProcess.closePopup('moveProcessPopupClose')}" title="Close this draggable popup" />
											</ice:panelGrid>
											</f:facet> 
											<f:facet name="body">
												 <table width="100%" cellspacing="15">
												 		<tr>
												 			<td width="20%"><ice:outputLabel value="barcode"></ice:outputLabel></td>
												 			<td width="50%"><ice:outputLabel value="#{barcode.textSeach}"/></td>
												 			<td width="30%"></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="process"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.nameProcess}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="status"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.status}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Form M/C"></ice:outputLabel> </td>
												 		    <td><ice:selectOneListbox></ice:selectOneListbox></td>
												 		    <td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="To M/C"></ice:outputLabel> </td>
												 			<td><ice:selectOneListbox></ice:selectOneListbox></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Start time"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
												 			<td align="right"><ice:commandButton value="  Start  " actionListener="#{moveProcess.closePopup('moveProcessPopup')}"></ice:commandButton> </td>
												 		</tr>
												 </table>
											</f:facet>
									    </ice:panelPopup>   
									</h:form> 	 
									<h:form> 
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirm}" rendered="#{moveProcess.moveProcessPopupConfirm}" style="z-index:1001; padding-top:15px; padding-bottom:15px;" modal="true" autoCentre="true">
										<f:facet name="body">
											<table cellspacing="15">
												<tr>
													<td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process"></ice:outputLabel> </td>
												</tr>
												<tr>
													<td><ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYes')}"></ice:commandButton> </td>
													<td><ice:commandButton value="  Cancel  "  actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNo')}"></ice:commandButton> </td>
												</tr>
											 </table>
										</f:facet>
									</ice:panelPopup>
									</h:form>
    </h:body>
</html>
