<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body>
       
    <h:form id="OpenForm" >
        <ice:commandButton value="  Open  "   actionListener="#{openProcess.openPopupType('Open')}"  id="OpenButton"  styleClass="#{barcode.openProcessButtonShow}"></ice:commandButton>
                        <ice:panelPopup modal="true"  visible="#{openProcess.openProcessPopup}" rendered="#{openProcess.openProcessPopup}"  styleClass="popup_site" style="z-index:1001; width:650px; top: 0px;" >
                            <f:facet name="header" > 
                                <ice:panelGrid width="650px" cellpadding="0" styleClass="popup_head" cellspacing="0" columns="2" style="text-align: left;">
                                     <ice:outputLabel value="Open process"></ice:outputLabel>
                                      <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{openProcess.closePopup('openProcessPopupClose')}" title="Close this draggable popup" />
				</ice:panelGrid>
			   </f:facet>
			   <f:facet name="body">
                                    <div class="popup_content">
                                      <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr >
                                            <td class="poptd_lable" width="28%" >Open process :  </td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{barcode.nameProcess}"></ice:outputLabel></td>
                                            </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Start time :  </td>
                                            <td class="poptd" width="72%"><ice:outputText value="#{timeCurrent.date}" /></td>
                                            </tr> 
                                        <tr>
                                            <td class="poptd_lable" width="28%">Input Qty :  </td>
                                            <td class="poptd" width="72%"> 
                                                     <ice:inputText  id="inputQty" value="#{openProcess.inputQty}">
                                                         <f:convertNumber integerOnly="true"/>
                                                     </ice:inputText>
                                                     <ice:outputLabel style="color:red;" value="#{openProcess.validateInputQty}"/>
                                            </td>
                                            </tr>
                                          <tr>
                                            <td class="poptdx_lable" width="28%">M/C# :  </td>
                                            <td class="poptd" width="72%">
                                                <ice:panelTab  rendered="#{openProcess.checkMcUse}">
                                                    <ice:panelTab rendered="#{openProcess.displayMcGoodList}">    
                                                    <ice:selectOneMenu partialSubmit="true" id="mcNameUse" required="true"
                                                                        value="#{openProcess.mcNameUse}"
                                                                        valueChangeListener="#{openProcess.ChangNameValue}"> 
                                                        <f:selectItems value="#{openProcess.selectMcGood}" />
                                                    </ice:selectOneMenu>
                                                        <h:outputLabel style="color: red;" value="#{openProcess.validateMc}"/>
                                                    </ice:panelTab> 
                                                </ice:panelTab>
                                            </td>
                                            </tr> 
                                            <tr>
                                            <td class="poptd_lable" width="28%">Shift :  </td>
                                            <td class="poptd" width="72%">  
                                                 <ice:selectOneMenu partialSubmit="true" id="shift" required="true"
                                                                    value="#{openProcess.shifPart}"
                                                                    valueChangeListener="#{openProcess.ChangShiftValue}"> 
                                                    <f:selectItems value="#{openProcess.selectShift}" />
                                                </ice:selectOneMenu> 
                                                <h:outputLabel style="color: red;" value="#{openProcess.shiftValidate}"/> 
                                            </td>
                                            </tr>
                                          <tr>
                                               <td class="poptdx_lable" width="28%">Line :  </td>
                                               <td class="poptd" width="72%">
                                                   <ice:selectOneMenu partialSubmit="true" id="Line" required="true"
                                                                      value="#{openProcess.lineUse}" valueChangeListener="#{openProcess.ChangLineNameValue}"> 
                                                       <f:selectItems  value="#{openProcess.itemLine}"/>
                                                    <f:selectItems   />
                                                </ice:selectOneMenu>
                                                   <ice:outputLabel style="color: red;" value="#{openProcess.validateSelectLine}"/>   
                                               </td>
                                          </tr>   
                                          <tr>
                                              <td class="poptd_lable" width="28%">Worker :  </td>
                                              <td class="poptd" width="72%">
                                                  <ice:inputText value="#{openProcess.hr}">
                                                      <f:convertNumber  /> 
                                                  </ice:inputText> &nbsp;psn&nbsp;
                                                  <ice:outputLabel style="color: red;" value="#{openProcess.validateHr}"/>
                                              </td>
                                          </tr>
                                         </table>
                                    </div>
                                    <div class="popup_button"><ice:commandButton value="         Start         "    actionListener="#{openProcess.closePopup('openProcessPopupStart')}" id="startOpenProcessButton" style="display:none;"></ice:commandButton></div>
                                </f:facet>
                             
			</ice:panelPopup>
                            
			</h:form>
			<h:form>
			<ice:panelPopup visible="#{openProcess.openProcessPopupConfirm}"  rendered="#{openProcess.openProcessPopupConfirm}" style="z-index:1001;  padding-top:15px; padding-bottom:15px; top:0;" modal="true" >
			 
                                <f:facet name="body" >  
                                       <table style="width: 350px;" cellspacing="15" >
						<tr>
							<td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process ? "></ice:outputLabel> </td>
						</tr>
						<tr>
                                                    <td align="right"><ice:commandButton value="  Confirm  "    actionListener="#{openProcess.closePopup('openProcessPopupConfirmYes')}"></ice:commandButton> </td>
                                                    <td align="left"><ice:commandButton value="  Cancel  "     actionListener="#{openProcess.closePopup('openProcessPopupConfirmNo')}"></ice:commandButton> </td>
						</tr>
					 </table>   
                                </f:facet>
			</ice:panelPopup>
			</h:form>    
</h:body>
</html>
