<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core">
<f:view>
	<h:head>
		<title>TCT-project</title>
		<meta http-equiv="X-UA-Compatible" content="IE=9" />
		<ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
	  <script type="text/javascript">  
		 function inputBarcodeAuto()  
		 {
			 document.getElementById('BarcodeForm:barcodeInput').focus();  
		 }  
         </script> 
	</h:head>
	<h:body onload="inputBarcodeAuto()">  
            <div style="padding: 15px; border: 1px #000000 solid; -moz-border-radius:15px; -ms-border-radius:15px; -o-border-radius:15px; -webkit-border-radius:15px; border-radius:15px;" >
			<ice:outputLabel value="Worksheet"></ice:outputLabel>
			<h:form id="BarcodeForm">
			<table cellpadding="15px" width="100%">
				<tr>
					<td align="right"><ice:outputLabel
							value="Input worksheet code"></ice:outputLabel></td>
					<td colspan="3"> 
                                              <ice:inputText value="#{barcode.textSeach}"   id="barcodeInput" size="100"/> 
					</td>
				</tr>
				<tr>
					<td align="right" width="25%"><ice:outputLabel value="Process"></ice:outputLabel></td>
					<td width="25%"><ice:outputLabel value="#{barcode.nameProcess}" /></td>
					<td align="right" width="25%"><ice:outputLabel value="Status process"></ice:outputLabel></td>
					<td width="25%"><ice:outputLabel value="#{barcode.status}"/></td> 
                                        
				</tr>
			</table> 
			</h:form>
			<br />
			
			<!-- Form bottom -->
			<div
				style="padding: 15px; border: 1px #000000 solid; border-radius: 15px;">
				<ice:outputLabel value="Group"></ice:outputLabel>
				<br />
				<table width="100%"  >
					<tr>
						<td width="30%" valign="top">
							<table  cellpadding="15px">
								<tr>
									<td>  
									<ice:outputLabel value="Open process"></ice:outputLabel>	  
									</td>
									<td><ui:include src="/pages/screenUser/open.xhtml"></ui:include></td>
								</tr>
								<tr>
									<td>   
                                                                        <ice:outputLabel value="Close process"></ice:outputLabel></td>
									<td><ui:include src="/pages/screenUser/close.xhtml"></ui:include></td>
								</tr>
								<tr>
									<td><ice:outputLabel value="M/C Downtime"></ice:outputLabel></td>
									<td> 
									<h:form id="DowntimeForm" >
									  <ice:commandButton value="  M/C Downtime  " actionListener="#{downtimeProcess.openPopupType('mcDowntime')}" disabled="#{barcode.mcDownTimeButton}"></ice:commandButton> 
									  <ice:panelPopup modal="true"  rendered="#{downtimeProcess.downtimeProcessPopup}" visible="#{downtimeProcess.downtimeProcessPopup}" style="z-index:1001; width:650px;" autoCentre="true">
										<f:facet name="header">
											<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
                                                                                            <ice:outputText style="color: #000000; float:left;" value="M/C Downtime" />
                                                                                            <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupClose')}" title="Close this draggable popup" />
											</ice:panelGrid>
										</f:facet>
										<f:facet name="body">
											<table width="100%">
												<tr>
													<td><ice:outputLabel value="M/C name"></ice:outputLabel> </td>
													<td><ice:selectOneListbox></ice:selectOneListbox></td>
													<td></td>
												</tr>
												<tr>
													<td><ice:outputLabel value="Process"></ice:outputLabel> </td>
													<td><ice:selectOneListbox></ice:selectOneListbox> </td>
													<td></td>
												</tr>
												<tr>
													<td><ice:outputLabel value="Downtime"></ice:outputLabel> </td>
													<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
													<td></td>
												</tr>
												<tr>
													<td><ice:outputLabel value="reason"></ice:outputLabel> </td>
													<td><ice:selectOneListbox width="100%" size="1">
														<f:selectItems value="#{downtimeProcess.processSteplist}"></f:selectItems></ice:selectOneListbox> 
													</td>
													<td></td>
												</tr>
												<tr>
													<td><ice:outputLabel value="Form M/C WIP Qty"></ice:outputLabel> </td>
													<td><ice:inputText></ice:inputText> </td>
													<td></td>
												</tr> 
												<tr>
													<td colspan="2">
														<ice:outputLabel value="Remark"></ice:outputLabel>
														<br/>
														<ice:inputTextarea cols="100" rows="10"></ice:inputTextarea>
													</td>
													<td> 
														<ice:commandButton value="  Save  " actionListener="#{downtimeProcess.closePopup('downtimeProcessPopup')}"></ice:commandButton>
													</td>
												</tr> 
											</table>   
											</f:facet>
										</ice:panelPopup>  
									</h:form>
									 <h:form> 
									<ice:panelPopup visible="#{downtimeProcess.downtimeProcessPopupConfirm}"  rendered="#{downtimeProcess.downtimeProcessPopupConfirm}" style="z-index:1001; padding-top:15px; padding-bottom:15px;" modal="true" autoCentre="true">
										<f:facet name="body">
											<table>
												<tr>
													<td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process"></ice:outputLabel> </td>
												</tr>
												<tr>
													<td><ice:commandButton value="  Confirm  " actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupConfirmYes')}"></ice:commandButton> </td>
													<td><ice:commandButton value="  Cancel  "  actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupConfirmNo')}"></ice:commandButton> </td>
												</tr>
											 </table>
										</f:facet>
									</ice:panelPopup>
									</h:form>
									<!-- <h:form>
									<ice:panelPopup visible="#{downtimeProcess.downtimeProcessPopupConfirmYes}"  rendered="#{downtimeProcess.downtimeProcessPopupConfirmYes}" style="z-index:1001; width:650px;" modal="true" id="aaa" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process start already"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Confirm  " actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupConfirmYesClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup>
									</h:form>
									<h:form>
									<ice:panelPopup visible="#{downtimeProcess.downtimeProcessPopupConfirmNo}" rendered="#{downtimeProcess.downtimeProcessPopupConfirmNo}" style="z-index:1001; width:650px;" modal="true" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process cancel"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Cancel  " actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupConfirmNoClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup> 
									</h:form>   -->
									
									</td>
								</tr>
								<tr>
									<td><ice:outputLabel value="Hold process"></ice:outputLabel></td>
									<td><ui:include src="/pages/screenUser/hold.xhtml"></ui:include> </td>
								</tr>
                                                            <tr>
                                                                    <td><ice:outputLabel value="Stop dowmtime"></ice:outputLabel></td>
									<td>
									<h:form id="StopForm">
									<ice:commandButton value="  Stopdowntime  " actionListener="#{stopProcess.openPopupType('StopDowntime')}" disabled="#{barcode.stopTimeButton}"></ice:commandButton>  
									<ice:panelPopup visible="#{stopProcess.stopDowntimeProcessPopup}" rendered="#{stopProcess.stopDowntimeProcessPopup}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
									<f:facet name="header">
										<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
											<ice:outputText style="color: #000000; float:left;" value="Stop Downtime" />
											<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopupClose')}" title="Close this draggable popup" />
										</ice:panelGrid>
									</f:facet> 
									<f:facet name="body">
									 <table cellspacing="15">
							    	<tr>
							    		<td><ice:outputLabel value="M/C#"></ice:outputLabel> </td>
							    		<td><ice:selectOneListbox></ice:selectOneListbox> </td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td><ice:outputLabel value="Stop downtime"></ice:outputLabel> </td>
							    		<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td><ice:outputLabel value="Downtime reson"></ice:outputLabel> </td>
							    		<td>
							    			<ice:selectOneListbox width="100%" size="1">
												 <f:selectItems value="#{downtimeProcess.processSteplist}"></f:selectItems>
											 </ice:selectOneListbox> 
							    		</td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td colspan="2"><input type="checkbox"/><ice:outputLabel value="Status active"></ice:outputLabel></td> 
							    		<td></td>
							    	</tr>
							    	<tr>
								    		<td colspan="2">
								    		<ice:outputLabel value="Remark"></ice:outputLabel>
								    		<br/>
								    		<ice:inputTextarea cols="30" rows="10">
								    		</ice:inputTextarea>
								    		</td>
								    		<td align="right">
								    		<ice:commandButton value="   Stop downtime  "></ice:commandButton>
								    		<br/>
								    		<ice:commandButton value="  Save  " actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopup')}"></ice:commandButton>
								    		</td>
								    	</tr>
								    </table>
								</f:facet>
							</ice:panelPopup>   
							</h:form> 
									 </td>
                                                            </tr>
                                                            <tr>
                                                                   <td><ice:outputLabel value="Move M/C"></ice:outputLabel></td>
									<td> 
									 
									  <h:form id="MoveForm">
									<ice:commandButton value="  Move M/C  " actionListener="#{moveProcess.openPopupType('Movemc')}"  disabled="#{barcode.moveProcessButton}">
									</ice:commandButton>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopup}" rendered="#{moveProcess.moveProcessPopup}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
									         <f:facet name="header">
												<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
														<ice:outputText style="color: #000000; float:left;" value="Move M/C" />
														<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{moveProcess.closePopup('moveProcessPopupClose')}" title="Close this draggable popup" />
											</ice:panelGrid>
											</f:facet> 
											<f:facet name="body">
												 <table width="100%" cellspacing="15">
												 		<tr>
												 			<td width="20%"><ice:outputLabel value="barcode"></ice:outputLabel></td>
												 			<td width="50%"><ice:outputLabel value="#{barcode.textSeach}"/></td>
												 			<td width="30%"></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="process"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.nameProcess}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="status"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.status}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Form M/C"></ice:outputLabel> </td>
												 		    <td><ice:selectOneListbox></ice:selectOneListbox></td>
												 		    <td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="To M/C"></ice:outputLabel> </td>
												 			<td><ice:selectOneListbox></ice:selectOneListbox></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Start time"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
												 			<td align="right"><ice:commandButton value="  Start  " actionListener="#{moveProcess.closePopup('moveProcessPopup')}"></ice:commandButton> </td>
												 		</tr>
												 </table>
											</f:facet>
									    </ice:panelPopup>   
									</h:form> 	 
									<h:form> 
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirm}" rendered="#{moveProcess.moveProcessPopupConfirm}" style="z-index:1001; padding-top:15px; padding-bottom:15px;" modal="true" autoCentre="true">
										<f:facet name="body">
											<table cellspacing="15">
												<tr>
													<td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process"></ice:outputLabel> </td>
												</tr>
												<tr>
													<td><ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYes')}"></ice:commandButton> </td>
													<td><ice:commandButton value="  Cancel  "  actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNo')}"></ice:commandButton> </td>
												</tr>
											 </table>
										</f:facet>
									</ice:panelPopup>
									</h:form>
									<h:form>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirmYes}" rendered="#{moveProcess.moveProcessPopupConfirmYes}" style="z-index:1001; width:650px;" modal="true" id="aaa" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process start already"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYesClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup>
									</h:form>
									<h:form>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirmNo}" rendered="#{moveProcess.moveProcessPopupConfirmNo}" style="z-index:1001; width:650px;" modal="true" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process cancel"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Cancel  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNoClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup> 
									</h:form>    
								    </td> 
                                                            </tr> 
							</table>
						</td>
						 
						<td width="70%" valign="top"> 
                                                    <table cellpadding="15px" style="background:#FFFAAA;" width="100%">
                                                        <tr>
                                                            <td>
                                                                 <ice:form>
                                                                            <table border="0" width="100%">
                                                                                <tr>
                                                                                    <td align="right"><ice:outputLabel for="ordernumber"
                                                                                                                    value="Order No"></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="ordernumber"
                                                                                                       value="#{createworksheet.ordernumber}" disabled="true"/></td>
                                                                                    <td align="right"><ice:outputLabel for="invoicebrozeplateno"
                                                                                                                    value="Invoice Broze Plate No"></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="invoicebrozeplateno"
                                                                                                    value="#{createworksheet.invoicebroze}" disabled="true"/></td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right"><ice:outputLabel for="qtyframe"
                                                                                                                    value="Qty Frame" ></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="qtyframe"
                                                                                                    value="#{createworksheet.qtyframe}" disabled="true" /></td>
                                                                                    <td align="right"><ice:outputLabel for="typebobbin"
                                                                                                                    value="Type Bobbin" disabled="true"></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="typebobbin"
                                                                                                    value="#{createworksheet.typebobbin}"  disabled="true"/></td>
                                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right"><ice:outputLabel for="qtyroll"
                                                                                                                    value="Qty Roll"  ></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="qtyroll"
                                                                                                    value="#{createworksheet.qtyroll}" disabled="true"/></td>
                                                                                    <td align="right"><ice:outputLabel for="plant" value="Plant"></ice:outputLabel></td>
                                                                                    <td>
                                                                                        <ice:inputText id="plant" disabled="true" /> 
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right"><ice:outputLabel for="resinname"
                                                                                                                    value="Resin Name"></ice:outputLabel></td>
                                                                                    <td>
                                                                                       <ice:inputText id="resinname" disabled="true" /> 
                                                                                    </td>
                                                                                    <td align="right"><ice:outputLabel for="productcodename"
                                                                                                                    value="Product Code Name"></ice:outputLabel></td>
                                                                                    <td>
                                                                                         <ice:inputText id="productcodename" disabled="true" />  
                                                                                    </td>
                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right"><ice:outputLabel for="resintype"
                                                                                                                    value="Resin Type"></ice:outputLabel></td>
                                                                                    <td>
                                                                                          <ice:inputText id="resintype" disabled="true" />   
                                                                                    </td>
                                                                                    <td align="right"><ice:outputLabel for="productcode"
                                                                                                                    value="Product Code"></ice:outputLabel></td>
                                                                                    <td><ice:inputText id="productcode" readonly="true"
                                                                                                    value="#{createworksheet.productcode}" disabled="true" /></td>
                                                                                                    <td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right">
                                                                                        <ice:outputLabel for="producttype"
                                                                                                                    value="Product Type"></ice:outputLabel>
                                                                                    </td>
                                                                                    <td>
                                                                                        <ice:inputText id="producttype" disabled="true" />  
                                                                                    </td>
                                                                                    <td align="right">
                                                                                        <ice:outputLabel for="model" value="Model"/>
                                                                                    </td>
                                                                                    <td>
                                                                                        <input   type="text"  value ="#{barcode.modelDetials}" id="model" readonly="true" />   
                                                                                    </td><td></td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td align="right">
                                                                                        <ice:outputLabel for="Series" value="Series"/></td>
                                                                                    <td>
                                                                                        <ice:inputText id="Series" disabled="true" />  
                                                                                    </td> 
                                                                                </tr>
                                                                            </table>
                                                                        </ice:form> 
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                                <td> 
                                                                <ice:panelSeries var="detailprocess"
                                                                                    value="#{createworksheet.detailprocess}">
                                                                        <ice:panelGrid>
                                                                            <ice:outputLabel />
                                                                            <br />
                                                                        </ice:panelGrid>
                                                                        <ice:panelGrid columns="6" width="100%" border="0" cellpadding="0"
                                                                                    cellspacing="0">
                                                                            <ice:outputLabel for="process" value="Process#" />
                                                                            <ice:outputText id="process" value="#{detailprocess.processnumber}" />
                                                                            <ice:outputLabel for="processname" value="Process name" />
                                                                            <ice:outputText id="processname"
                                                                                            value="#{detailprocess.processname}" />

                                                                            <ice:outputText value=" " />
                                                                            <ice:outputLink>
                                                                                <ice:outputText value="NG detail" />
                                                                            </ice:outputLink>

                                                                            <ice:outputLabel for="startdate" value="Start" />
                                                                            <ice:outputText id="startdate" value="#{detailprocess.startdate}" />
                                                                            <ice:outputLabel for="shift" value="Shift" />
                                                                            <ice:outputText id="shift" value="#{detailprocess.shift}" />
                                                                            <ice:outputLabel for="employeeno" value="Employee no" />
                                                                            <ice:outputText id="employeeno" value="#{detailprocess.employeeno}" /> 
                                                                            <ice:outputLabel for="finishdate" value="Finish" />
                                                                            <ice:outputText id="finishdate" value="#{detailprocess.finishdate}" />
                                                                            <ice:outputLabel for="inputqty" value="Input QTY"></ice:outputLabel>
                                                                            <ice:outputText id="inputqty" value="#{detailprocess.inputqty}" />
                                                                            <ice:outputLabel for="" value=" " />
                                                                            <ice:outputText value=" " />
                                                                            <ice:outputLabel for="starthold" value="Start hold" />
                                                                            <ice:outputText id="starthold" value="#{detailprocess.startdate}" />
                                                                            <ice:outputLabel for="outputqty" value="Output QTY" />
                                                                            <ice:outputText id="outputqty" value="#{detailprocess.outputqty}" />
                                                                            <ice:outputLabel for="" value=" " />
                                                                            <ice:outputText value=" " />
                                                                            <ice:outputLabel for="stophold" value="Stop hold" />
                                                                            <ice:outputText id="stophold" value="#{detailprocess.stophold}" />
                                                                            <ice:outputLabel for="ngqty" value="NG QTY" />
                                                                            <ice:outputText id="ngqty" value="#{detailprocess.ngqty}" />
                                                                            <ice:outputLabel for="" value=" " />
                                                                            <ice:outputText value=" " />
                                                                            <ice:outputLabel for="mc" value="MC#" />
                                                                            <ice:outputText id="mc" value="#{detailprocess.mc}" />
                                                                            <ice:outputLabel for="ordernumber" value="Order No" />
                                                                            <ice:outputText id="ordernumber"
                                                                                            value="#{detailprocess.ordernumber}" />
                                                                            <ice:outputLabel for="" value=" " />
                                                                            <ice:outputText value=" " />
                                                                        </ice:panelGrid>
                                                                    </ice:panelSeries> 
                                                                </td> 
                                                            </tr>
								<tr>
									<td><!--- <ice:outputLabel value="Stop dowmtime"></ice:outputLabel> --></td>
									<td>
                                                                            <!--
									<h:form id="StopForm">
									<ice:commandButton value="  Stopdowntime  " actionListener="#{stopProcess.openPopupType('StopDowntime')}" disabled="#{barcode.stopTimeButton}"></ice:commandButton>  
									<ice:panelPopup visible="#{stopProcess.stopDowntimeProcessPopup}" rendered="#{stopProcess.stopDowntimeProcessPopup}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
									<f:facet name="header">
										<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
											<ice:outputText style="color: #000000; float:left;" value="Stop Downtime" />
											<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopupClose')}" title="Close this draggable popup" />
										</ice:panelGrid>
									</f:facet> 
									<f:facet name="body">
									 <table cellspacing="15">
							    	<tr>
							    		<td><ice:outputLabel value="M/C#"></ice:outputLabel> </td>
							    		<td><ice:selectOneListbox></ice:selectOneListbox> </td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td><ice:outputLabel value="Stop downtime"></ice:outputLabel> </td>
							    		<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td><ice:outputLabel value="Downtime reson"></ice:outputLabel> </td>
							    		<td>
							    			<ice:selectOneListbox width="100%" size="1">
												 <f:selectItems value="#{downtimeProcess.processSteplist}"></f:selectItems>
											 </ice:selectOneListbox> 
							    		</td>
							    		<td></td>
							    	</tr>
							    	<tr>
							    		<td colspan="2"><input type="checkbox"/><ice:outputLabel value="Status active"></ice:outputLabel></td> 
							    		<td></td>
							    	</tr>
							    	<tr>
								    		<td colspan="2">
								    		<ice:outputLabel value="Remark"></ice:outputLabel>
								    		<br/>
								    		<ice:inputTextarea cols="30" rows="10">
								    		</ice:inputTextarea>
								    		</td>
								    		<td align="right">
								    		<ice:commandButton value="   Stop downtime  "></ice:commandButton>
								    		<br/>
								    		<ice:commandButton value="  Save  " actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopup')}"></ice:commandButton>
								    		</td>
								    	</tr>
								    </table>
								</f:facet>
							</ice:panelPopup>   
							</h:form> -->
									 </td>
								</tr>
								<tr>
									<td><!-- <ice:outputLabel value="Move M/C"></ice:outputLabel>--></td>
									<td> 
									 
									 <!-- <h:form id="MoveForm">
									<ice:commandButton value="  Move M/C  " actionListener="#{moveProcess.openPopupType('Movemc')}"  disabled="#{barcode.moveProcessButton}">
									</ice:commandButton>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopup}" rendered="#{moveProcess.moveProcessPopup}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
									         <f:facet name="header">
												<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
														<ice:outputText style="color: #000000; float:left;" value="Move M/C" />
														<ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{moveProcess.closePopup('moveProcessPopupClose')}" title="Close this draggable popup" />
											</ice:panelGrid>
											</f:facet> 
											<f:facet name="body">
												 <table width="100%" cellspacing="15">
												 		<tr>
												 			<td width="20%"><ice:outputLabel value="barcode"></ice:outputLabel></td>
												 			<td width="50%"><ice:outputLabel value="#{barcode.textSeach}"/></td>
												 			<td width="30%"></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="process"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.nameProcess}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="status"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{barcode.status}"/></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Form M/C"></ice:outputLabel> </td>
												 		    <td><ice:selectOneListbox></ice:selectOneListbox></td>
												 		    <td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="To M/C"></ice:outputLabel> </td>
												 			<td><ice:selectOneListbox></ice:selectOneListbox></td>
												 			<td></td>
												 		</tr>
												 		<tr>
												 			<td><ice:outputLabel value="Start time"></ice:outputLabel> </td>
												 			<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
												 			<td align="right"><ice:commandButton value="  Start  " actionListener="#{moveProcess.closePopup('moveProcessPopup')}"></ice:commandButton> </td>
												 		</tr>
												 </table>
											</f:facet>
									    </ice:panelPopup>   
									</h:form> 	 
									<h:form> 
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirm}" rendered="#{moveProcess.moveProcessPopupConfirm}" style="z-index:1001; padding-top:15px; padding-bottom:15px;" modal="true" autoCentre="true">
										<f:facet name="body">
											<table cellspacing="15">
												<tr>
													<td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process"></ice:outputLabel> </td>
												</tr>
												<tr>
													<td><ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYes')}"></ice:commandButton> </td>
													<td><ice:commandButton value="  Cancel  "  actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNo')}"></ice:commandButton> </td>
												</tr>
											 </table>
										</f:facet>
									</ice:panelPopup>
									</h:form>
									<h:form>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirmYes}" rendered="#{moveProcess.moveProcessPopupConfirmYes}" style="z-index:1001; width:650px;" modal="true" id="aaa" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process start already"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYesClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup>
									</h:form>
									<h:form>
									<ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirmNo}" rendered="#{moveProcess.moveProcessPopupConfirmNo}" style="z-index:1001; width:650px;" modal="true" autoCentre="true"> 
										<f:facet name="body">
											<ice:outputLabel value="Process cancel"></ice:outputLabel>
											<br/>
											<ice:commandButton value="  Cancel  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNoClose')}"></ice:commandButton> 
											</f:facet>
									</ice:panelPopup> 
									</h:form>    -->
								    </td>
						        </tr>
							</table> 
						</td>
					</tr>
				</table>
			</div> 
		</div> 	 
	</h:body>
</f:view>
</html>
