<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body> 
    <div style="padding:15px; border:1px #000000 solid; border-radius:15px;">
    <ice:outputLabel value="M/C downtime">
    </ice:outputLabel>
    <br/>
    <table>
    	<tr>
    		<td><ice:outputLabel value="M/C#"></ice:outputLabel> </td>
    		<td><ice:selectOneListbox></ice:selectOneListbox> </td>
    		<td></td>
    	</tr>
    	<tr>
    		<td><ice:outputLabel value="Stop downtime"></ice:outputLabel> </td>
    		<td><ice:outputLabel value="01:00:00"></ice:outputLabel></td>
    		<td></td>
    	</tr>
    	<tr>
    		<td><ice:outputLabel value="Downtime reson"></ice:outputLabel> </td>
    		<td><ice:outputLabel value="01:00:00"></ice:outputLabel></td>
    		<td></td>
    	</tr>
    	<tr>
    		<td colspan="2"><input type="checkbox"><ice:outputLabel value="Status active"></ice:outputLabel> </input></td> 
    		<td></td>
    	</tr>
    	<tr>
    		<td colspan="2">
    		<ice:outputLabel value="Remark"></ice:outputLabel>
    		<br/>
    		<ice:inputTextarea cols="30" rows="10">
    		</ice:inputTextarea>
    		</td>
    		<td>
    		<ice:commandButton value="   Stop downtime  "></ice:commandButton>
    		<br/>
    		<ice:commandButton value="  Save  "></ice:commandButton>
    		</td>
    	</tr>
    </table>
    </div>
    </h:body>
</html>
