<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
        <!--link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/--> 
    </h:head>
    <h:body>
     	<h:form id="StopForm">
			<ice:commandButton value="  Stopdowntime  " actionListener="#{popupBean.openPopupType('StopDowntime')}"></ice:commandButton>  
			<ice:panelPopup visible="#{popupBean.x5}" style="z-index:1001; width:650px;" modal="true" autoCentre="true">  
			<f:facet name="header">
				<ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
					<ice:outputText style="color: #000000;" value="Move M/C" />
					<ice:commandButton image="#{resource['images:close.png']}" actionListener="#{popupBean.closePopup('x5')}" title="Close this draggable popup" />
				</ice:panelGrid>
			</f:facet> 
			<f:facet name="body">
			<table>
				<tr>
					<td><ice:outputLabel value="barcode"></ice:outputLabel></td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><ice:outputLabel value="process"></ice:outputLabel> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><ice:outputLabel value="status"></ice:outputLabel> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><ice:outputLabel value="Form M/C"></ice:outputLabel> </td>
					<td></td>
					<td></td>
				</tr>
				<tr>
					<td><ice:outputLabel value="To M/C"></ice:outputLabel> </td>
					<td><ice:selectOneListbox></ice:selectOneListbox> </td>
					<td></td>
				</tr>
				<tr>
					<td><ice:outputLabel value="Start time"></ice:outputLabel> </td>
					<td><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel> </td>
					<td><ice:commandButton value="  Start  "></ice:commandButton> </td>
				</tr>
			</table>
		</f:facet>
	</ice:panelPopup>   
	</h:form> 
    </h:body>
</html>
