<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:c="http://java.sun.com/jsp/jstl/core">
    <f:view>
        <h:head>
            <title>TCT-project</title>
            <meta http-equiv="X-UA-Compatible" content="IE=9" />          
            <ice:outputStyle href="../../../xmlhttp/css/rime/rime.css" />
            <link type="text/css" href="../../css/user_layout.css"  rel="stylesheet" media="all" />
            <script type="text/javascript">  
                function inputBarcodeAuto()  
                {
                    document.getElementById('BarcodeForm:barcodeInput').focus();  
                }  
            </script> 
        </h:head>
        <h:body onload="inputBarcodeAuto()">  
            <div id="head_site">
                <div id="logo_home">
                    <a id="logo" href="#" title="TCT MRP">TCT Production Management</a>			
                </div>
                <div id="account_top_site">

                </div>
            </div><!--head_site -->
            <div id="input_barcode">
                <div id="scan_barcode">
                    <h:form id="BarcodeForm">
                        <ice:inputText value="#{barcode.textSeach}"   id="barcodeInput" size="100" />
                        <br/>
                        <ice:outputLabel value="#{barcode.textProcess}"  ></ice:outputLabel>
                    </h:form>
                </div>
            </div><!-- input_barcode -->
            <div id="menu_process">  
                <p><ui:include src="/pages/screenUser/open.xhtml"></ui:include></p>
                <p><ui:include src="/pages/screenUser/close.xhtml"></ui:include></p>
                <p>
                    <h:form id="DowntimeForm" >
                        <ice:commandButton value="  M/C Downtime  "   actionListener="#{downtimeProcess.openPopupType('mcDowntime')}"  styleClass="#{barcode.mcDownTimeButtonShow}"></ice:commandButton> 
                        <ice:panelPopup modal="true"  rendered="#{downtimeProcess.downtimeProcessPopup}" visible="#{downtimeProcess.downtimeProcessPopup}" style="z-index:1001; width:650px; top: 0px;">
                            <f:facet name="header" >
                                <ice:panelGrid styleClass="popup_head" width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="M/C Downtime" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{downtimeProcess.closePopup('downtimeProcessPopupClose')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>
                            <f:facet name="body">
                                <!-- M/C Downtime -->  
                                <div class="popup_content">
                                    <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0"> 
                                        <tr>
                                            <td class="poptdx_lable" width="28%">M/C name :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{downtimeProcess.nameMcDown}"></ice:outputLabel>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="poptd_lable" width="28%">Process :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{barcode.nameProcess}"></ice:outputLabel></td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Downtime : </td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
                                        </tr> 
                                        <tr>
                                            <td class="poptd_lable" width="28%">Reason :</td>
                                            <td class="poptd" width="72%"> 
                                                <ice:selectOneMenu partialSubmit="true" id="reason" required="true"
                                                                   value="#{downtimeProcess.reasonSelectOne}"
                                                                   valueChangeListener="#{downtimeProcess.ChangeDowntimeValue}"> 
                                                    <f:selectItems value="#{downtimeProcess.processSteplist}" />
                                                </ice:selectOneMenu>  
                                                <ice:outputLabel value="#{downtimeProcess.validateReason}" style="color:red;"/>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">M/C WIP Qty :</td>
                                            <td class="poptd" width="72%">
                                                <ice:inputText value="#{downtimeProcess.qtyWip}">
                                                    <f:convertNumber integerOnly="true"/>
                                                </ice:inputText><ice:outputLabel style="color:red;" value="#{downtimeProcess.validateMcWipQty}"/></td>
                                        </tr> 
                                        <tr>
                                            <td class="poptd_lable" width="28%">Remark :</td>
                                            <td class="poptd" width="72%"><ice:inputTextarea value="#{downtimeProcess.remark}" cols="40" rows="3" ></ice:inputTextarea></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="popup_button"> <ice:commandButton value="           Save            " actionListener="#{downtimeProcess.closePopup('downtimeProcessPopup')}"></ice:commandButton>
                                </div>  
                            </f:facet>
                        </ice:panelPopup>
                    </h:form>   
                </p>
                <p><ui:include src="/pages/screenUser/hold.xhtml"></ui:include></p>
                <p>
                    <h:form id="StopForm">
                        <ice:commandButton value="  Close downtime  " actionListener="#{stopProcess.openPopupType('StopDowntime')}"  styleClass="#{barcode.stopTimeButtonShow}"></ice:commandButton>  
                        <ice:panelPopup  styleClass="popup_site" visible="#{stopProcess.stopDowntimeProcessPopup}" rendered="#{stopProcess.stopDowntimeProcessPopup}" style="z-index:1001; width:650px; top:0px;" modal="true">  
                            <f:facet name="header"  >
                                <ice:panelGrid  styleClass="popup_head" width="650px"  cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="Stop Downtime" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopupClose')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet> 
                            <f:facet name="body">   
                                <div class="popup_content">
                                    <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr >
                                            <td class="poptd_lable" width="28%" >M/C# :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{stopProcess.mcName}" /></td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Start downtime :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{stopProcess.startdowntime}"></ice:outputLabel></td>
                                        </tr> 
                                        <tr>
                                            <td class="poptd_lable" width="28%">Stop downtime :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
                                        </tr>
                                         
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Downtime reson  : </td>
                                            <td class="poptd" width="72%">
                                                <ice:selectOneListbox required="true" partialSubmit="true" width="100%" size="1" value="#{stopProcess.resonUse}" valueChangeListener="#{stopProcess.ChangeStopTimeReason}">
                                                    <f:selectItems value="#{stopProcess.stopTimeReason}"></f:selectItems>
                                                </ice:selectOneListbox> 
                                                <ice:outputLabel style="color:red;" value="#{stopProcess.validateDowntimeReason}"/>
                                            </td>
                                        </tr>  
                                        <tr>
                                            <td class="poptd_lable" width="28%">Remark :</td>
                                            <td class="poptd" width="72%">
                                                <ice:inputTextarea cols="40" rows="3" value="#{stopProcess.remark}">
                                                </ice:inputTextarea>
                                            </td>
                                        </tr>
                                    </table>

                                    <div class="popup_button">
                                        <ice:commandButton value="               Save               " actionListener="#{stopProcess.closePopup('stopDowntimeProcessPopup')}"></ice:commandButton>
                                    </div>
                                </div> 
                            </f:facet>
                        </ice:panelPopup>   
                    </h:form>  
                </p>
                <p>
                    <h:form id="MoveForm">
                        <ice:commandButton value="  Move M/C  " actionListener="#{moveProcess.openPopupType('Movemc')}" styleClass="#{barcode.moveProcessButtonShow}">
                        </ice:commandButton>
                        <ice:panelPopup  styleClass="popup_site" visible="#{moveProcess.moveProcessPopup}" rendered="#{moveProcess.moveProcessPopup}" style="z-index:1001; width:650px; top:0px;" modal="true">  
                            <f:facet name="header">
                                <ice:panelGrid  styleClass="popup_head" width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="Move M/C" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{moveProcess.closePopup('moveProcessPopupClose')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet> 
                            <f:facet name="body">
                                <div class="popup_content">
                                    <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr >
                                            <td class="poptd_lable" width="28%" >barcode :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{barcode.textProcess}"/></td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Process  :</td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{barcode.nameProcess}"/></td>
                                        </tr>
                                        <tr>
                                            <td class="poptd_lable" width="28%">Status  : </td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{barcode.status}"/></td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Form M/C  : </td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{moveProcess.mcName}" /></td>
                                        </tr>
                                        <tr>
                                            <td class="poptd_lable" width="28%">To M/C  :</td>
                                            <td class="poptd" width="72%">
                                                <ice:selectOneMenu required="true" partialSubmit="true" value="#{moveProcess.mcNameUse}" valueChangeListener="#{moveProcess.ChangNameValue}"> 
                                                    <f:selectItems value="#{moveProcess.selectMcGood}"></f:selectItems>
                                                </ice:selectOneMenu><ice:outputLabel value="#{moveProcess.validateSelectMc}" style="color:red;"/>
                                            </td>
                                        </tr>   
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Start time : </td>
                                            <td class="poptd" width="72%"><ice:outputLabel value="#{timeCurrent.date}"></ice:outputLabel></td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="popup_button"><ice:commandButton value="            Start          " actionListener="#{moveProcess.closePopup('moveProcessPopup')}"></ice:commandButton> </div>
                            </f:facet>
                        </ice:panelPopup>   
                    </h:form> 	 
                    <h:form> 
                        <ice:panelPopup visible="#{moveProcess.moveProcessPopupConfirm}" rendered="#{moveProcess.moveProcessPopupConfirm}" style="z-index:1001; padding-top:15px; padding-bottom:15px; top:0 px;" modal="true">
                            <f:facet name="body">
                                <table cellspacing="15" style="450px">
                                    <tr>
                                        <td align="center" colspan="2"><ice:outputLabel value="Confirm to Start process"></ice:outputLabel> </td>
                                    </tr>
                                    <tr>
                                        <td><ice:commandButton value="  Confirm  " actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmYes')}"></ice:commandButton> </td>
                                        <td><ice:commandButton value="  Cancel  "  actionListener="#{moveProcess.closePopup('moveProcessPopupConfirmNo')}"></ice:commandButton> </td>
                                    </tr>
                                </table>
                            </f:facet>
                        </ice:panelPopup>
                    </h:form> 
                </p>   
                <p>
                    <h:form> <ice:commandButton  value="QA" actionListener="#{barcode.popupQa('open')}" styleClass="#{barcode.qaProcessButtonShow}"/> 
                        <ice:panelPopup modal="true" styleClass="popup_site" rendered="#{barcode.showQaPopup}"   style="z-index:1001; width:650px; top:0px;">
                            <f:facet name="header">
                                <ice:panelGrid styleClass="popup_head" columns="2" width="650px">
                                    <ice:outputText value="QA sampling" style="float:left;"/>
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{barcode.popupQa('CloseQa')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>
                            <f:facet name="body">
                                <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td class="poptd_lable" width="28%" >WIP qty : </td>
                                        <td class="poptd" width="72%" ><ice:outputText  value="#{barcode.qaOutPutQty}"/></td>
                                    </tr>
                                    <tr>
                                        <td class="poptdx_lable" width="28%" >Input qty : </td>
                                        <td class="poptd" width="72%">
                                            <ice:inputText  value="#{barcode.inputQtyQa}" partialSubmit="true"> 
                                            </ice:inputText>    
                                            <ice:outputText value="#{barcode.validateQaInput}" style="color:red;"/>
                                        </td> 
                                    </tr> 
                                    <tr>
                                        <td colspan="2">

                                            <table cellpadding="10" style="padding-bottom: 15px; padding-top: 15px; padding-left: 15px;" >
                                                <tr>
                                                    <td><img src="../../../images/barcode/1d/#{barcode.qaBarcodeLink}" width="150" height="20" /></td>
                                                    <td><img src="../../../images/barcode/2d/#{barcode.qaBarcodeLink}" width="100" height="100" /></td>
                                                </tr>  
                                            </table>

                                        </td>
                                    </tr>
                                </table>     
                                <div class="popup_button"><ice:commandButton  value="            Save          " actionListener="#{barcode.saveQaSample}" ></ice:commandButton> </div>
                            </f:facet>
                        </ice:panelPopup>
                    </h:form>
                </p>
            </div>         
            <div id="main_site"> 
                <div id="current_process">Current Process
                    <div id="current_process_lable"><h:outputLabel value="#{barcode.nameProcess}" /></div>
                </div>
                <div id="status_process">Status
                    <div  id="status_process_lable"><h:outputLabel value="#{barcode.status}"/></div>
                </div>
                <table width="100%" height="1" ><tr><td></td></tr></table>

                <!-- Detail Worksheet -->
                <h2 class="lable_line">#{barcode.nameWorkSheet}</h2> 
                <div  class="content_line">
                     <table class="xxtable" width="100%" border="0" cellspacing="1" cellpadding="0">
                        <tr>
                            <td class="xxtd_lable" width="18%">Order No. : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.orderNo}"/></td>
                            <td class="xxtd_lable" width="18%">Product type : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.productType}"/></td>
                        </tr>
                        <tr>
                            <td class="xxtd_lable" width="18%">Product code name : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.productCodeName}"/> </td>
                            <td class="xxtd_lable" width="18%">Product code : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.productCode}"/></td>
                        </tr>
                        <tr>
                            <td class="xxtd_lable" width="18%">Model : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.model}"/></td>
                            <td class="xxtd_lable" width="18%">Series : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.seriee}"/></td>
                        </tr>
                        <tr>
                            <td class="xxtd_lable" width="18%">Product qty : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.productQty}"/></td>
                            <td class="xxtd_lable" width="18%">Lot control qty : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.lotControlQty}"/></td>
                        </tr>
<!--                        <tr>
                            <td class="xxtd_lable" width="18%">Inv.Bronze : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.invBronze}"/></td>
                            <td class="xxtd_lable" width="18%">Inv.Bobbin : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.invBobbin}" /></td>
                        <tr>-->
                        <tr>   
                            <td class="xxtd_lable" width="18%">Plant</td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.plant}"/></td>
                             <td class="xxtd_lable" width="18%">Order type : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.orderType}"/></td>
<!--                            <td class="xxtd_lable" width="18%">Planting date: </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.plantingDate}"/></td>-->
                        </tr>
<!--                        <tr>
                            <td class="xxtd_lable" width="18%">Injection date : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.injectDate}"/></td>
                            <td class="xxtd_lable" width="18%">Assy date</td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.assyDate}"/></td>
                        </tr>-->
                        <tr>
<!--                            <td class="xxtd_lable" width="18%">Order type : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.orderType}"/></td>-->
                            <td class="xxtd_lable" width="18%">Remarks : </td>
                            <td class="xxtd" width="32%"><ice:outputText value="#{barcode.currentMasterDefaultData.remarks}"/></td>
                            <td  width="18%"></td>
                            <td class="xxtd" width="32%"></td>
                        </tr>
                    </table>
                </div> 
                <!-- Process Status -->  
                <h2 class="lable_line">Process Status (#{barcode.countProcessdStatus}) </h2>
                <div  class="content_line">  
                    <div class="content_process">

                        <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="process_lable" width="10%" >Process</td>
                                <td class="process_lable" width="4%" > Shift </td>
                                <td class="process_lable" width="12%" > M/C </td>
                                <td class="process_lable" width="12%" > Start <br />Date/Time </td>
                                <td class="process_lable" width="12%" > Finish <br /> Date/Time </td>
                                <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                <td class="process_lable" width="5%" > Input </td>
                                <td class="process_lable" width="5%" > NG </td>
                                <td class="process_lable" width="5%" > Repair </td>
                                <td class="process_lable" width="5%" > Output </td>	
                                <td class="process_lable" width="5%" > %NG </td>
                                <td class="process_lable" width="5%" > %Repair </td>
                                <td class="process_lable" width="5%"> Tact Time</td>
                                <td class="process_lable" width="5%"> Yield</td>
                            </tr>
                        </table>        
                        <ice:panelSeries var="process" value="#{barcode.processListData}">              
                            <ice:form>
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="#{process.cssCurrentStatusProcess}" width="10%" align="center"><b>#{process.name}</b></td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="4%" align="center">#{process.shift}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="12%" align="center">#{process.mcName}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="12%" align="center">#{process.startTime}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="12%" align="center">#{process.finishTime}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">-</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">-</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.inputQty}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right"><ice:commandLink value="#{process.ngQty}" style="color:blue;" actionListener="#{viewNgAll.viewNgNormal(process.index)}"/></td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right"><ice:commandLink value="#{process.ngRepair}"  style="color:blue;" actionListener="#{viewNgAll.viewNgRepair(process.index)}"/></td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.ouPutQty}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.percentNgNormal}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.percentNgRepair}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.tactTime}</td>
                                        <td class="#{process.cssCurrentStatusProcess}" width="5%" align="right">#{process.yield}</td>
                                    </tr>
                                </table>  
                            </ice:form>
                        </ice:panelSeries> 
                        <!--   </table> -->
                    </div>             
                    <!--    </div>      -->      
                    <h:form>         
                        <ice:panelPopup  styleClass="tb_ng_site" rendered="#{viewNgAll.viewDetail}" modal="true"    style="z-index:1001; width:650px; top: 0px;" >
                            <f:facet name="header"> 
                                <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" styleClass="ng_head" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="NG Detail" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{viewNgAll.closeDetialPopup()}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>  
                            <f:facet name="body">
                                <div class="tb_ng_site">
                                    <div class="tb_ng_content">
                                        <ice:dataTable var="showNgNormalList" value="#{viewNgAll.dataListngNormal}" style="width:100%">
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputText value="Type NgQty" />
                                                </f:facet>
                                                <ice:outputLabel value="#{showNgNormalList.name}"/>
                                            </ice:column>
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputText value="NG Qty" />
                                                </f:facet>
                                                <ice:outputLabel value="#{showNgNormalList.qty}"/>
                                            </ice:column>
                                        </ice:dataTable>
                                    </div> 
                                </div>
                                <div class="popup_button">   
                                    <ice:commandButton actionListener="#{viewNgAll.closeDetialPopup()}" value="        Cancel       "    />
                                </div>
                            </f:facet>
                        </ice:panelPopup>      
                    </h:form>        
                    <h:form>         
                        <ice:panelPopup  styleClass="tb_ng_site" rendered="#{viewNgAll.viewDetailNgRepairPopup}" modal="true"     style="z-index:1001; width:650px; top: 0px;" >
                            <f:facet name="header"> 
                                <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" styleClass="ng_head" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="NG Repair Detail" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{viewNgAll.closeDetialPopup()}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>  
                            <f:facet name="body">  
                                <div class="tb_ng_site">
                                    <div class="tb_ng_content">
                                        <ice:dataTable var="showNgRepairList" value="#{viewNgAll.dataListNgRepair}" style="width:100%">
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputText value="Type NgRepair Qty" />
                                                </f:facet>
                                                <ice:outputLabel value="#{showNgRepairList.name}"/>
                                            </ice:column>
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputText value="NGRepair Qty" />
                                                </f:facet>
                                                <ice:outputLabel value="#{showNgRepairList.qty}"/>
                                            </ice:column>
                                        </ice:dataTable>
                                    </div>
                                </div>     
                                <div class="popup_button">   
                                    <ice:commandButton actionListener="#{viewNgAll.editNgRepair()}" value="        Edit NgRepair       "  visible="#{viewNgAll.editNgRepairButton}" />
                                </div>
                            </f:facet>
                        </ice:panelPopup>      
                    </h:form>        
                    <h:form>
                        <ice:panelPopup rendered="#{viewNgAll.editNgrepairBooleanPopup}" modal="true"     style="z-index:1001; width:650px; top: 0px;">
                            <f:facet name="header">   
                                <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;" styleClass="popup_head">
                                    <ice:outputText  styleClass="popup_head"  value="Edit NgRepair"/>
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{viewNgAll.closeDetialPopup()}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>
                            <f:facet name="body">  
                                <div class="popup_content">
                                    <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                        <tr>
                                            <td class="poptd_lable" width="28%">Input ngQty </td>
                                            <td class="poptd" width="78%">
                                                <table>
                                                    <tr>
                                                        <td width="180px;"><ice:inputText value="#{viewNgAll.ngQty}" partialSubmit="true" /></td>
                                                        <td><ice:commandButton value="      Input ngQty    " visible="#{viewNgAll.inputNgQtyButton}" actionListener="#{viewNgAll.openPopup('inputNgQty')}"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="2"><ice:outputLabel value="#{viewNgAll.validateNgQty}" style="color:red;"/></td>
                                                    </tr>
                                                </table>   

                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="poptdx_lable" width="28%">Input ngRepair</td>
                                            <td class="poptd" width="78%">
                                                <table>
                                                    <tr>
                                                        <td width="180px;" > <ice:outputLabel value="#{viewNgAll.ngRepairQty}" /></td>
                                                        <td> <ice:commandButton value="  Input Ng Repair  "  visible="#{viewNgAll.inputNgRepaitButton}" actionListener="#{viewNgAll.openPopup('inputRepairQty')}"/> </td>
                                                    </tr>   
                                                    <tr>
                                                        <td  colspan="2"><ice:outputLabel value="#{viewNgAll.validateNgRepaitQty}" style="color:red;"/></td>
                                                    </tr>
                                                </table>    
                                            </td>
                                        </tr>   
                                        <tr>
                                            <td class="poptd_lable" width="28%">Output</td>
                                            <td class="poptd" width="78%">
                                                <table>
                                                    <tr>
                                                        <td><ice:inputText value="#{viewNgAll.outputQty}" partialSubmit="true"/></td>
                                                    </tr>   
                                                    <tr>
                                                        <td><ice:outputLabel value="#{viewNgAll.validateOutput}" style="color:red;" /></td>
                                                    </tr>
                                                </table> 
                                            </td>
                                        </tr>   
                                    </table>
                                </div>     
                                <div class="popup_button"> 
                                    <ice:commandButton value="   Comfirm    " visible="#{viewNgAll.showConfirm}"  actionListener="#{viewNgAll.openPopup('confirmEdit')}" />
                                </div>
                            </f:facet>    
                        </ice:panelPopup>    
                    </h:form> 
                    <h:form>
                        <ice:panelPopup rendered="#{viewNgAll.confirmEdit}" modal="true">
                            <f:facet name="body">
                                <table>
                                    <tr>
                                        <td colspan="2">Confirm edit Ng Repair ?</td>
                                    </tr>
                                    <tr>
                                        <td><ice:commandButton value="    Cofirm    " actionListener="#{viewNgAll.closePopup('confirmYes')}" /> </td>
                                        <td><ice:commandButton value="    Cancel    " actionListener="#{viewNgAll.closePopup('confirmNo')}" /></td>
                                    </tr>
                                </table> 
                            </f:facet>
                        </ice:panelPopup>

                    </h:form>
                    <h:form>
                        <ice:panelPopup rendered="#{viewNgAll.inputQtyPopup}" modal="true"  styleClass="tb_ng_site"    style="z-index:1001; width:650px; top: 0px;">
                            <f:facet name="header">
                                <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" styleClass="ng_head" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="NG Detail" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{viewNgAll.closePopup('inputNgQty')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>
                            <f:facet name="body">  
                                <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td style="width:30%;"><ice:outputLabel value="Total Ng "/></td>
                                        <td style="width:70%;"><ice:outputLabel value="#{viewNgAll.ngQty}"/> </td>
                                    </tr>
                                    <tr>
                                        <td><ice:outputLabel value="NG Left"/></td>
                                        <td><ice:inputText   readonly="true" value="#{viewNgAll.viewNgleft}"/><ice:outputLabel value="#{viewNgAll.viewValidateNgLeft}" style="color:red;"/></td>
                                    </tr>
                                </table>   
                                <div class="tb_ng_site"> 
                                    <div class="tb_ng_content">    
                                        <ice:dataTable style="width:100%" var="ngNormalViewEdit" value="#{viewNgAll.ngNormalList}">
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputLabel value="Ng Type" />
                                                </f:facet>  
                                                <ice:outputLabel value="#{ngNormalViewEdit.ngname}"/> 
                                            </ice:column>
                                            <ice:column style="width:50%;">
                                                <f:facet name="header">
                                                    <ice:outputLabel value="Ng Qty" />
                                                </f:facet> 
                                                <table>
                                                    <tr>
                                                        <td> <ice:inputText value="#{ngNormalViewEdit.ngNums}" partialSubmit="true"/></td>
                                                    </tr>
                                                    <tr>
                                                        <td><ice:outputLabel value="#{ngNormalViewEdit.validateNgQtyOne}" style="color:red;" /></td>
                                                    </tr> 
                                                </table> 
                                            </ice:column>    
                                        </ice:dataTable>
                                    </div>   
                                </div>       
                                <div class="popup_button">   
                                    <ice:commandButton  value="     Save    "  actionListener="#{viewNgAll.caculateViewNgNormal()}" />
                                </div>  

                            </f:facet> 
                        </ice:panelPopup>    
                    </h:form>
                    <h:form>
                        <ice:panelPopup rendered="#{viewNgAll.inputNgRepairQtyPopup}" modal="true"     style="z-index:1001; width:650px; top: 0px;" >
                            <f:facet name="header">
                                <ice:panelGrid width="650px" cellpadding="0" cellspacing="0" styleClass="ng_head" columns="2" style="text-align: left;">
                                    <ice:outputText style="color: #000000; float:left;" value="NG Repair Detail" />
                                    <ice:commandButton style="float:right;" image="#{resource['images:close.png']}" actionListener="#{viewNgAll.closePopup('inputRepairQty')}" title="Close this draggable popup" />
                                </ice:panelGrid>
                            </f:facet>
                            <f:facet name="body">
                                <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td style="width:30%;"><ice:outputLabel value="Total NgRepair "/></td>
                                        <td style="width:70%;"><ice:outputLabel value="#{viewNgAll.ngRepairQty}"/> </td>
                                    </tr>
                                    <tr>
                                        <td><ice:outputLabel value="NG Repair Left"/></td>
                                        <td><ice:inputText   readonly="true" value="#{viewNgAll.viewNgRepairleft}"/><ice:outputLabel value="#{viewNgAll.validateViewNgRepairLeft}" style="color:red;"/></td>
                                    </tr>
                                </table>    
                                <div class="tb_ng_site"> 
                                    <div class="tb_ng_content"> 
                                        <ice:dataTable style="width:100%" var="viewNgRepair" value="#{viewNgAll.ngRepairList}">
                                            <ice:column style="width: 50%">
                                                <f:facet name="header">
                                                    <ice:outputLabel value="Ng Repair Type" />
                                                </f:facet>
                                                <ice:outputLabel value="#{viewNgRepair.ngRepairname}"/>
                                            </ice:column>
                                            <ice:column style="width:50%;">
                                                <f:facet name="header">
                                                    <ice:outputLabel value="Ng Repair Qty" />
                                                </f:facet> 
                                                <table>
                                                    <tr>
                                                        <td>
                                                            <ice:inputText value="#{viewNgRepair.ngRepairNums}" partialSubmit="true"/>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <ice:outputLabel value="#{viewNgRepair.validateNgRepairOne}" style="color:red;"/> 
                                                        </td>
                                                    </tr>
                                                </table> 
                                            </ice:column>    
                                        </ice:dataTable>
                                    </div>   
                                </div>   
                                <div class="popup_button"> 
                                    <ice:commandButton  value="     Save    "  actionListener="#{viewNgAll.caculdateViewNgRepairleft()}"/>
                                </div>    

                            </f:facet> 
                        </ice:panelPopup>   
                    </h:form> 
                </div>           
            </div> 
            <!--  </div> main_site -->  
        </h:body>
    </f:view>
</html>
