<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Stdtime</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <style type="text/css">
            a{
                color: #FFFFFF;
                text-decoration: none;
            }   
        </style>   
    </h:head>
    <h:body>
        <!--Front Line-->
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1> <img src="../images/h1_stdtime.png" />STD Time   </h1>
                    <div class="buttons">
                        <ice:panelGrid columns="2">
                            <ice:dataExporter id="dataexport" for="carData2"   
                                              label="Export"  type="excel" styleClass="button_create"
                                              includeColumns="#{stdtimecontrol.inconlumn()}" popupBlockerLabel="blocked" />
                            <ice:commandButton styleClass="button_search" value="Show" actionListener="#{stdtimecontrol.changeToShow()}"/>
                        </ice:panelGrid>
                    </div>
                </div>
                <div class="content" >
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td class="label">Start date :</td>
                                <td >
                                    <ice:selectInputDate renderAsPopup="true" value="#{stdtimecontrol.currentReportSettingSearchDataSearch.startDate}" >
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>
                                <td class="label">End date :</td>
                                <td >
                                    <ice:selectInputDate renderAsPopup="true" value="#{stdtimecontrol.currentReportSettingSearchDataSearch.endDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Group model :</td>
                                <td >
                                    <ice:selectOneMenu value="#{stdtimecontrol.currentReportSettingSearchDataSearch.groubModel}">
                                        <f:selectItems value="#{stdtimecontrol.loadGroupModel()}" />
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label">Model :</td>
                                <td >
                                    <ice:selectOneMenu  value="#{stdtimecontrol.currentReportSettingSearchDataSearch.model}">
                                        <f:selectItems value="#{stdtimecontrol.loadModel()}" />
                                    </ice:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Line :</td>
                                <td >
                                    <ice:selectOneMenu  value="#{stdtimecontrol.currentReportSettingSearchDataSearch.line}">
                                        <f:selectItems value="#{stdtimecontrol.loadLine()}" />
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label">Process :</td>
                                <td >
                                    <ice:selectOneMenu value="#{stdtimecontrol.currentReportSettingSearchDataSearch.process}" >
                                        <f:selectItems value="#{stdtimecontrol.loadProcess()}" />
                                    </ice:selectOneMenu>
                                </td>
                            </tr>
                        </table> 
                    </div> 
                    <!--                    <ice:dataExporter id="dataexport2" for="carData2"
                                                          label="Click to download excel file" type="excel"
                                                          includeColumns="0,1,2,3,4,5,6,7,8" popupBlockerLabel="blocked" />-->
                    <ice:dataTable id="carData2" value="#{stdtimecontrol.rowModel}" var="index"
                                   style="width:100%;" >
                        <ice:columns value="#{stdtimecontrol.columnsModel}" var="headings">                                        
                            <f:facet name="header">
                                <h:outputText value="#{headings}"/>
                            </f:facet>
                            <ice:outputText value="#{stdtimecontrol.cellValue}"/>
                        </ice:columns>
                        <ice:column style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet> 
                            <ice:commandButton value="edit" styleClass="button_edit" actionListener="#{stdtimecontrol.changToEditSpecail}"/>
                        </ice:column>
                    </ice:dataTable> 
                    <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{stdtimecontrol.previous}" value="Previous" rendered="#{stdtimecontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{stdtimecontrol.worksheetpagination.page+1}/#{stdtimecontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{stdtimecontrol.next}" value="Next" rendered="#{stdtimecontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{stdtimecontrol.worksheetpagination.pageFirstItem+1} to #{stdtimecontrol.worksheetpagination.pageLastItem+1} of #{stdtimecontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                    <ice:panelPopup rendered="#{stdtimecontrol.statusOpen}" modal="true" autoCentre="true">
                        <f:facet name="header">
                        </f:facet>
                        <f:facet name="body">
                            <ice:commandButton value="x" actionListener="#{stdtimecontrol.openPopUpInput('close','null')}" />
                            <table class="form">
                                <tr>
                                    <td class="label">Plan :</td>
                                    <td><ice:inputText  value="#{stdtimecontrol.paln}"/></td>
                                </tr>
                            </table>
                            <div class="tb_ng_content">
                                <ice:dataTable value="#{stdtimecontrol.itemReportSettingInputData}" var="itemStdTime" width="100%" style="z-index:1001; width:650px; top: 0px;">
                                    <ice:column>
                                        <f:facet name="header" >
                                            <ice:outputText value="name" />
                                        </f:facet>
                                        <ice:outputText value="#{itemStdTime.name}" />
                                    </ice:column>
                                    <ice:column >
                                        <f:facet name="header">
                                            <ice:outputText value="value" />
                                        </f:facet>
                                        <ice:inputText value="#{itemStdTime.value}" />
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                            <ice:commandButton value="    Save     " actionListener="#{stdtimecontrol.openPopUpInput('calculate',stdtimecontrol.indexOpenButton)}" />
                        </f:facet>
                    </ice:panelPopup> 
                </div> 
            </div>   
        </h:form>
    </h:body>
</html>

