<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <!--Create Worksheet-->
		<div class="box">
			<div class="heading">
      			<h1> <img src="../images/h1_ng.png" /> Create NG </h1>
      			<div class="buttons">
                            <h:form>
                                <ice:commandButton   styleClass="button_create" value="Create" actionListener="#{editngcontrol.changeToCreate}" />
                                <ice:commandButton   styleClass="button_cancel" value="Cancel" actionListener="#{editngcontrol.changeToCancel}"/>
                            </h:form>
      			</div>
	  	  </div>
			<div class="content">
			  <table class="form">
					  <tr>
						<td class="label">Code NG :</td>
						<td >
                                                    <ice:inputText value="#{editngcontrol.currentPool.ngCode}"/>
                                                </td> 
                                                <td class="label">Type Ng :</td>
						<td >
                                                    <ice:selectOneMenu value="#{editngcontrol.currentPool.ngType}">
                                                        <f:selectItems value="#{editngcontrol.itemNgType}" />
                                                    </ice:selectOneMenu>    
                                                </td> 
					  </tr>
					  <tr>
						<td class="label">Ng name :</td>
						<td >
                                                    <ice:inputText value="#{editngcontrol.currentPool.ngName}"/>
                                                </td> 
                                                <td class="label">Status :</td>
						<td >
                                                    <ice:selectOneMenu value="#{editngcontrol.currentPool.status}">
                                                        
                                                        <f:selectItems value="#{editngcontrol.itemNgStatus}" />
                                                    </ice:selectOneMenu>    
                                                </td> 
					  </tr>
			  </table>
		  </div>
		</div>  	
        </h:form>
    </h:body>
</html>
