<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
      
        <!--Front Line-->
        <div class="box">
        <div class="heading">
                <h1> <img src="../images/h1_ng.png" />NG</h1>
                <div class="buttons">
                    <h:form> <ice:commandButton styleClass="button_insert" value="Insert" partialSubmit="true" actionListener="#{editngcontrol.changeToInsert()}" /></h:form>
                </div>
            </div>
        <div class="content">
                        <div class="search_content">  
                         <h:form>
                            <table class="form_search">
                                    <tr>
                                        <td width="30%" align="left" valign="middle">NG Code :<br />
                                            <ice:inputText  value="#{editngcontrol.ngCodeSearch}"/>
                                    </td>
                                        <td width="30%" align="left" valign="middle">NG Type :<br /> 
                                            <ice:selectOneMenu value="#{editngcontrol.ngTypeSearch}" valueChangeListener="#{editngcontrol.ChangeValueNgType}" required="true" partialSubmit="true" >
                                                <f:selectItems value="#{editngcontrol.itemNgType}" />
                                            </ice:selectOneMenu> 
                                    </td>
                                        <td width="30%" align="left" valign="middle"><br /></td>
                                        <td width="10%" align="right" valign="middle"><ice:commandButton   styleClass="button_search" value="Search" partialSubmit="true" actionListener="#{editngcontrol.searchEditngList}" /></td>
                                    </tr>
                                    <tr>
                                        <td width="30%" align="left" valign="middle">NG name :<br />
                                            <ice:inputText value="#{editngcontrol.ngNameSearch}"/> 
                                    </td>
                                        <td width="30%" align="left" valign="middle">Status :<br />
                                            <ice:selectOneMenu value="#{editngcontrol.ngStatusSearch}" valueChangeListener="#{editngcontrol.ChangeValueNgStatus}" required="true" partialSubmit="true" >
                                                <f:selectItems value="#{editngcontrol.itemNgStatus}"/>
                                            </ice:selectOneMenu>    
                                    </td>
                                        <td width="30%" align="left" valign="middle"><br /></td>
                                        <td width="10%" align="right" valign="middle">&nbsp;</td>
                                    </tr> 
                            </table>
                          </h:form>
                        </div>
             <ice:form> 
                 <ice:dataTable  value="#{editngcontrol.worksheet}" var="editng" width="100%" >
                    <ice:column style="width:20%; ">
                        <f:facet name="header">
                            <ice:outputText value="Code NG"/>
                        </f:facet>
                                <ice:outputText value="#{editng.codeoperation}"/>
                    </ice:column>
                    <ice:column style="width:10%; ">
                        <f:facet name="header">
                            <ice:outputText value="Ng name"/>
                        </f:facet>
                                <ice:outputText value="#{editng.processName}"/>
                    </ice:column>
                    <ice:column style="width:10%; ">
                        <f:facet name="header">
                            <ice:outputText value="Type Ng"/>
                        </f:facet>
                                <ice:outputText value="#{editng.typeProcess}"/>
                    </ice:column>
                    <ice:column style="width:10%; ">
                        <f:facet name="header">
                            <ice:outputText value="Status"/>
                        </f:facet>
                                <ice:outputText value="#{editng.status}"/>
                    </ice:column>
                    <ice:column style="width:10%; ">
                        <f:facet name="header">
                            <ice:outputText value="User Create"/>
                        </f:facet>
                        <ice:outputText value="#{editng.userCreate}"/>
                    </ice:column>
                    <ice:column style="width:20%; ">
                        <f:facet name="header">
                            <ice:outputText value="Date Create"/>
                        </f:facet>
                        <ice:outputText value="#{editng.dateCreate}"/>
                    </ice:column>
                    <ice:column style="width:10%; ">
                        <f:facet name="header">
                            <ice:outputText value="Action"/>
                        </f:facet>
                        <ice:panelGrid columns="2">
                            <ice:commandLink value ="Edit" styleClass="button_edit" actionListener="#{editngcontrol.changeToEdit(editng.index)}"/>
                            <ice:commandButton panelConfirmation="confirmdel" styleClass="button_del" value="Delete" actionListener="#{editngcontrol.changToDelete(editng.index)}"/>
                        <ice:panelConfirmation id="confirmdel" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete ng" message="You are about to ng . Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </ice:panelGrid> 
                    </ice:column>
                </ice:dataTable>
        </ice:form>  
             
                  <div class="pagination">
                    <div align="center"> 
                      <h:form>    
                        <ice:commandLink styleClass="prev" actionListener="#{editngcontrol.previous}" value="Previous" rendered="#{editngcontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{editngcontrol.worksheetpagination.page+1}/#{editngcontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{editngcontrol.next}" value="Next" rendered="#{editngcontrol.worksheetpagination.hasNextPage}"/>
                    </h:form>
                        <div class="results">
                                Showing #{editngcontrol.worksheetpagination.pageFirstItem+1} to #{editngcontrol.worksheetpagination.pageLastItem+1} of #{editngcontrol.worksheetpagination.itemsCount}
                    </div>
                 </div>
               </div>
            
        </div>
        </div>
    </h:body>
</html>
