<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRefu01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRefu01Label_id}" for="id" />
                    <h:inputText id="id" value="#{refu01Controller.selected.id}" title="#{bundle.EditRefu01Title_id}" required="true" requiredMessage="#{bundle.EditRefu01RequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditRefu01Label_l2}" for="l2" />
                    <h:inputText id="l2" value="#{refu01Controller.selected.l2}" title="#{bundle.EditRefu01Title_l2}" />
                    <h:outputLabel value="#{bundle.EditRefu01Label_l1}" for="l1" />
                    <h:inputText id="l1" value="#{refu01Controller.selected.l1}" title="#{bundle.EditRefu01Title_l1}" />
                    <h:outputLabel value="#{bundle.EditRefu01Label_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{refu01Controller.selected.detailIdDetail}" title="#{bundle.EditRefu01Title_detailIdDetail}" required="true" requiredMessage="#{bundle.EditRefu01RequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{refu01Controller.update}" value="#{bundle.EditRefu01SaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditRefu01ViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{refu01Controller.prepareList}" value="#{bundle.EditRefu01ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditRefu01IndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
