<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRefu01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRefu01Empty}" rendered="#{refu01Controller.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{refu01Controller.items.rowCount > 0}">
                    <h:outputText value="#{refu01Controller.pagination.pageFirstItem + 1}..#{refu01Controller.pagination.pageLastItem + 1}/#{refu01Controller.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{refu01Controller.previous}" value="#{bundle.Previous} #{refu01Controller.pagination.pageSize}" rendered="#{refu01Controller.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{refu01Controller.next}" value="#{bundle.Next} #{refu01Controller.pagination.pageSize}" rendered="#{refu01Controller.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{refu01Controller.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRefu01Title_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRefu01Title_l2}"/>
                            </f:facet>
                            <h:outputText value="#{item.l2}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRefu01Title_l1}"/>
                            </f:facet>
                            <h:outputText value="#{item.l1}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRefu01Title_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{refu01Controller.prepareView}" value="#{bundle.ListRefu01ViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{refu01Controller.prepareEdit}" value="#{bundle.ListRefu01EditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{refu01Controller.destroy}" value="#{bundle.ListRefu01DestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{refu01Controller.prepareCreate}" value="#{bundle.ListRefu01CreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListRefu01IndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
