<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRefu01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRefu01Label_id}"/>
                    <h:outputText value="#{refu01Controller.selected.id}" title="#{bundle.ViewRefu01Title_id}"/>
                    <h:outputText value="#{bundle.ViewRefu01Label_l2}"/>
                    <h:outputText value="#{refu01Controller.selected.l2}" title="#{bundle.ViewRefu01Title_l2}"/>
                    <h:outputText value="#{bundle.ViewRefu01Label_l1}"/>
                    <h:outputText value="#{refu01Controller.selected.l1}" title="#{bundle.ViewRefu01Title_l1}"/>
                    <h:outputText value="#{bundle.ViewRefu01Label_detailIdDetail}"/>
                    <h:outputText value="#{refu01Controller.selected.detailIdDetail}" title="#{bundle.ViewRefu01Title_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{refu01Controller.destroyAndView}" value="#{bundle.ViewRefu01DestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewRefu01EditLink}"/>
                <br />
                <h:commandLink action="#{refu01Controller.prepareCreate}" value="#{bundle.ViewRefu01CreateLink}" />
                <br />
                <h:commandLink action="#{refu01Controller.prepareList}" value="#{bundle.ViewRefu01ShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewRefu01IndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
