<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <!--Create Worksheet-->
        <div class="box">
            <div class="heading">
            <h1> <img src="../images/h1_model.png" /> Create Master Detail  </h1>
            <div class="buttons">
                <ice:commandButton styleClass="button_create" value="Create" actionListener="#{masterdetail.changeToCreate}" />
                &nbsp;
                <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{masterdetail.changeToCancel}"/>
            </div>
        </div>
        <div class="content">
            <table class="form">
                <tr>
                    <td class="label">Name Master Worksheet  :</td>
                    <td ><ice:inputText value="#{masterdetail.currentDetailSpecail.name}"/></td>
                </tr>
                <tr>
                     <td class="label">Control lot : </td>
                     <td><ice:selectBooleanCheckbox value="#{masterdetail.currentDetailSpecail.controlLot}"/></td>
                </tr>
                <tr>
                    <td class="label">Line code : </td>
                    <td><ice:inputText value="#{masterdetail.currentDetailSpecail.lineCode}"/></td>
                </tr>   
                <tr>
                    <td class="label">Input type :</td>
                    <td>
                        <ice:selectOneMenu value="#{masterdetail.currentDetailSpecail.inputType}">
                            <f:selectItems value="#{masterdetail.inputType()}" />
                        </ice:selectOneMenu>
                    </td>
                </tr>
                <tr> 
                    <td class="label">Description :</td>
                    <td><ice:inputTextarea value="#{masterdetail.currentDetailSpecail.descrition}"/> </td>
                </tr>
            </table> 
            <br />
            <h2 class="lable_line"> Attribute Default Detail :  </h2> 
            <div  class="content_line"> 
                <table width="100%">
                    <tr>
                        <td width="50%" valign="top">
                            <ice:dataTable value="#{masterdetail.masterDetailDefaultLeft}" var="masterDefaultLeft" width="100%">
                                <ice:column style="width: 90%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Field name" />
                                    </f:facet>
                                    <ice:outputText value="#{masterDefaultLeft.name}" />
                                </ice:column>
                                <ice:column style="width: 4%;">
                                    <f:facet name="header" >
                                        <ice:outputText value="Request" />
                                    </f:facet>
                                    <ice:selectBooleanCheckbox value="#{masterDefaultLeft.report}" disabled="true" />
                                </ice:column>
                                <ice:column style="width: 4%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Report" />
                                    </f:facet>
                                    <ice:selectBooleanCheckbox value="#{masterDefaultLeft.request}" disabled="true" />
                                </ice:column>    
                            </ice:dataTable>
                        </td>
                        <td width="50%" valign="top">
                            <ice:dataTable value="#{masterdetail.masterDetailDefaultRight}" var="masterDefaultRight" width="100%">
                                <ice:column style="width: 90%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Field name" />
                                    </f:facet>
                                    <ice:outputText value="#{masterDefaultRight.name}" />
                                </ice:column>
                                <ice:column style="width: 4%;">
                                    <f:facet name="header" >
                                        <ice:outputText value="Request" />
                                    </f:facet>
                                    <ice:selectBooleanCheckbox value="#{masterDefaultRight.report}" disabled="true" />
                                </ice:column>
                                <ice:column style="width: 4%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Report" />
                                    </f:facet>
                                    <ice:selectBooleanCheckbox value="#{masterDefaultRight.request}" disabled="true" />
                                </ice:column>    
                            </ice:dataTable>
                        </td>
                    </tr>
                </table> 
            </div>
            <br/>
            <h2 class="lable_line"> Attribute Detail :  </h2> 
            <div  class="content_line">
                <div class="content_process">
                <div>
                    <ice:selectOneMenu partialSubmit="true" value="#{masterdetail.changNameIndex}" valueChangeListener="#{masterdetail.attributeDetailValueChange}">
                        <f:selectItems value="#{masterdetail.itemFieldName}" />
                    </ice:selectOneMenu>    
                </div>
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="50%" align="left" valign="top">
                            <table class="block">
                                    <tr>
                                        <td class="label_block">
                                           
                                            <ice:commandButton value="Add" actionListener="#{masterdetail.addLeftField()}" /></td>
                                    </tr>
                            </table>
                            <ice:dataTable value="#{masterdetail.detialFieldLeft}" var="leftItem" width="99%">
                            <ice:column style="width:70%;">
                                <f:facet name="header">
                                    <ice:outputText value="Field name" />
                                </f:facet> 
                                <ice:outputText value="#{leftItem.name}"/>
                            </ice:column>  
                            <ice:column style="width:5%;">
                                <f:facet name="header" >
                                    <ice:outputText value="Request" />
                                </f:facet>
                                <ice:selectBooleanCheckbox    partialSubmit="true" value="#{leftItem.request}"  valueChangeListener="#{masterdetail.requestSelectLeft}"/>
                            </ice:column>    
                            <ice:column style="width:5%;">
                                <f:facet name="header">
                                    <ice:outputText value="Report" />
                                </f:facet>
                                <ice:selectBooleanCheckbox value="#{leftItem.report}" partialSubmit="true" valueChangeListener="#{masterdetail.reportSelectLeft}"/>
                            </ice:column> 
                            <ice:column style="width:20%;">
                                <f:facet name="header">
                                    <ice:outputText value="Action"/> 
                                </f:facet>   
                                <ice:commandButton panelConfirmation="delTableLeft" value="Delete" styleClass="button_del"  title="Deleted" actionListener="#{masterdetail.delListTableLeftData(leftItem.index)}"/> 
                                <ice:panelConfirmation id="delTableLeft" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete  " message="You are about to detial spacial. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                            </ice:column> 
                        </ice:dataTable>     
                    </td>
                    <td width="50%" align="left" valign="top">
                        <table class="block">
                              <tr>
                                <td class="label_block">
<!--                                     <ice:selectOneMenu partialSubmit="true" value="#{masterdetail.changNameIndex}" valueChangeListener="#{masterdetail.attributeDetailValueChange}">
                                                <f:selectItems value="#{masterdetail.itemFieldName}" />
                                     </ice:selectOneMenu>    -->
                                <ice:commandButton  value="Add" actionListener="#{masterdetail.addRightField()}"/></td>
                            </tr>
                        </table>
<!--                        <table class="block">-->
                            <ice:dataTable width="99%" value="#{masterdetail.detailFieldRight}" var="right" >
                            <ice:column style="width:70%;"> 
                                <f:facet name="header">
                                    <ice:outputText value="Field name" />
                                </f:facet>
                                <ice:outputText value="#{right.name}"/>
                            </ice:column>  
                            <ice:column style="width:5%;">
                                <f:facet name="header">
                                    <ice:outputText value="Request" />
                                </f:facet>
                                <ice:selectBooleanCheckbox value="#{right.request}" partialSubmit="true" valueChangeListener="#{masterdetail.requestSelectRight}"/>
                            </ice:column>    
                                <ice:column style="width:5%;">
                                <f:facet name="header">
                                    <ice:outputText value="Report" />
                                </f:facet>
                                    <ice:selectBooleanCheckbox value="#{right.report}" partialSubmit="true" valueChangeListener="#{masterdetail.reportSelectRight}"/>
                            </ice:column> 
                            <ice:column style="width:20%;">
                                <f:facet name="header">
                                    <ice:outputText value="Action"/> 
                                </f:facet>    
                                <ice:commandButton panelConfirmation="delTableRight" value="Delete" styleClass="button_del" title="Deleted" actionListener="#{masterdetail.delListTableRightData(right.index)}"/> 
                                <ice:panelConfirmation id="delTableRight" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete  " message="You are about to detial special. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                            </ice:column> 
                        </ice:dataTable> 
<!--                    </table>   -->
                </td>
              </tr>
            </table>
        </div>  
        </div>   
        </div>
        </div>  
        </h:form>
    </h:body>
</html>
