<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Create Worksheet-->
        <h:form>
		<div class="box">
			<div class="heading">
      			<h1> <img src="../images/h1_model.png" /> Master Detail  </h1>
      			<div class="buttons">
                            <ice:commandButton styleClass="button_insert" value="Insert" actionListener="#{masterdetail.changeToInsert}" /> 
      			</div>
	  	  </div>
		  <div class="content">
                      <div class="search_content">
				  <table class="form_search">
					  <tr>
						<td width="90%" align="left" valign="middle">Name Master Worksheet  : :<br />
                                                    <ice:inputText value="#{masterdetail.nameMasterWorsheetSearch}"/></td>
                                              <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" partialSubmit="true" actionListener="#{masterdetail.changeToSearch()}" /></td>
					  </tr>
				  </table>
				</div> 
                      <ice:dataTable width="100%" value="#{masterdetail.worksheet}" var="listMaster">
                      <ice:column style="width: 10%;">
                          <f:facet name="header">
                              <ice:outputText value="No."/>
                          </f:facet>   
                          <ice:outputText value="#{listMaster.numberAuto}" />
                      </ice:column>
                          <ice:column style="width: 20%;">
                          <f:facet name="header">
                              <ice:outputText value="Name workSheet" />
                          </f:facet>
                              <ice:outputText value="#{listMaster.nameFildName}" />
                      </ice:column>    
                          <ice:column style="width: 50%;">
                         <f:facet name="header" >
                             <ice:outputText value="Description"/>
                         </f:facet>
                              <ice:outputText value="#{listMaster.description}" />
                     </ice:column> 
                      <ice:column style="width:15%;">
                          <f:facet name="header">
                              <ice:outputText value="Action" />
                          </f:facet>    
                          <ice:commandButton  value="Edit" styleClass="button_edit" actionListener="#{masterdetail.changeToEdit()}" />
                          <ice:commandButton panelConfirmation="delDetailSpecial" value="Delete" styleClass="button_del"  actionListener="#{masterdetail.changeToDelete()}"/>
                          <ice:panelConfirmation id="delDetailSpecial" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete detail special " message="You are about to detial special. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                         
                      </ice:column>    
                  </ice:dataTable>    
                   <div class="pagination">
                                <div align="center"> 
                                    <ice:commandLink styleClass="prev" actionListener="#{masterdetail.previous}" value="Previous" rendered="#{masterdetail.worksheetpagination.hasPreviousPage}"/> 
                                        #{masterdetail.worksheetpagination.page+1}/#{masterdetail.allPages}
                                        <ice:commandLink styleClass="next" actionListener="#{masterdetail.next}" value="Next" rendered="#{masterdetail.worksheetpagination.hasNextPage}"/>
                                <div class="results">
                                            Showing #{masterdetail.worksheetpagination.pageFirstItem+1} to #{masterdetail.worksheetpagination.pageLastItem+1} of #{masterdetail.worksheetpagination.itemsCount}
                                </div>
                            </div>
                        </div>    
		  </div>
		</div>  
            </h:form>
    </h:body>
</html>
