<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core" xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Auto Worksheet List</title>
        <link rel="stylesheet" type="text/css" href="../../../xmlhttp/css/rime/rime.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <table width="100%" cellpadding="0" cellspacing="0" border="0">
            <tbody>
                <tr>
                    <td><div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                            <ice:form title="Search">
                                <ice:outputLabel for="" value="Search"/><br /><br />
                                <ice:panelGrid border="0" columns="5" id="search" style="width: 100%; " >
                                    <ice:outputLabel for="ordernumber" value="Barcode" id="lbl_ordernumber"/>
                                    <ice:inputText id="ordernumber" partialSubmit="true" value="#{autoworksheetlist.ordernumber}"/>
                                    <ice:outputLabel for="process" value="Process" id="lbl_process"/>
                                    <ice:inputText id="process" partialSubmit="true" value="#{autoworksheetlist.process}"/>
                                    <ice:outputLabel/>
                                    <ice:outputLabel for="typemodel" value="Model" id="lbl_typemodel"/>
                                    <ice:inputText id="typemodel" partialSubmit="true" value="#{autoworksheetlist.typemodel}"/>
                                    <!--       <ice:outputLabel for="typebobbin" value="Type Bobbin" id="lbl_typebobbin"/>
                                           <ice:inputText id="typebobbin" partialSubmit="true" value="#{autoworksheetlist.typebobbin}"/>-->
                                    <ice:outputLabel value=""/>
                                    <ice:outputLabel value=""/>
                                    <ice:commandButton id="btn_search" value="Search" actionListener="#{autoworksheetlist.searchWorksheet}">

                                    </ice:commandButton>
                                </ice:panelGrid>
                            </ice:form></div>
                        <ice:panelGrid border="0" columns="1" style="height: auto; width: 100%">
                            <ice:form>
                                <ice:dataTable id="dataSortData" sortColumn="#{autoworksheetlist.sortColumnName}" sortAscending="#{autoworksheetlist.ascending}" border="0" width="100%" value="#{autoworksheetlist.worksheet}" var="order">
                                    <ice:column id="column1">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{autoworksheetlist.ordernumbercolum}"
                                                arrow="true">
                                                <ice:outputText value="#{autoworksheetlist.ordernumbercolum}" />
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{order.ordernumber}"/>
                                    </ice:column>
                                    <ice:column id="column2">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{autoworksheetlist.typemodelcolum}"
                                                arrow="true">
                                                <ice:outputText value="#{autoworksheetlist.typemodelcolum}"/>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{order.typemodel}"/>
                                    </ice:column>
                                    <!--          <ice:column id="column3">
                                                  <f:facet name="header">
                                                      <ice:commandSortHeader
                                                          columnName="#{autoworksheetlist.typebobbincolum}"
                                                          arrow="true">
                                                          <ice:outputText value="#{autoworksheetlist.typebobbincolum}"/>
                                                      </ice:commandSortHeader>
                                                  </f:facet>
                                                  <ice:outputText value="#{order.typebobbin}"/>
                                              </ice:column> -->
                                    <ice:column id="column4">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{autoworksheetlist.datecreatecolum}"
                                                arrow="true">
                                                <ice:outputText value="#{autoworksheetlist.datecreatecolum}"/>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{order.createdate}" />
                                    </ice:column>
                                    <ice:column id="column5">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{autoworksheetlist.processcolum}"
                                                arrow="true">
                                                <ice:outputText value="#{autoworksheetlist.processcolum}"/>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{order.process}"/>
                                    </ice:column>
                                    <ice:column id="column6">
                                        <f:facet name="header">
                                            <ice:commandSortHeader
                                                columnName="#{autoworksheetlist.statuscolum}"
                                                arrow="true">
                                                <ice:outputText value="#{autoworksheetlist.statuscolum}"/>
                                            </ice:commandSortHeader>
                                        </f:facet>
                                        <ice:outputText value="#{order.status}"/>
                                    </ice:column>
                                </ice:dataTable>
                            </ice:form>
                        </ice:panelGrid>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>
</html>
