<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Auto Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/> 
    </h:head>
    <h:body>
        <table width="100%">
            <tbody>
                <tr>
                    <td><ice:outputLabel value="Create Auto Worksheet" /></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" align="left" cellpadding="0"
                               cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                            <ice:outputLabel value="Auto Detail" />
                                            <br />
                                            <br /> 
                                            <ice:form>
                                                <ice:panelGrid
                                                    border="0" columns="5" width="100%">

                                                    <ice:outputLabel for="auto_lotcontrol" value="Lot control" />
                                                    <ice:inputText id="auto_lotcontrol"
                                                                   value="#{createautoworksheet.auto_lotcontrol}" /><!-- This is lotcontrolauto variable -->

                                                    <ice:outputLabel for="auto_line" value="Line" />
                                                    <ice:inputText id="auto_line"
                                                                   value="#{createautoworksheet.details.line}" />

                                                    <ice:outputLabel value="" />

                                                    <ice:outputLabel for="auto_model" value="Model" />
                                                    <ice:selectOneMenu partialSubmit="true" id="auto_model" required="true" requiredMessage="Select One model" valueChangeListener="#{createautoworksheet.ChangValueModelList}" >
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.modellist}"/>
                                                    </ice:selectOneMenu>

                                                    <ice:outputLabel for="auto_stamp" value="Stamp" />
                                                    <ice:inputText id="auto_stamp"
                                                                   value="#{createautoworksheet.detailAuto.stamp}" />

                                                    <ice:outputLabel value=""/>

                                                    <ice:outputLabel for="series" value="Series"/>
                                                    <ice:selectOneMenu partialSubmit="true" id="series" required="true" requiredMessage="Select One Series." valueChangeListener="#{createautoworksheet.ChangValueSeriesList}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.serieslist}"/>
                                                    </ice:selectOneMenu>

                                                    <ice:outputLabel for="productcodename" value="Product code name." />
                                                    <ice:selectOneMenu id="productcodename" partialSubmit="true" valueChangeListener="#{createautoworksheet.ChangProductCodenameValue}"
                                                                       required="true" requiredMessage="Select One Product Code Name">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.productcodename}"/>
                                                    </ice:selectOneMenu>
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel for="producttype" value="Product type" />
                                                    <ice:selectOneMenu id="producttype" partialSubmit="true" valueChangeListener="#{createautoworksheet.ChangProductTypeValue}"
                                                                       required="true" requiredMessage="Select One Product Type">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.producttype}"/>
                                                    </ice:selectOneMenu>

                                                    <ice:outputLabel for="productcode" value="Product code" />
                                                    <ice:inputText id="productcode" readonly="true"
                                                                   value="#{createautoworksheet.pd_code}" />

                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel for="remark" value="Remark"/>
                                                    <ice:inputText id="remark" value="#{createautoworksheet.auto_remark}" required="true"/>

                                                    <ice:outputLabel value="DR-Core"/>
                                                    <ice:inputText value="#{createautoworksheet.dr_core}" required="true"/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:commandButton value="Create worksheet"
                                                                       actionListener="#{createautoworksheet.CreateAutoworksheet}" action="pages/moduleBackLine/printassyworksheet">
                                                        <!-- <f:param name="myParam" value="" /> -->
                                                    </ice:commandButton>
                                                </ice:panelGrid>
                                            </ice:form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <br />
                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                            <ice:outputLabel value="Process auto" /><br />
                            <ice:panelSeries var="detailprocess"
                                             value="#{createautoworksheet.detailprocess}">
                                <ice:panelGrid>
                                    <ice:outputLabel />
                                    <br />
                                </ice:panelGrid>
                                <ice:panelGrid columns="6" width="100%" border="0" cellpadding="0"
                                               cellspacing="0">
                                    <ice:outputLabel for="process" value="Process#" />
                                    <ice:outputText id="process" value="#{detailprocess.processnumber}" />
                                    <ice:outputLabel for="processname" value="Process name" />
                                    <ice:outputText id="processname"
                                                    value="#{detailprocess.processname}" />

                                    <ice:outputText value=" " />
                                    <ice:outputLink>
                                        <ice:outputText value="NG detail" />
                                    </ice:outputLink>

                                    <ice:outputLabel for="startdate" value="Start" />
                                    <ice:outputText id="startdate" value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="shift" value="Shift" />
                                    <ice:outputText id="shift" value="#{detailprocess.shift}" />
                                    <ice:outputLabel for="employeeno" value="Employee no" />
                                    <ice:outputText id="employeeno" value="#{detailprocess.employeeno}" />
                                    <ice:outputLabel for="finishdate" value="Finish" />
                                    <ice:outputText id="finishdate" value="#{detailprocess.finishdate}" />
                                    <ice:outputLabel for="inputqty" value="Input QTY"></ice:outputLabel>
                                    <ice:outputText id="inputqty" value="#{detailprocess.inputqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="starthold" value="Start hold" />
                                    <ice:outputText id="starthold" value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="outputqty" value="Output QTY" />
                                    <ice:outputText id="outputqty" value="#{detailprocess.outputqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="stophold" value="Stop hold" />
                                    <ice:outputText id="stophold" value="#{detailprocess.stophold}" />
                                    <ice:outputLabel for="ngqty" value="NG QTY" />
                                    <ice:outputText id="ngqty" value="#{detailprocess.ngqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="mc" value="MC#" />
                                    <ice:outputText id="mc" value="#{detailprocess.mc}" />
                                    <ice:outputLabel for="ordernumber" value="Order No" />
                                    <ice:outputText id="ordernumber"
                                                    value="#{detailprocess.ordernumber}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                </ice:panelGrid>
                            </ice:panelSeries>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <ice:form>
            <ice:panelPopup modal="true" style="z-index:1001; width:800px;" rendered="false" visible="false" autoCentre="true">
                <f:facet name="header">
                    <ice:panelGrid width="800px" style="text-align: right;">
                        <div>
                            <ice:commandButton value="X" partialSubmit="true" actionListener="#{addmaterail2assy.hideAddMatrail2assy}"/>
                        </div>
                    </ice:panelGrid>
                </f:facet>
                <f:facet name="body">
                    <ice:panelGrid columns="2" width="100%">
                        <ice:panelGroup>
                            <ice:selectOneRadio>
                                <f:selectItem  itemLabel="Qty 8,640 Pcs.(defult)" itemValue="8640"/>
                                <f:selectItem  itemLabel="Qty 4,320 Pcs." itemValue="5320"/>
                                <f:selectItem  itemLabel="Other " itemValue=""/>
                            </ice:selectOneRadio>
                            <ice:inputText value="" rendered="true" visible="true"/><ice:outputLabel value=" Pcs."/>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; overflow: auto; height: 275px;">
                                <ice:dataTable width="100%">
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Barcode"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Qty"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Del"/>
                                        </f:facet>
                                        <ice:commandButton value=""/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                            <ice:outputLabel for="summaryqty" value="Summary Qty : "/>
                            <ice:inputText id="summaryqty" readonly="true" value=""/><ice:outputLabel for="summary" value=" Pcs."/><br />
                            
                        </ice:panelGroup>
                        <ice:panelGroup>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; overflow: auto; height: 275px;">
                                <ice:dataTable width="100%">
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Barcode"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Date"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Output"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Wip"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                        </ice:panelGroup>
                        <ice:outputLabel value="Generate barcode Auto worksheet"/>
                    <ice:commandButton value="Save"/>
                    </ice:panelGrid>
                </f:facet>
            </ice:panelPopup>
        </ice:form>
    </h:body>
</html>