<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Assembly Worksheet</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <table width="100%">
            <tbody>
                <tr>
                    <td><ice:outputLabel value="Create Assembly Worksheet" /></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" align="left" cellpadding="0"
                               cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                            <ice:outputLabel value="Assembly line" /><br /><br />
                                            <ice:form>
                                                <ice:panelGrid border="0" columns="5" width="100%">
                                                    <ice:outputLabel value="Lot control" />
                                                    <ice:inputText id="assembly_lotcontrol"
                                                                   value="#{createlineworksheet.line_lotcontrol}" />
                                                    <ice:outputLabel value="Line" />
                                                    <ice:inputText id="assembly_line"
                                                                   value="#{createlineworksheet.details.line}" />
                                                    <ice:outputLabel value="" />

                                                    <ice:outputLabel for="assembly_linemodel" value="Model" />
                                                    <ice:selectOneMenu id="assembly_linemodel" required="true" requiredMessage="Select One Model." partialSubmit="true" valueChangeListener="#{createlineworksheet.ChangValueModelPoolList}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createlineworksheet.modellist}"/>
                                                    </ice:selectOneMenu>

                                                    <ice:outputLabel value="Stamp" />
                                                    <ice:inputText id="assembly_stamp"
                                                                   value="#{createlineworksheet.lineDetails.stamp}" />
                                                    <ice:outputLabel value=""/>

                                                    <ice:outputLabel for="series" value="Series"/>
                                                    <ice:selectOneMenu partialSubmit="true" id="series" required="true" requiredMessage="Select One Series." valueChangeListener="#{createlineworksheet.ChangValueSeriesList}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createlineworksheet.serieslist}"/>
                                                    </ice:selectOneMenu>

                                                    <ice:outputLabel for="productcodename" value="Product code name." />
                                                    <ice:selectOneMenu id="productcodename" partialSubmit="true" valueChangeListener="#{createlineworksheet.ChangProductCodenameValue}"
                                                                       required="true" requiredMessage="Select One Product Code Name">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.productcodename}"/>
                                                    </ice:selectOneMenu>
                                                    <ice:outputLabel value="" />
                                                    <ice:outputLabel for="producttype" value="Product type" />
                                                    <ice:selectOneMenu id="producttype" partialSubmit="true" valueChangeListener="#{createlineworksheet.ChangProductTypeValue}"
                                                                       required="true" requiredMessage="Select One Product Type">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{createautoworksheet.producttype}"/>
                                                    </ice:selectOneMenu>


                                                    <ice:outputLabel for="productcode" value="Product code" />
                                                    <ice:inputText id="productcode" readonly="true"
                                                                   value="#{createlineworksheet.lineDetails.pdCode}" />
                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel for="remark" value="Remark"/>
                                                    <ice:inputText value="#{createlineworksheet.line_remark}" id="remark"/>

                                                    <ice:outputLabel value=""/>
                                                    <ice:outputLabel value=""/>
                                                    <ice:commandButton value="Create worksheet" actionListener="#{createlineworksheet.CreateLineworksheet}" action="pages/moduleBackLine/printassyworksheet"/>
                                                </ice:panelGrid>
                                            </ice:form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td><br />
                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                            <ice:outputLabel value="Process line" />
                            <br />
                            <ice:panelSeries var="detailprocess"
                                             value="#{createlineworksheet.detailprocess}">
                                <ice:panelGrid>
                                    <ice:outputLabel />
                                    <br />
                                </ice:panelGrid>
                                <ice:panelGrid columns="6" width="100%" border="0"
                                               cellpadding="0" cellspacing="0">
                                    <ice:outputLabel for="process" value="Process#" />
                                    <ice:outputText id="process"
                                                    value="#{detailprocess.processnumber}" />
                                    <ice:outputLabel for="processname" value="Process name" />
                                    <ice:outputText id="processname"
                                                    value="#{detailprocess.processname}" />

                                    <ice:outputText value=" " />
                                    <ice:outputLink>
                                        <ice:outputText value="NG detail" />
                                    </ice:outputLink>

                                    <ice:outputLabel for="startdate" value="Start" />
                                    <ice:outputText id="startdate"
                                                    value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="shift" value="Shift" />
                                    <ice:outputText id="shift" value="#{detailprocess.shift}" />
                                    <ice:outputLabel for="employeeno" value="Employee no" />
                                    <ice:outputText id="employeeno"
                                                    value="#{detailprocess.employeeno}" />
                                    <ice:outputLabel for="finishdate" value="Finish" />
                                    <ice:outputText id="finishdate"
                                                    value="#{detailprocess.finishdate}" />
                                    <ice:outputLabel for="inputqty" value="Input QTY"></ice:outputLabel>
                                    <ice:outputText id="inputqty" value="#{detailprocess.inputqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="starthold" value="Start hold" />
                                    <ice:outputText id="starthold"
                                                    value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="outputqty" value="Output QTY" />
                                    <ice:outputText id="outputqty"
                                                    value="#{detailprocess.outputqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="stophold" value="Stop hold" />
                                    <ice:outputText id="stophold" value="#{detailprocess.stophold}" />
                                    <ice:outputLabel for="ngqty" value="NG QTY" />
                                    <ice:outputText id="ngqty" value="#{detailprocess.ngqty}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="mc" value="MC#" />
                                    <ice:outputText id="mc" value="#{detailprocess.mc}" />
                                    <ice:outputLabel for="ordernumber" value="Order No" />
                                    <ice:outputText id="ordernumber"
                                                    value="#{detailprocess.ordernumber}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                </ice:panelGrid>
                            </ice:panelSeries>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>
</html>
