<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Assy Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>

        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Create Assy </h1>
                    <div class="buttons">
                        <ice:commandButton value="Create" styleClass="button_create" partialSubmit="true" actionListener="#{createassyworksheet.createAssyline}"/>&nbsp;
                        <ice:commandButton value="Cancel" styleClass="button_cancel" partialSubmit="true" actionListener="#{createassyworksheet.changTocancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Assy line  : </td>
                            <td ><ice:inputText required="true" requiredMessage="Input assy line." value="#{createassyworksheet.currentdetail.line}" /></td>
                            <td class="label">Inject date :</td>
                            <td >
                                <ice:selectInputDate value="#{createassyworksheet.currentdetailassy.injectionDate}" renderAsPopup="true">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="#{newprocess.timeZone}"/>
                                </ice:selectInputDate>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product Qty :</td>
                            <td>
                                <ice:inputText required="true" requiredMessage="Input product qty." converter="javax.faces.Integer" partialSubmit="true" valueChangeListener="#{createassyworksheet.changProductQty}"/>
                                <ice:outputLabel styleClass="label" value=" pcs"/><br />
                                <ice:outputLabel value="#{createassyworksheet.pd_qty_error_ms}" style="color: red;"/>
                            </td>
                            <td class="label">Plating date  :</td>
                            <td >
                                <ice:selectInputDate id="platingdate" value="#{createassyworksheet.currentdetailassy.platingDate}" renderAsPopup="true">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="#{newprocess.timeZone}"/>
                                </ice:selectInputDate>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Lot Control  :</td>
                            <td >
                                <ice:inputText id="lotcontrol" readonly="true" value="#{createassyworksheet.currentdetail.lotcontrol}" />
                            </td>
                            <td class="label">DR-core  :</td>
                            <td >
                                <ice:inputText value="#{createassyworksheet.currentdetailassy.drcoreLotNo}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Stamp :</td>
                            <td ><ice:inputText required="true" requiredMessage="Input stamp" value="#{createassyworksheet.currentdetailassy.stamp}" /></td>
                            <td class="label">Series</td>
                            <td>
                                <ice:selectOneMenu partialSubmit="true" required="true" requiredMessage="Select Sereis." valueChangeListener="#{createassyworksheet.ChangModelSeries}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{createassyworksheet.modelseries}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product code name  :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" required="true" requiredMessage="Select Product code name." valueChangeListener="#{createassyworksheet.ChangProductCodenameValue}">
                                    <f:selectItem itemLabel=" ----- Select One ----- " itemValue="" />
                                    <f:selectItems value="#{createassyworksheet.productcodename}"/>
                                </ice:selectOneMenu>
                            </td>

                            <td class="label">Model  :</td>
                            <td >
                                <ice:selectOneMenu id="models" partialSubmit="true" required="true" requiredMessage="Select Model." valueChangeListener="#{createassyworksheet.ChangModelValue}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{createassyworksheet.modellist}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product code  :</td>
                            <td ><ice:inputText readonly="true" value="#{createassyworksheet.currentdetailassy.pdCode}" /></td>
                            <td class="label">Invoice :</td>
                            <td>
                                <ice:inputText required="true" requiredMessage="Input invoice." value="#{createassyworksheet.currentdetailassy.invoiceNo}" />
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" required="true" requiredMessage="Select Product type." valueChangeListener="#{createassyworksheet.ChangProductTypeValue}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{createassyworksheet.producttype}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label"></td>
                            <td><ice:commandLink styleClass="button_create" value="Add Material" actionListener="#{addmaterail2assy.showAddMaterail2assy}" partialSubmit="true"/></td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line">Process Status (0) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="detailprocess" value="#{createassyworksheet.detailprocess}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        </div>
                    </div>
                    <!--end Process Status -->
                </div>
            </ice:form>
        </div>  
        <ice:form>    
            <ice:panelPopup modal="true" style="z-index:1001; width:650px;" autoCentre="true" rendered="#{addmaterail2assy.visible}" visible="#{addmaterail2assy.visible}"> 

                <f:facet name="header">
                    <ice:panelGrid width="650px" style="text-align: right;">
                        <div style="float: right;">
                            <ice:commandButton value="X" partialSubmit="true" actionListener="#{addmaterail2assy.hideAddMatrail2assy}"/>
                        </div>
                    </ice:panelGrid>
                </f:facet>
                <f:facet name="body">
                    <ice:outputLabel value="Generate barcode from front line to Assy line"/>
                    <ice:panelGrid columns="1" width="630px" > 

                        <ice:panelGroup>
                            <ice:outputLabel for="insertbarcode" value="Input barcode : "/>
                            <ice:inputText style="width: 250px;" id="insertbarcode" value="#{addmaterail2assy.newbarcode}" partialSubmit="true" actionListener="#{addmaterail2assy.createNewbarcode}"/>
                            <ice:outputText value="Status : #{addmaterail2assy.completed}"/>
                        </ice:panelGroup>

                        <ice:panelGroup>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; overflow: auto; height: 275px;">
                                <ice:outputLabel value="Barcode front line list"/>
                                <ice:dataTable width="100%" value="#{addmaterail2assy.assypopupDetails}" var="order">
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="#{addmaterail2assy.barcode}"/>
                                        </f:facet>
                                        <ice:outputText value="#{order.barcode}"/>
                                    </ice:column>
                                    <!--<ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="#{addmaterail2assy.type}"/>
                                        </f:facet>
                                        <ice:outputText value="#{order.type}"/>
                                    </ice:column>-->
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="#{addmaterail2assy.qty}"/>
                                        </f:facet>
                                        <ice:outputText value="#{order.qty}"/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                        </ice:panelGroup>
                        <ice:panelGroup>
                            <ice:outputLabel for="removebarcode" value="Remove Barcode : "/>
                            <ice:inputText id="removebarcode" value="#{addmaterail2assy.delbarcode}" partialSubmit="true" actionListener="#{addmaterail2assy.removeNewbarcode}" style="width: 250px;"/>
                            <ice:panelGroup>
                                <ice:outputLabel for="productqty" value="Product Requir Qty : "/>
                                <ice:inputText id="productqty" value="#{createassyworksheet.productqty}" readonly="true"/>
                                <ice:outputLabel value=" Pcs."/>
                            </ice:panelGroup>
                            <ice:panelGroup>
                                <ice:outputLabel for="sumqty" value="Summary Qty : "/>
                                <ice:inputText id="sumqty" readonly="true" value="#{addmaterail2assy.sumqty}" style="width: 200px;"/>
                                <ice:outputLabel value=" Pcs."/>
                            </ice:panelGroup>
                            <ice:panelGroup>
                                <ice:outputLabel value="Generate Assy barcode worksheet"/>
                                <ice:commandButton value="Save" partialSubmit="true" actionListener="#{addmaterail2assy.hideAddMatrail2assy}"/>
                            </ice:panelGroup>
                        </ice:panelGroup>
                    </ice:panelGrid>
                </f:facet>

            </ice:panelPopup>
        </ice:form>
    </h:body>
</html>