<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create PCB</title>
    </h:head>
    <h:body>
        <table width="100%">
            <tbody>
                <tr>
                    <td><ice:outputLabel value="Create PCB Worksheet" /></td>
                </tr>
                <tr>
                    <td>
                        <table width="100%" border="0" align="left" cellpadding="0"
                               cellspacing="0">
                            <tbody>
                                <tr>
                                    <td>
                                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                            <ice:form>
                                                <ice:outputLabel value="PCB Detail" /><br /><br />
                                                <ice:panelGrid border="0" columns="5" width="100%">
                                                    <ice:outputLabel value="Lotcontrol" for="lotcontrol" />
                                                    <ice:inputText id="lotcontrol" value="#{pcb.newlotcontrol}" />
                                                    <ice:outputLabel value="Stamp" for="stamp" />
                                                    <ice:inputText id="stamp" value="#{pcb.newstamp}"/>
                                                    <ice:outputLabel value="" />

                                                    <ice:outputLabel value="Model" for="models" />
                                                    <ice:selectOneMenu id="models" partialSubmit="true" required="true" requiredMessage="Select Model." valueChangeListener="#{pcb.changModelNameListener}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{pcb.model}"/>
                                                    </ice:selectOneMenu>
                                                    <ice:outputLabel value="Pcb Type" />
                                                    <ice:selectOneMenu required="true" requiredMessage="Select Type." partialSubmit="true" valueChangeListener="#{pcb.changRefuTypeListener}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItem itemValue="1" itemLabel=" 1 "/>
                                                        <f:selectItem itemValue="2" itemLabel=" 2 "/>
                                                        <f:selectItem itemValue="3" itemLabel=" 3 "/>
                                                    </ice:selectOneMenu>
                                                    <ice:outputLabel value="" />
                                                    
                                                    <ice:outputLabel value="Series" />
                                                    <ice:selectOneMenu required="true" requiredMessage="Select Series." partialSubmit="true" valueChangeListener="#{pcb.changModelSeriesListener}">
                                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                        <f:selectItems value="#{pcb.series}"/>
                                                    </ice:selectOneMenu>
                                                    <ice:outputLabel value="" />
                                                    <ice:outputLabel value="" />
                                                    <ice:commandButton value="Create worksheet" actionListener="#{pcb.createRefuFun}" action="pages/moduleBackLine/printassyworksheet"/>
                                                </ice:panelGrid>
                                            </ice:form>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td width="100%"><br />
                        <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                            <ice:outputLabel value="Process refu" /><br />
                            <ice:panelSeries var="detailprocess"
                                             value="#{pcb.detailprocess}">
                                <ice:panelGrid>
                                    <ice:outputLabel />
                                    <br />
                                </ice:panelGrid>
                                <ice:panelGrid columns="6" width="100%" border="0" cellpadding="0"
                                               cellspacing="0">
                                    <ice:outputLabel for="process" value="Process#" />
                                    <ice:outputText id="process" value="#{detailprocess.processnumber}" />
                                    <ice:outputLabel for="processname" value="Process name" />
                                    <ice:outputText id="processname"
                                                    value="#{detailprocess.processname}" />
                                    <ice:outputLabel value=""/>
                                    <ice:outputLink >
                                        <ice:outputText value="NG detail" />
                                    </ice:outputLink>

                                    <ice:outputLabel for="startdate" value="Start" />
                                    <ice:outputText id="startdate" value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="shift" value="Shift" />
                                    <ice:outputText id="shift" value="#{detailprocess.shift}" />
                                    <ice:outputLabel for="employeeno" value="Employee no" />
                                    <ice:outputText id="employeeno" value="#{detailprocess.employeeno}" />
                                    <ice:outputLabel for="finishdate" value="Finish" />
                                    <ice:outputText id="finishdate" value="#{detailprocess.finishdate}" />
                                    <ice:outputLabel for="inputqty" value="Input QTY"></ice:outputLabel>
                                    <ice:outputText id="inputqty" value="#{detailprocess.inputqty}" />
                                    <ice:outputLabel value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="starthold" value="Start hold" />
                                    <ice:outputText id="starthold" value="#{detailprocess.startdate}" />
                                    <ice:outputLabel for="outputqty" value="Output QTY" />
                                    <ice:outputText id="outputqty" value="#{detailprocess.outputqty}" />
                                    <ice:outputLabel value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="stophold" value="Stop hold" />
                                    <ice:outputText id="stophold" value="#{detailprocess.stophold}" />
                                    <ice:outputLabel for="ngqty" value="NG QTY" />
                                    <ice:outputText id="ngqty" value="#{detailprocess.ngqty}" />
                                    <ice:outputLabel value=" " />
                                    <ice:outputText value=" " />
                                    <ice:outputLabel for="mc" value="MC#" />
                                    <ice:outputText id="mc" value="#{detailprocess.mc}" />
                                    <ice:outputLabel for="ordernumber" value="Order No" />
                                    <ice:outputText id="ordernumber"
                                                    value="#{detailprocess.ordernumber}" />
                                    <ice:outputLabel for="" value=" " />
                                    <ice:outputText value=" " />
                                </ice:panelGrid>
                            </ice:panelSeries>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </h:body>
</html>

