<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print Assy Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <ice:outputLabel value="-Print worksheet" />&nbsp;&nbsp;&nbsp;
        <ice:commandButton value="Print all" />&nbsp;
        <ice:commandButton value="Print check" />
        <ice:outputLabel value="" />
        <br /><br />
        <ice:form>
            <ice:panelGrid columns="1" width="100%">
                <ice:panelGroup>
                    <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">

                        <ice:panelGrid columns="2" width="100%">
                            <ice:outputLabel value="Qrcode"/>
                            <ice:outputLabel value="Barcode"/>
                            
                        </ice:panelGrid>
                        <ice:panelSeries value="#{printassyworksheet.barcode}" var="bcr">
                            <ice:panelGrid columns="2" width="100%">
                                <ice:panelGroup>
                                    <img id="qrcodepic" src="#{bcr.qrcodeUrl}"/>
                                    <ice:panelGroup>
                                        <ice:selectBooleanCheckbox partialSubmit="true" value="#{bcr.selected}"/>
                                        <ice:outputText id="qrcodenumber" value="Barcode : #{bcr.barcode}"/>
                                    </ice:panelGroup>
                                </ice:panelGroup>
                                <ice:panelGroup>
                                    <img id="barcodepic" src="#{bcr.barcodeUrl}"/><br/><br/>
                                    <ice:panelGroup>
                                        <ice:selectBooleanCheckbox partialSubmit="true" value="#{bcr.selected}"/>
                                        <ice:outputText id="barcodenumber" value="Barcode : #{bcr.barcode}"/>
                                    </ice:panelGroup>
                                </ice:panelGroup>
                            </ice:panelGrid>
                        </ice:panelSeries>
                    </div>
                </ice:panelGroup>
            </ice:panelGrid>
        </ice:form>
    </h:body>
</html>