<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Assy Worksheet List</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <div class="heading">
                <h1> <img src="../images/h1_assy.png" /> NG History </h1>
                <div class="buttons">
<!--                        <ice:commandLink styleClass="button_insert" value="Insert" partialSubmit="true" actionListener="#{createassyworksheet.changToInsert}"/>-->
                </div>
            </div>
            <div class="content">
                <div class="search_content">
                    <ice:form>
                        <table class="form_search">
                            <tr>
                                <td width="15%" align="left" valign="middle">Barcode&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle"><ice:inputText value="#{nghistorycontrol.barcodeinput}"/></td>
                                <td width="15%" align="left" valign="middle">Process&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle"><ice:inputText value="#{nghistorycontrol.processname}"/></td>
                                <td width="15%" align="left" valign="middle">Start&nbsp;from&nbsp;date&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle">
                                    <ice:selectInputDate renderAsPopup="true" value="#{nghistorycontrol.startdate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                    </ice:selectInputDate>
                                </td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton actionListener="#{nghistorycontrol.searchNgHostory}" value=" Search " styleClass="button_search" /></td>
                            </tr>
                            <tr>
                                <td width="15%" align="left" valign="middle">Process&nbsp;type&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle"><ice:inputText value="#{nghistorycontrol.processtype}"/></td>
                                <td width="15%" align="left" valign="middle">Defect&nbsp;name&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle"><ice:inputText value="#{nghistorycontrol.defectname}" /></td>
                                <td width="15%" align="left" valign="middle">To&nbsp;date&nbsp;:&nbsp;</td>
                                <td width="15%" align="left" valign="middle">
                                    <ice:selectInputDate renderAsPopup="true" value="#{nghistorycontrol.todate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy HH:mm:ss"/>
                                    </ice:selectInputDate>
                                </td>
                                <td width="10%" align="right" valign="middle">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="45%" colspan="3" valign="middle" align="left">
                                    <ice:commandButton actionListener="#{nghistorycontrol.searchByDaily}" value=" Daily " styleClass="button_search" />&nbsp;&nbsp;
                                    <ice:commandButton actionListener="#{nghistorycontrol.searchByWeekly}" value=" Weekly " styleClass="button_search" />&nbsp;&nbsp;
                                    <ice:commandButton actionListener="#{nghistorycontrol.searchByMonthly}" value=" Monthly " styleClass="button_search" />&nbsp;&nbsp;
                                    <ice:commandButton actionListener="#{nghistorycontrol.searchByYearlys}" value=" Yearly " styleClass="button_search" />
                                </td>
                                <td width="15%" valign="middle" align="left"><!--NG Normal : <ice:selectBooleanCheckbox value="#{nghistorycontrol.ngnormal}" /--></td> 
                                <td width="15%" valign="middle" align="left"><!--NG Repair : <ice:selectBooleanCheckbox value="#{nghistorycontrol.ngrepair}"/--></td>
                                <td width="35%" valign="middle" align="left">
                                </td>
                            </tr>
                        </table>
                    </ice:form>
                </div>

                <ice:dataTable value="#{nghistorycontrol.dataModelTable}" var="ngh" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Date" />
                        </f:facet>
                        <ice:outputText value="#{ngh.date}" />
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Barcode" />
                        </f:facet>
                        <ice:outputText value="#{ngh.barcode}" />
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Series"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.series}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Model"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.model}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Stamp"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.stamp}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Process" />
                        </f:facet>
                        <ice:outputText value="#{ngh.process}" />
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Process type" />
                        </f:facet>
                        <ice:outputText value="#{ngh.processtype}" />
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="NG name"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.defectname}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Input"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.input}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="Output"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.output}"/>
                    </ice:column>
                    <ice:column>
                        <f:facet name="header">
                            <ice:outputText value="NG" />
                        </f:facet>
                        <ice:outputText value="#{ngh.qty}" />
                    </ice:column>
                    <ice:column >
                        <f:facet name="header">
                            <ice:outputText value="% NG"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.percenng}"/>
                    </ice:column>
                    <ice:column >
                        <f:facet name="header">
                            <ice:outputText value="% Repair"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.percenrepair}"/>
                    </ice:column>
                    <ice:column >
                        <f:facet name="header">
                            <ice:outputText value="% Yield"/>
                        </f:facet>
                        <ice:outputText value="#{ngh.percenyield}"/>
                    </ice:column>
                </ice:dataTable>
                <div class="pagination">
                    <ice:form>
                        <div align="center">
                            <ice:commandLink styleClass="prev" actionListener="#{nghistorycontrol.previous}" value="Previous" rendered="#{nghistorycontrol.paginationHelper.hasPreviousPage}"/> 
                            #{nghistorycontrol.paginationHelper.page+1}/#{nghistorycontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{nghistorycontrol.next}" value="Next" rendered="#{nghistorycontrol.paginationHelper.hasNextPage}"/>
                            <div class="results">
                                Showing #{nghistorycontrol.paginationHelper.pageFirstItem+1} to #{nghistorycontrol.paginationHelper.pageLastItem+1} of #{nghistorycontrol.paginationHelper.itemsCount}
                            </div>
                        </div>
                    </ice:form>
                </div>
            </div>
        </div>
    </h:body>
</html>
