<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>New create</title>
        <link rel="stylesheet" type="text/css"
              href="../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <h:form>
                <div class="heading">
                    <h1> <img src="../images/h1_refu.png" /> New Create </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_insert" value="Insert" partialSubmit="true" actionListener="#{newcreatecontrol.changToInsert}"/>
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">Model :<br /> 
                                    <ice:inputText value="#{newcreatecontrol.modelSearch}" /></td>
                                <td width="30%" align="left" valign="middle">Date Create :<br /> 
                                    <ice:inputText value="#{newcreatecontrol.dateSearch}" /></td>
                                <td width="30%" align="left" valign="middle">Stamp :<br />
                                    <ice:inputText value="#{newcreatecontrol.stampSearch}" /></td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton partialSubmit="true" styleClass="button_search" value="Search" actionListener="#{newcreatecontrol.searchNewcreateWorksheet}" /></td>
                            </tr>
                        </table>
                    </div>

                    <ice:dataTable value="#{newcreatecontrol.worksheet}" var="order" width="100%" border="1" cellpadding="0" cellspacing="0">
                        <ice:column id="column1" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.ordernumbercolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.ordernumber}" />
                        </ice:column>
                        <ice:column id="column2" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.typemodelcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.typemodel}" />
                        </ice:column>
                        <ice:column id="column3" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Series"/>
                            </f:facet>
                            <ice:outputText value="#{order.typebobbin}"/>
                        </ice:column>
                        <ice:column id="column4" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.datecreatecolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.createdate}" />
                        </ice:column>
                        <ice:column id="column5" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.processcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.process}" />
                        </ice:column>
                        <ice:column id="column6" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.statuscolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.status}" />
                        </ice:column>
                        <ice:column id="column7" style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action" />
                            </f:facet>
                            <ice:panelGroup>
                                <ice:commandLink partialSubmit="true" panelConfirmation="confirmdeletelot" value="Del" styleClass="button_del" actionListener="#{newcreatecontrol.changToDelOne}" />
                                <ice:panelConfirmation id="confirmdeletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                <ice:commandLink partialSubmit="true" value="Edit" styleClass="button_edit" actionListener="#{newcreatecontrol.changToEdit}"/>
                                <ice:commandLink partialSubmit="true" value="Print" styleClass="button_print" actionListener="#{newcreatecontrol.changToPrint}" />
                            </ice:panelGroup>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination">
                        <div align="center">
                            <ice:commandLink partialSubmit="true" styleClass="prev" actionListener="#{newcreatecontrol.previous}" value="Previous" rendered="#{newcreatecontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{newcreatecontrol.worksheetpagination.page+1}/#{newcreatecontrol.allPages}
                            <ice:commandLink partialSubmit="true" styleClass="next" actionListener="#{newcreatecontrol.next}" value="Next" rendered="#{newcreatecontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{newcreatecontrol.worksheetpagination.pageFirstItem+1} to #{newcreatecontrol.worksheetpagination.pageLastItem+1} of #{newcreatecontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </h:form>
        </div>
    </h:body>
</html>
