<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print new create</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
<script>#{printassyworksheet.url}</script>
        <!--Print Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Print New Create</h1>
                    <div class="buttons">
                        <ice:commandLink  styleClass="button_print_all" value="Print All" partialSubmit="true" actionListener="#{printassyworksheet.printnewcreateAll}"/>
                        <ice:commandButton styleClass="button_print_select" partialSubmit="true" value="Print Check" actionListener="#{printassyworksheet.printnewcreateSelection}"/>
                        <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{newcreatecontrol.changToCancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control :</td>
                            <td >#{newcreatecontrol.currentdetails.lotcontrol}</td>
                            <td class="label">Type :</td>
                            <td>
                                #{newcreatecontrol.currentRefu01.type}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td>
                                #{newcreatecontrol.currentModelPool.modelSeries}
                            </td>
                            <td class="label">Stamp :</td>
                            <td >#{newcreatecontrol.currentRefu01.stamp}</td>
                        </tr>
                        <tr>
                            <td class="label">Model :</td>
                            <td>
                                #{newcreatecontrol.currentModelPool.modelName}
                            </td>
                            <td class="label">Line :</td>
                            <td>
                               #{newcreatecontrol.currentdetails.line}
                            </td>
                        </tr>
                        <tr>
                            <td class="label">L1</td>
                            <td>#{newcreatecontrol.currentRefu01.l1}</td>
                            <td class="label">L2</td>
                            <td>#{newcreatecontrol.currentRefu01.l2}</td>
                        </tr>
                    </table>

                    <!-- Frame Barcode -->
                    <h2 class="lable_line">Barcode Worksheet </h2>
                    <div  class="content_line">
                        <div class="content_barcode">
                            <ice:panelSeries value="#{printassyworksheet.barcode}" var="bcr">
                                <ice:panelGroup styleClass="barcode">
                                    <div><!--barcode -->
                                        <p><ice:selectBooleanCheckbox value="#{bcr.selected}" partialSubmit="true"/>No : [ #{bcr.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle"><img src="#{bcr.qrcodeUrl}" width="120" height="120" /></td>
                                                <td valign="middle"><img src="#{bcr.barcodeUrl}" width="120" height="34" /></td>
                                            </tr>
                                        </table>
                                    </div><!--end barcode -->
                                </ice:panelGroup>
                            </ice:panelSeries>
                            <div style="clear:both;"></div>		  
                        </div>
                    </div>
                    <!--end Frame Barcode -->
                </div>
            </ice:form>
        </div>
    </h:body>
</html>