<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Assy Worksheet List</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>

        <!--Front Line-->
        <div class="box">
            <div class="heading">
                <h1> <img src="../images/h1_assy.png" /> Assy </h1>
                <ice:form>
                    <div class="buttons">
                        <ice:commandLink styleClass="button_insert" value="Insert" partialSubmit="true" actionListener="#{createassyworksheet.changToInsert}"/>
                    </div>
                </ice:form>
            </div>
            <div class="content">
                <div class="search_content">
                    <ice:form>
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">Barcode :<br /> <ice:inputText value="#{createassyworksheet.ordernumber}"/></td>
                                <td width="30%" align="left" valign="middle">Process :<br /> <ice:inputText value="#{createassyworksheet.process}"/></td>
                                <td width="30%" align="left" valign="middle">&nbsp;</td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" partialSubmit="true" actionListener="#{createassyworksheet.searchWorksheet}"/></td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">Model :<br /> <ice:inputText value="#{createassyworksheet.typemodel}"/></td>
                                <td width="30%" align="left" valign="middle">Series :<br /> <ice:inputText value="#{createassyworksheet.series}"/> </td>
                                <td width="30%" align="left" valign="middle">&nbsp;</td>
                                <td width="10%" align="right" valign="middle">&nbsp;</td>
                            </tr>
                        </table>
                    </ice:form>
                </div>

                <ice:form>
                    <ice:dataTable value="#{createassyworksheet.worksheet}" var="order" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
                        <ice:column id="column1" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.ordernumbercolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.ordernumber}" />
                        </ice:column>
                        <ice:column id="column2" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.typemodelcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.typemodel}" />
                        </ice:column>
                        <ice:column id="column3" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Series"/>
                            </f:facet>
                            <ice:outputText value="#{order.typebobbin}"/>
                        </ice:column>
                        <ice:column id="column4" style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.datecreatecolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.createdate}" />
                        </ice:column>
                        <ice:column id="column5" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.processcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.process}" />
                        </ice:column>
                        <ice:column id="column6" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.statuscolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.status}" />
                        </ice:column>
                        <ice:column id="column7" style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action" />
                            </f:facet>
                            <ice:panelGroup>
                                <ice:commandLink panelConfirmation="confirmdeletelot" value="Del" styleClass="button_del" actionListener="#{createassyworksheet.changToDelOne}" />
                                <ice:panelConfirmation id="confirmdeletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                <ice:commandLink value="Edit" styleClass="button_edit" actionListener="#{createassyworksheet.changToEdit}"/>
                                <ice:commandLink value="Print" styleClass="button_print" actionListener="#{createassyworksheet.changToPrint}" />
                            </ice:panelGroup>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination"> 
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{createassyworksheet.previous}" value="Previous" rendered="#{createassyworksheet.pagination.hasPreviousPage}"/> 
                            #{createassyworksheet.pagination.page+1}/#{createassyworksheet.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{createassyworksheet.next}" value="Next" rendered="#{createassyworksheet.pagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{createassyworksheet.pagination.pageFirstItem+1} to #{createassyworksheet.pagination.pageLastItem+1} of #{createassyworksheet.pagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </ice:form>
            </div>
        </div>
    </h:body>
</html>
