/* CSS Document */
body{ 
	padding:0; 
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	color:#333333;
	font-size:12px;
	
}
#head_site{
 	background:url(../images/SPC_header_bg.jpg) no-repeat fixed #07369f ;
 	height:60px; 
}
#logo_home{
	width:280px; 
	height:60px; 
	float: left; 
}
.logo {
	background:url(../images/logo_TCT_SPC.png) no-repeat;
	float: left;
	height: 60px;
	text-indent: -1000px;
	width: 280px;
	display:block;
	
}
#account_top_site{
	float:right;
	font-size:13px;
	padding:10px 20px 0 0;
	color:#FFFFFF;
}
#account_top_site a{
	color:#FFFFFF;
}
#account_top_site a:hover{
	color:#FF9900;
}
#account_top_site .date_now{
	color:#FFFF99;
	font-weight:700;
	padding:0 12px 0 0;
	float:right;
}

#menu_nav_site{
	height:33px;
	background:url(../images/SPC_nav_site.jpg) repeat-x;
	padding:0 20px 0 5px;
	text-align:left;	
}
#menu_nav_site h1{
	background:#74809d ;
	color:#ffffff;
	font-size:14px;
	font-weight:100;
	padding:3px 0px;
	margin:5px 20px 0  3px;
	text-align:center;
	float:left;
	width:16%;	
	border-radius: 5px ;
}
.valiable_list{
	color:#FFFFFF;
	float:left;
	padding:6px 0 0 0;
	font-size:11px;
	font-weight:bold;
}
#all{
	width:100%;
	background:#d6dde7;
}
#tree_content{
	padding:10px;
	background:#d6dde7;
	width:17%;
	vertical-align:top;
	text-align:left;
	border-right:3px #c8d1de solid;
	font-size:13px;
}
#input_content{
	padding:10px;
	background:url(../images/SPC_input_content_bg.jpg) repeat-x #d6dde7;
	width:17%;
	vertical-align:top;
	text-align:left;
	border-right:3px #c8d1de solid;
	font-size:13px;
	color:#ffffff;
}
#input_content h2{
border-bottom:#CCCCCC 1px solid;
margin:0;
padding:5px 0;
font-size:18px;
}
.input_label1{
	color:#FFFF99;
	font-weight:bold;
	text-align:center;
	height:35px;
}
.input_label2{
	height:30px;
	vertical-align:middle;
}

#main_content{
	padding:10px;
	background:#fff;
	width:83%;
	vertical-align:top;
	text-align:left;
}

/*login*/
#login_all{ 
	margin:150px auto; 
	padding:0; 
	width:350px; 
	min-height:250px; 
	color:#333333;
}

#logoin_form{
	width:350px; 
	min-height:90px; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	border-radius: 4px 4px 4px 4px;
	border:#003366 1px solid;
	background:#ffffff;
	padding:0 0 10px 0;
	font-size:12px;
}
#logoin_form .head{
	background:url(../images/SPC_login_bg.png) no-repeat center center #07369f;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	padding:10px;
	margin:0 0 10px 0;
	
}
#logoin_form .head .logologin{
	background:url(../images/lockscreen.png) no-repeat ;
	width:30px;
	height:22px;
	float:left;
}

#footer_site{
	border-top:3px #c8d1de solid;
	padding:10px 0 0 0;
	color:#CCCCCC;
	font-size:12px;
	text-align:center;

}
.box .heading {
    -moz-border-colors: none;
    -moz-border-image: none;
	background:url(../images/box.png) repeat-x scroll;
	border:#DBDBDB solid 1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 38px;
    padding: 0 7px;
}

.buttons {
    float: right;
    margin-right: 5px;
    padding-top: 5px;
}
.button_login{
	background:url(../images/button_login.png) no-repeat 5px center #003366;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_login:hover{
	background:url(../images/button_login.png) no-repeat 5px center #0099CC; 
}
.button_logout{
	background:url(../images/button_logout.png) no-repeat 5px center ;  
	font-size:12px;
	color:#ffffff;
	cursor:pointer;
	border:0;
	padding:1px 10px 1px 25px;
	outline:none;   
}
.button_reset{
	background:url(../images/button_reset.png) no-repeat 5px center #003366;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_reset:hover{
	background:url(../images/button_reset.png) no-repeat 5px center #0099CC; 
}
.button_ocap{
	background:url(../images/button_ocap.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_ocap:hover{
	background:url(../images/button_ocap.png) no-repeat 5px center #00CCFF; 
}
.button_exit{
	background:url(../images/button_exit.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_exit:hover{
	background:url(../images/button_exit.png) no-repeat 5px center #00CCFF; 
}
.button_next{
	background:url(../images/button_next.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_next:hover{
	background:url(../images/button_next.png) no-repeat 5px center #00CCFF; 
}
.button_plot{
	background:url(../images/button_plot.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_plot:hover{
	background:url(../images/button_plot.png) no-repeat 5px center #00CCFF; 
}
.button_save{
	background:url(../images/button_save.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_save:hover{
	background:url(../images/button_save.png) no-repeat 5px center #00CCFF; 
}
.button_savedata{
	background:url(../images/button_save.png) no-repeat 5px center #003366;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_savedata:hover{
	background:url(../images/button_save.png) no-repeat 5px center #0099cc; 
}
.button_search{
	background:url(../images/button_search.png) no-repeat 5px center #003366;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px;
	margin:10px 0 0 0;
	outline:none;   
}
.button_search:hover{
	background:url(../images/button_search.png) no-repeat 5px center #0099cc;
}
.button_cancel{
	background:url(../images/button_cancel.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_cancel:hover{
	background:url(../images/button_cancel.png) no-repeat 5px center #00CCFF;
}
.button_create{
	background:url(../images/button_create.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_create:hover{
	background:url(../images/button_create.png) no-repeat 5px center #00CCFF; 
}
.button_insert{
	background:url(../images/button_insert.png) no-repeat 5px center #f6f6f2;  
	font-size:12px;
	color:#003366;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_insert:hover{
	background:url(../images/button_insert.png) no-repeat 5px center #00CCFF; 
}

.button_edit{
	background:url(../images/button_edit.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
.button_del{
	background:url(../images/button_delete.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
.search_content{
	border:1px #0099CC solid;
	margin:0 0 15px 0;
	background:#D2E9FF;
	padding:0 10px;
}
table.form_search{
	font-size:11px;
	color: #003A88;
	font-weight:700;
    border-collapse: collapse;
    margin-bottom: 10px;
    width: 100%;
}
.form_search td{
	padding:5px 2px 5px 5px;
}
table.form{
	font-size:12px;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
.form td {
	padding:5px;
	border-bottom:1px #CCCCCC dotted;
	text-align:left;
}
.label{
	width:150px;
	color: #003A88;
	font-weight:700;

}
.label2{
	width:150px;
	color:#FF0000;
	font-weight:700;

}
.group_permission{
	padding:5px 10px;
	margin:0;
	font-size:14px;
	color:#003A88;
	-moz-border-colors: none;
	-moz-border-image: none;
	background:url(../images/box.png) repeat-x scroll;
	border:#DBDBDB solid 1px;
	border:1px #CCCCCC solid;
	border-bottom:0;

}
table.permission{
	border:1px #DBDBDB solid;
	font-size:12px;
	color: #003A88;
	font-weight:700;
    border-collapse: collapse;
    margin-bottom: 5px;
    width: 100%;
}
.permission td {
	padding:5px;
	text-align:left;
	font-weight:normal;
	color:#333333;
	border:0;
}
.pagination {
    border-top:1px #DDDDDD solid;
    display: inline-block;
    padding-top: 4px;
    width: 100%;
	margin:15px 0 0 0;
	
}
.pagination .next {
	background:url(../images/button_next.gif) no-repeat 5px center;  
	cursor:pointer;
	font-size:11px;
	color:#333333;
	border:0;
	padding:3px 15px 3px 28px;
	outline:none;
	float:inherit;
}

.pagination .prev {
	background:url(../images/button_prev.gif) no-repeat 55px center;  
	cursor:pointer;
	font-size:11px;
	color:#333333;
	border:0;
	padding:3px 28px 3px 10px;
	outline:none;
}
.pagination .results {
    float: right;
    font-size: 12px;
    padding-top: 6px;
	
}

/*-------corrective popup -------*/
#corrective_popup{
	width:600px;
	//height:550px;
	padding:10px;
	background:#ece9d8;
	//overflow:auto;
}

.status_control_red{
width:200px;
font-size:16px;
padding:2px 5px;
font-weight:bold;
text-align:center;
background:#FF0000;
border:2px outset #990000;
}
.status_control_green{
width:200px;
font-size:16px;
padding:2px 5px;
font-weight:bold;
text-align:center;
background:#009900;
border:2px outset #006600;
}
.status_control_yellow{
width:200px;
font-size:16px;
padding:2px 5px;
font-weight:bold;
text-align:center;
background:#FFFF00;
border:2px outset #FF9900;
}

.popup_label1{
	color:#0066CC;
	height:22px;
	padding:3px;
}
.popup_label2{
	color:#FF0000;
	height:22px;
	padding:3px;
}
.popup_label3{
	color:#191919;
	height:22px;
	padding:3px;
}
.popup_h3_blue{
	color:#0066CC;
	padding:3px;
	font-size:14px;
	border-bottom:#999999 1px solid;
}
.popup_span{
	color:#FF0000;
}
.popup_h3_red{
	color:#FF0000;
	padding:3px;
	font-size:15px;
	border-bottom:#999999 1px solid;
}






