/* CSS Document */
body{ 
	padding:0; 
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	color:#333333;
}
#head_site{
 	background:url(../images/header_bg.jpg) no-repeat #48addf;
 	height:60px; 
}
#logo_home{
	width:280px; 
	height:60px; 
	float: left; 
}
.logo {
	background:url(../images/logo_TCT_MRP.png) no-repeat;
	
	height: 60px;
	text-decoration:none;
	width: 280px;
	display:block;
	
}
#account_top_site{
	float:right;
	font-size:13px;
	padding:20px 20px 0 0;
	color:#FFFFFF;
}
#account_top_site a{
	color:#FFFFFF;
}
#account_top_site a:hover{
	color:#083f58;
}
#menu_nav_site{
	height:33px;
	background:url(../images/nav_menu_site.jpg) repeat-x;
	padding:0 0 0 20px;
	text-align:left;
	
}

#all{
	width:100%;
	background:#d6dde7;
}
#tree_content{
	padding:10px;
	background:#d6dde7;
	width:17%;
	vertical-align:top;
	text-align:left;
	border-right:3px #c8d1de solid;
}
#main_content{
	padding:10px;
	background:#fff;
	width:83%;
	vertical-align:top;
	text-align:left;
}
#main_single_site{
    min-height:400px; 
	margin:0 10px;
	padding:0px;
}

/*login*/
#login_all{ 
	margin:150px auto; 
	padding:0; 
	width:350px; 
	min-height:250px; 
	color:#333333;
}

#logoin_form{
	width:350px; 
	min-height:90px; 
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	border-radius: 4px 4px 4px 4px;
	border:#0099CC 1px solid;
	background:#ffffff;
	padding:0 0 10px 0;
}
#logoin_form .head{
	background:url(../images/login_bg.jpg) no-repeat center center #48addf;
	font-size:15px;
	font-weight:bold;
	color:#FFFFFF;
	padding:10px;
	margin:0 0 10px 0;
	
}
#logoin_form .head .logologin{
	background:url(../images/lockscreen.png) no-repeat ;
	width:30px;
	height:22px;
	float:left;
}

#footer_site{
	border-top:3px #c8d1de solid;
	padding:10px 0 0 0;
	color:#CCCCCC;
	font-size:12px;
	text-align:center;

}

/*nav menu*/
ul.menu{
        list-style:none;
        margin:0px;
        padding:0px;
        width:100%; 
}   
ul.menu  li{  
	display:block;
	background:url(../images/nav0.png) no-repeat center right;
	height:33px;
	float:left;
	text-align:center;
	text-indent:5px;
	width:145px;
	font-weight:bold;
	font-size:13px;
}     
ul.menu  li  a{
	display:block;
	text-decoration:none;
	color:#006699;
	line-height:33px;   
}
ul.menu  li a:hover {
	color:#ffffff;
        background:url(../images/nav0_hover.png) repeat-x ;
}
ul.menu  li  ul ,ul.menu  li  ul li ul {
	display:none;
	list-style:none;   
	padding:0px;
	width:180px; 
} 
ul.menu  li:hover > ul  { 
	position:absolute;
	display:block;
	list-style:none;   
	margin:0px;
	padding:0px; 
	width:190px; 
	z-index:100; 
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
 
ul.menu  li:hover  ul  li{
	display:block;
	height:25px;
	background:url(../images/nav1.png) repeat-x;
	text-align:left;
    width:190px;	
}

ul.menu  li:hover  ul  li  a{
	display:block;
	color:#FFFFFF;
	text-decoration:none;
	line-height:25px;
	padding:0 2px 0 15px;
	background:url(../images/arrow_icon.png) no-repeat 5px center;
        font-size: 12px;
	
}	
ul.menu  li:hover  ul  li:hover {
	background:#2376a0;
}
ul.menu  li:hover  ul  li:hover a{
	color:#FFFFFF;
}
ul.menu  li:hover > ul li:hover > ul{
	position:absolute;
	display:block;
	list-style:none;   
	margin:-25px 0 0 190px;
	padding:0px; 
	width:190px; 
	z-index:100;
}
ul.menu  li:hover  > ul  li:hover > ul li{
	display:block;
	height:25px;	
	background:#B7DBFF;
	text-align:left;
    width:190px;
}
ul.menu  li:hover  > ul  li:hover > ul  li  a{
	display:block;
	color:#006699;
	text-decoration:none;
	line-height:25px;
	padding:0 5px 0 15px;
	background:none;
    font-size: 12px;
	background:url(../images/arrow_icon2.png) no-repeat 5px center;
}
ul.menu  li:hover > ul  li:hover > ul  li:hover {
	background:#2376a0;
}
ul.menu  li:hover > ul  li:hover > ul  li:hover a{
	color:#FFFFFF;
}
.box {
    margin-bottom: 15px;
	font-size:14px;
}
.box .heading {
    -moz-border-colors: none;
    -moz-border-image: none;
	background:url(../images/box.png) repeat-x scroll;
	border:#DBDBDB solid 1px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    height: 38px;
    padding: 0 7px;
}
.box .heading h1 {
    color: #003A88;
    float: left;
    font-size: 16px;
    margin:11px 0 0 0;
}
.box .heading h1 img {
    float: left;
    margin-left: 3px;
    margin-right: 8px;
    margin-top: -1px;
}
.box .heading .buttons {
    float: right;
    margin-right: 5px;
    padding-top: 7px;
}
.box .content {
    border-bottom: #CCCCCC solid 1px;
	border-left:#CCCCCC solid 1px;
	border-right:#CCCCCC solid 1px;
    min-height: 100px;
    overflow:auto;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
	font-size:12px;
}
.button_login{
	background:url(../images/button_login.png) no-repeat 5px center #0099CC;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_login:hover{
	background:url(../images/button_login.png) no-repeat 5px center #003366; 
}
.button_logout{
	background:url(../images/button_logout.png) no-repeat 5px center ;  
	font-size:12px;
	color:#ffffff;
	cursor:pointer;
	border:0;
	padding:1px 10px 1px 25px;
	outline:none;   
}
.button_reset{
	background:url(../images/button_reset.png) no-repeat 5px center #0099CC;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_reset:hover{
	background:url(../images/button_reset.png) no-repeat 5px center #003366; 
}
.button_insert{
	background:url(../images/button_insert.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_insert:hover{
	background:url(../images/button_insert.png) no-repeat 5px center #999999; 
}
.button_create{
	background:url(../images/button_create.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_create:hover{
	background:url(../images/button_create.png) no-repeat 5px center #999999; 
}
.button_delete{
	background:url(../images/button_delete.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_delete:hover{
	background:url(../images/button_delete.png) no-repeat 5px center #999999; 
}
.button_delete2{
	background:url(../images/button_delete.png) no-repeat 5px center ;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
.button_del{
	background:url(../images/button_delete.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
.button_save{
	background:url(../images/button_save.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_save:hover{
	background:url(../images/button_save.png) no-repeat 5px center #999999; 
}
.button_cancel{
	background:url(../images/button_cancel.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_cancel:hover{
	background:url(../images/button_cancel.png) no-repeat 5px center #999999;
}
.button_print_select ,.button_print_all{
	background:url(../images/button_print.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_print_select:hover ,.button_print_all:hover{
	background:url(../images/button_print.png) no-repeat 5px center #999999;
}
.button_search{
	background:url(../images/button_search.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_search:hover{
	background:url(../images/button_search.png) no-repeat 5px center #999999;
}
.button_exit{
	background:url(../images/button_exit.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#ffffff;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_exit:hover{
	background:url(../images/button_exit.png) no-repeat 5px center #999999; 
}
.button_save2{
	background:url(../images/button_save.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
.button_edit{
	background:url(../images/button_edit.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
} 
.button_print{
	background:url(../images/button_print.png) no-repeat 5px center ;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	border:0;
	padding:1px 10px 1px 25px;
	outline:none;   
}
.button_browse{
	background:url(../images/button_browse.png) no-repeat 5px center #666666;  
	font-size:12px;
	color:#FFFFFF;
	cursor:pointer;
	border:0;
	font-weight:700;
	padding:3px 15px 3px 25px;
	border-radius: 8px ;
	outline:none;   
}
.button_browse:hover{
	background:url(../images/button_browse.png) no-repeat 5px center #999999;  
}
.button_up{
	background:url(../images/button_up.png) no-repeat;  
	cursor:pointer;
	width:21px;
	height:21px;
	border:0;
	outline:none;   
}
.button_down{
	background:url(../images/button_down.png) no-repeat;  
	cursor:pointer;
	width:21px;
	height:21px;
	border:0;
	outline:none;   
}
.search_content{
	border:1px #3399CC solid;
	margin:0 0 15px 0;
	background:#CCE6FF;
	padding:0 10px; 
}
table.form_search{
	font-size:11px;
	color: #003A88;
	font-weight:700;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
.form_search td{
	padding:10px 2px 10px 10px;
}
.form{
	border-bottom:1px #CCCCCC dotted;
	margin:0 0 15px 0;
}
table.form{
	font-size:12px;
    border-collapse: collapse;
    margin-bottom: 20px;
    width: 100%;
}
.form td {
	padding:10px;
	border-bottom:1px #CCCCCC dotted;
	text-align:left;
}
.label{
	width:150px;
	color: #003A88;
	font-weight:700;

}
.group_permission{
	padding:5px 10px;
	margin:0;
	font-size:14px;
	color:#003A88;
	-moz-border-colors: none;
	-moz-border-image: none;
	background:url(../images/box.png) repeat-x scroll;
	border:#DBDBDB solid 1px;
	border:1px #CCCCCC solid;
	border-bottom:0;

}
.group_permission_sub{
	padding:5px 10px;
	margin:0;
	font-size:13px;
	color:#003A88;
	border-bottom:2px #CCCCCC solid;


}
table.permission{
	border:1px #DBDBDB solid;
	font-size:12px;
	color: #003A88;
	font-weight:700;
    
    margin-bottom: 5px;
    width: 100%;
}
.permission td {
	padding:5px;
	text-align:left;
	font-weight:normal;
	color:#333333;
	border:0;
}
table.permission_sub{
	font-size:12px;
	color: #003A88;
	font-weight:700;
    margin-bottom: 5px;
    width: 100%;
}
.permission_sub td {
	padding:5px;
	text-align:left;
	font-weight:normal;
	color:#333333;
	border:0;
}
.scrollbox {
    background-clip: border-box;
    background-color: #FFFFFF;
    border:1px #CCCCCC solid;
    height: 140px;
    overflow-y: scroll;
    width: 300px;
	color:#333333;
	font-weight:normal;
	
}
.scrollbox div.odd {
    background-color: #E4EEF7;
	padding: 3px;
}
.scrollbox div.even {
    background-color: #FFFFFF;
	padding: 3px;
}

.pagination {
    border-top:1px #DDDDDD solid;
    display: inline-block;
    padding-top: 4px;
    width: 100%;
	margin:15px 0 0 0;
}
.pagination .next {
	background:url(../images/button_next.gif) no-repeat 5px center;  
	cursor:pointer;
	font-size:11px;
	color:#333333;
	border:0;
	padding:3px 15px 3px 28px;
	outline:none;
	float:inherit;
}

.pagination .prev {
	background:url(../images/button_prev.gif) no-repeat 55px center;  
	cursor:pointer;
	font-size:11px;
	color:#333333;
	border:0;
	padding:3px 28px 3px 10px;
	outline:none;
}
.pagination .results {
    float: right;
    font-size: 12px;
    padding-top: 6px;
}
.lable_line{
	background:#eff3ff;
	color:#658bb2;
	border-left:#7597bc 1px solid;
	border-right:#7597bc 1px solid;
	border-top:#7597bc 1px solid;
	padding: 5px 15px ;
	margin:0;
	font-size:14px;
	font-weight:700;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
}
.content_line{
	background:#fff;
	border-left:#7597bc 1px solid;
	border-right:#7597bc 1px solid;
	border-bottom:#7597bc 1px solid;
	padding: 5px 5px ;
	margin:0 0 10px 0;
	-moz-border-radius:0 0 3px 3px ;
	border-radius:0 0 3px 3px ;
	min-height:60px;
}
.content_process{
	overflow:auto;
	height:260px;
}
.content_barcode{
	overflow:auto;
	height:320px;
}
.content_barcode .barcode{
	width:250px;
	margin:0 10px 10px 0;
	float:left;
	border:1px #7597bc solid;
}
.content_barcode .barcode  p{
	padding:3px;
	color:#003A88;
	background:#eff3ff;
	margin:0 0 5px 0;

}
.content_barcode_worksheet{
	height:160px;
}
.content_barcode_worksheet .barcode{
	width:250px;
	margin:0 10px 10px 0;
	float:left;
	border:1px #7597bc solid;
}
.content_barcode_worksheet .barcode  p{
	padding:3px;
	color:#003A88;
	background:#eff3ff;
	margin:0 0 5px 0;

}

.xxtable{
	border:1px #7597bc solid;
	margin:0 0 5px 0;
}
.xxtd{
	border-bottom:1px #EAF4FF solid;
	padding:0 0 0 3px;
	height:20px;
	text-align:left;
	background:#FFFFFF;
}
.xxtd_lable{
	background:#eff3ff;
	color:#006699;
	font-size:11px;
	text-align:right;
}
.process_lable{
background:#eff3ff;
color:#006699;
font-size:11px;
text-align:center;
vertical-align:middle;
padding:5px 0;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.process_td{
padding:0 1px;
height:25px;
background:#FFFFFF;
font-size:11px;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.process_td_now{
padding:0 1px;
height:25px;
background:url(../images/now_bg.gif) repeat;
font-size:11px;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.nodisplay{
    display:none;
}
.button_lock{
	background:url(../images/button_lock.png) no-repeat 5px center;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
