  /*give the body height:100% so that its child
    elements can have percentage heights*/
html,body{ 
	height:100% ;
	font-family: Arial,Helvetica,sans-serif;
	background:#001929;
	overflow:hidden;
}

  /*this is what we want the div to look like*/
div.fullscreen{
    display:block;
    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:0;
    left:0;   
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
	//padding:20px 40px;
	background:url(../images/bg_lcd.png) no-repeat right bottom #001929;
	background-color:#001929;
	overflow:hidden;
  }
  
 .kpi_screen{
 background:url(../images/screen_kpi.jpg) no-repeat top left #001929;
 background-color:#001929; 
 }
 .header_tb{
 	background:url(../images/table_lcd.jpg) repeat-x #08202f;
 	color:#ffffff;
	font-weight:bold;
	text-align:center;
	
 	font-size:35px;
	padding:10px;
 }
  .time_tb{
 	color:#ffffff;
	text-align:center;
 	font-size:60px;
	padding:10px;
	
 }
   .number_green_tb{
 	color:#00ff00;
	text-align:center;
 	font-size:60px;
	padding:10px;
 }
   .number_red_tb{
 	color:#ff0000;
	text-align:center;
 	font-size:60px;
	padding:10px;
 }
    .archive_tb{
 	color:#00ff00;
	text-align:center;
 	font-size:50px;
	padding:10px;
 }
 	.fail_tb{
 	color:#ff0000;
	text-align:center;
 	font-size:50px;
	padding:10px;
 }
 .number_red_tb,.fail_tb{
 background:url(../images/fail_bg.gif) repeat;
 }
  .header_tb,.time_tb,.number_green_tb,.number_red_tb,.archive_tb,.fail_tb{
 border-bottom:#003366 1px solid; 
 }
 .title_tb{ 	
 	color:#fff;
	text-align:left;
 	font-size:70px;
	padding:10px 10px 0 50px;
}
 .date_tb{ 	
 	color:#fff;
	text-align:left;
 	font-size:50px;
	float:right;
	padding:10px 120px 0 0;
}
 .name_module{
  	color:#FF6600;
	text-align:left;
 	font-size:70px;
 }