/*give the body height:100% so that its child
  elements can have percentage heights*/
html,body{ 
    height:100% ;
    font-family: Arial,Helvetica,sans-serif;
    background:#001929;
    overflow:hidden;
}

/*this is what we want the div to look like*/
div.fullscreen{
    display:block;
    /*set the div in the top-left corner of the screen*/
    position:absolute;
    top:2px;
    left:0px;   
    /*set the width and height to 100% of the screen*/
    width:100%;
    height:100%;
    background: #001929;	
    overflow:hidden;
}
table.myTable { 
    border-collapse:collapse;
}
table.myTable td, table.myTable th { 
    border:1px solid #FFFFFF;
    padding:1px; 
}
table.inTable { 
    border-collapse:collapse;
}
table.inTable td, table.inTable th { 
    border:0px; 
    padding:0px;
}
.title{
    color:#fff;
    font-size:35px;
    font-weight: bold;
}
.title2{
    color:#fff;
    font-size:30px;
    font-weight: bold;
}
.sec{
    color:#fff;
    font-size:25px;
/*    font-weight: bold;*/
}
.time{
    color:#FF6600;
    font-size:50px;
/*    font-weight: bold;*/
}
.name{
    color:#FF6600;
    font-size:50px;
/*    font-weight: bold;*/
}
.line_td { 
    border-bottom: none;
}
.model_td { 
    border-bottom:0px;
}
.header_tb{
    background:url(../images/table_lcd.jpg) repeat-x #08202f;
}
.black{ 
    background:#324553;
    color:#fff;
    font-size:40px;
    font-weight: bold;
}
.red{
    background:#324553;
    color:#ff0000;
    font-size:40px;
    font-weight: bold;
}
.next_model{
    background:#324553;
    color:#fff;
    font-size:30px;
/*    font-weight: bold;*/
}
.now{
    background:#637684;
    color:#FFCC00;
    font-size:30px;
/*    font-weight: bold;*/
}

/*
 * this is new css 
*/
.ui-datalist ui-widget slide{
    background:#001929;
}

.ui-widget {
    /*    font-family:Verdana,Arial,sans-serif{ffDefault};*/
    /*    font-size:0em{fsDefault};*/
}
.ui-widget .ui-widget {
    /*    font-size:1em;*/
}
.ui-widget-content {
    border:0px solid #aaaaaa/*{borderColorContent}*/;
    background:#001929;/*{bgColorContent} url("/tct_project_netbean/faces/javax.faces.resource/themes/sam/images/ui-bg_flat_75_ffffff_40x100.png?ln=icefaces.ace")/*{bgImgUrlContent} 50%/*{bgContentXPos} 50%/*{bgContentYPos} repeat-x/*{bgContentRepeat}*/;
    background-clip: padding-box;
    color:#222222/*{fcContent}*/;
}

.pic {
    font-size: 70px;
    font-weight: bold;
}