/* CSS Document */
body{ 
	padding:0; 
	margin:0;
	font-family: Arial,Helvetica,sans-serif;
	color:#333333;
	background:#deebfe;
}
#head_site{
 	background:url(../images/header_bg.jpg) no-repeat #48addf;
 	height:60px; 
}
#logo_home{
	width:280px; 
	height:60px; 
	float: left; 
}
#logo {
	background-image:url(../images/logo_TCT_MRP.png);
	float: left;
	height: 60px;
	text-indent: -1000px;
	width: 280px;
	
}
#time_line{
     background:url(../images/time_icon.png) no-repeat  bottom left;
	float:right;
	font-size:14px;
	padding:10px 20px 6px 50px;
	color:#FFFFFF;
}
#input_barcode{
	background:url(../images/input_barcode_bg.jpg) repeat-x;
	height:78px;
	padding:0 50px 0 0px;
}
#scan_barcode{
	background:url(../images/input_barcode_lable.png) top left no-repeat;
	padding: 20px 0 0 280px;
	height:70px;
        font-size:13px;
        font-weight: bold;
}
#menu_process{
	float:left; 
	position:relative; 
	width:240px; 
	min-height:400px;
	margin:0 0 0 10px;
	padding:62px 10px 10px 10px;
}
#main_site{
	position:relative; 
	min-height:400px; 
	margin:0 10px 0 270px;
	padding:10px;
}

.open_process_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 0;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.open_process_button:hover{ 
	background-position: -232px 0;
}
.open_process_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px 0;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0; 
	color:#CCCCCC;
}

.close_process_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -51px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.close_process_button:hover{
	background-position: -232px -51px;
}
.close_process_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -51px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	color:#CCCCCC;
}
.hold_process_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -102px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	padding:0 0 0 25px;
}
.hold_process_button:hover{ 
	background-position: -232px -102px;
}
.hold_process_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -102px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	padding:0 0 0 25px;
	color:#CCCCCC;
}
.mc_downtime_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -153px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.mc_downtime_button:hover{
	background-position: -232px -153px;
}
.mc_downtime_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -153px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0; 
	color:#CCCCCC;
}

.move_mc_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -204px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.move_mc_button:hover{
	background-position: -232px -204px;
}
.move_mc_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -204px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	color:#CCCCCC; 
	
}
.stop_downtime_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -255px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.stop_downtime_button:hover{
	background-position: -232px -255px;
}
.stop_downtime_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -255px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	color:#CCCCCC;
	
}

.qa_button{
	background:url(../images/button_process.png) ; 
	background-position: 0 -306px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
}
.qa_button:hover{
	background-position: -232px -306px;
}
.qa_button_disable{
	background:url(../images/button_process.png) ; 
	background-position: -464px -306px;
	height:51px;
	width:232px; 
	font-size:17px;
	cursor:pointer;
	margin:0 0 12px 0;
	border:0;
	color:#CCCCCC;
	
}

#current_process{
width:380px;
height:60px;
text-align:left;
font-size:11px;
float:left;

}
#current_process_lable{
background:url(../images/lable_process_icon.png) no-repeat left;
padding: 10px 0 0 40px;
font-size:18px;
color:#006699;
font-weight:700;
height:36px;
border-bottom: 2px #7597bc solid;
}
#status_process{
width:380px;
height:60px;
text-align:left;
font-size:11px;
float:left;
margin: 0 0 15px 15px;
}
#status_process_lable{
background:url(../images/lable_status_icon.png) no-repeat left;
padding: 10px 0 0 40px;
font-size:18px;
color:#006699;
font-weight:700;
height:36px;
border-bottom: 2px #7597bc solid;
}
.lable_line{
background:#eff3ff;
color:#658bb2;
border-left:#7597bc 1px solid;
border-right:#7597bc 1px solid;
border-top:#7597bc 1px solid;
padding: 5px 15px ;
margin:0;
font-size:14px;
font-weight:700;
-moz-border-radius: 3px 3px 0 0;
border-radius: 3px 3px 0 0;
}
.content_line{
background:#fff;
border-left:#7597bc 1px solid;
border-right:#7597bc 1px solid;
border-bottom:#7597bc 1px solid;
padding: 5px 5px ;
margin:0 0 10px 0;
-moz-border-radius:0 0 3px 3px ;
border-radius:0 0 3px 3px ;
min-height:60px;
}
.content_process{
overflow:auto;
height:260px;
}
.xxtable{
border:1px #7597bc solid;
margin:0 0 5px 0;
}
.xxtd{
border-bottom:1px #EAF4FF solid;
padding:0 0 0 3px;
height:20px;
text-align:left;
background:#FFFFFF;
}
.xxtd_lable{
background:#eff3ff;
color:#006699;
font-size:11px;
text-align:right;
}
.process_lable{
background:#eff3ff;
color:#006699;
font-size:11px;
text-align:center;
vertical-align:middle;
padding:5px 0;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.process_td{
padding:0 1px;
height:25px;
background:#FFFFFF;
font-size:11px;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.process_td_now{
padding:0 1px;
height:25px;
background:url(../images/now_bg.gif) repeat;
font-size:11px;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
.process_td_close{
padding:0 1px;
height:25px;
background:#66FF00;
font-size:11px;
border-right:1px #7597bc solid;
border-bottom:1px #7597bc solid;
}
/*-------popup in Screen user -----------*/
.hh{
font-size:15px;
font-weight:700;
color:#0099CC;
border-bottom:2px #0099CC solid;
margin:5px 0 ;
padding:5px 0 0 0;
}
.popup_site{
background:#f5f5f5;
width:600px;
border:#7597bc 2px solid;
-moz-border-radius:4px ;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.popup_head{
background:url(../images/h_bg.jpg) no-repeat #48addf;
color:#658bb2;
padding: 5px 10px ;
margin:0;
}
.popup_content{
padding: 5px 10px ;
}
.ng_site{
background:#f5f5f5;
width:450px;
border:#7597bc 2px solid;
-moz-border-radius:4px ;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.ng_head{
background:url(../images/h_bg.jpg) no-repeat #48addf;
color:#658bb2;
padding: 5px 10px ;
margin:0;
}
.ng_content{
padding: 5px 10px ;
}
.tb_ng_content{
padding: 5px 10px ;
}
.tb_ng_site{
background:#fff;
border:1px #999999 solid;
}
.tb_ng_content{
padding:0 ;
height:350px;
overflow:auto;
}
.ng_td_lable{
background:url(../images/caption_table.jpg) repeat-x;
border-bottom:2px #CCCCCC solid;
padding:2px 6px 2px 6px;
color:#666666;
font-size:11px;
font-weight:700;
text-align:left;
height:30px;
}
.ng_td_content{
border-bottom:1px #E6E6E6 solid;
padding:2px 6px 2px 6px;
height:25px;
font-size:11px;
text-align:left;
background:#FFFFFF;
}
.popup_button{
background:#FFFFFF;
padding: 5px 10px ;
text-align:right;
}
.h1{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/open_process_icon.png) no-repeat left center;font-size:15px;
font-weight:700;
}
.h2{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/close_process_icon.png) no-repeat left center;font-size:15px;
font-weight:700; 
}.h3{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/mc_downtime_icon.png) no-repeat left center;font-size:15px;
font-weight:700;
}
.h4{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/hold_process_icon.png) no-repeat left center;font-size:15px;
font-weight:700;
}
.h5{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/stop_downtime_icon.png) no-repeat left center;font-size:15px;
font-weight:700;
}
.h6{
padding:0 0 0 25px; margin:0; color:#FFFFFF; background:url(../images/move_mc_icon.png) no-repeat left center;font-size:15px;
font-weight:700;
}
.popup_close{
background:url(../images/close_popup_icon.png) no-repeat;
float:right;
width:24px;
height:24px;
position:relative; 
top:-22px;
right:-8px;
border:0;
}
.poptable{
border:1px #999999 solid;
margin:0 0 5px 0;
}
.poptd{
border-bottom:1px #FFFFFF solid;
padding:2px 6px 2px 6px;
height:25px;
text-align:left;
background:#F5F5F5;
}
.poptd_lable{
background:#CCCCCC;
color:#333333;
font-size:13px;
font-weight:700;
text-align:right;
}
.poptdx_lable{
background:#DADADA;
color:#333333;
font-size:13px;
font-weight:700;
text-align:right;
}
#hold_worksheet_number {
width:280px;
height:50px;
text-align:left;
font-size:11px;
float:left;
}
#hold_worksheet_number_lable{
background:url(../images/worksheet_number.png) no-repeat left;
padding: 5px 0 0 23px;
font-size:16px;
color:#006699;
font-weight:700;
height:25px;
border-bottom:1px #CCCCCC solid;
}
#hold_process_name {
width:280px;
height:50px;
text-align:left;
font-size:11px;
float:right;
}
#hold_process_name_lable{
background:url(../images/process_name_icon.png) no-repeat left;
padding: 5px 0 0 23px;
font-size:16px;
color:#006699;
font-weight:700;
height:25px;
border-bottom:1px #CCCCCC solid;
}

.popup_confirm{
background:#f5f5f5;
width:300px;
border:#7597bc 2px solid;
-moz-border-radius:4px ;
border-radius: 4px;
box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
}
.confirm_content{
	background:url(../images/confirm_icon.png) 30px 20px no-repeat;padding:30px 10px 8px 70px; height:40px;
}
.confirm_button{
background:#FFFFFF;
padding: 5px 10px ;
text-align:right;
}


#account_top_site{
	float:right;
	font-size:13px;
	padding:20px 20px 0 0;
	color:#FFFFFF;
}
#account_top_site a{
	color:#FFFFFF;
}
#account_top_site a:hover{
	color:#083f58;
}

.button_delete2{
	background:url(../images/button_delete.png) no-repeat 5px center ;  
	font-size:12px;
	color:#003A88;
	cursor:pointer;
	padding:1px 10px 1px 25px;
	border-radius: 8px ;
	border:0;
	outline:none;   
}
