/*
 * Copyright 2004-2012 ICEsoft Technologies Canada Corp.
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the
 * License. You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an "AS
 * IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

/* Basic CSS styles This stylesheet is intended to match the style of the default Windows XP UI */
/* Default CSS styles. These styles override the basic HTML tags on the page  */
/* Version received from KF Apr 01 2006 v1.2   */

/*
=================== Font Family, Size and Color ==============
*/

/* set the attributes for the font family, size and color for ALL elements on the page */
/* make the fonts inside tables and forms == the default size of the page */
body, table {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    color: #000000;
}

/* now set the size and other attributes of the fonts for any of the form elements for non-ICE form elements. (note this will also affect any ICE components that render out any of the following HTML tags  */
input, textarea, select {
}

/*
=================== HTML Form Element Appearence ==============
*/

/* set the style elements for any of the textarea form elements   */
textarea {

}

/* set the style elements for any of the select form elements   */
select {

}

/* set the style elements for any of the input form elements   */
input {

}

fieldset {
    border: 0px none ;	
}
/*
=================== Style class definitions for ICE Standard Extended Component Appearance ==============
*/
.iceInpTxt, .iceInpSecrt, .iceInpTxtArea {
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
}

.iceSelMnyCb {
    white-space: nowrap;
}

.iceSelMnyCb input, .iceSelOneRb input, .iceSelBoolChkbx {
    margin: 2px;
    padding: 2px;
}

.iceSelOneRb table tr td {
    padding: 1px;
}

.iceInpTxt, .iceInpSecrt {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 2px;
}

.iceSelOneMnu, .iceSelMnyLb, .iceSelMnyMnu, .iceSelOneLb {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 2px;
    margin: 2px;
}

.iceInpTxtArea {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding: 2px;
}

.iceCmdLnk, .iceOutLnk {
    text-decoration: none;
    font-weight: normal;
    color: #333333;
}

.iceOutTxt, .iceOutLbl {
    font-family: Arial, Helvetica, sans-serif;
    color: #000000;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.iceCmdBtn {
    font-family: Arial, Helvetica, sans-serif;
}

/*
=================== ICE Component Appearence ==============
*/
/*
----------- Calendar Component classes
*/
.iceSelInpDate {
/* calendar outline & background color */
    background-color: #FFFFFF;
    border: 1px solid #ABABAB; /* removed margin from calendar outline - better absolute positioning of popup */
/*margin:10px;*/
}

.iceSelInpDateIFrameFix, .iceIEIFrameFix {
   z-index: -1;
   position: absolute;
   display: block;
   filter: mask();
} 

.iceSelInpDatePopup {
    min-width: 172px;
}

.iceSelInpDateInput {
    width: 150px;
    margin: 2px;
}

.iceSelInpDateOpenPopup, .iceSelInpDateOpenPopup-dis {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url( "./css-images/cal_button.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
}

.iceSelInpDateClosePopup {
    display: inline;
    text-decoration: none;
    background-color: transparent;
    background-image: url( "./css-images/cal_off.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 16px;
    height: 16px;
}

.iceSelInpDateMonthYear,  .iceSelInpDateTime{
    background-color: #EFEFEF;
    background-image: url( "./css-images/table_col_header.gif" );
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight: normal;
    text-align: center;
    color: #000000;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px; /*border-right:1px solid #CCCCCC;*/
}

.iceSelInpDateTime{
    border-left: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;        
}

.iceSelInpDateMoYrDropdown, .iceSelInpDateTimeDropDown {
    background-color: #EFEFEF;
    font-weight: bold;
    color: #000000;
}

.iceSelInpDateMonthYear img {
    border: none;
}

.iceSelInpDateMovePrev {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_left.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateMoveNext {
    text-decoration: none;
    display: inline;
    background-color: transparent;
    background-image: url( "./css-images/cal_arrow_right.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
    width: 17px;
    height: 16px;
}

.iceSelInpDateWeek, .iceSelInpDateWeekNumHdr {
/* the days of the week row */
    font-weight: normal;
    color: #2A6CC2;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #000000;
}

.iceSelInpDateWeekNum, .iceSelInpDateWeekNum-dis {
    background-color: #F5F5F5;
}

/* set the look for the days of the week backgrounds */
.iceSelInpDateDay, .iceSelInpDateCur, .iceSelInpDateWeekNum {
/* the background & alignment for the days */
    padding: 3px;
    text-align: center;
}

.iceSelInpDateCur .iceOutTxt{
	color:#FFFFFF;
}

/* now set the attributes for the numbers for each day of the week */
.iceSelInpDateDay a {
/* the day text */
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #000000;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}
.iceSelInpDateDay .iceOutTxt {
    color: #000000;
}

.iceSelInpDateCur a {
    text-decoration: none;
    background-color: #2A6CC2;
    border: 1px solid #2A6CC2;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}

/* now set the color attributes for the hover effect on non-current days */
.iceSelInpDateDay a:hover {
/* the day text */
    text-decoration: none;
    color: #2A6CC2;
}

/*
----------- Data Table Component classes
*/
.iceDatTbl { /* was iceDataTblOutline */
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
}

.iceDatTbl table{
	border-collapse:collapse;
}

.iceDatTblColHdr , .iceDatTblColHdr1, .iceDatTblColHdr2, .iceDatTblColGrpHdrCol, .iceDatTblFtr{ 
/* was iceTblHeader */
    background-color: #EFEFEF;
    background-image: url( "./css-images/table_col_header.gif" );
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight: normal;
    text-align: center;
    color: #000000;
    border-right: 1px solid #CCCCCC;
    border-top: 1px solid #CCCCCC;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.iceDatTblResHdlr {
    margin:0px;; 
    padding:0px;
    border-width: 0px;
    width:2px;
    background-color:transparent;
 
}

.iceDatTblResBor {
    margin:0px;; 
    padding:0px;
    background-color: #EFEFEF;
    background-position: bottom;
    background-repeat: repeat-x;
    width:2px;    
}

.iceDatTblBlkTd {
    border-bottom: 1px solid #CCCCCC;	
    background-color: #EFEFEF;   
}
	/* data tables are rendered with alternating row colors */
.iceDatTblRow1 { /* was iceTblRow1 */
    background-color: #FFFFFF;
}

.iceDatTblRow2 { /* was iceTblRow2 */
    background-color: #FFFFFF;
}

/* set the common attributes for the column classes */
.iceDatTblCol, .iceDatTblCol1, .iceDatTblCol2{
/*was column, column1, column2, column3*/
    color: #000000;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    border-right: 1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
	text-align:left;    
}

.iceDatTblHdr{} /*was iceTblHeader */
.iceDatTblFtr {
    background: none;
    border-top: 1px solid #CCCCCC;  
}

.iceDatTblScrlSpr{ 
    background: url( './css-images/table_col_header.gif' ) repeat-x bottom left; 
    background-color: #EFEFEF;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
}

.iceDatTblScrlSprFtr{ 
    border-bottom: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;        
}

.iceDatTblScrlSprFtr .iceDatTblFtr{ 
    border-bottom: none;     
}

.iceDatTblScrlSpr .iceDatTblColHdr1, .iceDatTblScrlSpr .iceDatTblColHdr2 {
    border-left-style: none;
    border-top-style: none;
}

.iceDatTblActvSrtHdr{}
/*
----- for datatable when cell content length exceeds-----
*/

.iceDatTbl td span.iceOutTxt{
	overflow: hidden;
	display: block;
	padding: 2px 0px;	
}

/* etc */

/*
----------- Data Scroller Component classes
*/
.iceDatPgrScrOut {
/* the class for the outside table */
    background-color: #FFFFFF;
    margin: 10px;
}

.iceDatPgrScrBtn {
/* the cells behind the scroll buttons */
    background-color: #FFFFFF;
    padding: 2px;
}

.iceDatPgrScrBtn .iceCmdLnk-dis {
       border-bottom:none;
}

.iceDatPgrTbl {
/* the container for the pagination*/
    background-color: #FFFFFF;
}

/* set the common attributes for the pagination numbers */
.iceDatPgrScrCol a, .iceDatPgrCol a {
    text-decoration: none;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #666666;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #FFFFFF;
}

* html .iceDatPgrCol a {
    width: 1%;
}

/* override the attributes for the currently selected page */
.iceDatPgrScrCol a {
    color: #FFFFFF;
    border: 1px solid #2A6CC2;
    background-color: #2A6CC2;
}

* html .iceDatPgrScrCol a {
    width: 1%;
}

/* set the attributes for the mouseover on none-current pages */
.iceDatPgrCol a:hover {
    color: #000000;
    border: 1px solid #2A6CC2;
}

/*
----------- File Tree Component classes
*/
.fileTreeOutlineClass {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
}

.nodeClass {
    background-color: #FFFFFF;
    padding-left: 3px;
}

.footerClass {
    border-top: 1px solid #ABABAB;
    color: #666666;
    padding: 4px;
}

.treeTableHdrClass {

}

/*
----------- Tabbed Pane Component classes
*/

/* tabOn style classes */

.icePnlTbOn { /* was iceTabSetTabOn */
}

.icePnlTbOn .MidMid td{
	font-weight: bold;
    white-space: nowrap;
    text-align: center;    	
}

.icePnlTbOn .LftTop {
    background-color: transparent;
    background-image: url( "../css-images/on-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOn .MidTop {
    background-color: transparent;
    background-image: url( "./css-images/on-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOn .RtTop {
    background-color: transparent;
    background-image: url( "../css-images/on-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOn .LftMid {
    background-color: transparent;
    background-image: url( "../css-images/on-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOn .MidMid {
    background-color: transparent;
    background-image: url( "../css-images/on-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOn .MidMid a, .icePnlTbOn .MidMid div {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.icePnlTbOn .MidMid div {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

* html .icePnlTbOn .MidMid a, * html .icePnlTbOn .MidMid div {
    width: 1%;
}

.icePnlTbOn .RtMid {
    background-color: transparent;
    background-image: url( "../css-images/on-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOn .LftBtm {
    background-color: transparent;
    background-image: url( "../css-images/on-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOn .MidBtm {
    background-color: transparent;
    background-image: url( "../css-images/on-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOn .RtBtm {
    background-color: transparent;
    background-image: url( "../css-images/on-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabOff style classes */

.icePnlTbOff { /* was iceTabSetTabOff*/

}

.icePnlTbOff .MidMid td{
    white-space: nowrap;
    text-align: center;    	
}

.icePnlTbOff .LftTop {
    background-color: transparent;
    background-image: url( "../css-images/off-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOff .MidTop {
    background-color: transparent;
    background-image: url( "../css-images/off-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOff .RtTop {
    background-color: transparent;
    background-image: url( "../css-images/off-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOff .LftMid {
    background-color: transparent;
    background-image: url( "./css-images/off-left-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOff .MidMid {
    background-color: transparent;
    background-image: url( "../css-images/off-mid-mid.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOff .MidMid a, icePnlTbOff .MidMid div {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .icePnlTbOff .MidMid a, * html .icePnlTbOff .MidMid div {
    width: 1%;
}

.icePnlTbOff .RtMid {
    background-color: transparent;
    background-image: url( "../css-images/off-right-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOff .LftBtm {
    background-color: transparent;
    background-image: url( "../css-images/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOff .MidBtm {
    background-color: transparent;
    background-image: url( "../css-images/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOff .RtBtm {
    background-color: transparent;
    background-image: url( "../css-images/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabOver style classes */

.icePnlTbOver { /* was iceTabSetTabOver */

}

.icePnlTbOver .MidMid td{
    white-space: nowrap;
    text-align: center;    	
}


.icePnlTbOver .LftTop {
    background-color: transparent;
    background-image: url( "../css-images/over-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOver .MidTop {
    background-color: transparent;
    background-image: url( "../css-images/over-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOver .RtTop {
    background-color: transparent;
    background-image: url( "../css-images/over-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOver .LftMid {
    background-color: transparent;
    background-image: url( "../css-images/over-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOver .MidMid {
    background-color: transparent;
    background-image: url( "../css-images/over-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOver .MidMid a, .icePnlTbOver .MidMid div{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

.icePnlTbOver .MidMid div {
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
}

* html .icePnlTbOver .MidMid a, * html .icePnlTbOver .MidMid div {
    width: 1%;
}

.icePnlTbOver .RtMid {
    background-color: transparent;
    background-image: url( "../css-images/over-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOver .LftBtm {
    background-color: transparent;
    background-image: url( "../css-images/over-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOver .MidBtm {
    background-color: transparent;
    background-image: url( "./css-images/over-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOver .RtBtm {
    background-color: transparent;
    background-image: url( "./css-images/over-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tabSpacer */

.icePnlTbSetSpcr {
    width: 100%;
    border-bottom: 1px solid #ABABAB;
}

/* tabPanel */
.icePnlTbSet { /* was iceTabSet*/
    width: 100%;
}

.icePnlTbSetCnt { /*newly added class*/
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    background-color: #FFFFFF;
}

.icePnlTbSetCntBtm { /*was iceTabSetBottom*/
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    background-color: #FFFFFF;
}

/* TABS ON BOTTOM STYLE CLASSES */
/* tabOn style classes */

.icePnlTbOnBtm {

}

.icePnlTbOnBtm .MidMid td{
	font-weight: bold;
    white-space: nowrap;
    text-align: center;    	
}

.icePnlTbOnBtm .LftTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOnBtm .MidTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.icePnlTbOnBtm .RtTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOnBtm .LftMid {
    background-color: transparent;
    background-image: url( "./css-images/on-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOnBtm .MidMid {
    background-color: transparent;
    background-image: url( "./css-images/on-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOnBtm .MidMid a, .icePnlTbOnBtm .MidMid div {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .icePnlTbOnBtm .MidMid a, * html .icePnlTbOnBtm .MidMid div {
    width: 1%;
}

.icePnlTbOnBtm .RtMid {
    background-color: transparent;
    background-image: url( "./css-images/on-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOnBtm .LftBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOnBtm .MidBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOnBtm .RtBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-on-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabOff style classes */

.icePnlTbOffBtm { /* was iceTabSetTabOffBottom*/

}

.icePnlTbOffBtm .MidMid td{
    white-space: nowrap;
    text-align: center;    	
}

.icePnlTbOffBtm .LftTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOffBtm .MidTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.icePnlTbOffBtm .RtTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOffBtm .LftMid {
    background-color: transparent;
    background-image: url( "./css-images/off-left-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOffBtm .MidMid {
    background-color: transparent;
    background-image: url( "./css-images/off-mid-mid.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOffBtm .MidMid a, .icePnlTbOffBtm .MidMid div{
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .icePnlTbOffBtm .MidMid a, * html .icePnlTbOffBtm .MidMid div {
    width: 1%;
}

.icePnlTbOffBtm .RtMid {
    background-color: transparent;
    background-image: url( "./css-images/off-right-mid.gif" );
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOffBtm .LftBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOffBtm .MidBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOffBtm .RtBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-off-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabOver style classes */

.icePnlTbOverBtm { /* was iceTabSetTabOverBottom*/

}

.icePnlTbOverBtm .MidMid td{
    white-space: nowrap;
    text-align: center;    	
}


.icePnlTbOverBtm .LftTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-left-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOverBtm .MidTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-mid-top.gif" );
    background-repeat: repeat-x;
    text-align: center;
    border: none;
}

.icePnlTbOverBtm .RtTop {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-right-top.gif" );
    background-repeat: no-repeat;
    text-align: center;
    border: none;
}

.icePnlTbOverBtm .LftMid {
    background-color: transparent;
    background-image: url( "./css-images/over-left-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOverBtm .MidMid {
    background-color: transparent;
    background-image: url( "./css-images/over-mid-mid.gif" );
    background-repeat: repeat;
    text-align: center;
    border: none;
    white-space: nowrap;
}

.icePnlTbOverBtm .MidMid a, .icePnlTbOverBtm .MidMid div {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    display: block;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}

* html .icePnlTbOverBtm .MidMid a, * html .icePnlTbOverBtm .MidMid div {
    width: 1%;
}

.icePnlTbOverBtm .RtMid {
    background-color: transparent;
    background-image: url( "./css-images/over-right-mid.gif" );
    background-repeat: repeat-y;
    text-align: center;
    padding-top: 5px;
    border: none;
}

.icePnlTbOverBtm .LftBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-left-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOverBtm .MidBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-mid-bot.gif" );
    background-repeat: repeat-x;
    padding-bottom: 5px;
    border: none;
}

.icePnlTbOverBtm .RtBtm {
    background-color: transparent;
    background-image: url( "./css-images/tbot-over-right-bot.gif" );
    background-repeat: no-repeat;
    padding-bottom: 5px;
    border: none;
}

/* tabSpacer */
.icePnlTbSetSpcrBtm {
    width: 100%;
    border-top: 1px solid #ABABAB;
}

/* tabPanel */

.icePnlTbSetBtm {
    
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    border-right: 1px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    background-color: #FFFFFF;
}

/*
------------- BorderLayout
*/
.icePnlBrdrNorth {
    font-weight: bold;
    height: 80px;
    background-color: #FFFFFF;
    padding: 5px;
    text-align: center;
}

.icePnlBrdrEast {
    width: 10%;
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
}

.icePnlBrdrWest {
    width: 20%;
    background-color: #FFFFFF;
    vertical-align: top;
}

.icePnlBrdrCenter {
    width: 70%;
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
}

.icePnlBrdrSouth {
    background-color: #FFFFFF;
    border-top: 1px solid #FFFFFF;
    color: #666666;
    padding: 4px;
}

/*
------------- PanelLayout
*/

.pageHdr {
    font-weight: bold;
    height: 80px;
    background-color: #CDCDCD;
    padding: 5px;
    text-align: center;
}

.icePnlBrdrStyle {
    background-color: #FFFFFF;
    border: 1px solid #ABABAB;
    margin: 10px;
    width: 97%;
}

.pageNavigation {
    width: 20%;
    background-color: #DEDEDE;
    padding: 5px;
    vertical-align: top;
}

.pageBody {
    width: 80%;
    background-color: #FFFFFF;
    padding: 5px;
    vertical-align: top;
}

.pageFtr {
    border-top: 1px solid #ABABAB;
    color: #666666;
    padding: 4px;
}

/*
------------ PanelNavigation
*/

.navFormOutline {
    background-color: #DEDEDE;
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.navItem, .navActvItem, .navOpenItem {
    color: #333333;
    text-decoration: none;
    background-color: #CDCDCD;
    width: 100%;
    border: 1px solid #CDCDCD;
    border-bottom: 1px solid #FFFFFF;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 5px;
    padding-right: 1px;
    display: block;
}

.navItem:hover, .navActvItem:hover, .navOpenItem:hover {
    background-color: #FFFFFF;
    color: #000000;
    border: 1px solid #2A6CC2;
}

.navOpenItem {
    white-space: nowrap;
    text-decoration: none;
    font-weight: bold;
}

.navActvItem {
    width: 100%;
    background-color: #2A6CC2;
    color: #FFFFFF;
    background-image: url( ./css-images/cal_arrow_right.gif );
    background-position: center right;
    background-repeat: no-repeat;
}

.navSeparator {
    width: 100%;
    height: 1px;
    padding: 0px;
    margin: 0px;
    background-color: #CDCDCD;
    border-bottom: 1px solid #DEDEDE;
}

/*
--------------- Progress bar
*/
.iceOutProg {
    margin: 10px;
}

.iceOutProgBg {
    border: 1px solid #ABABAB;
    width: 300px;
    height: 13px;
}

.iceOutProgFill {
    background-color: #026AFF; /* background-image:url(./css-images/window_top.gif);*/
    background-position: top left;
    background-repeat: repeat-x;
    display: block;
}

.iceOutProgTxt {
    color: black;
}

/*
--------------- autoComplete classes ------
*/

.iceSelInpTxtTxt {
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
}

.iceSelInpTxtList {
    position: absolute;
    display: block;
    border-top: 1px solid #ABABAB;
    border-right: 1px solid #666666;
    border-left: 1px solid #ABABAB;
    border-bottom: 1px solid #333333;
}

.iceSelInpTxtRow {
    display: block;
    background-color: #FFFFFF;
    color: #333333;
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px solid #DEDEDE;
    position: relative;
}

.iceSelInpTxtSelRow {
    display: block;
    background-color: #2A6CC2;
    color: #FFFFFF;
    padding: 2px;
    padding-left: 10px;
    border-bottom: 1px solid #FFFFFF;
    position: relative;
}

.iceSelInpTxtSelRow span{
    color: #FFFFFF;
}

/*
--------------- autoComplete disable class ------
*/

.iceSelInpTxtTxt-dis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    color: #ABABAB;
    border: 1px dotted #CCCCCC;
    cursor: default;
}

/*
----------- FileUpload Component classes
*/
.iceInpFile {
	overflow: hidden;
}
.iceInpFileTxt {
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;

    color: #000000;
}

.iceInpFileBtn {
    border: 1px solid #ABABAB;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;

    color: #000000;
}

/*
----------- Data Navigation Bar classes
*/

.tablebg {
    background-color: #EEF3FB;
    border: 1px solid #6392C6;
    width: 70%;
}

.oddRow {
    background-color: #FFFFFF;
}

.evenRow {
    background-color: #EEF3FB;
}

.barCol1 {
    width: 40%;
    text-align: left;
}

.barCol2 {
    width: 15%;
    text-align: left;
}

.barCol3 {
    width: 20%;
    text-align: left;
}

.barCol4 {
    width: 15%;
    text-align: right;
}

.barCol5 {
    width: 15%;
    text-align: left;
}

/*
----------- TreeView component
*/

.iceTreeRow {
    white-space: nowrap;
    padding: 0px;
}

.iceTreeRow a {
    text-decoration: none;
    color: #000000;
    cursor: pointer;
    padding: 0px;
    vertical-align: middle;
}

.iceTreeRow a:hover {
    text-decoration: underline;
}

.iceTreeRow img {
    border: 0px;
    vertical-align: top;
    background-repeat: repeat-y;
    padding: 0px;
}

.iceTreeRow div {
    padding: 0px;
}

.iceTreeRow a img {
/* vertical-align: top; - Bug in FF, when img has focus it is not highlighted with a box.*/
    background-repeat: repeat-y;
    border: 0px;
    padding: 0px;
}

/* ------------ Menu Classes --
*/

.iceMnuBar { /*no change*/
    padding: 0px;
    white-space: nowrap;
}

.iceMnuBarItem { /* was iceMenu */
    float: left;
    padding: 0px;
    white-space: nowrap;
}

.iceMnuBarItem a { /* was iceMenu */
    background-color: #DDDDDD;
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    color: #333333; /* Must be >1.01em to avoid layout artifacts on Macs */
    font-size: 1.1em;
    margin: 0px;
    border-right: 1px solid #FFFFFF;
    width: auto;
    float: left;
    display: block;
    text-decoration: none;
}

.iceMnuBarItem a:hover { /* was iceMenu */
    background-color: #2A6CC2;
    color: #FFFFFF;
    border-right: 1px solid #FFFFFF;
}

.iceMnuBarItem hr { /* was iceMenu */
    border: none 0;
    border-top: 1px solid #999999;
    width: 100%;
    height: 1px;
    margin-top: 3px;
    padding: 0px;
    text-align: left;
}

.iceMnuBarSubMenu { /* was iceSubMenu */
    position: absolute;
    background-color: #EFEFEF;
    width: 160px;
    border-top: 1px solid #999999;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    border-right: 1px solid #999999;
    padding: 1px;
    height: auto;
    display: block;
    z-index: 1000;
}

.iceMnuItm { /* was iceSubMenuRow*/
    padding: 0px;
    display: block;
    height: auto;
}

.iceMnuItm a { /* was iceSubMenuRow*/
    color: #333333;
    display: block;
    text-decoration: none;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;    
}

.iceMnuItm a:hover { /* was iceSubMenuRow*/
    background-color: #2A6CC2;
}

.iceMnuItm a:hover .iceOutTxt, .iceMnuItm a:hover .iceMnuItmLabel{ 
    color: #FFFFFF;
}

.iceMnuItmLabel, .iceMnuBarItemLabel { /* was iceSubMenuRowLabel */
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 4px;
    font-size: 1.0em;
    display: inline;
    vertical-align: middle;
}

.iceDatTbl td span.iceMnuItmLabel {
    display: inline;
    padding: 4px 0 0 0;
}

.iceMnuBarItemImage {
	width:0px;
}

.iceMnuItmImage, .iceMnuBarItemImage {  /* was iceSubMenuRowImage */
    display:inline;
    vertical-align: middle;    
}

.iceMnuBarSubMenuInd { /* was iceSubMenuRowSubMenuIndicator */
    display:inline;
    float:right;
    padding-top: 3px;
    padding-right: 1px;    
}

/* classes for the vertical version of the iceMenu*/

.iceMnuBarVrtItemLabel {} 
.iceMnuBarVrtItemImage {
	width:5px;
}

.iceMnuBarVrt { /* was iceMenu_vertical */
    float: left;
    padding: 0px;
    white-space: nowrap;
}

.iceMnuBarVrtItem { /* was iceMenu_verticalItem */
    width: 160px;
    display: block;
}

.iceMnuBarVrtItem a { /* was iceMenu_verticalItem */
    background-color: #DDDDDD;
    height: auto;
    padding-left: 3px;
    padding-right: 3px;    
    padding-top: 3px;
    padding-bottom: 3px;
    color: #333333;
    font-size: 1.1em;
    margin-bottom: 1px;
    float: none;
    display: block;
    text-decoration: none;
    border: 0px solid #FFFFFF;
    width: 100%;
}

.iceMnuBarVrtItem a:hover { /* was iceMenu_verticalItem */
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}

.iceMnuBarVrtSubMenu { /* was iceSubMenu_vertical*/
    padding: 1px;
    width: 160px;
    background-color: #EFEFEF;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    position: absolute;
    height: auto;
    display: block;
    z-index: 1000;
}

.iceMnuItmVrt a { /* was iceMenu_vertical_subItem */
    background-color: #EFEFEF; 
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
    font-size: 1.1em; 
    width: auto;
    display: block;
    text-decoration: none; 
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;    
}

.iceMnuItmVrt a:hover { /* was iceMenu_vertical_subItem */
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}

.iceMnuBarVrtSubMenuInd { /* was iceSubMenuDividerVert */
    display:inline;
    float:right;
    padding-top: 3px;
    padding-right: 1px;    
}

.iceMnuItm-dis .iceLink-dis{
   text-decoration:none;
   pointer:normal;
}

.iceMnuItm-dis .iceLink-dis:hover {
   text-decoration:none;
   pointer:normal;

}

.iceMnuItmLabel-dis{
   color:gray;
   font-style:italic;
   text-decoration: line-through;
}

.iceMnuItm-dis .iceCmdLnk-dis, .iceMnuItm-dis .iceOutLnk-dis  {
	border-bottom:none;
}
/*
----------- PanelPopup ----------
*/

.iceMnuPopVrtItemLabel {
    vertical-align: middle;
}
.iceMnuPopVrtItemImage {
	width:19px;
    vertical-align: middle;
}

.iceMnuPopVrt { /* was iceMenu_vertical */
    float: left;
    white-space: nowrap;
    
    margin: 0px;
    padding: 0px;
    border: 0px;
    width: 0px;
    height: 0px;
}
.iceMnuPopVrtTopSubMenu {
    padding: 1px;
    width: 160px;
    background-color: #EFEFEF;
    border: 1px solid #999999;
    position: absolute;
    height: auto;
    display: block;
}

.iceMnuPopVrtItem { /* was iceMenu_verticalItem */
    width: 160px;
    display: block;
}

.iceMnuPopVrtItem a { /* was iceMenu_verticalItem */
/*    background-color: #DDDDDD;*/
    height: auto;
    padding-left: 3px;
    padding-right: 3px;    
    padding-top: 3px;
    padding-bottom: 3px;
    color: #333333;
    font-size: 1.1em;
    margin-bottom: 1px;
    float: none;
    display: block;
    text-decoration: none;
    border: 0px solid #FFFFFF;
    /*width: 100%;*/
}

.iceMnuPopVrtItem a:hover { /* was iceMenu_verticalItem */
    background-color: #2A6CC2;
    color: #FFFFFF;
    text-decoration: none;
}

.iceMnuPopVrtSubMenu { /* was iceSubMenu_vertical*/
    padding: 1px;
    width: 160px;
    background-color: #EFEFEF;
    border-top: 1px solid #999999;
    border-right: 1px solid #999999;
    border-left: 1px solid #999999;
    border-bottom: 1px solid #999999;
    position: absolute;
    height: auto;
    display: block;
}

.iceMnuPopVrtSubMenuInd { /* was iceSubMenuDividerVert */
    display:inline;
    float:right;
    padding-top: 0px;
    padding-right: 1px;    
}

/*
----------- PanelPopup & panelTooltip ----------
*/

.icePnlPop, .icePnlTlTip {
    color: #666666;
    border-right: 2px solid #ABABAB;
    border-top: 1px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    border-bottom: 2px solid #ABABAB;
    background-color: #DDDDDD;
    padding: 0px;
    z-index: 1000;
}

.icePnlPop .icePnlPopBody {
    background-color: #DDDDDD;
}

.icePnlPopHdr, .icePnlTlTipHdr {
    background-color: #DEDEDE;
    background-image: url( "./css-images/window_top.gif" );
    background-position: top;
    background-repeat: repeat-x;
    height: 2.0em;
}

.icePnlPopHdr .iceOutTxt, .icePnlTlTipHdr .iceOutTxt {
	color:#FFFFFF;
	font-size:1.1em;
	font-weight:bold;
	padding:4px;
	text-align:center;
	vertical-align:middle;
}

.icePnlPopBody, .icePnlTlTipBody {
    padding: 10px;
}

.icePnlPopFtr, .icePnlTlTipFtr {
    float: right;
    height: auto;
    background-color: #DDDDDD;
}

/*
   Classes for the output progress bar
*/

.iceOutProgIndetActv {
    background-color: #EFEFEF;
    background-image: url( css-images/in_progress.gif );
    background-position: center;
    background-repeat: repeat-x;
}

.iceOutProgIndetInactv {
    background-color: #EFEFEF;
    background-image: url( css-images/in_progress_inactive.gif );
    background-position: center;
    background-repeat: repeat-x;
}

/*
    Classes for the connection status indicator
*/

.iceOutConStat {
    margin: 10px;
    width: 25px;
    height: 25px;
    border: none;
    font-size: .5em;
}

.iceOutConStatInactv {
    position: absolute;
    background-image: url( css-images/connect_idle.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatActv {
    position: absolute;
    background-image: url( css-images/connect_active.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatCaution {
    position: absolute;
    background-image: url( css-images/connect_caution.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

.iceOutConStatDisconnect {
    position: absolute;
    background-image: url( css-images/connect_disconnected.gif );
    background-position: top;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
}

/* XP Disabled styles CSS Document  v1.0 mar 31 2006 */

.iceCmdBtn-dis {
}

.iceCmdLnk-dis, .iceOutLnk-dis {
    color: #ABABAB;
    text-decoration: none;
    border-bottom: 1px dotted #CCCCCC;
    cursor: default;
}

.iceOutTxt-dis, .iceOutLbl-dis {
    color: #ABABAB;
    text-decoration: none;
    border-bottom: 1px dotted #CCCCCC;
    cursor: default;
}

.iceInpTxt-dis, .iceInpSecrt-dis {
    font-family: Arial, Helvetica, sans-serif;
    color: #ABABAB;
    border: 1px dotted #CCCCCC;
    cursor: default;
    margin: 2px;
    padding: 2px;
}

.iceInpTxtArea-dis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: .95em;
    color: #ABABAB;
    border: 1px dotted #CCCCCC;
    cursor: default;
    margin: 2px;
    padding: 2px;
}

.iceSelMnyCb-dis {
    background-color: #CCCCCC;
    padding: 2px;
    margin: 2px;
    cursor: default;
    color: #CCCCCC;
    border: none;
}

.iceSelOneMnu-dis, .iceSelMnyLb-dis, .iceSelMnyMnu-dis, .iceSelOneLb-dis {
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    padding: 2px;
    font-size: .95em;
    cursor: default;
    border: none;
}

.iceSelOneRb-dis {
    background-color: #CCCCCC;
    padding: 2px;
    margin: 2px;
    cursor: default;
    color: #444444;
    border: none;
}

.iceInpFileTxt-dis {
    border: none;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    cursor: default;
}

.iceInpFileBtn-dis {
    border: 1px solid #CCCCCC;
    background-color: #FFFFFF;
    margin: 2px;
    padding: 2px;
    font-family: Arial, Helvetica, sans-serif;
    color: #CCCCCC;
    cursor: default;
}

/* submenu disabled style classes */
.iceSubMenuRowLabel-dis {
    color: #ABABAB;
    text-decoration: none;
    cursor: default;
}

.iceSubMenuRow-dis {
    color: #ABABAB;
    text-decoration: none;
    cursor: default;
    padding: 0px;
    display: block;
    height: auto;    
}

.iceSubMenuRow-dis a {
    color: #333333;
    text-decoration: none;
    cursor: default;
    display: block;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;    
    
}

.iceSubMenuRow-dis a:hover {
    color: #ABABAB;
    text-decoration: none;
    border-bottom: 1px dotted #CCCCCC;
    cursor: default;
}


/* panel tabs disabled style classes */

.icePnlTbOff { /* was iceTabSetTabOff*/

}

.icePnlTbOff .LftTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
    height: 4px;
}

.icePnlTbOff .MidTop-dis {
    background-color: #DEDEDE;
    background-image: url( './css-images/off-mid-top-dis.gif' );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOff .RtTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOff .LftMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-left-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOff .MidMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat:repeat-x;*/
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    white-space: nowrap;
    color: #ABABAB;
}

.icePnlTbOff .MidMid-dis a, .icePnlTbOff .MidMid-dis>div {
    text-decoration: none;
    color: #ABABAB;
    cursor: default;
    
}

.icePnlTbOff .RtMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-right-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOff .LftBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOff .MidBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOff .RtBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* disabled bottom tab off */
.icePnlTbOffBtm .LftBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
    height: 4px;
}

.icePnlTbOffBtm .MidBtm-dis {
    background-color: #DEDEDE;
    background-image: url( './css-images/off-mid-top-dis.gif' );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOffBtm .RtBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOffBtm .LftMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-left-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOffBtm .MidMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat:repeat-x;*/
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    white-space: nowrap;
    color: #ABABAB;
}

.icePnlTbOffBtm .MidMid-dis a, .icePnlTbOffBtm .MidMid-dis>div {
    text-decoration: none;
    color: #ABABAB;
    cursor: default;

}

.icePnlTbOffBtm .RtMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-right-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOffBtm .LftTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOffBtm .MidTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOffBtm .RtTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* disabled bottom tab on */

.icePnlTbOnBtm .LftBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
    height: 4px;
}

.icePnlTbOnBtm .MidBtm-dis {
    background-color: #DEDEDE;
    background-image: url( './css-images/off-mid-top-dis.gif' );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOnBtm .RtBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOnBtm .LftMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-left-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOnBtm .MidMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat:repeat-x;*/
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    white-space: nowrap;
    color: #ABABAB;
}

.icePnlTbOnBtm .MidMid-dis a, .icePnlTbOnBtm .MidMid-dis>div {
    text-decoration: none;
    color: #ABABAB;
    cursor: default;
}

.icePnlTbOnBtm .RtMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-right-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOnBtm .LftTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOnBtm .MidTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOnBtm .RtTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/* tab on disabled */
.icePnlTbOn {

}

.icePnlTbOn .LftTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
    height: 4px;
}

.icePnlTbOn .MidTop-dis {
    background-color: #DEDEDE;
    background-image: url( './css-images/off-mid-top-dis.gif' );
    background-repeat: repeat-x;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOn .RtTop-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-top-dis.gif" );
    background-repeat: no-repeat;
    background-position: bottom;
    text-align: center;
    padding-top: 1px;
    border: none;
}

.icePnlTbOn .LftMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-left-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOn .MidMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-mid-mid.gif");
    background-repeat:repeat-x;*/
    text-align: center;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    border: none;
    white-space: nowrap;
    color: #ABABAB;
}

.icePnlTbOn .MidMid-dis a, .icePnlTbOn .MidMid-dis>div {
    text-decoration: none;
    color: #ABABAB;
    cursor: default;
}

.icePnlTbOn .RtMid-dis {
    background-color: #DEDEDE;
    /*    background-image: url("./css-images/off-right-mid.gif");
    background-repeat:no-repeat;*/
    text-align: center;
    padding-top: 15px;
    border: none;
}

.icePnlTbOn .LftBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-left-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

.icePnlTbOn .MidBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-mid-bot.gif" );
    background-repeat: repeat-x;
    border: none;
}

.icePnlTbOn .RtBtm-dis {
    background-color: transparent;
    background-image: url( "./css-images/off-right-bot.gif" );
    background-repeat: no-repeat;
    border: none;
}

/*
data scroller classes disabled styles
*/
.sclBtnCell-dis {
/* the cells behind the scroll buttons */
    background-color: #FFFFFF;
    padding: 2px;
}

.sclBtnCell-dis img {
    cursor: default;
}

.icePaginatorTbl-dis {
/* the container for the pagination*/
    background-color: #FFFFFF;
}

/* set the common attributes for the pagination numbers */
.icePaginatorAtvCol-dis a, .icePaginatorCol-dis a {
    text-decoration: none;
    font-weight: normal;
    background-color: #FFFFFF;
    color: #ABABAB;
    display: block;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid #FFFFFF;
    cursor: default;
}

/* override the attributes for the currently selected page */
.icePaginatorAtvCol-dis a {
    color: #ABABAB;
    /*    border:1px solid #2A6CC2;
        background-color:#2A6CC2;
    */
    cursor: default;
}

/* set the attributes for the mouseover on none-current pages */
.icePaginatorCol-dis a:hover {
    /*    color:#000000;
  border:1px solid #2A6CC2;*/
}

/*
Disabled classes for the calendar controls
*/

.iceSelInpDate-dis {
/* calendar outline & background color */
    background-color: #FFFFFF;
    border: 1px solid #DEDEDE; /* removed margin from calendar outline - better absolute positioning of popup */
/*margin:10px;*/
}

.iceSelInpDateMonthYear-dis {
    background-color: #EFEFEF;
    /*    background-image: url("./css-images/table_col_header.gif");
    background-position:bottom;
    background-repeat:repeat-x;*/
    font-weight: normal;
    text-align: center;
    color: #999999;
    padding-left: 1px;
    padding-right: 1px;
    padding-top: 4px;
    padding-bottom: 4px; /*border-right:1px solid #CCCCCC;*/
}

.iceSelInpDateMoYrDropdown-dis {
    background-color: #EFEFEF;
    color: #999999;
}

.iceSelInpDateMonthYear-dis img {
    cursor: default;
}

.iceSelInpDateWeek-dis, .iceSelInpDateWeekNumHdr-dis {
/* the days of the week row */
    font-weight: normal;
    color: #999999;
    background-color: #EFEFEF;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 1px solid #ABABAB;
}

/* set the look for the days of the week backgrounds */
.iceSelInpDateDay-dis, .iceSelInpDateCur-dis, .iceSelInpDateWeekNum-dis {
/* the background & alignment for the days */
    padding: 3px;
    text-align: center;
}

/* now set the attributes for the numbers for each day of the week */
.iceSelInpDateDay-dis a {
/* the day text */
    text-decoration: none;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    color: #ABABAB;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    cursor: default;
}

.iceSelInpDateCur-dis a {
    text-decoration: none;
    background-color: #ABABAB;
    border: 1px solid #ABABAB;
    color: #FFFFFF;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    cursor: default;
}

/*
----------- commandSortHeader classes
*/
.iceCmdSrtHdr {
    text-decoration: none;
    /*border: 1px solid #ABABAB;*/
    color: #333333;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
}

.iceCmdSrtHdr table {
    display: inline;
}

.iceCmdSrtHdr-dis {
    text-decoration: none;
    /*border: 1px solid #ABABAB;*/
    color: #999999;
    width: 100%;
    height: 100%;
    padding: 0px;
    display: block;
    cursor: default;
}

.iceCmdSrtHdrAsc, .iceCmdSrtHdrDesc{
    background-repeat: no-repeat;
    background-position: center;
    width:10px;
    height:10px;
}
.iceCmdSrtHdrAsc{
    background-image: url('./css-images/column_sort_asc.gif');
}
.iceCmdSrtHdrDesc{
    background-image: url('./css-images/column_sort_desc.gif');
}

.iceCmdSrtHdr td {
    white-space:nowrap;
    overflow:hidden;	
}

/* IE specific CSS to enlarge clickable area of SortHeader links */
* html .iceCmdSrtHdr {
    height: 1%;
}

/*
----------- form ----------
*/
.iceFrm {

}

/*
----------- graphicImage ----------
*/
.iceGphImg {

}

/*
----------- message ----------
*/
.iceMsg {

}

.iceMsgFatal {

}

.iceMsgError {

}

.iceMsgWarn {

}

.iceMsgInfo {

}

/*
----------- messages ----------
*/
.iceMsgs {

}

.iceMsgsFatal {

}

.iceMsgsError {

}

.iceMsgsWarn {

}

.iceMsgsInfo {

}

/*
----------- panelGrid ----------
*/
.icePnlGrd {
    
}

.icePnlGrdHdr {

}

.icePnlGrdFtr {

}

.icePnlGrdRow1 {

}

.icePnlGrdRow2 {

}

.icePnlGrdCol1 {

}

.icePnlGrdCol2 {

}

/*
----------- panelGroup ----------
*/
.icePnlGrp {

}

/*
----------- outputFormat ----------
*/
.iceOutFrmt {

}

/*
----------- tree ----------
*/
.iceTree {

}

.iceTreeRow {

}

/*
----------- panelSeries ----------
*/
.icePnlSrs {

}
/*
----------- positionedPanel ----------
*/
.icePnlPos {

}

.icePnlPos-dis {

}

/*
----------- positionedPanel ----------
*/
.icePnlStk {}
.icePnlStkRow {}
.icePnlStkCol {}

/*
----------- panelTab header ----------
*/
.icePnlTbSetHdrIconLft {
    width: 14px;
    height: 13px;

}

.icePnlTbSetHdrIconRt {
    width: 14px;
    height: 13px;
}

.icePnlTbSetHdrLbl {
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
}

/*
----------- Table Row Selection --------
*/
.iceRowSelSelected {
    background-color: #316AC5;
}
.iceRowSelSelected span {
    color: #FFFFFF;
}

.iceRowSelSelectedMouseOver {
    background-color: #0D4092;
}

.iceRowSelSelectedMouseOver span {
    color: #FFFFFF;
}


.iceRowSelMouseOver {
    background-color: #B2CDF9;
}

.iceRowSelMouseOver span{
    color: #000000;
}

/*
----------- outputChart --------
*/

.iceOutChrt {

}

/*
----------- Panel Collapsible --------
*/

/* opened accordion styles */
.icePnlClpsbl, .icePnlClpsblHdr, .icePnlClpsblCnt {
}

/* Closed */
.icePnlClpsblColpsd, .icePnlClpsblColpsdHdr, .icePnlClpsblColpsdCnt {
}

/* Open and disabled */
.icePnlClpsbl-dis, .icePnlClpsblHdr-dis, .icePnlClpsblCnt-dis {
}

/* Closed and disabled */
.icePnlClpsblColpsd-dis, .icePnlClpsblColpsdHdr-dis, .icePnlClpsblColpsdCnt-dis{
}

/* common accordion headers */
.icePnlClpsblHdr, .icePnlClpsblColpsdHdr {
    background-color: #EFEFEF;
    background-image: url( "./css-images/table_col_header.gif" );
    background-position: bottom;
    background-repeat: repeat-x;
    font-weight: bold;
    text-align: left;
    color: #000;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
}

.icePnlClpsblHdr .iceOutTxt, .icePnlClpsblColpsdHdr .iceOutTxt {
	color: #000;
}

.icePnlClpsblCnt, .icePnlClpsblColpsdCnt,
.icePnlClpsblColpsdCnt-dis, .icePnlClpsblCnt-dis {
    background-color: #EFEFEF;
    border: 1px solid #CCCCCC;
    border-top: none;
    padding-left: 5px;
    padding-right: 5px;
    color: #000;
}

.icePnlClpsblHdr-dis, .icePnlClpsblColpsdHdr-dis {
    background: #EFEFEF url( './css-images/table_col_header_dis.gif' ) repeat-x bottom;
    font-weight: bold;
    text-align: left;
    color: #999;
    border: 1px solid #CCCCCC;
    border-bottom: none;
    padding-left: 2px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: default;
}

.icePnlClpsblHdr-dis .iceOutTxt, .icePnlClpsblColpsdHdr-dis .iceOutTxt {
    color: #999;
}

.icePnlClpsblColpsdCnt-dis, .icePnlClpsblCnt-dis,
.icePnlClpsblColpsdCnt-dis .iceOutTxt, .icePnlClpsblCnt-dis .iceOutTxt {
    color: #999;
}

.icePnlClpsblHdr img, .icePnlClpsblColpsdHdr img {
    border: 0;
}

.iceGmp{
	border-collapse:collapse;
	border-spacing:0px;
	padding:0px;
}

.iceGmpMapTd {
	vertical-align: top;
}

.iceGmpMapTd div.gmap{
    width:300px;
    height:300px;
}

.iceInpRchTxt {
    width:100%;
}

/* panel divider */
.icePnlDvr, .icePnlDvrHor {
    width:300px; 
    height:300px;
}

.icePnlDvrCnt, .icePnlDvrHorCnt {
    border: 1px solid #ABABAB;
    /*width:100%; */
    height:100%;
}

.icePnlDvrFst,  .icePnlDvrSnd{
    height:100%; 
    display:block; 
    float:left;	
    overflow:auto;
}

.icePnlDvrSpt {
    width:2px;
    height:100%; 
    display:inline; 
    background-color: #EFEFEF; 
    border-left: 1px solid #ABABAB;
    border-right: 1px solid #ABABAB;    
    float:left;
    cursor: e-resize;
}
	
.icePnlDvrHorFst,  .icePnlDvrHorSnd{
    width:100%;
    display:block;
    overflow:auto;
    display:block;
}

.icePnlDvrHorSpt {
    width:100%;
    height:2px;
    background-color: #EFEFEF;
    border-top: 1px solid #ABABAB;
    border-bottom: 1px solid #ABABAB;
    cursor: n-resize;
}

/*
----------- PanelConfirmation ----------
*/

.icePnlCnf {
    border-top: 1px solid #ABABAB;
    border-right: 2px solid #ABABAB;
    border-left: 1px solid #ABABAB;
    border-bottom: 2px solid #ABABAB;
    background-color: #DDDDDD;
    padding: 0;
    width: 300px;
    z-index: 1000;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
}

.icePnlCnfHdr {
    background-color: #DEDEDE;
    background-image: url( "./css-images/window_top.gif" );
    background-position: top;
    background-repeat: repeat-x;
    height: auto;
    color: #FFFFFF;
    font-size: 1em;
    font-weight: bold;
    padding: 4px;
    text-align: left;
    vertical-align: middle;
}

.icePnlCnfBody {
    padding: 10px 10px 5px 10px;
    background-color: #DDDDDD;
    font-size: 1em;
    font-weight: normal;
}

.icePnlCnfBtns {
    padding: 5px 10px 10px 10px;
    background-color: #DDDDDD;
    text-align: center;
    font-size: 1em;
    font-weight: normal;
}

.icePnlCnfBtns input {
    margin: 0 20px 0 20px;
}

/*
----------- DataExporter ----------
*/
.iceDatExp img {
    border: none;
}

.iceDatExp input{
    font-family: Arial, Helvetica, sans-serif;
}

.icePnlTbLblLnk img {
    border: 0;
}

/*
----------- focus hidden link ----------
*/

.iceHdnLnk {
    float:left;
    border:none;
    margin:0px;
}

.iceHdnLnk img{
    border:0; 
    width:0px; 
}
