<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Create Role</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <h:form>            
                <!--Create Role -->
                <div class="box">
                    <div class="heading">
                        <h1> <img src="../images/h1_role.png" /> Create Role </h1>
                        <div class="buttons">
                            <ice:commandLink  styleClass="button_create"  value="Create" actionListener="#{role.create}" />		
                            <ice:commandButton  styleClass="button_cancel" value="Cancel" actionListener="#{role.changeToCancel}"/>
                        </div>
                    </div>
                    <div class="content">
                        <table class="form">
                            <tr>
                                <td class="label">Role name : </td>
                                <td ><ice:inputText value="#{role.rolenames}" /></td>
                            </tr>
                            <tr>
                                <td class="label">Description : </td>
                                <td ><ice:inputTextarea cols="45" rows="5" value="#{role.description}" /></td>
                            </tr>
                            <tr>
                                <td class="label">Access Permission : </td>
                                <td >
                                    <h2 class="group_permission"><ice:selectBooleanCheckbox      partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole1}" ></ice:selectBooleanCheckbox>Akasaki Front line</h2>
                                    <table class="permission" >
                                        <tr>
                                            <td width="100%">
                                                <h2 class="group_permission_sub" >Front line</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_fl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_fl_Two}">
                                                                <ice:selectBooleanCheckbox    disabled="#{role.disble_fl}" value="#{role.check_fl_1}"  partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole2}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText  value="Create "></ice:outputText> 
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_fl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_fl_Two}">
                                                                <ice:selectBooleanCheckbox  disabled="#{role.disble_fl}" partialSubmit="true" value="#{role.check_fl_2}" valueChangeListener="#{role.ListernerChangValueRole5}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Edit "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_fl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_fl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_fl}" partialSubmit="true" value="#{role.check_fl_3}" valueChangeListener="#{role.ListernerChangValueRole4}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Delete "></ice:outputText>
                                                        </td>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_fl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_fl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_fl}" partialSubmit="true" value="#{role.check_fl_4}"  valueChangeListener="#{role.ListernerChangValueRole3}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="View  list"></ice:outputText>
                                                        </td>
                                                        <td width="16%"> 
                                                            <span style="#{role.divsible_fl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_fl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_fl}"  partialSubmit="true" value="#{role.check_fl_5}" valueChangeListener="#{role.ListernerChangValueRole6}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="View detail"></ice:outputText>
                                                        </td>   
                                                        <td width="16%"> 
                                                        </td>    
                                                    </tr>   
                                                </table> 
                                            </td>
                                        </tr>	  
                                    </table>    
                                    <h2 class="group_permission"><ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole7}"></ice:selectBooleanCheckbox>
                                        Akasaki Back line</h2>
                                    <table class="permission" >
                                        <tr>
                                            <td width="100%">
                                                <h2 class="group_permission_sub" >Assy worksheet</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_1}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole8}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Create "></ice:outputText>
                                                        </td>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_2}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole11}"></ice:selectBooleanCheckbox>
                                                            </span>   
                                                            <ice:outputText value="Edit "></ice:outputText>

                                                        </td>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_3}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole10}"></ice:selectBooleanCheckbox>
                                                            </span> 
                                                            <ice:outputText value="Delete "></ice:outputText>
                                                        </td>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}"> 
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_4}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole12}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Approve "></ice:outputText>
                                                        </td> 
                                                        <td width="16%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">  
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_5}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole9}"></ice:selectBooleanCheckbox>
                                                            </span> 
                                                            <ice:outputText value="View list"></ice:outputText>
                                                        </td>
                                                        <td width="16%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_6}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole13}"></ice:selectBooleanCheckbox>
                                                            </span> 
                                                            <ice:outputText value="View detail"></ice:outputText>
                                                        </td>  
                                                    </tr>	  
                                                </table>


                                                <h2 class="group_permission_sub" >Auto worksheet</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%"> 
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_7}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole14}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="Create "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">    
                                                                <ice:selectBooleanCheckbox  disabled="#{role.disble_bl}" value="#{role.check_bl_8}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole17}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="Edit "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">   
                                                                <ice:selectBooleanCheckbox  disabled="#{role.disble_bl}" value="#{role.check_bl_9}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole16}"></ice:selectBooleanCheckbox>
                                                            </span>  
                                                            <ice:outputText value="Delete "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">    
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}" value="#{role.check_bl_10}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole18}"></ice:selectBooleanCheckbox>
                                                            </span>   
                                                            <ice:outputText value="Approve "></ice:outputText>
                                                        </td> 
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">   
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_11}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole15}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="View list"></ice:outputText>
                                                        </td>
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">    
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_12}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole19}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="View detail"></ice:outputText>
                                                        </td>
                                                    </tr>
                                                </table> 
                                                <h2 class="group_permission_sub" >Assembly worksheet</h2>
                                                <table class="permission_sub" >         
                                                    <tr>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_13}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole20}"></ice:selectBooleanCheckbox>
                                                            </span>     
                                                            <ice:outputText value="Create "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">   
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_14}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole23}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Edit "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">  
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_15}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole22}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="Delete "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">     
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_16}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole24}"></ice:selectBooleanCheckbox>
                                                            </span>     
                                                            <ice:outputText value="Approve "></ice:outputText>
                                                        </td>
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">   
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_17}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole21}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="View list"></ice:outputText>
                                                        </td>
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">    
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_18}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole25}"></ice:selectBooleanCheckbox>
                                                            </span>    
                                                            <ice:outputText value="View detail"></ice:outputText>
                                                        </td>
                                                    </tr>
                                                </table> 
                                                <h2 class="group_permission_sub" >Packing</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">    
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_19}"/>
                                                            </span> 
                                                            <ice:outputText value="Create "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">  

                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_20}"/>
                                                            </span> 
                                                            <ice:outputText value="Edit "></ice:outputText>

                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_21}"/>
                                                            </span>
                                                            <ice:outputText value="Delete "></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_22}"/>
                                                            </span>
                                                            <ice:outputText value="Approve "></ice:outputText>
                                                        </td>
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_23}"/>
                                                            </span>
                                                            <ice:outputText value="View list"></ice:outputText>
                                                        </td>
                                                        <td width="16%">
                                                            <span style="#{role.divsible_bl_One}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divsible_bl_Two}">
                                                                <ice:selectBooleanCheckbox disabled="#{role.disble_bl}"  value="#{role.check_bl_24}"/>
                                                            </span>
                                                            <ice:outputText value="View detail"></ice:outputText>
                                                        </td>
                                                    </tr>	  
                                                </table>  
                                            </td>
                                        </tr>	  
                                    </table>      

                                    <h2 class="group_permission">New Create</h2>
                                    <table class="permission" >
                                        <tr>
                                            <td width="100%"> 
                                                <h2 class="group_permission_sub" > 
                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole26}"></ice:selectBooleanCheckbox>
                                                    Pcb
                                                </h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub" >
                                                                Pcb01
                                                            </h2>
                                                            <table class="permission_sub" >
                                                                <tr>
                                                                    <td width="17%">  
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}"> 
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_1}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole27}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Create"></ice:outputText></td> 
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_2}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole30}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_3}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole29}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_4}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole31}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_5}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole28}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View list "></ice:outputText>
                                                                    </td> 
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb01_6}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole32}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View detail"></ice:outputText>
                                                                    </td>
                                                                </tr> 
                                                            </table>

                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub" >Pcb02</h2>
                                                            <table class="permission_sub" >
                                                                <tr>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_1}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole33}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Create"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_2}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole36}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_3}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole35}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_4}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole37}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td> 
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_5}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole34}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View list"></ice:outputText>
                                                                    </td> 
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb02_6}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole38}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View detail"></ice:outputText>
                                                                    </td>
                                                                </tr> 
                                                            </table>
                                                        </td> 
                                                    </tr>
                                                    <tr> 
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub"> Pcb03</h2> 
                                                            <table class="permission_sub" >
                                                                <tr>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_1}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole39}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Create"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_2}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole42}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_3}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole41}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_4}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole43}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td> 
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_5}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole40}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View list"></ice:outputText>
                                                                    </td> 
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_pcb_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_pcb_two}">
                                                                            <ice:selectBooleanCheckbox disabled="#{role.disble_pcb}" value="#{role.pcb03_6}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole44}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View Detail"></ice:outputText>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                        </td> 
                                                    </tr>
                                                </table>
                                                <h2 class="group_permission_sub" >
                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole45}"></ice:selectBooleanCheckbox>
                                                    Refu
                                                </h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub" >Refu01</h2>
                                                            <table width="100%">
                                                                <tr>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu01_1}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole46}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Create"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu01_2}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole49}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox  value="#{role.refu01_3}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole48}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu01_4}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole50}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu01_5}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole47}"></ice:selectBooleanCheckbox>
                                                                        </span> 
                                                                        <ice:outputText value="View list"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu01_6}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole51}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View detail"></ice:outputText>
                                                                    </td>
                                                                </tr>    
                                                            </table>
                                                        </td>
                                                    </tr>	
                                                    <tr>
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub" >Refu02</h2>
                                                            <table width="100%">
                                                                <tr>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_1}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole52}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Create"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_2}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole55}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_3}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole54}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_4}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole56}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_5}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole53}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View list"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu02_6}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole57}"></ice:selectBooleanCheckbox>
                                                                        </span> 
                                                                        <ice:outputText value="View detail"></ice:outputText>
                                                                    </td>
                                                                </tr>    
                                                            </table> 
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td width="100%">
                                                            <h2 class="group_permission_sub" >Refu03</h2>
                                                            <table width="100%">
                                                                <tr>
                                                                    <td width="17%"> 
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_1}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole58}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Cretae"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_2}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole61}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Edit"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}"> 
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_3}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole60}"></ice:selectBooleanCheckbox>
                                                                        </span> 
                                                                        <ice:outputText value="Delete"></ice:outputText>
                                                                    </td>
                                                                    <td width="17%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}">
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_4}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole62}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="Approve"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}"> 
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_5}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole59}"></ice:selectBooleanCheckbox>
                                                                        </span>  
                                                                        <ice:outputText value="View list"></ice:outputText>
                                                                    </td>
                                                                    <td width="16%">
                                                                        <span style="#{role.divible_refu_one}">
                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                        </span>
                                                                        <span style="#{role.divible_refu_two}"> 
                                                                            <ice:selectBooleanCheckbox value="#{role.refu03_6}" disabled="#{role.disble_refu}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole63}"></ice:selectBooleanCheckbox>
                                                                        </span>
                                                                        <ice:outputText value="View detail"></ice:outputText>
                                                                    </td>
                                                                </tr>    
                                                            </table> 
                                                        </td>
                                                    </tr>
                                                </table> 
                                            </td>
                                        </tr>	  
                                    </table>          


                                    <h2 class="group_permission"><ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole64}"></ice:selectBooleanCheckbox>
                                        Report
                                    </h2>
                                    <table class="permission" >
                                        <tr>
                                            <td width="100%">
                                                <h2 class="group_permission_sub" >ReportList</h2>
                                                <!--										<table class="permission_sub" >
                                                                                                                                        <tr>
                                                                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                        See setting</td>
                                                                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                        Edit model</td>
                                                                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                        New process</td>
                                                                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                        Data process</td>
                                                                                                                                    </tr>	  
                                                                                                                                </table>-->
                                                <h2 class="group_permission_sub" >R Chart</h2>
                                                <!--										<table class="permission_sub" >
                                                                                                                                        <tr>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            See setting</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            Edit model</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            New process</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            Data process</td>
                                                                                                                                        </tr>	  
                                                                                                                                </table>-->
                                                <h2 class="group_permission_sub" >KPI</h2>
                                                <!--										<table class="permission_sub" >
                                                                                                                                        <tr>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            See setting</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            Edit model</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            New process</td>
                                                                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                                                                            Data process</td>
                                                                                                                                        </tr>	  
                                                                                                                                </table>-->

                                            </td>
                                        </tr>	  
                                    </table>          



                                    <h2 class="group_permission"> 
                                        <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole65}"></ice:selectBooleanCheckbox>
                                        Setting</h2>
                                    <table class="permission" >
                                        <tr>
                                            <td width="100%">
                                                <h2 class="group_permission_sub" >Account</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%">
                                                            <span style="#{role.divble_setting_one}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divble_setting_two}">
                                                                <ice:selectBooleanCheckbox value="#{role.acc_1}" disabled="#{role.disble_setting}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole75}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText  value="Create user"></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divble_setting_one}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divble_setting_two}">
                                                                <ice:selectBooleanCheckbox value="#{role.acc_2}" disabled="#{role.disble_setting}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole76}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="User config"></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divble_setting_one}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divble_setting_two}">
                                                                <ice:selectBooleanCheckbox value="#{role.acc_3}" disabled="#{role.disble_setting}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole77}"></ice:selectBooleanCheckbox>
                                                            </span> 
                                                            <ice:outputText value="Add user role"></ice:outputText>
                                                        </td>
                                                        <td width="17%">

                                                        </td>
                                                        <td width="16%">
                                                        </td>
                                                        <td width="16%">
                                                        </td>
                                                    </tr>	  
                                                </table>
                                                <h2 class="group_permission_sub" >Product</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%"></td>
                                                        <td width="17%"></td>
                                                        <td width="17%"></td>
                                                        <td width="17%"></td>
                                                        <td width="16%"></td>
                                                        <td width="16%"></td>
                                                    </tr>	  
                                                </table>
                                                <h2 class="group_permission_sub" >Machine</h2>
                                                <table class="permission_sub" >
                                                    <tr>
                                                        <td width="17%">
                                                            <span style="#{role.divble_setting_one}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divble_setting_two}">
                                                                <ice:selectBooleanCheckbox value="#{role.mc_1}" disabled="#{role.disble_setting}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole72}"></ice:selectBooleanCheckbox>
                                                            </span>
                                                            <ice:outputText value="Create mc"></ice:outputText>
                                                        </td>
                                                        <td width="17%">
                                                            <span style="#{role.divble_setting_one}">
                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                            </span>
                                                            <span style="#{role.divble_setting_two}">
                                                                <ice:selectBooleanCheckbox value="#{role.mc_2}" disabled="#{role.disble_setting}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole73}"></ice:selectBooleanCheckbox>
                                                            </span> 
                                                            <ice:outputText value="Mc pref"></ice:outputText>
                                                        </td>
                                                        <td width="17%"> 
<!--                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole71}"></ice:selectBooleanCheckbox>
                                                           <ice:outputText value="See mc"></ice:outputText> -->
                                                        </td>
                                                        <td width="17%">

                                                        </td>
                                                        <td width="16%">
                                                        </td>    
                                                        <td width="16%">
                                                        </td> 
                                                    </tr>	  
                                                </table>

                                            </td>

                                        </tr>	  
                                    </table>    

                                    <h2 class="group_permission">Other</h2>
                                    <table width="100%" class="permission">
                                        <tr>
                                            <td width="17%">  
                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole70}"></ice:selectBooleanCheckbox>
                                                <ice:outputText value="Select bar"></ice:outputText>
                                            </td>
                                            <td width="17%"> 
                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole74}"></ice:selectBooleanCheckbox>
                                                <ice:outputText value="See appconf"></ice:outputText> 
                                            </td>
                                            <td width="17%">
                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole78}"></ice:selectBooleanCheckbox>
                                                <ice:outputText value="Other ....."></ice:outputText>
                                            </td>
                                            <td width="17%"></td>
                                            <td width="16%"></td>
                                            <td width="16%"></td>
                                        </tr>
                                    </table>           
                                </td>
                            </tr> 
                        </table>

                    </div>

                </div>
            </h:form> 
        </h:body>
    </f:view>
</html>