<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Role -->
        <h:form>
		<div class="box">
    		<div class="heading">
      			<h1> <img src="../images/h1_role.png" /> Role </h1>
      			<div class="buttons"> 
                            <ice:commandButton     styleClass="button_insert" value="Insert" actionListener="#{role.insert()}"/>
      			</div>
   			</div>  
    		<div class="content">
				<div class="search_content">
					<table class="form_search">
					  <tr>
                                              <td width="30%" align="left" valign="middle">Role name: <br /><ice:inputText value="#{role.rolenames}" /></td>
						<td width="30%" align="left" valign="middle">&nbsp;</td>
						<td width="30%" align="left" valign="middle">&nbsp;</td>
                                                <td width="10%" align="right" valign="middle">
                                                <ice:commandButton  styleClass="button_search" value="Search" actionListener="#{role.changToSearch}" /></td>
					  </tr>
				  </table>
				</div>
                    <ice:dataTable value="#{role.worksheet}" var="roleList" width="100%">
                                        <ice:column style="width:5%;">
                                        <f:facet name="header" >
                                            <ice:outputText value="No." />
                                        </f:facet>
                                        <ice:outputText value="#{roleList.number}"/>
                                    </ice:column>
                                    <ice:column style="width:20%;">
                                        <f:facet name="header" style="width:5%;">
                                            <ice:outputText value="Roles name" />
                                        </f:facet>
                                        <ice:outputText value="#{roleList.roleName}"/>
                                    </ice:column>
                                    <ice:column style="width:65%;"> 
                                        <f:facet name="header">
                                            <ice:outputText value="Descrition" />
                                        </f:facet>
                                        <ice:outputText value="#{roleList.descrition}"/>
                                    </ice:column>
                                    <ice:column style="width:15%;">
                                        <f:facet name="header" >
                                            <ice:outputText value="Action" />
                                        </f:facet>
                                        <ice:panelGrid columns="2">    
                                            <ice:commandButton   styleClass="button_edit" value="Edit" actionListener="#{role.edit(roleList.index)}"/>
                                            <ice:commandButton panelConfirmation="confirmdelroles" styleClass="button_del" value="Delete" actionListener="#{role.changeToDelete(roleList.index)}"/>
                                            <ice:panelConfirmation id="confirmdelroles" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete role" message="You are about to role . Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                        </ice:panelGrid>
                                    </ice:column>   
                                </ice:dataTable>    
				 <div class="pagination">
                                        <div align="center"> 
                                            <ice:commandLink styleClass="prev" actionListener="#{role.previous}" value="Previous" rendered="#{role.worksheetpagination.hasPreviousPage}"/> 
                                                #{role.worksheetpagination.page+1}/#{machinecontrol.allPages}
                                                <ice:commandLink styleClass="next" actionListener="#{role.next}" value="Next" rendered="#{role.worksheetpagination.hasNextPage}"/>
                                        <div class="results">
                                                    Showing #{role.worksheetpagination.pageFirstItem+1} to #{role.worksheetpagination.pageLastItem+1} of #{role.worksheetpagination.itemsCount}
                                        </div>
                                    </div>
                                </div>
                      </div> 
	  	</div>
            </h:form>
    </h:body>
</html>