<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script>   
        <script type="text/javascript" src="../report/totaldefect/jsLoop/loop.js" />
        <style type="text/css">
            body {
                margin: 0px;
                padding: 0px;
            }
            #container {
                width : 95%;
                height: 630px;
            }
        </style>
    </h:head>
    <h:body> 
        <iframe src="report/totaldefect/defecttotalng.xhtml" frameborder="0" scrolling="no" height="1500px;" width="100%">
        </iframe> 
    </h:body>
</html>
