<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <script type="text/javascript" src="js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="js/lib/base64.js"></script> 
        <script type="text/javascript" src="js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="js/flotr2.min.js"></script> 
        <script type="text/javascript" src="jsLoop/loop.js"></script> 
        <style type="text/css">
            body {
                margin: 0px;
                padding: 0px;
            }
            #container {
                width : 95%;
                height: 630px;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1><img src="../../images/h1_radar.png" />Ng Defect</h1>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search" width="100%">
                            <tr>
                                <td class="label" width="30%">Process : <br/> 
                                    <ice:selectOneMenu value="#{defecttotalreport.currentSearchDefect.process}">
                                        <f:selectItems value="#{defecttotalreport.loadProcess()}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label" width="30%">Process type :<br/> 
                                    <ice:selectOneMenu value="#{defecttotalreport.currentSearchDefect.processType}">
                                        <f:selectItems value="#{defecttotalreport.loadProcessType()}" />
                                    </ice:selectOneMenu>
                                </td> 
                                <td class="label" width="30%">Defect name : <br/>
                                    <ice:selectOneMenu value="#{defecttotalreport.currentSearchDefect.defectName}">
                                        <f:selectItems value="#{defecttotalreport.loadDefectName()}" />
                                    </ice:selectOneMenu>
                                </td>    
                                <td width="10%">
                                    <h:commandButton  value="Search" styleClass="button_search" actionListener="#{defecttotalreport.changLine}"/>
                                </td> 
                            </tr>
                            <tr>
                                <td class="label">Start from date :<br/>
                                    <ice:selectInputDate renderAsPopup="true"  value="#{defecttotalreport.currentSearchDefect.start}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate></td>
                                <td class="label">To date : <br/>
                                    <ice:selectInputDate renderAsPopup="true" value="#{defecttotalreport.currentSearchDefect.end}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>  
                                <td class="label">Model : <br/>
                                    <ice:selectOneMenu value="#{defecttotalreport.currentSearchDefect.model}">
                                        <f:selectItems value="#{defecttotalreport.loadModelName()}" />
                                    </ice:selectOneMenu></td>
                            </tr>
                            <tr>
                                <td class="label">Line : <br/>
                                    <ice:selectOneMenu value="#{defecttotalreport.lineiid}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                        <f:selectItems value="#{defecttotalreport.line}"/>
                                    </ice:selectOneMenu>
                                </td> 
                                <td width="30%">
                                    <h:commandButton value="back " actionListener="#{defecttotalreport.back}" />&nbsp;back qty : <input type="text" value="#{defecttotalreport.mount}" size="10"  readonly="true"/></td>
                                <td width="30%"></td> 
                                <td width="10%"></td> 
                            </tr>
                        </table>
                    </div> 
                    <br/>
                </div>
                <div class="content">
                    <div class="search_content">

                        <div style="width: 100%; display: inline;">
                            Date :<ice:selectOneMenu value="#{defecttotalreport.dated}" >
                                <f:selectItems value="#{defecttotalreport.dateItem()}" />
                            </ice:selectOneMenu> <ice:commandButton value="Send Problem" actionListener="#{defecttotalreport.changetProblem('open')}"/>
<!--                            &nbsp;<ice:outputText value="#{defecttotalreport.validateSendProblem}" style="color: red;" />-->
                        </div>
                    </div> 
                    <br/>   
                    <br/>   

                    <ice:panelPopup  modal="true"  rendered="#{defecttotalreport.statusProblem}"  style="z-index:1001; width:650px; top: 0px;">
                        <f:facet name="header">
                            <ice:panelGrid styleClass="popup_head" width="650px" cellpadding="0" cellspacing="0" columns="2" style="text-align: left;">
                                <ice:outputText style="color: #000000; float:left;" value="Send Problem" />
                                <ice:commandButton style="float:right;" image="#{resource['images:close.png']}"  actionListener="#{defecttotalreport.changetProblem('close')}"/>
                            </ice:panelGrid>
                        </f:facet>
                        <f:facet name="body">
                            <div class="popup_content">
                                <table class="poptable" width="100%" border="0" cellspacing="1" cellpadding="0">
                                    <tr>
                                        <td>Date : </td>
                                        <td><ice:outputText value="#{defecttotalreport.currentSendProblem.dated}" /> </td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>Result : </td>
                                        <td><ice:outputText value="#{defecttotalreport.currentSendProblem.result}" /></td>
                                        <td>Status :</td>
                                        <td><ice:outputText value="#{defecttotalreport.currentSendProblem.status}" /></td>
                                    </tr>
                                </table>   
                            </div>     
                            <div>
                                <p>Comment ทั่วไป :</p>
                                <ice:inputTextarea rows="3" cols="80" value="#{defecttotalreport.currentSendProblem.commentGerneral}" />
                            </div>    
                            <div>
                                <p>วิธีเเก้ปัญหา :</p>
                                <ice:inputTextarea rows="3" cols="80" value="#{defecttotalreport.currentSendProblem.solution}" />
                            </div> 
                            <p><ice:selectBooleanCheckbox value="#{defecttotalreport.currentSendProblem.targetOverCheck}" partialSubmit="true" valueChangeListener="#{defecttotalreport.changeOverTarget}"/>If over target click here</p>
                            <ice:panelTab rendered="#{defecttotalreport.checkovertarget}">
                                <div>
                                    <p>วิธีเเก้ปัญหา Over target :</p>
                                    <ice:inputTextarea rows="3" cols="80" value="#{defecttotalreport.currentSendProblem.targetOverComment}" />
                                </div>    
                                <br/>
                                <br/>
                                <div>
                                    <ice:commandButton value="Super Approve" actionListener="#{defecttotalreport.changetProblem('app')}" /> &nbsp;<ice:commandButton value="QM Approve" actionListener="#{defecttotalreport.changetProblem('app')}"/>
                                </div>   
                            </ice:panelTab>
                            <br/>
                            <div style="float: right;">
                                <ice:commandButton value="     Save    "  actionListener="#{defecttotalreport.changetProblem('save')}"/>
                            </div>
                        </f:facet>
                    </ice:panelPopup>
                    <div id="container"></div>
                    <br/>
                    <h2 class="lable_line"> Details Problem : </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <ice:dataTable width="100%" value="#{defecttotalreport.loadDetails()}" var="detialsNg">
                                <ice:column style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Date (วันที่)"  />
                                    </f:facet>
                                    <ice:outputText value="#{detialsNg.dated}" />
                                </ice:column>
                                <ice:column style="width: 45%;" >
                                    <f:facet name="header">
                                        <ice:outputText value="Problem Occurred (ปัญหาที่เกิดขึ้น)" />
                                    </f:facet>
                                    <ice:outputText value="#{detialsNg.problemOccured}"/>
                                </ice:column> 
                                <ice:column style="width: 45%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Corrective Action (การเเก้ไขปัญหาเบื้องต้น)"/>
                                    </f:facet>
                                    <ice:outputText value="#{detialsNg.correctiveAction}" />
                                </ice:column>
                            </ice:dataTable>

                        </div>
                    </div> 
                    <script>
                           
      
                        (function advanced_markers() {
                            //                            var ucl = 0.75;
                            var ucl = #{defecttotalreport.getTarget()};
                            //                            var target = 0.22;
                            var target = #{defecttotalreport.getUcl()};
                            function ticksFn(n) {
                                var ne = Number(n);
                                return ne.toFixed(2);
                            }
                            var    container = document.getElementById('container');

                            var xmark = new Image,
                            checkmark = new Image,
                            ticky = [],
                            label_ng=[],
                            ticks = [
                                [0, "Date "], 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
                            ],
                            bars = {
                                data: [],
                                lines: {
                                    show: true,
                                    barWidth: 0.6,
                                    lineWidth: 1,
                                    fillOpacity: 0.8
                                }
                            },
                            line = {
                                data: [],
                                lines: {
                                    show: true,
                                    barWidth: 0.6,
                                    lineWidth: 1,
                                    fillOpacity: 0.8
                                }
                            },
                            line2 = {
                                data: [],
                                lines: {
                                    show: true,
                                    barWidth: 0.6,
                                    lineWidth: 0,
                                    fillOpacity: 0.8
                                }
                            },
                            markers = {
                                data: [],
                                markers: {
                                    show: true,
                                    position: "ct",
                                    labelFormatter: function(o) {
                                        return o.y >= target ? checkmark : xmark;
                                    }
                                }
                            },
                            flotr = Flotr,
                            point, graph, i;
                            var iy = 0.0;
                            var i_old =0.0;
                            for (var i = 0.0; checkleng(i,1.80); i += 0.05) {
                                //                            if(Number(Number(target).toFixed(2)) == Number(Number(iy).toFixed(2))){
                                //                                    ticky.push([target," Target > "+target.toFixed(2)+" -------"]);
                                //                            }else if(checkand(check_m(target,i_old),checkleng2(target,iy))){
                                //                                    ticky.push([target," Target > "+target.toFixed(2)+" -------"]);
                                //                                    ticky.push(Number(iy).toFixed(2));
                                //                            }else if(Number(Number(iy).toFixed(2))==Number(Number(ucl).toFixed(2)))
                                //                                    ticky.push([i," UCL > "+ucl.toFixed(2)+" -------"]);
                                //                            else if(checkand(check_m(ucl,i_old),checkleng2(ucl,iy))){
                                //                                    ticky.push([target," UCL > "+ucl.toFixed(2)+" -------"]);
                                //                                    ticky.push(Number(iy).toFixed(2));
                                //                            }else
                                if(Number(Number(iy).toFixed(2))==Number(Number(ucl).toFixed(2)))
                                {}
                                else if(Number(Number(iy).toFixed(2))==Number(Number(target).toFixed(2)))
                                {}
                                else
                                    ticky.push([i,Number(iy).toFixed(2)]);
                               
                                i_old = iy;
                                iy += 0.05;
                            }
                            ticky.push([target," Target > "+target.toFixed(2)+" -------"]);
                            ticky.push([ucl," UCL > "+ucl.toFixed(2)+" -------"]);
                            for(i=0;checkleng2(i,32);i++){
                                line.data.push([i,ucl]);
                                line2.data.push([i,target]);
                            }
                            //    for (i = 1; i  20; i++) {
                            //        point = [i, (Math.ceil(Math.random() * 10)/10)];
                            //        bars.data.push(point);
                            //        markers.data.push(point);
                            //    }
                            point = #{defecttotalreport.array_ng};
                            bars.data = #{defecttotalreport.array_ng};
                            markers.data = #{defecttotalreport.array_ng};
                            var runner = function() {
                                if (!xmark.complete || !checkmark.complete) {
                                    setTimeout(runner, 50);
                                    return;
                                }
                                graph = flotr.draw(container, [line,line2,bars, markers], {
                                    colors: ['red', 'green', 'blue', '#4DA74D', '#9440ED'],
                                    yaxis: {
                                        ticks: ticky,
                                        min: 0,
                                        max: 1.80
                                    },
                                    xaxis: {
                                        ticks: ticks,
                                        min: 0,
                                        max: 31
                                    },
                                    mouse : {
                                        track : true,
                                        trackAll : false,
                                        relative : true,
                                        lineColor: null,
                                        fillOpacity: 0,
                                        trackY: true,
                                        trackDecimals: 3,
                                        radius: 9,  
                                        trackFormatter: function(obj) {
                                            var txt = br;
                                            for(var i=0;checkleng2(i,label_ng[Number(obj.x-1).toFixed(0)].length);i++)
                                            {
                                                txt +=label_ng[Number(obj.x-1).toFixed(0)][i]+br;
                                            }
                                            return obj.y+" %"+txt;
                                        }
                                    },
                                    grid: {
                                        verticalLines: true
                                    },
                                    title: "DAILY NG CONTROL CHART",
                                    subtitle: "TOTAL NG(%)"
                                });
                            };
                            //    for (i = 0; i  32; i++) {
                            //        label_ng.push("test"+i);
                            //    }
    
                            label_ng = #{defecttotalreport.array_name_ng};
                            //[["BB 0.01%","Eject 0.05%","Inject","FF"],["text"],["xxx"],["yyyy"]];
                            xmark.onload = runner;
                            xmark.src = "images/point_green.png";
                            //  xmark.onclick = "alert('test');";
                            checkmark.src = "images/point_red.png";
                            //checkmark.onclick = "alert('test');";
                        })();
                    </script>
                </div>    
            </div>
        </h:form>
    </h:body>
</html>
