<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <p:panel id="panel" header="Select Fillter" style="margin-bottom:10px;">  
                <p:selectOneMenu value="#{defecttotalreport.lineiid}">
                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                    <f:selectItems value="#{defecttotalreport.line}"/>
                </p:selectOneMenu>
            </p:panel>

            <p:commandButton update="panel,panel1" value="Submit" partialSubmit="true" actionListener="#{defecttotalreport.changLine}"/>

            <p:panel id="panel1" header="Output" style="margin-top:10px;">  
                <p:lineChart id="linear" value="#{defecttotalreport.ngmodel}" legendPosition="e" zoom="true" animate="plot" 
                             title="Linear Chart" minY="0" maxY="#{defecttotalreport.maxnum}" style="height:300px" widgetVar="chart"/>
                <p:commandButton type="button" value="Reset" icon="ui-icon-cancel" onclick="chart.resetZoom()"/>  
            </p:panel>
        </h:form>
    </h:body>
</html>
