<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>%Ng</title> 
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script>
        <!--        <script type="text/javascript" src="../report/slideshowkpi/js/carousel.js"></script>-->
        <script type="text/javascript" src="js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="js/lib/base64.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../../../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/loop.js" /> 
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }

            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
            #list_one_content{
                display: none;
            }
            #list_two_content{
                display: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>   
                    <div> 
                        <div id="container" style="width: 100%; height: 450px; background:#001929; display: block; "></div>
<!--                        <div>
                            <p>dateText:<ice:outputText value="#{qualityNgControl.dataNg}" /></p>
                        </div>-->
                    </div>
                    <script type="text/javascript"> 
                        var dataAll = [[1,10],[2,4],[3,2]];
                        var tickAll = [[1, "Frame"], [2, "DR"], [3,"Dirty"]];
                        (function basic_bars(horizontal) {
                            var    container = document.getElementById('container');
                       
//                            var horizontal = horizontal ? true : false,
//                            ticks = [[0, "Date 12/05/12"], [1, "Date 14/06/12"], [2, "Date"], 3],
                            var  d1    = dataAll;
                            var  ticks = tickAll; 
//                             ticks = #{qualityNgControl.ticks},
//                             d1 = #{qualityNgControl.dataNg};
//                            
                            //                            d2 = [],
                            //                            point, i;
                            //                            for (i = 0; checkn(i,4); i++) {
                            //                                if (horizontal) {
                            //                                    point = [Math.ceil(Math.random() * 10), i];
                            //                                } else {
                            //                                    point = [i, Math.ceil(Math.random() * 10)];
                            //                                }
                            //                                d1.push(point);
                            //                                if (horizontal) {
                            //                                    point = [Math.ceil(Math.random() * 10), i + 0.5];
                            //                                } else {
                            //                                    point = [i + 0.5, Math.ceil(Math.random() * 10)];
                            //                                }
                            //                                d2.push(point);
                            // }
                            Flotr.draw(container, [d1], {
                                bars: {
                                    show: true,
                                    horizontal: horizontal,
                                    shadowSize: 0,
                                    //                                    barWidth: 0.5
                                    barWidth: 0.5
                                },
                                mouse: {
                                    track: true,
                                    relative: true
                                },
                                yaxis: {
                                    min: 0,
                                    autoscaleMargin: 1
                                },
                                xaxis: {
                                     ticks: ticks,
                                    min: 0,
                                    max:15
                                }
                            });
                        })();
                    </script>
               
        </h:form>
    </h:body>
</html>
