<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>%Ng</title> 
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script>
        <!--        <script type="text/javascript" src="../report/slideshowkpi/js/carousel.js"></script>-->
        <script type="text/javascript" src="js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="js/lib/base64.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../../../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../../../report/totaldefect/js/loop.js" /> 
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }

            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
            #list_one_content{
                display: none;
            }
            #list_two_content{
                display: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>   
            <div> 
                <div id="container" style="width: 100%; height: 450px;   display: block; "></div>
                <!--                        <div>
                                            <p>dateText:<ice:outputText value="#{qualityNgControl.dataNg}" /></p>
                                        </div>-->
            </div>
            <script type="text/javascript"> 
                (function advanced_markers() {
                    var ucl = 0.45;
                    var target = 0.23;
                    function ticksFn(n) {
                        var ne = Number(n);
                        return ne.toFixed(2);
                    }
                    var    container = document.getElementById('container');
                    var xmark = new Image,
                    checkmark = new Image,
                    ticky = [],
                    ticks = [
                        [0, "Date"], 1, 2, 3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31
                    ],
                    bars = {
                        data: [],
                        lines: {
                            show: true,
                            barWidth: 0.6,
                            lineWidth: 1,
                            fillOpacity: 0.8
                        }
                    },
                    line = {
                        data: [],
                        lines: {
                            show: true,
                            barWidth: 0.6,
                            lineWidth: 1,
                            fillOpacity: 0.8
                        }
                    },
                    line2 = {
                        data: [],
                        lines: {
                            show: true,
                            barWidth: 0.6,
                            lineWidth: 0,
                            fillOpacity: 0.8
                        }
                    },
                    markers = {
                        data: [],
                        markers: {
                            show: true,
                            position: "cm",
                            labelFormatter: function(o) {
                                return o.y >= 0.45 ? checkmark : xmark;
                            }
                        }
                    },
                    flotr = Flotr,
                    point, graph, i;
                    var iy = 0.0;
                    for (var i = 0.0; checkne(i,1.80); i += 0.05) {
                        if(iy==0.25){
                            ticky.push([0.23," Target > 0.23 -------"]);
                            ticky.push(iy);
                        }else if(Number(Number(iy).toFixed(2))==0.45)
                            ticky.push([i," UCL > 0.45 -------"]);
                        else ticky.push([i,Number(iy).toFixed(2)]);
                        iy += 0.05;
                    }
                    for(i=0;checkne(i,32);i++){
                        line.data.push([i,ucl]);
                        line2.data.push([i,target]);
                    }
                    for (i = 1; checkne(i, 20); i++) {
                        point = [i, (Math.ceil(Math.random() * 10)/10)];
                        bars.data.push(point);
                        markers.data.push(point);
                    }
                    var runner = function() {
                        if (!xmark.complete || !checkmark.complete) {
                            setTimeout(runner, 50);
                            return;
                        }
                        graph = flotr.draw(container, [line,line2,bars, markers], {
                            colors: ['red', 'green', 'blue', '#4DA74D', '#9440ED'],
                            yaxis: {
                                ticks: ticky,
                                min: 0,
                                max: 1.80
                            },
                            xaxis: {
                                ticks: ticks,
                                min: 0,
                                max: 31
                            },
                            mouse : {
                                track : true,
                                trackAll : true,
                                relative : true,
                                lineColor: null,
                                fillOpacity: 0,
                                trackY: true,
                                trackDecimals: 2,
                                trackFormatter: function(obj) {
                                    return obj.y+" %";
                                }
                            },
                            grid: {
                                verticalLines: true
                            }
//                            ,
//                            title: "DAILY NG CONTROL CHART",
//                            subtitle: "TOTAL NG(%)"
                        });
                    };
                    xmark.onload = runner;
                    xmark.src = "images/point_green.png";
                    checkmark.src = "images/point_red.png";
                })();
            </script>

        </h:form>
    </h:body>
</html>
