<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateOptionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateOptionLabel_idKdataO}" for="idKdataO" />
                    <h:inputText id="idKdataO" value="#{optionController.selected.idKdataO}" title="#{bundle.CreateOptionTitle_idKdataO}" required="true" requiredMessage="#{bundle.CreateOptionRequiredMessage_idKdataO}"/>
                    <h:outputLabel value="#{bundle.CreateOptionLabel_optionName}" for="optionName" />
                    <h:inputText id="optionName" value="#{optionController.selected.optionName}" title="#{bundle.CreateOptionTitle_optionName}" />
                    <h:outputLabel value="#{bundle.CreateOptionLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{optionController.selected.createDate}" title="#{bundle.CreateOptionTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateOptionLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{optionController.selected.userCreate}" title="#{bundle.CreateOptionTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateOptionRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreateOptionLabel_statusOption}" for="statusOption" />
                    <h:inputText id="statusOption" value="#{optionController.selected.statusOption}" title="#{bundle.CreateOptionTitle_statusOption}" />
                    <h:outputLabel value="#{bundle.CreateOptionLabel_optionList}" for="optionList" />
                    <h:inputText id="optionList" value="#{optionController.selected.optionList}" title="#{bundle.CreateOptionTitle_optionList}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{optionController.create}" value="#{bundle.CreateOptionSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{optionController.prepareList}" value="#{bundle.CreateOptionShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateOptionIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
