<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListOptionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListOptionEmpty}" rendered="#{optionController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{optionController.items.rowCount > 0}">
                    <h:outputText value="#{optionController.pagination.pageFirstItem + 1}..#{optionController.pagination.pageLastItem + 1}/#{optionController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{optionController.previous}" value="#{bundle.Previous} #{optionController.pagination.pageSize}" rendered="#{optionController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{optionController.next}" value="#{bundle.Next} #{optionController.pagination.pageSize}" rendered="#{optionController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{optionController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_idKdataO}"/>
                            </f:facet>
                            <h:outputText value="#{item.idKdataO}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_optionName}"/>
                            </f:facet>
                            <h:outputText value="#{item.optionName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_statusOption}"/>
                            </f:facet>
                            <h:outputText value="#{item.statusOption}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListOptionTitle_optionList}"/>
                            </f:facet>
                            <h:outputText value="#{item.optionList}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{optionController.prepareView}" value="#{bundle.ListOptionViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{optionController.prepareEdit}" value="#{bundle.ListOptionEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{optionController.destroy}" value="#{bundle.ListOptionDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{optionController.prepareCreate}" value="#{bundle.ListOptionCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListOptionIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
