<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewOptionTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewOptionLabel_idKdataO}"/>
                    <h:outputText value="#{optionController.selected.idKdataO}" title="#{bundle.ViewOptionTitle_idKdataO}"/>
                    <h:outputText value="#{bundle.ViewOptionLabel_optionName}"/>
                    <h:outputText value="#{optionController.selected.optionName}" title="#{bundle.ViewOptionTitle_optionName}"/>
                    <h:outputText value="#{bundle.ViewOptionLabel_createDate}"/>
                    <h:outputText value="#{optionController.selected.createDate}" title="#{bundle.ViewOptionTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewOptionLabel_userCreate}"/>
                    <h:outputText value="#{optionController.selected.userCreate}" title="#{bundle.ViewOptionTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewOptionLabel_statusOption}"/>
                    <h:outputText value="#{optionController.selected.statusOption}" title="#{bundle.ViewOptionTitle_statusOption}"/>
                    <h:outputText value="#{bundle.ViewOptionLabel_optionList}"/>
                    <h:outputText value="#{optionController.selected.optionList}" title="#{bundle.ViewOptionTitle_optionList}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{optionController.destroyAndView}" value="#{bundle.ViewOptionDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewOptionEditLink}"/>
                <br />
                <h:commandLink action="#{optionController.prepareCreate}" value="#{bundle.ViewOptionCreateLink}" />
                <br />
                <h:commandLink action="#{optionController.prepareList}" value="#{bundle.ViewOptionShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewOptionIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
