<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateMd2pcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_md2pcId}" for="md2pcId" />
                    <h:inputText id="md2pcId" value="#{md2pcController.selected.md2pcId}" title="#{bundle.CreateMd2pcTitle_md2pcId}" required="true" requiredMessage="#{bundle.CreateMd2pcRequiredMessage_md2pcId}"/>
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{md2pcController.selected.createDate}" title="#{bundle.CreateMd2pcTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{md2pcController.selected.userCreate}" title="#{bundle.CreateMd2pcTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateMd2pcRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{md2pcController.selected.userApprove}" title="#{bundle.CreateMd2pcTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_sqProcess}" for="sqProcess" />
                    <h:inputText id="sqProcess" value="#{md2pcController.selected.sqProcess}" title="#{bundle.CreateMd2pcTitle_sqProcess}" />
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_processPoolIdProc}" for="processPoolIdProc" />
                    <h:selectOneMenu id="processPoolIdProc" value="#{md2pcController.selected.processPoolIdProc}" title="#{bundle.CreateMd2pcTitle_processPoolIdProc}" required="true" requiredMessage="#{bundle.CreateMd2pcRequiredMessage_processPoolIdProc}">
                        <f:selectItems value="#{processPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateMd2pcLabel_modelPoolId}" for="modelPoolId" />
                    <h:selectOneMenu id="modelPoolId" value="#{md2pcController.selected.modelPoolId}" title="#{bundle.CreateMd2pcTitle_modelPoolId}" required="true" requiredMessage="#{bundle.CreateMd2pcRequiredMessage_modelPoolId}">
                        <f:selectItems value="#{modelPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{md2pcController.create}" value="#{bundle.CreateMd2pcSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{md2pcController.prepareList}" value="#{bundle.CreateMd2pcShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateMd2pcIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
