<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListMd2pcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListMd2pcEmpty}" rendered="#{md2pcController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{md2pcController.items.rowCount > 0}">
                    <h:outputText value="#{md2pcController.pagination.pageFirstItem + 1}..#{md2pcController.pagination.pageLastItem + 1}/#{md2pcController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{md2pcController.previous}" value="#{bundle.Previous} #{md2pcController.pagination.pageSize}" rendered="#{md2pcController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{md2pcController.next}" value="#{bundle.Next} #{md2pcController.pagination.pageSize}" rendered="#{md2pcController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{md2pcController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_md2pcId}"/>
                            </f:facet>
                            <h:outputText value="#{item.md2pcId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_sqProcess}"/>
                            </f:facet>
                            <h:outputText value="#{item.sqProcess}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_processPoolIdProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.processPoolIdProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListMd2pcTitle_modelPoolId}"/>
                            </f:facet>
                            <h:outputText value="#{item.modelPoolId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{md2pcController.prepareView}" value="#{bundle.ListMd2pcViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{md2pcController.prepareEdit}" value="#{bundle.ListMd2pcEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{md2pcController.destroy}" value="#{bundle.ListMd2pcDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{md2pcController.prepareCreate}" value="#{bundle.ListMd2pcCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListMd2pcIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
