<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewMd2pcTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMd2pcLabel_md2pcId}"/>
                    <h:outputText value="#{md2pcController.selected.md2pcId}" title="#{bundle.ViewMd2pcTitle_md2pcId}"/>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_createDate}"/>
                    <h:outputText value="#{md2pcController.selected.createDate}" title="#{bundle.ViewMd2pcTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_userCreate}"/>
                    <h:outputText value="#{md2pcController.selected.userCreate}" title="#{bundle.ViewMd2pcTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_userApprove}"/>
                    <h:outputText value="#{md2pcController.selected.userApprove}" title="#{bundle.ViewMd2pcTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_sqProcess}"/>
                    <h:outputText value="#{md2pcController.selected.sqProcess}" title="#{bundle.ViewMd2pcTitle_sqProcess}"/>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_processPoolIdProc}"/>
                    <h:outputText value="#{md2pcController.selected.processPoolIdProc}" title="#{bundle.ViewMd2pcTitle_processPoolIdProc}"/>
                    <h:outputText value="#{bundle.ViewMd2pcLabel_modelPoolId}"/>
                    <h:outputText value="#{md2pcController.selected.modelPoolId}" title="#{bundle.ViewMd2pcTitle_modelPoolId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{md2pcController.destroyAndView}" value="#{bundle.ViewMd2pcDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewMd2pcEditLink}"/>
                <br />
                <h:commandLink action="#{md2pcController.prepareCreate}" value="#{bundle.ViewMd2pcCreateLink}" />
                <br />
                <h:commandLink action="#{md2pcController.prepareList}" value="#{bundle.ViewMd2pcShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewMd2pcIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
