<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateTextTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateTextLabel_idKdataT}" for="idKdataT" />
                    <h:inputText id="idKdataT" value="#{textController.selected.idKdataT}" title="#{bundle.CreateTextTitle_idKdataT}" required="true" requiredMessage="#{bundle.CreateTextRequiredMessage_idKdataT}"/>
                    <h:outputLabel value="#{bundle.CreateTextLabel_textLabel}" for="textLabel" />
                    <h:inputText id="textLabel" value="#{textController.selected.textLabel}" title="#{bundle.CreateTextTitle_textLabel}" />
                    <h:outputLabel value="#{bundle.CreateTextLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{textController.selected.createDate}" title="#{bundle.CreateTextTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateTextLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{textController.selected.userCreate}" title="#{bundle.CreateTextTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateTextRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreateTextLabel_statusText}" for="statusText" />
                    <h:inputText id="statusText" value="#{textController.selected.statusText}" title="#{bundle.CreateTextTitle_statusText}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{textController.create}" value="#{bundle.CreateTextSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{textController.prepareList}" value="#{bundle.CreateTextShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateTextIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
