<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTextTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTextLabel_idKdataT}"/>
                    <h:outputText value="#{textController.selected.idKdataT}" title="#{bundle.ViewTextTitle_idKdataT}"/>
                    <h:outputText value="#{bundle.ViewTextLabel_textLabel}"/>
                    <h:outputText value="#{textController.selected.textLabel}" title="#{bundle.ViewTextTitle_textLabel}"/>
                    <h:outputText value="#{bundle.ViewTextLabel_createDate}"/>
                    <h:outputText value="#{textController.selected.createDate}" title="#{bundle.ViewTextTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewTextLabel_userCreate}"/>
                    <h:outputText value="#{textController.selected.userCreate}" title="#{bundle.ViewTextTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewTextLabel_statusText}"/>
                    <h:outputText value="#{textController.selected.statusText}" title="#{bundle.ViewTextTitle_statusText}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{textController.destroyAndView}" value="#{bundle.ViewTextDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewTextEditLink}"/>
                <br />
                <h:commandLink action="#{textController.prepareCreate}" value="#{bundle.ViewTextCreateLink}" />
                <br />
                <h:commandLink action="#{textController.prepareList}" value="#{bundle.ViewTextShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewTextIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
