<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <meta http-equiv="Content-Type"
              content="text/html; charset=uft-8" />
        <title>MenuBar Component Tutorial - Basic</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Create User  -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1><img src="./images/h1_user.png" /> Create User  </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value="Create" actionListener="#{userscontrol.create}" />
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{userscontrol.changToCancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">First name :</td>
                            <td ><ice:inputText value="#{userscontrol.currentusers.firstName}" /></td>
                            <td class="label">Lastname :</td>
                            <td ><ice:inputText value="#{userscontrol.currentusers.lastName}" /></td>
                        </tr>
                        <tr>
                            <td class="label">User name :</td>
                            <td ><ice:inputText value="#{userscontrol.currentusers.userName}" /></td>
                            <td class="label">Password :</td>
                            <td ><ice:inputText value="#{userscontrol.currentusers.userPassword}" /></td>
                        </tr>
                        <tr> 
                            <td class="label">Image :</td>
                            <td>
                                <p><img src="#{userscontrol.userpic}" width="100" height="100" /></p>
                                <ice:commandButton partialSubmit="true" value="upload" actionListener="#{userscontrol.uppic}"/>
                                <script>
                                    #{userscontrol.showpopup}
                                </script>
                            </td>
                            <td class="label">Role :</td>
                            <td>
                                 <ice:selectOneMenu  partialSubmit="true" valueChangeListener="#{userscontrol.ChangeValueRoleItem}" value="#{userscontrol.roleUseIndex}">
                                    <f:selectItems value="#{userscontrol.itemrole}"/>
                                </ice:selectOneMenu>     
                                <ice:commandButton value=" Add role " actionListener="#{userscontrol.addUserRole()}"/>
<!--                                <div class="scrollbox">
                                    <div class="odd"><input type="checkbox" name="checkbox" value="checkbox" /> Role1</div>
                                    <div class="even"><input type="checkbox" name="checkbox" value="checkbox" /> Role2</div>
                                    <div class="odd"><input type="checkbox" name="checkbox" value="checkbox" /> Role3</div>
                                    <div class="even"><input type="checkbox" name="checkbox" value="checkbox" /> Role4</div>
                                    <div class="odd"><input type="checkbox" name="checkbox" value="checkbox" /> Role5</div>
                                    <div class="even"><input type="checkbox" name="checkbox" value="checkbox" /> Role6</div>
                                    <div class="odd"><input type="checkbox" name="checkbox" value="checkbox" /> Role7</div>
                                    <div class="even"><input type="checkbox" name="checkbox" value="checkbox" /> Role8</div>
                                    <div class="odd"><input type="checkbox" name="checkbox" value="checkbox" /> Role9</div>
                                    <div class="even"><input type="checkbox" name="checkbox" value="checkbox" /> Role10</div>
                                </div>-->
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Department :</td>
                            <td ><ice:inputText value="#{userscontrol.currentusers.department}" /></td>
                            <td class="label">Create date :</td>
                            <td ><!--ice:inputText value="" /--></td>
                        </tr>
                        <tr>
                            <td class="label">Description :</td>
                            <td ><ice:inputTextarea value="#{userscontrol.currentusers.discription}" /></td>
                            <td class="label">Status :</td>
                            <td >
                                <ice:selectOneMenu value="#{userscontrol.currentusers.status}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItem itemValue="Active" itemLabel=" Active "/>
                                    <f:selectItem itemValue="Inactive" itemLabel=" Inactive "/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                    </table>
                </div>
            </ice:form>
        </div>

        <ice:panelPopup style="width: 350px;" modal="true" autoCentre="true" visible="#{userscontrol.uppicvisible}" rendered="#{userscontrol.uppicvisible}">
            <f:facet name="header">
                <ice:form>
                    <ice:panelGrid width="350px" style="text-align: right;">
                        <ice:commandButton value="X" actionListener="#{userscontrol.changToCanceluppic}"/>
                    </ice:panelGrid>
                </ice:form>
            </f:facet>
            <f:facet name="body">
                <table width="100%">
                    <tr>  
                        <td>  
                            <h:form> 
                                <ace:fileEntry
                                    label="File Entry"
                                    relativePath="resources/userpic/"
                                    fileEntryListener="#{userscontrol.listener}"
                                    useOriginalFilename="true"
                                    useSessionSubdir="true"
                                    required="true"
                                    requiredMessage="Select pic."/>
                                <h:commandButton type="submit" value=" Upload "/>
                            </h:form>
                        </td>
                    </tr>
                </table>
            </f:facet>
        </ice:panelPopup>
    <!-- model Status -->
        <h2 class="lable_line"> Role </h2>
        <div  class="content_line">
            <div class="content_process">
                <ice:dataTable value="#{userscontrol.itemRoleDetail}" var="roleList" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                    <ice:column style="width:30%;">
                        <f:facet name="header">
                            <ice:outputText value="Rolename"/>
                        </f:facet>
                        <ice:outputText value="#{roleList.roleName}"/>
                    </ice:column>
                    <ice:column style="width:55%;">
                        <f:facet name="header">
                            <ice:outputText value="Description"/>
                        </f:facet>
                        <ice:outputText value="#{roleList.descrition}"/>
                    </ice:column> 
                    <ice:column style="width:15%;">
                        <f:facet name="header">
                            <ice:outputText value="Action"/>
                        </f:facet>
                        <ice:panelGrid columns="1">
                        <h:form>
                            <ice:commandButton panelConfirmation="delRoleUser" value="Del" styleClass="button_del"  actionListener="#{userscontrol.changtoDel(roleList.number)}" />
                            <ice:panelConfirmation id="delRoleUser" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to create process" message="You are about to delete ng. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </h:form>
                        </ice:panelGrid>
                    </ice:column>
                </ice:dataTable>
                
                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                </table>
            </div>
        </div>  
    </h:body>
</html>

