<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <meta http-equiv="Content-Type"
              content="text/html; charset=uft-8" />
        <title>MenuBar Component Tutorial - Basic</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--User List -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_user.png" /> User </h1>
                    <div class="buttons">
                        <ice:commandButton partialSubmit="true" actionListener="#{userscontrol.changToInsert}" styleClass="button_insert" value="Insert" />
                        <!--input type="button" class="button_delete" value="Detele" /-->				
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">User name: <br /> <ice:inputText value="#{userscontrol.usernameSearch}" /></td>
                                <td width="30%" align="left" valign="middle">First name: <br /><ice:inputText value="#{userscontrol.firshnameSearch}" /></td>
                                <td width="30%" align="left" valign="middle">Position: <br /><ice:inputText value="#{userscontrol.positionSearch}" /></td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" actionListener="#{userscontrol.changToSearch}"/></td>
                            </tr>
                        </table>
                    </div>
                    <ice:dataTable value="#{userscontrol.usersdatamodel}" var="users" width="100%" cellpadding="0" cellspacing="0">
                        <ice:column style="width: 25%">
                            <f:facet name="header">
                                <ice:outputText value="User name"/>
                            </f:facet>
                            <ice:outputText value="#{users.userName}"/>
                        </ice:column>
                        <ice:column style="width: 20%">
                            <f:facet name="header">
                                <ice:outputText value="First name"/>
                            </f:facet>
                            <ice:outputText value="#{users.firstName}"/>
                        </ice:column>
                        <ice:column style="width: 20%">
                            <f:facet name="header">
                                <ice:outputText value="Last name"/>
                            </f:facet>
                            <ice:outputText value="#{users.lastName}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Department"/>
                            </f:facet>
                            <ice:outputText value="#{users.department}"/>
                        </ice:column>
                        <ice:column style="width: 12%">
                            <f:facet name="header">
                                <ice:outputText value="Status"/>
                            </f:facet>
                            <ice:outputText value="#{users.status}"/>
                        </ice:column>
                        <ice:column style="width: 8%">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet>
                            <ice:commandButton styleClass="button_edit" value="Edit" actionListener="#{userscontrol.changToEdit}"/>
                        </ice:column>
                    </ice:dataTable>
                    <!--table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
                        <tr>
                            <td width="3%" align="center" bgcolor="#CCCCCC"><input type="checkbox" name="checkbox2" value="checkbox" /></td>
                            <td width="24%" align="center" bgcolor="#CCCCCC">User name</td>
                            <td width="19%" align="center" bgcolor="#CCCCCC">First name</td>
                            <td width="19%" align="center" bgcolor="#CCCCCC">Last name</td>
                            <td width="15%" align="center" bgcolor="#CCCCCC">Position</td>
                            <td width="12%" align="center" bgcolor="#CCCCCC">Status</td>
                            <td width="8%" align="center" bgcolor="#CCCCCC">Action</td>
                        </tr>
                        <tr>
                            <td align="center"><input type="checkbox" name="checkbox22" value="checkbox" /></td>
                            <td align="left">xxx</td>
                            <td align="left">xxx</td>
                            <td align="left">xxx</td>
                            <td align="left">xxx</td>
                            <td align="left">xxx</td>
                            <td width="8%"><input type="button" class="button_edit" value="Edit" /></td>
                        </tr>
                    </table-->
                    <div class="pagination"> 
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{userscontrol.previous}" value="Previous" rendered="#{userscontrol.usermodelpagination.hasPreviousPage}"/> 
                            #{userscontrol.usermodelpagination.page+1}/#{userscontrol.allpages}
                            <ice:commandLink styleClass="next" actionListener="#{userscontrol.next}" value="Next" rendered="#{userscontrol.usermodelpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{userscontrol.usermodelpagination.pageFirstItem+1} to #{userscontrol.usermodelpagination.pageLastItem+1} of #{userscontrol.usermodelpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>