<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create packing</title>
        <link rel="stylesheet" type="text/css"
              href="../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>

        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_packing.png" /> Create Packing </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value="Create" actionListener="#{packingcontrol.create}" />
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{packingcontrol.changToCancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control   : </td>
                            <td ><ice:inputText readonly="true" value="#{packingcontrol.currentdetails.lotcontrol}" /></td>
                            <td class="label">Line :</td>
                            <td ><ice:inputText value="#{packingcontrol.currentdetails.line}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" value="#{packingcontrol.currentdetails.modelseries}" valueChangeListener="#{packingcontrol.changModelseriesValue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.modelserieslist}"/>
                                </ice:selectOneMenu>
                                <ice:outputLabel value="#{packingcontrol.errorrequermodelseries}" style="color: red"/>
                            </td>
                            <td class="label">Stamp :</td>
                            <td ><ice:inputText value="#{packingcontrol.currentdetailpacking.stamp}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Model  :</td>
                            <td ><ice:selectOneMenu partialSubmit="true" value="#{packingcontrol.currentdetails.model}" valueChangeListener="#{packingcontrol.changModelValue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.modelpoollist}"/>
                                </ice:selectOneMenu>
                                <ice:outputLabel value="#{packingcontrol.errorrequermodel}" style="color: red"/>
                            </td>
                            <td class="label">Product code name  :</td>
                            <td ><ice:selectOneMenu partialSubmit="true" value="#{packingcontrol.currentdetailpacking.pdCodeName}" valueChangeListener="#{packingcontrol.changProductcodeName}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.productcodename}"/>
                                </ice:selectOneMenu>
                                <ice:outputLabel value="#{packingcontrol.errorrequerpd}" style="color: red"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td ><ice:selectOneMenu partialSubmit="true" value="#{packingcontrol.currentdetailpacking.pdType}" valueChangeListener="#{packingcontrol.changProductTypevalue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.producttype}"/>
                                </ice:selectOneMenu>
                                <ice:outputLabel value="#{packingcontrol.errorrequerpdt}" style="color: red"/>
                            </td>
                            <td class="label">Product code  :</td>
                            <td ><ice:inputText readonly="true" value="#{packingcontrol.currentdetailpacking.pdCode}" /></td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td></td>
                            <td class="label"></td>
                            <td><ice:commandButton value="Add Matrial" partialSubmit="true" actionListener="#{packingcontrol.addMatrial}" /></td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line">Process Status (#{packingcontrol.detailprocess.size()}) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="detailprocess" value="#{packingcontrol.detailprocess}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        </div>
                    </div>
                    <!--end Process Status -->
                </div>
            </ice:form>
        </div>
        <ice:form>
            <ice:panelPopup modal="true" visible="#{packingcontrol.popvisible}" rendered="#{packingcontrol.popvisible}" >
                <f:facet name="header">
                    <ice:panelGrid width="650px" style="text-align: right;">
                        <div>
                            <ice:commandButton value="X" partialSubmit="true" actionListener="#{packingcontrol.changTocancelAddmatrail}"/>
                        </div>
                    </ice:panelGrid>
                </f:facet>
                <f:facet name="body">
                    <table width="100%">
                        <tr>
                            <td>
                                <ice:outputLabel styleClass="label" value="Input barcode Assembly lot"/><ice:inputText value="#{packingcontrol.popupbarcode}"  partialSubmit="true" valueChangeListener="#{packingcontrol.changPopBarcodeValue}" style="width: 200px;"/>
                            </td>
                            <td>
                                <ice:outputLabel styleClass="label" value="Qty"/><ice:inputText readonly="true" value="#{packingcontrol.popQty}"/><ice:outputLabel styleClass="label" value="Pcs."/>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <ice:outputText style="color: red;" value="*** หมายเหตุ เศษเหลือจะเก็บไว้รวมเป็น lot ใหม่ต่อไป"/>
                            </td>
                            <td>
                                <ice:outputLabel styleClass="label" value="Wip"/><ice:inputText readonly="true" value="#{packingcontrol.popWip}"/><ice:outputLabel styleClass="label" value="Pcs."/>
                            </td>
                        </tr>
                        <tr>
                            <td><ice:outputLabel value="#{packingcontrol.poperror}" style="color: red;"/></td>
                            <td><ice:commandButton partialSubmit="true" actionListener="#{packingcontrol.changToExtracQty}" value="Gennerate"/>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div style="width: 100%; overflow: auto; height: 350px;" >
                                    <ice:panelSeries value="#{packingcontrol.assembly2Packingslist}" var="barcodenew">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <ice:inputText style="width: 300px;" readonly="true" value="#{barcodenew.packingBarcode}"/>
                                                </td>
                                                <td> </td>
                                                <td>
                                                    <ice:outputLabel styleClass="label" value="Qty"/><ice:inputText readonly="true" value="#{barcodenew.qty}"/><ice:outputLabel styleClass="label" value="Pcs."/>
                                                </td>
                                            </tr>
                                        </table>
                                    </ice:panelSeries>
                                </div>
                            </td>
                        </tr>
                    </table>
                    <div class="popup_button" style="width: 100%; text-align: right;">
                        <ice:commandButton value="Cancel" partialSubmit="true" actionListener="#{packingcontrol.changTocancelAddmatrail}"/>
                        <ice:commandButton value=" Save " partialSubmit="true" actionListener="#{packingcontrol.changToSaveMatrail}"/>
                    </div>
                </f:facet>
            </ice:panelPopup>
        </ice:form>
    </h:body>
</html>
