<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create packing</title>
        <link rel="stylesheet" type="text/css"
              href="../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>

        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_packing.png" /> Edit Packing </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_save" value=" Save " actionListener="#{packingcontrol.changToSave}" />
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{packingcontrol.changToCancel}"/>
                        <ice:commandButton panelConfirmation="confirmdeletedetail" styleClass="button_delete" value="Delete" actionListener="#{packingcontrol.changTodelAll}"/>
                    <ice:panelConfirmation id="confirmdeletedetail" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control   : </td>
                            <td ><ice:inputText readonly="true" value="#{packingcontrol.currentdetails.lotcontrol}" /></td>
                            <td class="label">Line :</td>
                            <td ><ice:inputText value="#{packingcontrol.currentdetails.line}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td >
                                <ice:selectOneMenu value="#{packingcontrol.currentdetails.modelseries}" partialSubmit="true" valueChangeListener="#{packingcontrol.changModelseriesValue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.modelserieslist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Stamp :</td>
                            <td ><ice:inputText value="#{packingcontrol.currentdetailpacking.stamp}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Model  :</td>
                            <td ><ice:selectOneMenu value="#{packingcontrol.currentdetails.model}" partialSubmit="true" valueChangeListener="#{packingcontrol.changModelValue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.modelpoollist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code name  :</td>
                            <td ><ice:selectOneMenu value="#{packingcontrol.currentdetailpacking.pdCodeName}" partialSubmit="true" valueChangeListener="#{packingcontrol.changProductcodeName}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.productcodename}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td ><ice:selectOneMenu value="#{packingcontrol.currentdetailpacking.pdType}" partialSubmit="true" valueChangeListener="#{packingcontrol.changProductTypevalue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{packingcontrol.producttype}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code  :</td>
                            <td ><ice:inputText readonly="true" value="#{packingcontrol.currentdetailpacking.pdCode}" /></td>
                        </tr>
                        <tr>
                            <td class="label"></td>
                            <td></td>
                            <td class="label"></td>
                            <td><ice:commandButton disabled="true" value="Add Matrial" partialSubmit="true" actionListener="#{packingcontrol.addMatrial}" /></td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line">Process Status (#{packingcontrol.detailprocess.size()}) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="detailprocess" value="#{packingcontrol.detailprocess}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        </div>
                    </div>
                    <!--end Process Status -->
                </div>
            </ice:form>
        </div>
    </h:body>
</html>
