<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Packing List</title>
        <link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_packing.png" /> Packing </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_insert" value="Insert" actionListener="#{packingcontrol.changToInsert}"/>
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">Barcode :<br /> <ice:inputText value="#{packingcontrol.barcodeSearch}"/></td>
                                <td width="30%" align="left" valign="middle">Process :<br /> <ice:inputText value="#{packingcontrol.processSearch}"/></td>
                                <td width="30%" align="left" valign="middle">&nbsp;</td>
                                <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" actionListener="#{packingcontrol.searchPackingWorksheet}" /></td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">Model :<br /> <ice:inputText value="#{packingcontrol.modelSearch}"/></td>
                                <!--td width="30%" align="left" valign="middle">Series :<br /> <ice:inputText value="#{packingcontrol.seriesSearch}"</td-->
                                <td width="30%" align="left" valign="middle">&nbsp;</td>
                                <td width="30%" align="left" valign="middle">&nbsp;</td>
                                <td width="10%" align="right" valign="middle">&nbsp;</td>
                            </tr>
                        </table>
                    </div>

                    <ice:dataTable value="#{packingcontrol.worksheet}" var="order" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
                        <ice:column id="column1" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.ordernumbercolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.ordernumber}" />
                        </ice:column>
                        <ice:column id="column2" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.typemodelcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.typemodel}" />
                        </ice:column>
                        <ice:column id="column3" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="Series"/>
                            </f:facet>
                            <ice:outputText value="#{order.typebobbin}"/>
                        </ice:column>
                        <ice:column id="column4" style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.datecreatecolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.createdate}" />
                        </ice:column>
                        <ice:column id="column5" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.processcolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.process}" />
                        </ice:column>
                        <ice:column id="column6" style="width: 10%;">
                            <f:facet name="header">
                                <ice:outputText value="#{assyworksheetlist.statuscolum}" />
                            </f:facet>
                            <ice:outputText value="#{order.status}" />
                        </ice:column>
                        <ice:column id="column7" style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action" />
                            </f:facet>
                            <ice:panelGroup>
                                <ice:commandLink panelConfirmation="confirmdeletelot" value="Del" styleClass="button_del" partialSubmit="true" actionListener="#{packingcontrol.changToDelOne}" />
                                <ice:panelConfirmation id="confirmdeletelot" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                <ice:commandLink value="Edit" styleClass="button_edit" actionListener="#{packingcontrol.changToEdit}"/>
                                <ice:commandLink value="Print" styleClass="button_print" actionListener="#{packingcontrol.changToPrint}" />
                            </ice:panelGroup>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination"> 
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{packingcontrol.previous}" value="Previous" rendered="#{packingcontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{packingcontrol.worksheetpagination.page+1}/#{packingcontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{packingcontrol.next}" value="Next" rendered="#{packingcontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{packingcontrol.worksheetpagination.pageFirstItem+1} to #{packingcontrol.worksheetpagination.pageLastItem+1} of #{packingcontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>