<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body><h:form>
            <div class="box"> 
                <div class="heading">	<h1> <img src="../images/h1_model.png" />Create Line</h1>
                    <div class="buttons">
                        <ice:commandButton value="Create" styleClass="button_create" actionListener="#{linecontrol.changeToCreate()}" />
                        &nbsp;
                        <ice:commandButton value="Cancel" styleClass="button_cancel" actionListener="#{linecontrol.changeToCancel()}" />   
                    </div>
                </div>    
                <div class="content"> 
                    <table class="form">
                        <tr>
                            <td class="label">Line name : </td>
                            <td><ice:inputText value="#{linecontrol.currentLine.lineName}"/></td>
                            <td class="label">STD Time : </td>
                            <td><ice:inputText size="10" value="#{linecontrol.currentLine.stdTime}"/>&nbsp;sec./pcs.</td>
                        </tr>
                        <tr>
                            <td class="label">Auto : </td>
                            <td><ice:selectBooleanCheckbox  partialSubmit="true" valueChangeListener="#{linecontrol.changeAutoTarget}"/></td>
                            <td class="label">STD Worker :</td>
                            <td><ice:inputText size="10" value="#{linecontrol.currentLine.stdWorker}"/>&nbsp;psn. </td> 
                        </tr>
                        <tr>
                            <td class="label">Target defect :</td>
                            <td><ice:inputText size="10" value="#{linecontrol.currentLine.targetDefect}"/>&nbsp;psn. </td> 
                            <td class="label">Time slide :</td>
                            <td><ice:inputText size="10" value="#{linecontrol.currentLine.timeSlide}"/>&nbsp;s. </td> 
                        </tr>
                        <tr>
                            <td class="label">Description : </td>
                            <td><ice:inputTextarea cols="30" rows="5" value="#{linecontrol.currentLine.descritpion}"/></td>
                        </tr>
                    </table>
                </div>
            </div>
            <ice:panelTab rendered="#{linecontrol.autoManual}">
                <div class="box">
                    <div class="heading">	<h1> <img src="../images/h1_model.png" />Create Target</h1>
                        <div class="buttons">
                            <ice:commandButton value="Add" styleClass="button_insert" actionListener="#{linecontrol.changeToAddTarget}" />
                        </div>
                    </div>
                    <div class="content"> 
                        <table width="100%" class="form" >
                            <tr>
                                <td class="label" width="10%">Start : </td>
                                <td width="40%"> 
                                    <ice:selectOneMenu partialSubmit="true" value="#{linecontrol.startHourUse}"  valueChangeListener="#{linecontrol.changeToStartHour}">
                                        <f:selectItems value="#{linecontrol.startHour}" />
                                    </ice:selectOneMenu>
                                    <b> : </b>
                                    <ice:selectOneMenu partialSubmit="true" value="#{linecontrol.startMinuteUse}" valueChangeListener="#{linecontrol.changeToStartMinute}">
                                        <f:selectItems value="#{linecontrol.startMinute}" />
                                    </ice:selectOneMenu>
                                </td>
                                <td class="label" width="10%">End : </td>
                                <td width="40%">
                                    <ice:selectOneMenu partialSubmit="true" value="#{linecontrol.endHourUse}" valueChangeListener="#{linecontrol.changeToEndHour}">
                                        <f:selectItems value="#{linecontrol.endHour}" />
                                    </ice:selectOneMenu>
                                    <b> : </b>
                                    <ice:selectOneMenu partialSubmit="true" value="#{linecontrol.endMinuteUse}" valueChangeListener="#{linecontrol.changeToEndMinute}">
                                        <f:selectItems value="#{linecontrol.endMinute}" />
                                    </ice:selectOneMenu>
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Qty : </td>
                                <td><ice:inputText value="#{linecontrol.qtyTarget}"> 
                                    </ice:inputText>    
                                    &nbsp;
                                    <ice:outputText style="color: red;" value="#{linecontrol.validateQtyTarget}" />
                                </td>
                                <td class="label">Date : </td>
                                <td>
                                    <ice:selectInputDate renderAsPopup="true" value="#{linecontrol.selectDate}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="#{newprocess.timeZone}"/>
                                    </ice:selectInputDate>    
                                </td>
                            </tr>
                            <tr>
                                <td class="label">Model : </td>
                                <td>
                                    <ice:selectOneMenu value="#{linecontrol.modeluse}" valueChangeListener="#{linecontrol.changeModelValue}" partialSubmit="true">
                                        <f:selectItems value="#{linecontrol.itemModel}"/>
                                    </ice:selectOneMenu>    
                                </td>
                                <td></td>
                                <td></td>
                            </tr>    
                        </table> 
                        <ice:dataTable width="100%" value="#{linecontrol.targeGetTable}" var="itemTarget">
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="No."/>
                                </f:facet>
                                <ice:outputText value="#{itemTarget.num}" />
                            </ice:column>
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText  value="Model" />
                                </f:facet>     
                                <ice:outputText value="#{itemTarget.modelName}" />
                            </ice:column>    
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText  value="Date" />
                                </f:facet>    
                                <ice:outputText value="#{itemTarget.date}" />
                            </ice:column>
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="Start" />
                                </f:facet>
                                <ice:outputText value="#{itemTarget.startTime}" />
                            </ice:column> 
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="End" />
                                </f:facet>
                                <ice:outputText value="#{itemTarget.endTime}" />
                            </ice:column>   
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="Qty" />
                                </f:facet>
                                <ice:outputText value="#{itemTarget.qty}" />
                            </ice:column>         
                            <ice:column>
                                <f:facet name="header">
                                    <ice:outputText value="Action"/>
                                </f:facet>
                                <ice:commandButton panelConfirmation="delTarget" styleClass="button_del" partialSubmit="true" value="Delete" actionListener="#{linecontrol.changeToDeleteTarget(itemTarget.index)}" />
                                <ice:panelConfirmation id="delTarget" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete target " message="You are about to target. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                            </ice:column>    
                        </ice:dataTable>   
                        <div class="pagination">
                            <div align="center"> 
                                <ice:commandLink styleClass="prev" actionListener="#{linecontrol.previous}" value="Previous" rendered="#{linecontrol.targetpagination.hasPreviousPage}"/> 
                                #{linecontrol.targetpagination.page+1}/#{linecontrol.allPages}
                                <ice:commandLink styleClass="next" actionListener="#{linecontrol.next}" value="Next" rendered="#{linecontrol.targetpagination.hasNextPage}"/>
                                <div class="results">
                                    Showing #{linecontrol.targetpagination.pageFirstItem+1} to #{linecontrol.targetpagination.pageLastItem+1} of #{linecontrol.targetpagination.itemsCount}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ice:panelTab>
            <ice:panelTab rendered="#{linecontrol.noneAutoManual}"> 
                <div class="box">     
                    <div class="heading">	<h1> <img src="../images/h1_model.png" />Create Target Manual</h1>
                        <!--                <div class="buttons">
                                                <ice:commandButton value="Priview" styleClass="button_insert" />
                                        </div>-->
                    </div>     
                    <div class="content">      
                        <table  width="100%" border="0">

                            <tr> 
                                <!--                    <td width="20%">Line : <br/><ice:inputText/></td>-->
                                <td  class="label">Model :</td>  
                                <td ><ice:inputText value="#{linecontrol.currentLine.modelManual}"/></td>
                                <td class="label">Uppicture : </td>
                                <td> 
                                     <p><img src="#{linecontrol.linkImage}" width="100" height="100" /></p>  
                                  <ice:commandButton value="upload" actionListener="#{linecontrol.uploadImage()}" />(File type upload jpeg,jpg,gif,png only)
                                  <script>
                                    #{linecontrol.showpopup}
                                  </script> 
                                </td>
                            </tr>  
                            <tr>
                                <td align="right" colspan="4"><ice:commandButton value="Add" styleClass="button_insert" partialSubmit="true" actionListener="#{linecontrol.addManualPlan()}"/></td>
                            </tr> 
                        </table>
                        <h2 class="lable_line"></h2>
                        <div  class="content_line">
                            <div class="content_process">
                                <ice:dataTable width="100%" var="plan" value="#{linecontrol.itemManualPlan}">
                                    <ice:column style="width: 30%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Plan"/>
                                        </f:facet>   
                                        <ice:panelGrid columns="2">
                                            <ice:inputText value="#{plan.time}" />
                                            <ice:inputText value="#{plan.qty}" />
                                        </ice:panelGrid>
                                    </ice:column> 
                                    <ice:column style="width: 20%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Result"/>
                                        </f:facet>   
                                        <ice:inputText value="#{plan.result}" />
                                    </ice:column>
                                    <ice:column style="width: 20%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Defect"/>
                                        </f:facet>
                                        <ice:inputText value="#{plan.defect}" />
                                    </ice:column>
                                    <ice:column style="width: 20%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Defect rate"/>
                                        </f:facet>  
                                        <ice:inputText value="#{plan.defectRate}" />
                                    </ice:column>
                                    <ice:column style="width: 10%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Action"/>
                                        </f:facet>  
                                        <ice:commandLink panelConfirmation="delPlan" value="Delete" styleClass="button_del" actionListener="#{linecontrol.delManualPlan(plan.indexManualPlan)}"/>
                                        <ice:panelConfirmation id="delPlan" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete plan " message="You are about to plan. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                    </ice:column>    
                                </ice:dataTable>
                            </div>
                        </div>
                        <br/>
                        <table width="100%" border="0">  
                            <tr>
                                <td align="right" colspan="5"><ice:commandButton value="Add" styleClass="button_insert" partialSubmit="true" actionListener="#{linecontrol.addManualNextModel()}"/></td>
                            </tr>
                        </table>
                        <h2 class="lable_line"> Next Model </h2>
                        <div  class="content_line">
                            <div class="content_process">
                                <ice:dataTable width="100%" value="#{linecontrol.itemManualNextModel}" var="manualNext">
                                    <ice:column style="width: 30%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Date"/>
                                        </f:facet>    
                                        <ice:selectInputDate value="#{manualNext.date}" renderAsPopup="true">
                                            <f:convertDateTime pattern="EEE dd/MM/yyyy HH:mm:ss"/>
                                        </ice:selectInputDate>
                                    </ice:column>
                                    <ice:column style="width: 30%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Model"/>
                                        </f:facet>    
                                        <ice:inputText value="#{manualNext.model}"/>
                                    </ice:column>
                                    <ice:column style="width: 30%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Quality"/>
                                        </f:facet>    
                                        <ice:inputText value="#{manualNext.quatility}"/>
                                    </ice:column>
                                    <ice:column style="width: 10%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Action"/>
                                        </f:facet>  
                                        <ice:commandLink panelConfirmation="delNextModel" value="Delete" styleClass="button_del" actionListener="#{linecontrol.delManualNextPlan(manualNext.indexManualNextModel)}" />
                                        <ice:panelConfirmation id="delNextModel" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete next model " message="You are about to next model. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                        </div>
                    </div>
                </div>
            </ice:panelTab>    
        </h:form> 
    </h:body>

</html>
