<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
        <div class="box"> 
            <div class="heading">	<h1> <img src="../images/h1_model.png" />Line &amp; Target </h1>
                <div class="buttons">
                        <ice:commandButton value="Insert" styleClass="button_insert" actionListener="#{linecontrol.changeToInsert()}" /> 
                </div>
            </div>   
            <div class="content">   
                <ice:dataTable width="100%" value="#{linecontrol.lineGetTable}" var="line">
            <ice:column style="width: 5%">
                <f:facet name="header">
                    <ice:outputText value="No." />
                </f:facet>    
                <ice:outputText value="#{line.numLine}" />
            </ice:column>    
            <ice:column style="width: 15%">
                <f:facet name="header"> 
                    <ice:outputText value="Line Name" />
                </f:facet>
                <ice:outputText value="#{line.lineName}"/>
            </ice:column>
            <ice:column style="width: 65%">
                <f:facet name="header">
                    <ice:outputText value="Description" />
                </f:facet>
                <ice:outputText value="#{line.description}"/>
            </ice:column>    
            <ice:column style="width: 15%">
                <f:facet name="header">
                    <ice:outputText value="Action" />
                </f:facet>
                 <ice:commandButton value="Edit" styleClass="button_edit" actionListener="#{linecontrol.changeToEdit(line.indeLine)}"/>
                 <ice:commandButton  panelConfirmation="delLine" value="Delete" styleClass="button_del" actionListener="#{linecontrol.changeToDeleteLine(line.indeLine)}"/>
                 <ice:panelConfirmation id="delLine" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete line " message="You are about to line. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
            </ice:column>    
        </ice:dataTable>    
                 <div class="pagination">
                    <div align="center"> 
                        <ice:commandLink styleClass="prev" actionListener="#{linecontrol.previous_line}" value="Previous" rendered="#{linecontrol.linepagination.hasPreviousPage}"/> 
                            #{linecontrol.linepagination.page+1}/#{linecontrol.allPages_line}
                            <ice:commandLink styleClass="next" actionListener="#{linecontrol.next_line}" value="Next" rendered="#{linecontrol.linepagination.hasNextPage}"/>
                    <div class="results">
                                Showing #{linecontrol.linepagination.pageFirstItem+1} to #{linecontrol.linepagination.pageLastItem+1} of #{linecontrol.linepagination.itemsCount}
                    </div>
                 </div>
               </div>
             </div>
        </div>    
        </h:form>
    </h:body>
</html>
