<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form >
            <table  width="100%" border="1">
                <tr>
                    <td align="right" colspan="5"><ice:commandButton value="Add" /></td>
                </tr>
                <tr> 
                    <td width="20%">Line : <br/><ice:inputText/></td>
                    <td width="40%" colspan="2">Model :<br/> <ice:inputText /></td>
                    <td width="20%">STD Time : <br/><ice:inputText size="10"/>&nbsp;sec./pcs.</td>
                    <td width="20%">STD Worker :<br/><ice:inputText size="10"/>&nbsp;psn. </td> 
                </tr>  
                <tr> 
                    <td colspan="2" width="40%" align="center">Plan</td>
                    <td width="20%" align="center">Result</td>
                    <td width="20%" align="center">Defect</td>
                    <td width="20%" align="center">Defect rate</td>  
                </tr>
                <tr> 
                    <td width="20%" align="center">07:40-10:10</td> 
                    <td width="20%" align="center">14,445</td>
                    <td width="20%" align="center">15,000</td>
                    <td width="20%" align="center">15,000</td>
                    <td width="20%" align="center">15,000</td>  
                </tr>
                <tr> 
                    <td width="20%" align="center">07:40-10:10</td> 
                    <td width="20%" align="center">14,445</td>
                    <td width="20%" align="center">15,000</td>
                    <td width="20%" align="center">15,000</td>
                    <td width="20%" align="center">15,000</td>  
                </tr>
            </table>
            <br/>
            <table width="100%" border="1">
                <tr>
                    <td align="right" colspan="5"><ice:commandButton value="Add" /></td>
                </tr>
                <tr>
                    <td colspan="3" width="100%" align="center"><h3>Next Model</h3></td>
                </tr>
                <tr>
                    <td align="center" width="30%">Date</td>
                    <td align="center" width="40%">Model</td>
                    <td align="center" width="30%">Quanlity</td>
                </tr>
                <tr>
                    <td align="center" width="30%">09/10/2555</td>
                    <td align="center" width="40%">TTRN-0525PH-OOT</td>
                    <td align="center" width="30%">146,000</td>
                </tr>
                <tr>
                    <td align="center" width="30%">09/10/2555</td>
                    <td align="center" width="40%">TTRN-0525PH-OOT</td>
                    <td align="center" width="30%">146,000</td>
                </tr>
            </table>
        </h:form> 
    </h:body>
</html>
