<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <meta http-equiv="Content-Type"
              content="text/html; charset=uft-8" />
        <title>Popup upload user pic</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body style="background: #999999; ">
        <div align="center" style="width: 100%; height: 100%; ">
        <table width="100%">
            <tr>
                <td align="center" valign="middle" height="100%">
                    <h:form>
                        <ace:fileEntry
                            label="File Entry"
                            relativePath="resources/userpic/"
                            fileEntryListener="#{linecontrol.listener}"
                            useOriginalFilename="true"
                            useSessionSubdir="true"
                            required="true"
                            requiredMessage="Select pic."/>
                        <h:commandButton type="submit" value=" Upload "/>
                    </h:form>
                    <script>
                        #{linecontrol.closepopup}
                    </script>
                </td>
            </tr>
        </table>
        </div>
    </h:body>
</html>