<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <meta http-equiv="Content-Type"
              content="text/html; charset=uft-8" />
        <title>MenuBar Component Tutorial - Basic</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Create User  -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1><img src="./images/h1_user.png" /> Edit My Account  </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value="Save" actionListener="#{myaccount.changeToSave}" />
                        &nbsp;
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{myaccount.showMyaccount}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form" border="0">
                        <tr>  
                            <td colspan="4">
                                <p align="right"><img src="#{userscontrol.userpic}" width="100" height="100" /></p>
                                <p align="right"><ice:commandButton partialSubmit="true" value="upload" actionListener="#{userscontrol.uppic}"/></p>
                                <script>
                                    #{userscontrol.showpopup}
                                </script>
                            </td> 
                        </tr>
                        <tr>
                            <td class="label">First name :</td>
                            <td ><ice:inputText value="#{myaccount.firstName}" /></td>
                            <td class="label">Lastname :</td>
                            <td ><ice:inputText value="#{myaccount.lastName}" /></td>
                        </tr>
                        <tr>
                            <td class="label">User name :</td>
                            <td ><ice:inputText value="#{myaccount.userName}" /></td>
                            <td class="label">Password :</td>
                            <td ><ice:inputText value="#{myaccount.passWord}" /></td>
                        </tr>
                        
                        <tr>
                            <td class="label">Department :</td>
                            <td ><ice:inputText value="#{myaccount.departMent}" /></td>
                            <td class="label">Create date :</td>
                            <td ><!--ice:inputText value="" /--></td>
                        </tr>
                        <tr>
                            <td class="label">Description :</td>
                            <td colspan="3"><ice:inputTextarea value="#{myaccount.description}" /></td>
                             
                        </tr>
                    </table>
                </div>
            </ice:form>
        </div>

        <ice:panelPopup style="width: 350px;" modal="true" autoCentre="true" visible="#{userscontrol.uppicvisible}" rendered="#{userscontrol.uppicvisible}">
            <f:facet name="header">
                <ice:form>
                    <ice:panelGrid width="350px" style="text-align: right;">
                        <ice:commandButton value="X" actionListener="#{userscontrol.changToCanceluppic}"/>
                    </ice:panelGrid>
                </ice:form>
            </f:facet>
            <f:facet name="body">
                <table width="100%">
                    <tr>  
                        <td>  
                            <h:form> 
                                <ace:fileEntry
                                    label="File Entry"
                                    relativePath="resources/userpic/"
                                    fileEntryListener="#{userscontrol.listener}"
                                    useOriginalFilename="true"
                                    useSessionSubdir="true"
                                    required="true"
                                    requiredMessage="Select pic."/>
                                <h:commandButton type="submit" value=" Upload "/>
                            </h:form>
                        </td>
                    </tr>
                </table>
            </f:facet>
        </ice:panelPopup>
    <!-- model Status -->
        <h2 class="lable_line"> Role </h2>
        <div  class="content_line">
            <div class="content_process">
                <ice:dataTable value="#{myaccount.itemRoleUser}" var="roleUserList" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                    <ice:column style="width:5%">
                        <f:facet name="header">
                            <ice:outputText value="No." />
                        </f:facet>
                        <ice:outputText value="#{roleUserList.number}"/>
                    </ice:column>
                    <ice:column style="width:30%;">
                        <f:facet name="header">
                            <ice:outputText value="Rolename"/>
                        </f:facet>
                        <ice:outputText value="#{roleUserList.roleName}"/>
                    </ice:column>
                    <ice:column style="width:65%;">
                        <f:facet name="header">
                            <ice:outputText value="Description"/>
                        </f:facet>
                        <ice:outputText value="#{roleUserList.descrition}"/>
                    </ice:column> 
                </ice:dataTable>
                
                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                </table>
            </div>
        </div>  
    </h:body>
</html>

