
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=iso-8859-1" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <div
                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                user <br />
                <h:form>
                    <table width="100%">
                        <tr>
                            <td colspan="3" valign="top">username</td>
                            <td align="right"><ice:graphicImage
                                    value="#{resource['images:images.jpg']}" width="100px"></ice:graphicImage>
                                <br />
                                <!-- <ace:fileEntry relativePath="/resources/userpic/" maxFileCount="10" maxFileCountMessage="Limited to 10 files upload" 
                                               maxFileSize="6291456" maxFileSizeMessage="Submitted file is too large." maxTotalSize="18874368" 
                                maxTotalSizeMessage="Total size of submitted files is too larg." required="true" requiredMessage="The file is required to submit this form." 
                                useOriginalFilename="true" useSessionSubdir="true"></ace:fileEntry>
                                --> </td>
                        </tr>
                        <!--tr>
                            <td width="20%" align="right"><ice:outputLabel value="Id"></ice:outputLabel></td>
                            <td width="20%"><ice:inputText value="#{createuser.selected.id}"></ice:inputText></td>
                            <td width="20%" align="right"><ice:outputLabel
                                    value="Id role"></ice:outputLabel></td>
                            <td width="40%"><ice:inputText value="#{createuser.selected.idRole}"></ice:inputText></td>
                        </tr-->
                        <tr>
                            <td align="right"><ice:outputLabel value="First name"></ice:outputLabel>
                            </td>
                            <td><ice:inputText value="#{createuser.selected.firstName}"></ice:inputText>
                            </td>
                            <td align="right"><ice:outputLabel value="Department"></ice:outputLabel>
                            </td>
                            <td><ice:inputText value="#{createuser.selected.department}"></ice:inputText></td>
                        </tr>
                        <tr>
                            <td align="right"><ice:outputLabel value="Last name"></ice:outputLabel>
                            </td>
                            <td><ice:inputText value="#{createuser.selected.lastName}"></ice:inputText>
                            </td>
                            <td align="right"><ice:outputLabel value="Status"></ice:outputLabel>
                            </td>
                            <td><ice:selectOneMenu value="#{createuser.selected.status}"
                                                   partialSubmit="true"
                                                   valueChangeListener="#{createuser.ValueChangStatus}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "></f:selectItem>
                                    <f:selectItem itemValue="active" itemLabel="Active"></f:selectItem>
                                    <f:selectItem itemValue="inactive" itemLabel="Inactive"></f:selectItem>
                                </ice:selectOneMenu></td>
                        </tr>
                        <tr>
                            <td align="right"><ice:outputLabel value="User name"></ice:outputLabel>
                            </td>
                            <td><ice:inputText value="#{createuser.selected.userName}"></ice:inputText>
                            </td>
                            <td align="right"><ice:outputLabel value="Date create"></ice:outputLabel></td>
                            <td><ice:selectInputDate value="#{createuser.selected.createDate}"
                                                     renderAsPopup="true">
                                    <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" timeZone="#{newprocess.timeZone}"/>
                                </ice:selectInputDate></td>
                        </tr>
                        <tr>
                            <td align="right" valign="top"><ice:outputLabel
                                    value="User password"></ice:outputLabel></td>
                            <td valign="top"><ice:inputSecret
                                    value="#{createuser.selected.userPassword}"/></td>
                            <td align="right"><ice:outputLabel value="Description"></ice:outputLabel>
                            </td>
                            <td><ice:inputTextarea cols="20" rows="5"
                                                   value="#{createuser.selected.discription}"></ice:inputTextarea></td>
                        </tr>
                        <tr>
                            <td width="20%" align="right"></td>
                            <td width="20%"></td>
                            <td width="20%" align="right"></td>
                            <td width="40%"><ice:commandButton value=" Save "
                                                               actionListener="#{createuser.create}" type="submit"></ice:commandButton></td>
                        </tr>
                    </table>
                </h:form>
            </div>
            <br />
            <div
                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                <ice:outputText value="Role"></ice:outputText>
                <br />
                <ice:dataTable border="0" width="100%" value="#{createuser.rolelist}"
                               var="roles">
                    <ice:column id="column1">
                        <f:facet name="header">
                            <ice:outputText value="No."></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{createuser.count}"></ice:outputText>
                    </ice:column>
                    <ice:column id="column2">
                        <f:facet name="header">
                            <ice:outputText value="Role name"></ice:outputText>
                        </f:facet>
                        <ice:outputText value="#{roles.name}"></ice:outputText>
                    </ice:column>
                </ice:dataTable>
            </div>
        </h:body>
    </f:view>
</html>