<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Create Role</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <div
                style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                <ice:form>

                    <ice:outputLabel value="Role"></ice:outputLabel><br />
                    <table width="100%">
                        <tr>
                            <td valign="top" width="100%">
                                <p>
                                    <ice:outputLabel for="rolename"
                                                     value="Role name : "></ice:outputLabel> <ice:inputText
                                                         id="rolename" value="#{role.rolenames}" required="true" requiredMessage="Please input role name."></ice:inputText>
                                    <ice:commandButton value=" Save " actionListener="#{role.create}"></ice:commandButton>
                                </p>
                            </td>
                        </tr>
                        <tr>
                            <td valign="top" align="left" width="100%">
                                <div
                                    style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                    <ice:outputText value="Role Deatil :: " />
                                    <br /> <br />
                                    <ice:panelGrid border="0" columns="3" width="100%" cellspacing="10">
<!--                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole1}" ></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See fountline menu"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole2}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create fontline"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole5}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit fountline"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole4}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete fountline"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole3}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See fountline list"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole6}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See fountline detail"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole7}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See backline menu"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole8}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create assy worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole11}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit assy worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole10}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete assy worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole12}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve assy worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole9}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See assy worksheet list"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole13}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See assy worksheet detail"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole14}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create auto worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole17}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit auto worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole16}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete auto worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole18}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve auto worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole15}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See auto worksheet list"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole19}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See auto worksheet detail"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole20}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create assembly worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole23}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit assembly worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole22}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete assembly worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole24}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve assembly worksheet"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole21}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See assembly worksheet list"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole25}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See assembly worksheet detail"></ice:outputText>
                                        </ice:panelGroup>-->
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole26}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See pcb"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole27}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="create pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole28}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="list pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole29}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="delete pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole30}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="edit pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole31}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="approve pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole32}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="detail pcb01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole33}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="create pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole34}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="list pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole35}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="delete pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole36}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="edit pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole37}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="approve pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole38}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="detail pcb02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole39}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="create pcb03"></ice:outputText>
                                        </ice:panelGroup>

                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole40}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="list pcb03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole41}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="delete pcb03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole42}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="edit pcb03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole43}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="approve pcb03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole44}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="detail pcb03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole45}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See refu"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole46}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole47}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="list refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole48}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="delete refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole49}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="edit refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole50}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="approve refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole51}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="detail refu01"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole52}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="create refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole53}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="list refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole54}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="delete refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole55}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole56}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="approve refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole57}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="detail refu02"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole58}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Cretae refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole59}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="List refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole60}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole61}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole62}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole63}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Detail refu03"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole65}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See setting"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole64}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See report"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole66}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit model"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole67}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="New process"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole68}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Data process"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole69}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit ng"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole70}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Select bar"></ice:outputText>
                                        </ice:panelGroup>
<!--                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole71}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See mc"></ice:outputText>
                                        </ice:panelGroup>-->
<!--                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole72}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create mc"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole73}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Mc pref"></ice:outputText>
                                        </ice:panelGroup>-->
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole74}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="See appconf"></ice:outputText>
                                        </ice:panelGroup>
<!--                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole75}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create user"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole76}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="User config"></ice:outputText>
                                        </ice:panelGroup>
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole77}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Add user role"></ice:outputText>
                                        </ice:panelGroup>-->
                                        <ice:panelGroup>
                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole78}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Other ....."></ice:outputText>
                                        </ice:panelGroup>
                                    </ice:panelGrid>
                                </div>
                            </td>
                        </tr>
                    </table>
                </ice:form>
            </div>
            <h:form>            
            <!--Create Role -->
		<div class="box">
    		<div class="heading">
      			<h1> <img src="../images/h1_role.png" /> Create Role </h1>
      			<div class="buttons">
<!--                            <ice:commandButton value=" Save " actionListener="#{role.create}"></ice:commandButton>-->
                            <ice:commandLink  styleClass="button_create"  value="Create" actionListener="#{role.create}" />		
<!--                            <input type="button" class="button_create" value="Create" />-->
				<!--กรณีที่ edit -->
<!--                                <input type="button" class="button_cancel" value="Cancel" />-->
      			</div>
   			</div>
   		  <div class="content">
		  		<table class="form">
					  <tr>
						<td class="label">Role name : </td>
						<td ><input name="" type="text" /></td>
					  </tr>
					  <tr>
						<td class="label">Description : </td>
						<td ><textarea name="textarea"></textarea></td>
					  </tr>
					  <tr>
						<td class="label">Access Permission : </td>
						<td >
                                                     <h2 class="group_permission"><ice:selectBooleanCheckbox      partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole1}" ></ice:selectBooleanCheckbox>Akasaki Front line</h2>
							<table class="permission" >
								  <tr>
									<td width="100%">
										<h2 class="group_permission_sub" >Front line</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                            <td width="17%">
                                                                                                <span style="#{role.divsibleOne}">
                                                                                                    <ice:selectBooleanCheckbox   disabled="true"/>
                                                                                                </span>
                                                                                                <span style="#{role.divsibleTwo}">
                                                                                                    <ice:selectBooleanCheckbox   value="#{role.role2booleal}"   disabled ="#{role.fonlineDisble[0]}" partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole2}"></ice:selectBooleanCheckbox>
                                                                                                </span>
                                                                                                <ice:outputText  value="Create "></ice:outputText> 
                                                                                            </td>
                                                                                            <td width="17%">
                                                                                                <span style="#{role.divsibleOne}">
                                                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                                                        </span>
                                                                                                            <span style="#{role.divsibleTwo}">    
                                                                                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole5}"></ice:selectBooleanCheckbox>
                                                                                                            </span> <ice:outputText value="Edit "></ice:outputText>
                                                                                                
                                                                                            </td>
                                                                                            <td width="17%">
                                                                                                <ice:panelGroup>
                                                                                                         <span style="#{role.divsibleOne}">
                                                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                                                        </span>
                                                                                                         <span style="#{role.divsibleTwo}">   
                                                                                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole4}"></ice:selectBooleanCheckbox>
                                                                                                        </span>
                                                                                                        <ice:outputText value="Delete "></ice:outputText>
                                                                                                    </ice:panelGroup>
                                                                                            </td>
                                                                                            <td width="17%"> 
                                                                                                 <ice:panelGroup>
                                                                                                         <span style="#{role.divsibleOne}">
                                                                                                            <ice:selectBooleanCheckbox   disabled="true"/>
                                                                                                        </span>
                                                                                                         <span style="#{role.divsibleTwo}">  
                                                                                                        <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole3}"></ice:selectBooleanCheckbox>
                                                                                                        </span>
                                                                                                        <ice:outputText value="View  list"></ice:outputText>
                                                                                                    </ice:panelGroup>
                                                                                            
                                                                                            </td>
                                                                                            <td width="16%"> 
                                                                                                <span style="#{role.divsibleOne}">
                                                                                                                <ice:selectBooleanCheckbox   disabled="true"/>
                                                                                                            </span>
                                                                                                            <span style="#{role.divsibleTwo}">  
                                                                                                            <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole6}"></ice:selectBooleanCheckbox>
                                                                                                            </span>
                                                                                                            <ice:outputText value="View detail"></ice:outputText>
                                                                                            </td>   
                                                                                            <td width="16%"> 
                                                                                            </td>    
                                                                                        </tr>   
						   				</table> 
									</td>
								  </tr>	  
						   </table>    
                                                      <h2 class="group_permission"><ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole7}"></ice:selectBooleanCheckbox>
                                            Akasaki Back line</h2>
							<table class="permission" >
								  <tr>
									<td width="100%">
										<h2 class="group_permission_sub" >Assy worksheet</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                            <td width="17%"> 
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole8}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="Create "></ice:outputText>
                                                                                                
                                                                                            </td>
                                                                                             <td width="17%"> 
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole11}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="Edit "></ice:outputText>
                                                                                               
                                                                                            </td>
                                                                                             <td width="17%"> 
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole10}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="Delete "></ice:outputText>
                                                                                                
                                                                                            </td>
                                                                                             <td width="17%"> 
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole12}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="Approve "></ice:outputText>
                                                                                            </td> 
                                                                                             <td width="16%">  
                                                                                             <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole9}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="View list"></ice:outputText>
                                                                                                
                                                                                             </td>
                                                                                             <td width="16%">  
                                                                                              <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole13}"></ice:selectBooleanCheckbox>
                                                                                                    <ice:outputText value="View detail"></ice:outputText>
                                                                                               
                                                                                             </td>  
                                                                                        </tr>	  
                                                                                </table>
						   				 
                                                                                
										<h2 class="group_permission_sub" >Auto worksheet</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="17%"> 
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole14}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create "></ice:outputText>
                                                                                                
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                     <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole17}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit "></ice:outputText>
                                                                                                    
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole16}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete "></ice:outputText>
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole18}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve "></ice:outputText>
                                                                                                </td> 
                                                                                                <td width="16%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole15}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="View list"></ice:outputText>
                                                                                                </td>
                                                                                                <td width="16%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole19}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="View detail"></ice:outputText>
                                                                                                </td>
                                                                                        </tr>
						   				</table> 
                                                                                <h2 class="group_permission_sub" >Assembly worksheet</h2>
										<table class="permission_sub" >         
                                                                                    <tr>
                                                                                                <td width="17%">
                                                                                                     <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole20}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Create "></ice:outputText>
                                        
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole23}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Edit "></ice:outputText>
                                        
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole22}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Delete "></ice:outputText>
                                       
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                     <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole24}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="Approve "></ice:outputText>
                                        
                                                                                                </td>
                                                                                                <td width="16%">
                                                                                                    <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole21}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="View list"></ice:outputText>
                                       
                                                                                                </td>
                                                                                                <td width="16%">
                                                                                                     <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole25}"></ice:selectBooleanCheckbox>
                                            <ice:outputText value="View detail"></ice:outputText>
                                       
                                                                                                </td>
                                                                                        </tr>
						   				</table>
                                                                                
                                                                                
                                                                                
                                                                                <h2 class="group_permission_sub" >Packing</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                 <td width="17%">
                                                                                                          <ice:outputText value="Create "></ice:outputText>
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                     <ice:outputText value="Edit "></ice:outputText>
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                     <ice:outputText value="Delete "></ice:outputText>
                                                                                                </td>
                                                                                                <td width="17%">
                                                                                                     <ice:outputText value="Approve "></ice:outputText>
                                                                                                </td>
                                                                                                <td width="16%">
                                                                                                       <ice:outputText value="View list"></ice:outputText>
                                                                                                </td>
                                                                                                <td width="16%">
                                                                                                     <ice:outputText value="View detail"></ice:outputText>
                                                                                                </td>
                                                                                        </tr>	  
						   				</table>  
									</td>
								  </tr>	  
						   </table>      
                                                     
                                                      <h2 class="group_permission">New Create</h2>
							<table class="permission" >
								  <tr>
									<td width="100%">
										<h2 class="group_permission_sub" >ReportList</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        See setting</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        Edit model</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        New process</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        Data process</td>
                                                                                    </tr>	  
						   				</table>
										<h2 class="group_permission_sub" >R Chart</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            See setting</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Edit model</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            New process</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Data process</td>
                                                                                        </tr>	  
						   				</table>
                                                                                <h2 class="group_permission_sub" >KPI</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            See setting</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Edit model</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            New process</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Data process</td>
                                                                                        </tr>	  
						   				</table>
										
									</td>
								  </tr>	  
						   </table>          
                                                     
                                                     
                                                    <h2 class="group_permission">Report</h2>
							<table class="permission" >
								  <tr>
									<td width="100%">
										<h2 class="group_permission_sub" >ReportList</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        See setting</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        Edit model</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        New process</td>
                                                                                            <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                        Data process</td>
                                                                                    </tr>	  
						   				</table>
										<h2 class="group_permission_sub" >R Chart</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            See setting</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Edit model</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            New process</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Data process</td>
                                                                                        </tr>	  
						   				</table>
                                                                                <h2 class="group_permission_sub" >KPI</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            See setting</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Edit model</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            New process</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Data process</td>
                                                                                        </tr>	  
						   				</table>
										
									</td>
								  </tr>	  
						   </table>          
                                                     
                                                     
                                                     
                                                   <h2 class="group_permission">Setting</h2>
							<table class="permission" >
								  <tr>
									<td width="100%">
										<h2 class="group_permission_sub" >Account</h2>
										<table class="permission_sub" >
                                                                                    <tr>
                                                                                            <td width="17%">
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole75}"></ice:selectBooleanCheckbox>
                                                                                                <ice:outputText value="Create user"></ice:outputText>
                                                                                            </td>
                                                                                            <td width="17%">
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole76}"></ice:selectBooleanCheckbox>
                                                                                                <ice:outputText value="User config"></ice:outputText>
                                                                                            </td>
                                                                                            <td width="17%">
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole77}"></ice:selectBooleanCheckbox>
                                                                                                <ice:outputText value="Add user role"></ice:outputText>
                                                                                            </td>
                                                                                            <td width="17%">
                                                                                                
                                                                                            </td>
                                                                                            <td width="16%">
                                                                                            </td>
                                                                                            <td width="16%">
                                                                                            </td>
                                                                                    </tr>	  
						   				</table>
										<h2 class="group_permission_sub" >Product</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            See setting</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Edit model</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            New process</td>
                                                                                                <td width="25%"><input type="checkbox" name="checkbox" value="checkbox" />
                                                                                            Data process</td>
                                                                                        </tr>	  
						   				</table>
                                                                                <h2 class="group_permission_sub" >Machine</h2>
										<table class="permission_sub" >
								  			<tr>
                                                                                            <td width="17%">
                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole72}"></ice:selectBooleanCheckbox>
                                                                                                <ice:outputText value="Create mc"></ice:outputText>
                                                                                            </td>
                                                                                             <td width="17%">
                                                                                                 <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole73}"></ice:selectBooleanCheckbox>
                                                                                                 <ice:outputText value="Mc pref"></ice:outputText>
                                                                                            </td>
                                                                                             <td width="17%"> 
<!--                                                                                                <ice:selectBooleanCheckbox partialSubmit="true" valueChangeListener="#{role.ListernerChangValueRole71}"></ice:selectBooleanCheckbox>
                                                                                                <ice:outputText value="See mc"></ice:outputText> -->
                                                                                            </td>
                                                                                             <td width="17%">
                                                                                                
                                                                                            </td>
                                                                                            <td width="16%">
                                                                                            </td>    
                                                                                            <td width="16%">
                                                                                            </td> 
                                                                                        </tr>	  
						   				</table>
										
									</td>
								  </tr>	  
						   </table>            
						</td>
				  </tr>
						</table>
						
				  </div>

	  	</div>
            </h:form> 
        </h:body>
    </f:view>
</html>