<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                <ice:outputLabel for="" value="Edit role to user"/>
                <table width="100%">
                    <tr>
                        <td valign="top" width="30%">
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                <ice:outputLabel value="Select User"/>
                                <ice:form>
                                    <table>
                                        <tr>
                                            <td align="right"><ice:outputLabel value="name : "/></td>
                                            <td align="left"><ice:inputText value="#{userconfig.name}"/></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><ice:outputLabel value="username : "/></td>
                                            <td align="left"><ice:inputText value="#{userconfig.username}"/></td>
                                        </tr> 
                                        <tr>
                                            <td align="right"><ice:outputLabel value="position : "/></td>
                                            <td align="left"><ice:inputText value="#{userconfig.position}"/></td>
                                        </tr>
                                        <tr>
                                            <td></td>
                                            <td>
                                                <ice:commandButton value=" Search " actionListener="#{userconfig.SearchUser}"/>
                                            </td>
                                        </tr>
                                    </table>
                                </ice:form>
                            </div>
                            <br/>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
                                <ice:outputLabel value="Result Search "/>
                                <br/>
                                <ice:form>
                                    <ice:dataTable value="#{userconfig.userlist}" var="user" width="100%" border="1">
                                        <ice:column>
                                            <ice:rowSelector id="selectedusers"
                                                             selectionListener="#{userconfig.SelectUsers}"
                                                             multiple="false" selectedClass="tableRowSelected"
                                                             mouseOverClass="tableRowMouseOver" />
                                            <ice:outputText value="#{user.userName}"/>
                                        </ice:column>
                                    </ice:dataTable>
                                </ice:form>
                            </div> 
                        </td>
                        <td valign="top" width="70%" align="right">
                            <table width="100%">
                                <tr>
                                    <td colspan="2" valign="top" align="left">
                                        <ice:outputLabel value="Username : "/><ice:outputText value="#{userconfig.currentUserselected.userName}"/>
                                    </td>
                                    <td valign="top" align="right">
                                        <ice:form>
                                            <ice:commandButton value="save" actionListener="#{userconfig.SaveRoleUser}"></ice:commandButton> 
                                        </ice:form>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="45%" valign="top" align="left">
                                        <div style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
                                            <ice:form>
                                                <ice:outputLabel value="Role"/><br />
                                                <ice:dataTable border="1" width="100%" value="#{userconfig.selectlist}" var="roleuser">
                                                    <ice:column>
                                                        <ice:rowSelector id="selected"
                                                                         selectionListener="#{userconfig.roleSelectionListenert}"
                                                                         multiple="false" selectedClass="tableRowSelected"
                                                                         mouseOverClass="tableRowMouseOver" />
                                                        <ice:outputText value="#{roleuser.roleId.roleName}"/>
                                                    </ice:column>
                                                </ice:dataTable>
                                            </ice:form>
                                        </div>
                                    </td>
                                    <td width="10%" valign="top" align="center">
                                        <ice:form>
                                            <div style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
                                                <ice:outputLabel for="" value="single"/>
                                                <br/>
                                                <ice:commandButton value=" &gt;&gt; " actionListener="#{userconfig.delRoleOutSelectlist}"/>
                                                <br/>
                                                <ice:commandButton value=" &lt;&lt; " actionListener="#{userconfig.addRoleToSelectlist}"/>
                                            </div>
                                        </ice:form>
                                    </td>
                                    <td width="45%" valign="top" align="right">
                                        <div style="border: 1px #000000 solid; padding: 5px; border-radius: 5px;">
                                            <ice:outputLabel value="Role pool" /><br />
                                            <ice:form>
                                                <ice:dataTable border="1" width="100%" value="#{userconfig.items}" var="iteme">
                                                    <ice:column>
                                                        <ice:rowSelector id="selected"
                                                                         selectionListener="#{userconfig.rolePoolSelectionListenert}"
                                                                         multiple="false" selectedClass="tableRowSelected"
                                                                         mouseOverClass="tableRowMouseOver" />
                                                        <ice:outputText value="#{iteme.roleName}"/>
                                                    </ice:column>
                                                </ice:dataTable>
                                            </ice:form>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table> 
            </div>
        </h:body>
    </f:view>
</html>