<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditPcsQtyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditPcsQtyLabel_id}" for="id" />
                    <h:inputText id="id" value="#{pcsQtyController.selected.id}" title="#{bundle.EditPcsQtyTitle_id}" required="true" requiredMessage="#{bundle.EditPcsQtyRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditPcsQtyLabel_qtyType}" for="qtyType" />
                    <h:inputText id="qtyType" value="#{pcsQtyController.selected.qtyType}" title="#{bundle.EditPcsQtyTitle_qtyType}" />
                    <h:outputLabel value="#{bundle.EditPcsQtyLabel_qty}" for="qty" />
                    <h:inputText id="qty" value="#{pcsQtyController.selected.qty}" title="#{bundle.EditPcsQtyTitle_qty}" />
                    <h:outputLabel value="#{bundle.EditPcsQtyLabel_currentProcessId}" for="currentProcessId" />
                    <h:selectOneMenu id="currentProcessId" value="#{pcsQtyController.selected.currentProcessId}" title="#{bundle.EditPcsQtyTitle_currentProcessId}" required="true" requiredMessage="#{bundle.EditPcsQtyRequiredMessage_currentProcessId}">
                        <f:selectItems value="#{currentProcessController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{pcsQtyController.update}" value="#{bundle.EditPcsQtySaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditPcsQtyViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{pcsQtyController.prepareList}" value="#{bundle.EditPcsQtyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditPcsQtyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
