<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPcsQtyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPcsQtyEmpty}" rendered="#{pcsQtyController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pcsQtyController.items.rowCount > 0}">
                    <h:outputText value="#{pcsQtyController.pagination.pageFirstItem + 1}..#{pcsQtyController.pagination.pageLastItem + 1}/#{pcsQtyController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pcsQtyController.previous}" value="#{bundle.Previous} #{pcsQtyController.pagination.pageSize}" rendered="#{pcsQtyController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pcsQtyController.next}" value="#{bundle.Next} #{pcsQtyController.pagination.pageSize}" rendered="#{pcsQtyController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pcsQtyController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcsQtyTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcsQtyTitle_qtyType}"/>
                            </f:facet>
                            <h:outputText value="#{item.qtyType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcsQtyTitle_qty}"/>
                            </f:facet>
                            <h:outputText value="#{item.qty}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcsQtyTitle_currentProcessId}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentProcessId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pcsQtyController.prepareView}" value="#{bundle.ListPcsQtyViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pcsQtyController.prepareEdit}" value="#{bundle.ListPcsQtyEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pcsQtyController.destroy}" value="#{bundle.ListPcsQtyDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pcsQtyController.prepareCreate}" value="#{bundle.ListPcsQtyCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListPcsQtyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
