<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPcsQtyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPcsQtyLabel_id}"/>
                    <h:outputText value="#{pcsQtyController.selected.id}" title="#{bundle.ViewPcsQtyTitle_id}"/>
                    <h:outputText value="#{bundle.ViewPcsQtyLabel_qtyType}"/>
                    <h:outputText value="#{pcsQtyController.selected.qtyType}" title="#{bundle.ViewPcsQtyTitle_qtyType}"/>
                    <h:outputText value="#{bundle.ViewPcsQtyLabel_qty}"/>
                    <h:outputText value="#{pcsQtyController.selected.qty}" title="#{bundle.ViewPcsQtyTitle_qty}"/>
                    <h:outputText value="#{bundle.ViewPcsQtyLabel_currentProcessId}"/>
                    <h:outputText value="#{pcsQtyController.selected.currentProcessId}" title="#{bundle.ViewPcsQtyTitle_currentProcessId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pcsQtyController.destroyAndView}" value="#{bundle.ViewPcsQtyDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewPcsQtyEditLink}"/>
                <br />
                <h:commandLink action="#{pcsQtyController.prepareCreate}" value="#{bundle.ViewPcsQtyCreateLink}" />
                <br />
                <h:commandLink action="#{pcsQtyController.prepareList}" value="#{bundle.ViewPcsQtyShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewPcsQtyIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
