<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Create Worksheet--> 
        <ice:form>
        <div class="box">
           
                <div class="heading">
                    <h1> <img src="../images/h1_mc.png" /> Edit M/C# </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value=" Save " actionListener="#{machinecontrol.changToSave}"/>
                        &nbsp;
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{machinecontrol.changTocancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">M/C # :</td>
                            <td ><ice:inputText value="#{machinecontrol.currentMc.mcName}" /></td>
                            <!--td class="label">M/C code :</td-->
                            <td class="label">M/C Status :</td>
                            <td >
                                <ice:selectOneMenu value="#{machinecontrol.currentMc.mcStatus}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItem itemValue="use" itemLabel=" Use "/>
                                    <f:selectItem itemValue="good" itemLabel=" Good "/>
                                    <f:selectItem itemValue="Downtime" itemLabel=" Downtime "/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                         <tr>
                            <td class="label">Brand name :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.brandName}"/></td>
                            <td class="label">M/C Model No. :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.mcModelNo}"/></td>    
                        </tr>
                        <tr>
                            <td class="label">M/C Serial No. :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.mcSerailNo}"/> </td>
                            <td class="label">M/C type :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.mcType}"/> </td>
                        </tr>
                        <tr>
                            <td class="label">M/C code :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.mcCode}"/></td>
                            <td class="label">Power supply :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.powerSupply}"/></td>    
                        </tr>
                        <tr>
                            <td class="label">MFG name :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.mfgName}"/></td>
                            <td class="label">Fixed asset :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.fixedAsset}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Product rate :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.productRate}">
                                    <f:convertNumber integerOnly="true"/>
                                </ice:inputText></td>
                            <td class="label">Plan production time :</td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.planProductionTime}">
                                </ice:inputText> Hr/date</td>
                        </tr>
                         <tr>
                             <td class="label">Barcode M/C : </td>
                            <td><ice:inputText value="#{machinecontrol.currentMc.barcodeMc}"/></td> 
                            <td class="label">Uppicture :</td>
                            <td>
                                <p><img src="#{machinecontrol.mcPic}" width="100" height="100" /></p>
                                <ice:commandButton value="upload" actionListener="#{machinecontrol.uploadImage()}" />
                                <script>
                                    #{machinecontrol.showpopup}
                                </script> 
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Remarks :</td>
                            <td><ice:inputTextarea cols="45" rows="5" value="#{machinecontrol.currentMc.remarks}"/></td>
                            <td class="label">Description :</td>
                            <td ><ice:inputTextarea cols="45" rows="5" value="#{machinecontrol.currentMc.description}"/></td> 
                        </tr>
                    </table>
                </div>
        </div> 
        </ice:form>
    </h:body>
</html>

