<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <ice:form>
            <div class="heading">
                <h1> <img src="../images/h1_mc.png" />M/C#</h1>
                <div class="buttons">
                    <ice:commandButton partialSubmit="true" styleClass="button_insert" value="Insert" actionListener="#{machinecontrol.changToInsert}" />
                </div>
            </div>
            <div class="content">
                <div class="search_content">
                    <table class="form_search">
                        <tr>
                            <td width="30%" align="left" valign="middle">M/C # :<br /> 
                                <ice:inputText value="#{machinecontrol.mcnameSearch}" /></td>
                            <td width="30%" align="left" valign="middle">M/C Status :<br /> 
                                 <ice:selectOneMenu partialSubmit="true" id="mcItem"  
                                                    value="#{machinecontrol.statusSearch}"
                                                    valueChangeListener="#{machinecontrol.ChangeItemStatus}"> 
                                     <f:selectItems value="#{machinecontrol.itemStatus}" />
                                </ice:selectOneMenu>
                            </td>
                            <td width="30%" align="left" valign="middle"><br /></td>
                            <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" actionListener="#{machinecontrol.searchByData()}" /></td>
                        </tr>
                    </table>
                </div>
                <ice:dataTable value="#{machinecontrol.worksheet}" var="mc" width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
                    <ice:column style="width: 30%;">
                        <f:facet name="header">
                            <ice:outputText value="M/C#"/>
                        </f:facet>
                        <ice:outputText value="#{mc.mcName}" />
                    </ice:column>  
                    <ice:column style="width: 20%;">
                        <f:facet name="header" >
                            <ice:outputText value="Status"/>
                        </f:facet>
                        <ice:outputText value="#{mc.mcStatus}" />
                    </ice:column>
                    <ice:column style="width: 40%;">
                        <f:facet name="header">
                            <ice:outputText value="Description"/>
                        </f:facet>
                        <ice:outputText value="#{mc.mcCode}" />
                    </ice:column>
                    <ice:column style="width: 10%;">
                        <f:facet name="header">
                            <ice:outputText value="Action"/>
                        </f:facet>  
                        <ice:panelGrid columns="2">
                            <ice:commandLink value="Edit" styleClass="button_edit" actionListener="#{machinecontrol.changToEdit}"/>
                            <ice:commandButton panelConfirmation="confirmdelMc" styleClass="button_del" value="Delete" actionListener="#{machinecontrol.changeToDelelte(mc.indexMc)}"/>
                            <ice:panelConfirmation id="confirmdelMc" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete mc" message="You are about to mc . Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </ice:panelGrid>  
                    </ice:column>
                </ice:dataTable>    
                
                <div class="pagination">
                    <div align="center"> 
                        <ice:commandLink styleClass="prev" actionListener="#{machinecontrol.previous}" value="Previous" rendered="#{machinecontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{machinecontrol.worksheetpagination.page+1}/#{machinecontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{machinecontrol.next}" value="Next" rendered="#{machinecontrol.worksheetpagination.hasNextPage}"/>
                    <div class="results">
                                Showing #{machinecontrol.worksheetpagination.pageFirstItem+1} to #{machinecontrol.worksheetpagination.pageLastItem+1} of #{machinecontrol.worksheetpagination.itemsCount}
                    </div>
                 </div>
               </div>
            </div>
            </ice:form>
        </div>
    </h:body>
</html>