<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"   xmlns:ace="http://www.icefaces.org/icefaces/components"    xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>ICEfaces 3</title>
        <link rel="stylesheet" type="text/css" href="../xmlhttp/css/rime/rime.css"/>
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
           <div style="border:1px #000000 solid; padding:15px; border-radius:15px;">
           <ice:outputLabel value="M/C detail"></ice:outputLabel>
           <br/>
           <table width="100%">
           			<tr>
           				<td width="15%"><ice:outputLabel for="mcnumber" value="M/C#"/></td>
           				<td width="30%"><ice:inputText id="mcnumber" value="#{mc.mcnumber}"/></td>
           				<td width="15%"><ice:outputLabel for="detail1" value="Detail1"/> </td>
           				<td width="30"><ice:inputText id="detail1" value="#{mc.detail1}"/> </td>
           				<td width="10%">&nbsp;</td>
           			</tr>
           			<tr>
           				<td><ice:outputLabel value="M/C	code" for="mccode"/> </td>
           				<td><ice:inputText id="mccode" value="#{mc.mccode}"/> </td>
           				<td><ice:outputLabel for="detail2" value="Detail2"/> </td>
           				<td><ice:inputText id="detail2" value="#{mc.detail2}"/></td>
           				<td>&nbsp;</td>
           			</tr>
           			<tr>
           				<td>&nbsp;</td>
           				<td>&nbsp;</td>
           				<td>&nbsp;</td>
           				<td>&nbsp;</td>
           				<td align="right"><ice:commandButton actionListener="#{mc.AddMc}" value="  Add  "/></td>
           			</tr>
           </table>
           </div>
           <br/>
           <table width="100%">
           		<tr>
           			<td width="40%">
           			<div style="border:1px #000000 solid; padding:15px; border-radius:15px;" width="100%">
           			<ice:outputLabel value="M/C list"></ice:outputLabel>
           			<br/>
           			<ice:selectOneListbox value="#{mc.mclistselected}" size="20" style="width: 100%; " valueChangeListener="#{mc.viewMcList}">
           			<f:selectItems value="#{mc.mclist}"></f:selectItems>
           			</ice:selectOneListbox>
           			</div>
           			</td>
           			<td width="60%">
           			<div style="border:1px #000000 solid; padding:15px; border-radius:15px;" width="100%">
           			<ice:outputLabel value="M/C detail"></ice:outputLabel>
           			<br/>
           			<ice:selectOneListbox size="20" style="width: 100%; " value="#{mc.mcdetaillistselected}">
           				<f:selectItems value="#{mc.mcdetaillist}" ></f:selectItems>
           			</ice:selectOneListbox> 
           			</div> 
           			</td>
           		</tr>
           		<tr>
           			<td></td>
           			<td align="right"><ice:commandButton value="  Close  " actionListener="#{mc.clearMcdetail}"></ice:commandButton> </td>
           		</tr>
           </table>
    </h:body>
</html>