<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:icecore="http://www.icefaces.org/icefaces/core"
	xmlns:ace="http://www.icefaces.org/icefaces/components"
	xmlns:ice="http://www.icesoft.com/icefaces/component">
<h:head>
	<title>ICEfaces 3</title>
	<link rel="stylesheet" type="text/css"
		href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
</h:head>
<h:body>
	<div
		style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">

		<ice:outputLabel value="M/C detail"></ice:outputLabel>
		<table>
			<tr>
				<td><ice:outputLabel for="mc" value="M/C#"></ice:outputLabel></td>
				<td><ice:selectOneMenu id="mc" partialSubmit="true"
						value="#{mcperformance.mc}">
						<f:selectItems value="#{mcperformance.selectMc}"></f:selectItems>
					</ice:selectOneMenu></td>
				<td><ice:outputLabel for="process" value="Process"></ice:outputLabel></td>
				<td><ice:selectOneMenu id="process" partialSubmit="true"
						value="#{mcperformance.process}">
						<f:selectItems value="#{mcperformance.selectProcess}"></f:selectItems>
					</ice:selectOneMenu></td>
				<td></td>
			</tr>
			<tr>
				<td><ice:outputLabel for="fromdate" value="From date"></ice:outputLabel></td>
				<td><ice:inputText id="fromdate" value="#{mcperformance.fromdate}"/></td>
				<td><ice:outputLabel for="todate" value="To date"/></td>
				<td><ice:inputText id="todate" value="#{mcperformance.todate}"/></td>
				<td align="right"><ice:commandButton
						value="  View performance  "></ice:commandButton></td>
			</tr>
		</table>
	</div>
	<br />
	<div
		style="border: 1px #000000 solid; border-radius: 15px; padding: 15px;">
		<ice:outputLabel value="M/C detail"></ice:outputLabel>
		<ice:form>
		<ice:dataTable sortColumn="#{mcperformance.sortColumnName}" sortAscending="#{mcperformance.ascending}" border="0" width="100%" value="#{mcperformance.mcperfordata}" var="order">
			<ice:column id="column1">
				<f:facet name="header">
					<ice:commandSortHeader
						columnName="#{mcperformance.downtimeDatecolum}" arrow="true">
						<ice:outputText value="#{mcperformance.downtimeDatecolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.downtimedate}"/>
			</ice:column>
			<ice:column id="column2">
				<f:facet name="header">
					<ice:commandSortHeader columnName="#{mcperformance.processcolum}"
						arrow="true">
						<ice:outputText value="#{mcperformance.processcolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.process}"/>
			</ice:column>
			<ice:column id="column3">
				<f:facet name="header">
					<ice:commandSortHeader columnName="#{mcperformance.starttimecolum}"
						arrow="true">
						<ice:outputText value="#{mcperformance.starttimecolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.starttime}"/>
			</ice:column>
			<ice:column id="column4">
				<f:facet name="header">
					<ice:commandSortHeader columnName="#{mcperformance.stoptimecolum}"
						arrow="true">
						<ice:outputText value="#{mcperformance.stoptimecolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.stoptime}" />
			</ice:column>
			<ice:column id="column5">
				<f:facet name="header">
					<ice:commandSortHeader columnName="#{mcperformance.reasoncolum}"
						arrow="true">
						<ice:outputText value="#{mcperformance.reasoncolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.reson}"/>
			</ice:column>
			<ice:column id="column6">
				<f:facet name="header">
					<ice:commandSortHeader columnName="#{mcperformance.remaskcolum}"
						arrow="true">
						<ice:outputText value="#{mcperformance.remaskcolum}" />
					</ice:commandSortHeader>
				</f:facet>
				<ice:outputText value="#{order.remask}"/>
			</ice:column>
		</ice:dataTable>
		</ice:form>
	</div>
	<p align="right">
		<ice:commandButton value="  Close  "></ice:commandButton>
	</p>
        <!--Front Line-->
		<div class="box">
    		<div class="heading">
      			<h1> <img src="../images/h1_mc_performance.png" />M/C# Performance</h1>
		  </div>
    		<div class="content">
				<div class="search_content">
				  <table class="form_search">
					  <tr>
						<td width="30%" align="left" valign="middle">M/C # :<br /> 
					    <input name="" type="text" /></td>
						<td width="30%" align="left" valign="middle">Process :<br /> 
					    <input name="" type="text" /></td>
						<td width="30%" align="left" valign="middle"><br /></td>
						<td width="10%" align="right" valign="middle"><input type="button" class="button_search" value="Search" /></td>
					  </tr>
					  <tr>
						<td width="30%" align="left" valign="middle">From date :<br /> 
					    <input name="" type="text" /></td>
						<td width="30%" align="left" valign="middle">to date :<br /> 
					    <input name="" type="text" /></td>
						<td width="30%" align="left" valign="middle"><br /></td>
						<td width="10%" align="right" valign="middle">&nbsp;</td>
					  </tr>
					   
				  </table>
				</div>
			  
			  	<table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
				  <tr>
					<td width="11%" align="center" bgcolor="#CCCCCC">Downtime date</td>
					<td width="15%" align="center" bgcolor="#CCCCCC">Process</td>
					<td width="14%" align="center" bgcolor="#CCCCCC">Start time</td>
					<td width="17%" align="center" bgcolor="#CCCCCC">Stop time</td>
					<td align="center" bgcolor="#CCCCCC">Reson</td>
				    <td align="center" bgcolor="#CCCCCC">Remask</td>
				  </tr>
				  <tr>
					<td width="11%" align="left">xxx</td>
					<td width="15%" align="left">xxxxxxxxxxxx</td>
					<td width="14%" align="left">xxx</td>
					<td width="17%">xxx</td>
					<td width="16%" align="left">xxx</td>
					<td width="27%" align="left">xxx</td>
				  </tr>
				  <tr>
					<td width="11%" align="left">xxx</td>
					<td width="15%" align="left">xxxxxxxxxxxx</td>
					<td width="14%" align="left">xxx</td>
					<td width="17%">xxx</td>
					<td width="16%" align="left">xxx</td>
					<td width="27%" align="left">xxxx</td>
				  </tr>
				  <tr>
					<td width="11%" align="left">xxx</td>
					<td width="15%" align="left">xxxxxxxxxxxx</td>
					<td width="14%" align="left">xxx</td>
					<td width="17%">xxx</td>
					<td width="16%" align="left">xxx</td>
					<td width="27%" align="left">xxx</td>
				  </tr>
				  <tr>
					<td width="11%" align="left">xxx</td>
					<td width="15%" align="left">xxxxxxxxxxxx</td>
					<td width="14%" align="left">xxx</td>
					<td width="17%">xxx</td>
					<td width="16%" align="left">xxx</td>
					<td width="27%" align="left">xxx</td>
				  </tr>
				</table>
				<div class="pagination"><div class="results">Showing 0 to 0 of 0 (0 Pages)</div></div>
		  </div>
	  	</div>
</h:body>
</html>
