<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <title><ui:insert name="title">Default Title</ui:insert></title>
            <h:outputStylesheet name="css/jsfcrud.css"/>
            <script type="text/javascript" src="../js/prototype.js"></script>
            <script type="text/javascript" src="../js/scriptaculous.js"></script>
            <script type="text/javascript" src="../js/carousel.js"></script>
            <script type="text/javascript" src="slideshowkpi/js/flotr.js"></script>
            <script type="text/javascript" src="slideshowkpi/jsLoop/loop.js" />
            
        </h:head>
        <h:body>
            <ice:form>
                <div>
                    <table width="100%" >
                        <tr>
                            <td width="50%" valign="top" height="350px" title="Radar Chart">Radar
                                <div id="container" style="width: 250px; height: 350px;"></div>
                            </td>
                            <td width="50%" valign="top" title="Ng Chart">Ng</td>
                        </tr>
                        <tr>
                            <td colspan="2" height="350px">
                                ACM 
                            </td>
                        </tr>
                    </table>
                </div>
            </ice:form>
        </h:body>
    </f:view>
</html>
