<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
<!--            <ice:form>
                  <ice:commandLink  actionListener="#{demoBean.pdf}">report
                       </ice:commandLink>
            </ice:form>-->
            <h:form>
                 <h:commandButton action="#{demoBean.pdf()}" value="Generate Jasper Report"/>
            </h:form>
    
              <ice:form>
               
                 <ice:selectOneMenu id="Series" required="true" requiredMessage="Select on Series."
                                                   partialSubmit="true" valueChangeListener="#{axisChartBean.ChangModelSeries}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{axisChartBean.modelseries}"/>
                                </ice:selectOneMenu>
                <ice:panelGrid columns="2" style="width: 400px;">
                    <ice:panelGroup>
                        <h4>
                            <ice:outputText id="chartTitle" value="">Chart Type:  <ice:selectOneMenu value="#{axisChartBean.type}" partialSubmit="true" valueChangeListener="#{axisChartBean.chartChanged}">
                            <f:selectItems value="#{axisChartBean.chartList}"></f:selectItems>
                        </ice:selectOneMenu></ice:outputText>
                        </h4>
                    </ice:panelGroup>
                    <!--
                        panelGroup displayed when chart type is bar or barclustered to
                        toggle horizontal or vertical chart orientation.
                    -->
                    <ice:panelGroup rendered="#{axisChartBean.orientationChange}">
                        <h4>
                            <ice:outputText value="Chart Orientation:">
                            </ice:outputText>
                        </h4>
                        <ice:selectOneRadio value="false" valueChangeListener="#{axisChartBean.selectOrientation}" partialSubmit="true">
                            <f:selectItem itemValue="true" itemLabel="Horizontal"></f:selectItem>
                            <f:selectItem itemValue="false" itemLabel="Vertical"></f:selectItem>
                        </ice:selectOneRadio>

                    </ice:panelGroup>
                </ice:panelGrid>  
                 <ice:outputText value="#{axisChartBean.clickedValue}"></ice:outputText>

                 <ice:outputChart 
                    
                    id="axisOutputChart"
                    type="#{axisChartBean.type}"
                    chartTitle="#P Chart"
                    yaxisTitle="#{axisChartBean.titleY}"
                    xaxisTitle="#{axisChartBean.titleX}"
                    xaxisLabels="#{axisChartBean.labels}"
                    labels="#{axisChartBean.legendLabels}"
                    colors="#{axisChartBean.paints}"
                    data="#{axisChartBean.data}" 
                    actionListener="#{axisChartBean.imageClicked}"
                    renderOnSubmit="#{axisChartBean.newChart}"
                    horizontal="#{axisChartBean.horizontal}"
                    width="450"
                    >
                </ice:outputChart>
             </ice:form>
           
                      
        </h:body>
    </f:view>
</html>