<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
         xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- styles layout -->

<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />
<title>TCT Production Management</title>
<script src="../css/jquery-latest.js" type="text/javascript"></script>
<script src="../css/jquery.bxSlider.min.js" type="text/javascript"></script>
<script type="text/javascript">
   $(document).ready(function(){
    $('#slider1').bxSlider({
         auto: true,
         pause:12000
    })
    });
</script>
</h:head>

    <h:body> 
    <div class="fullscreen">
        <ice:panelSeries id="slider1" value="#{kpidata.KPI}" var="data" >
            <table width="100%" height="100%"  border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td class="kpi_screen" height="15%" colspan="5">
                        <img src="../images/logo_kpi.png" style="position:absolute; top:10px; left:45px;" />
                        <span class="title_tb">Model : </span> <span class="name_module">#{data.module_name} </span>
                        <span class="date_tb"> Date : #{data.date}</span><br />
                        <span class="title_tb">Line : </span> <span class="name_module"> #{data.line} </span>
                            
                    </td>
                </tr>
                <tr>
                    <td width="30%" height="12%" class="header_tb">Time</td>
                    <td width="15%" height="12%" class="header_tb">Target</td>
                    <td width="15%" height="12%" class="header_tb">Result</td>
                    <td width="15%" height="12%" class="header_tb">Judgment</td>
                    <td width="10%" height="12%" class="header_tb">Defect</td>
                    <td width="15%" height="12%" class="header_tb">Defect Rate</td>
                </tr>
                <tr>
                    <td width="30%" height="15%" class="time_tb">07:40-09:50</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb1}">#{data.target_line1}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb1}">#{data.result_line1}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment1}">#{data.st_typ1_line1}</td>
                    <td width="10%" height="12%" class="#{data.class_judgment_tb1}">#{data.defect_line1}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb1}">#{data.defect_rate_line1}</td>
                </tr>
                <tr>
                    <td width="30%" height="15%" class="time_tb">10:00-11:50</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb2}">#{data.target_line2}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb2}">#{data.result_line2}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment2}">#{data.st_typ1_line2}</td>
                    <td width="10%" height="12%" class="#{data.class_judgment_tb2}">
                        #{data.defect_line2}
                    </td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb2}">#{data.defect_rate_line2}</td>
                </tr>
                <tr>
                    <td width="30%" height="15%" class="time_tb">12:30-15:00</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb3}">#{data.target_line3}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb3}">#{data.result_line3}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment3}">#{data.st_typ1_line3}</td>
                    <td width="10%" height="12%" class="#{data.class_judgment_tb3}">
                   #{data.defect_line3}
                    </td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb3}">#{data.defect_rate_line3}</td>
                </tr>
                <tr>
                    <td width="30%" height="15%" class="time_tb">15:10-17:40</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb4}">#{data.target_line4}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb4}">#{data.result_line4}</td>
                    <td width="15%" height="15%" class="#{data.class_judgment4}">#{data.st_typ1_line4}</td>
                    <td width="10%" height="12%" class="#{data.class_judgment_tb4}">
                    #{data.defect_line4}
                    </td>
                    <td width="15%" height="15%" class="#{data.class_judgment_tb4}">#{data.defect_rate_line4}</td>
                </tr>
            </table>
        </ice:panelSeries>
        </div>
</h:body>
</html>
