<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>%NG</title> 
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/loop.js" /> 
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }

            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
            #list_one_content{
                display: none;
            }
            #list_two_content{
                display: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1 class="title"><img src="../images/h1_assy.png"/>%NG</h1>
                </div>
                <div class="content">   
                    <div class="search_content">
                        <table class="form" width="100%">
                            <tr>
                                <td width="30%" class="label">Start from date :  <br/>
                                    <ice:selectInputDate renderAsPopup="true" value="#{qualityNgControl.currentSeach.start}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate></td>
                                <td width="30%" class="label">To date :<br/>
                                    <ice:selectInputDate renderAsPopup="true" value="#{qualityNgControl.currentSeach.end}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>
                                <td width="30" class="label">Line : <br/>
                                    <ice:selectOneMenu value="#{qualityNgControl.currentSeach.line}"> 
                                        <f:selectItems value="#{qualityNgControl.loadLindeItemAll()}"/>
                                    </ice:selectOneMenu>
                                </td>
                                <td width="10%"><ice:commandButton value="search" styleClass="button_search" actionListener="#{qualityNgControl.changeTosearch}" /> </td>
                            </tr>
                        </table>
                    </div> 

                    <div>
                        <h2 class="label">Chart</h2>
<!--                        <div class="search_content">
                            <table class="form" width="100%">
                                <tr>
                                    <td width="35%" class="label">Start to date :<br/><br/>
                                        <ice:outputText value="#{qualityNgControl.currentDetailNgChart.start}" />
                                    </td>
                                    <td width="35%" class="label">To date : <br/><br/>
                                        <ice:outputText value="#{qualityNgControl.currentDetailNgChart.stop}" />
                                    </td>
                                    <td  width="30%" class="label">Line : <br/><br/>
                                        <ice:outputText value="#{qualityNgControl.currentDetailNgChart.lineName}" /> 
                                    </td> 
                                </tr>
                            </table>    
                        </div>-->
                        <div id="container" style="width: 100%; height: 450px; display: block; "></div> 
                    </div>
                    <script type="text/javascript"> 
                        var dataAll = #{qualityNgControl.dataNg};
                        var tickAll = #{qualityNgControl.ticks};
                        (function basic_bars(horizontal) {
                            var    container = document.getElementById('container'); 
                            var  d1    = dataAll;
                            var  ticks = tickAll; 
                            
                            var markers = {
                                data: [],
                                markers: {
                                    show: true,
                                    position: "ct" ,
                                    color:"#FFFFFF" 
                                }
                            };
                            markers.data = dataAll; 
                            Flotr.draw(container, [d1,markers], {
                                bars: {
                                    show: true,
                                    horizontal: horizontal,
                                    shadowSize: 0, 
                                    barWidth: 0.5
                                },  
                                yaxis: {
                                    min: 0,
                                    autoscaleMargin: 1
                                },
                                xaxis: {
                                    ticks: ticks,
                                    min: 0,
                                    max:20
                                },
                                grid: {
                                    verticalLines: false,
                                    backgroundColor: "#001929"
                                }
                            });
                        })();
                    </script>
                </div>
            </div> 
        </h:form>
    </h:body>
</html>
