<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Yield</title> 
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/loop.js" /> 
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }

            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
            #list_one_content{
                display: none;
            }
            #list_two_content{
                display: none;
            }
        </style>
    </h:head>
    <h:body>
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1 class="title"><img src="../images/h1_assy.png"/>Yield</h1>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form" width="100%;">
                            <tr>
                                <td width="15%" class="label">Start from date :</td>
                                <td width="30%">
                                    <ice:selectInputDate renderAsPopup="true" value="#{qualityYieldControl.currentSeach.start}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>
                                <td width="15%" class="label">To date : </td>
                                <td width="30%">
                                    <ice:selectInputDate renderAsPopup="true" value="#{qualityYieldControl.currentSeach.end}">
                                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss"  />
                                    </ice:selectInputDate>
                                </td>
                                <td>line :</td>
                                <td>
                                    <ice:selectOneMenu value="#{qualityYieldControl.currentSeach.line}"> 
                                        <f:selectItems value="#{qualityNgRepairControl.loadLindeItemAll()}"/>
                                    </ice:selectOneMenu> 
                                </td>
                                <td width="10%"><ice:commandButton value="Search" styleClass="button_search" actionListener="#{qualityYieldControl.changeToSearch}"/></td>
                            </tr>
                        </table>
                    </div> 
                    <h2 class="label">Chart</h2>
                    <div class="search_content">
                        <table class="form">
                            <tr>
                                <td class="label" width="35%">Start from date : </td>
                                <td class="label" width="35%">To date : </td>
                                <td class="label" width="30%">Line : </td>
                            </tr>
                        </table>  
                    </div> 
                    <div id="containerYield" style="width: 100%; height: 450px; display: block; "></div> 
                    <script type="text/javascript"> 
                        var qualityYieldControl_dataAll = #{qualityYieldControl.dataYield};
                        var qualityYieldControl_tickAll = #{qualityYieldControl.tickYield};
                        (function basic_bars(horizontal) {
                            var    container = document.getElementById('containerYield'); 
                            var  d1    = qualityYieldControl_dataAll;
                            var  ticks = qualityYieldControl_tickAll; 
                            
                            var markers = {
                                data: [],
                                markers: {
                                    show: true,
                                    position: "ct" ,
                                    color:"#FFFFFF" 
                                }
                            };
                            markers.data = qualityYieldControl_dataAll; 
                            Flotr.draw(container, [d1,markers], {
                                bars: {
                                    show: true,
                                    horizontal: horizontal,
                                    shadowSize: 0, 
                                    barWidth: 0.5
                                },  
                                yaxis: {
                                    min: 0,
                                    autoscaleMargin: 1
                                },
                                xaxis: {
                                    ticks: ticks,
                                    min: 0,
                                    max:20
                                },
                                grid: {
                                    verticalLines: false,
                                    backgroundColor: "#001929"
                                }
                            });
                        })();
                    </script>
                </div>
            </div>    
        </h:form>
    </h:body>
</html>
