<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetailAssyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_id}" for="id" />
                    <h:inputText id="id" value="#{detailAssyController.selected.id}" title="#{bundle.CreateDetailAssyTitle_id}" required="true" requiredMessage="#{bundle.CreateDetailAssyRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_user}" for="user" />
                    <h:inputText id="user" value="#{detailAssyController.selected.user}" title="#{bundle.CreateDetailAssyTitle_user}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_injectionDate}" for="injectionDate" />
                    <h:inputText id="injectionDate" value="#{detailAssyController.selected.injectionDate}" title="#{bundle.CreateDetailAssyTitle_injectionDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_platingDate}" for="platingDate" />
                    <h:inputText id="platingDate" value="#{detailAssyController.selected.platingDate}" title="#{bundle.CreateDetailAssyTitle_platingDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_drcoreLotNo}" for="drcoreLotNo" />
                    <h:inputText id="drcoreLotNo" value="#{detailAssyController.selected.drcoreLotNo}" title="#{bundle.CreateDetailAssyTitle_drcoreLotNo}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_invoiceNo}" for="invoiceNo" />
                    <h:inputText id="invoiceNo" value="#{detailAssyController.selected.invoiceNo}" title="#{bundle.CreateDetailAssyTitle_invoiceNo}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_assyDate}" for="assyDate" />
                    <h:inputText id="assyDate" value="#{detailAssyController.selected.assyDate}" title="#{bundle.CreateDetailAssyTitle_assyDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_rollNo}" for="rollNo" />
                    <h:inputText id="rollNo" value="#{detailAssyController.selected.rollNo}" title="#{bundle.CreateDetailAssyTitle_rollNo}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_pdType}" for="pdType" />
                    <h:inputText id="pdType" value="#{detailAssyController.selected.pdType}" title="#{bundle.CreateDetailAssyTitle_pdType}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_pdCodename}" for="pdCodename" />
                    <h:inputText id="pdCodename" value="#{detailAssyController.selected.pdCodename}" title="#{bundle.CreateDetailAssyTitle_pdCodename}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_pdCode}" for="pdCode" />
                    <h:inputText id="pdCode" value="#{detailAssyController.selected.pdCode}" title="#{bundle.CreateDetailAssyTitle_pdCode}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_productQty}" for="productQty" />
                    <h:inputText id="productQty" value="#{detailAssyController.selected.productQty}" title="#{bundle.CreateDetailAssyTitle_productQty}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_numOnDate}" for="numOnDate" />
                    <h:inputText id="numOnDate" value="#{detailAssyController.selected.numOnDate}" title="#{bundle.CreateDetailAssyTitle_numOnDate}" />
                    <h:outputLabel value="#{bundle.CreateDetailAssyLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{detailAssyController.selected.detailIdDetail}" title="#{bundle.CreateDetailAssyTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.CreateDetailAssyRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailAssyController.create}" value="#{bundle.CreateDetailAssySaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detailAssyController.prepareList}" value="#{bundle.CreateDetailAssyShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateDetailAssyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
