<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDetailAssyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDetailAssyEmpty}" rendered="#{detailAssyController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{detailAssyController.items.rowCount > 0}">
                    <h:outputText value="#{detailAssyController.pagination.pageFirstItem + 1}..#{detailAssyController.pagination.pageLastItem + 1}/#{detailAssyController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{detailAssyController.previous}" value="#{bundle.Previous} #{detailAssyController.pagination.pageSize}" rendered="#{detailAssyController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{detailAssyController.next}" value="#{bundle.Next} #{detailAssyController.pagination.pageSize}" rendered="#{detailAssyController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{detailAssyController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_injectionDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.injectionDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_platingDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.platingDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_drcoreLotNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.drcoreLotNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_invoiceNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.invoiceNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_assyDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.assyDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_rollNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.rollNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_pdType}"/>
                            </f:facet>
                            <h:outputText value="#{item.pdType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_pdCodename}"/>
                            </f:facet>
                            <h:outputText value="#{item.pdCodename}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_pdCode}"/>
                            </f:facet>
                            <h:outputText value="#{item.pdCode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_productQty}"/>
                            </f:facet>
                            <h:outputText value="#{item.productQty}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_numOnDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.numOnDate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAssyTitle_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{detailAssyController.prepareView}" value="#{bundle.ListDetailAssyViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailAssyController.prepareEdit}" value="#{bundle.ListDetailAssyEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailAssyController.destroy}" value="#{bundle.ListDetailAssyDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{detailAssyController.prepareCreate}" value="#{bundle.ListDetailAssyCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListDetailAssyIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
