<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetailAssyTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_id}"/>
                    <h:outputText value="#{detailAssyController.selected.id}" title="#{bundle.ViewDetailAssyTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_user}"/>
                    <h:outputText value="#{detailAssyController.selected.user}" title="#{bundle.ViewDetailAssyTitle_user}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_injectionDate}"/>
                    <h:outputText value="#{detailAssyController.selected.injectionDate}" title="#{bundle.ViewDetailAssyTitle_injectionDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_platingDate}"/>
                    <h:outputText value="#{detailAssyController.selected.platingDate}" title="#{bundle.ViewDetailAssyTitle_platingDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_drcoreLotNo}"/>
                    <h:outputText value="#{detailAssyController.selected.drcoreLotNo}" title="#{bundle.ViewDetailAssyTitle_drcoreLotNo}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_invoiceNo}"/>
                    <h:outputText value="#{detailAssyController.selected.invoiceNo}" title="#{bundle.ViewDetailAssyTitle_invoiceNo}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_assyDate}"/>
                    <h:outputText value="#{detailAssyController.selected.assyDate}" title="#{bundle.ViewDetailAssyTitle_assyDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_rollNo}"/>
                    <h:outputText value="#{detailAssyController.selected.rollNo}" title="#{bundle.ViewDetailAssyTitle_rollNo}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_pdType}"/>
                    <h:outputText value="#{detailAssyController.selected.pdType}" title="#{bundle.ViewDetailAssyTitle_pdType}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_pdCodename}"/>
                    <h:outputText value="#{detailAssyController.selected.pdCodename}" title="#{bundle.ViewDetailAssyTitle_pdCodename}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_pdCode}"/>
                    <h:outputText value="#{detailAssyController.selected.pdCode}" title="#{bundle.ViewDetailAssyTitle_pdCode}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_productQty}"/>
                    <h:outputText value="#{detailAssyController.selected.productQty}" title="#{bundle.ViewDetailAssyTitle_productQty}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_numOnDate}"/>
                    <h:outputText value="#{detailAssyController.selected.numOnDate}" title="#{bundle.ViewDetailAssyTitle_numOnDate}"/>
                    <h:outputText value="#{bundle.ViewDetailAssyLabel_detailIdDetail}"/>
                    <h:outputText value="#{detailAssyController.selected.detailIdDetail}" title="#{bundle.ViewDetailAssyTitle_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailAssyController.destroyAndView}" value="#{bundle.ViewDetailAssyDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewDetailAssyEditLink}"/>
                <br />
                <h:commandLink action="#{detailAssyController.prepareCreate}" value="#{bundle.ViewDetailAssyCreateLink}" />
                <br />
                <h:commandLink action="#{detailAssyController.prepareList}" value="#{bundle.ViewDetailAssyShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewDetailAssyIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
