<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>Data Peocess</title>
            <link rel="stylesheet" type="text/css"
                  href="../../../../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../../css/layout.css"/> 
        </h:head>
    </h:head>
    <h:body>
        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Setting STD Time </h1>
                    <div class="buttons"></div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label"> Header name :</td>
                            <td><ice:inputText required="true" requiredMessage="Input assy line." value="#{stdtimesetting.headername}" /></td>
                            <td class="label"><ice:commandButton value=" Add " actionListener="#{stdtimesetting.changToAdd}"/></td>
                            <td>
                            </td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line"> Detail </h2>
                    <div class="content_line">
                        <div class="content_process">
                            <ice:dataTable value="#{stdtimesetting.headerDetails}" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                                <ice:column style="width: 25%">
                                    <f:facet name="header">
                                        <ice:outputText styleClass="process_lable" value="Date Create"/>
                                    </f:facet>
                                    <ice:outputText styleClass="process_td" value=""/>
                                </ice:column>
                                <ice:column style="width: 60%">
                                    <f:facet name="header">
                                        <ice:outputText styleClass="process_lable" value="Headername"/>
                                    </f:facet>
                                    <ice:outputText styleClass="process_td" value=""/>
                                </ice:column>
                                <ice:column style="width: 15%">
                                    <f:facet name="header">
                                        <ice:outputText styleClass="process_lable" value="Action"/>
                                    </f:facet>
                                    <ice:outputText styleClass="process_td" value=""/>
                                </ice:column>
                            </ice:dataTable>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>
