<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Create Process  -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1><img src="./images/h1_process.png" /> Create Process </h1>
                    <div class="buttons">
                        <ice:commandButton panelConfirmation="confirmcreateprocess" styleClass="button_create" value="Create" actionListener="#{processcontrol.create}" />
                        <ice:panelConfirmation id="confirmcreateprocess" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to create process" message="You are about to create new process. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        &nbsp;
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{processcontrol.changToCancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Code Operation :</td>
                            <td ><ice:inputText value="#{processcontrol.currentprocesspool.codeOperation}" /></td>
                            <td class="label">Process name :</td>
                            <td ><ice:inputText value="#{processcontrol.currentprocesspool.procName}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Cost Process :</td>
                            <td>
                                <ice:inputText value="#{processcontrol.currentprocesspool.costProc}" >
                                    <f:convertNumber pattern="#,###" type="currency"/>
                                </ice:inputText>
                            </td>
                            <td class="label">Status :</td>
                            <td>
                                <ice:selectOneMenu value="#{processcontrol.currentprocesspool.status}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItem itemValue="Active" itemLabel=" Active "/>
                                    <f:selectItem itemValue="Inactive" itemLabel=" Inactive "/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">M/C :</td>
                            <td>
                                <ice:selectOneMenu value="#{processcontrol.currentprocesspool.mcUse}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItem itemValue="0" itemLabel=" MC Use "/>
                                    <f:selectItem itemValue="1" itemLabel=" Don't MC Use "/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Process type :</td>
                            <td>
                                <ice:selectOneMenu value="#{processcontrol.currentprocesspool.type}" partialSubmit="true">
                                    <f:selectItems  value="#{processcontrol.loadProcessType()}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Ng name :</td>
                            <td>
                                <ice:selectOneMenu value="#{processcontrol.ngid}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{processcontrol.ngname}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td colspan="2">
                                <ice:commandButton partialSubmit="true" actionListener="#{processcontrol.changToAddNg}" value="Add ng"/>
                            </td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line"> NG </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <ice:dataTable value="#{processcontrol.ngtabel}" var="ngtable" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                                <ice:column>
                                    <f:facet name="header">
                                        <ice:outputText value="NG code"/>
                                    </f:facet>
                                    <ice:outputText value="#{ngtable.ngcode}"/>
                                </ice:column>
                                <ice:column>
                                    <f:facet name="header">
                                        <ice:outputText value="NG name"/>
                                    </f:facet>
                                    <ice:outputText value="#{ngtable.ngname}"/>
                                </ice:column>
                                <ice:column>
                                    <f:facet name="header">
                                        <ice:outputText value="NG type"/>
                                    </f:facet>
                                    <ice:outputText value="#{ngtable.ngtype}"/>
                                </ice:column>
                                <ice:column>
                                    <f:facet name="header">
                                        <ice:outputText value="NG status"/>
                                    </f:facet>
                                    <ice:outputText value="#{ngtable.ngstatus}"/>
                                </ice:column>
                                <ice:column>
                                    <f:facet name="header">
                                        <ice:outputText value="Action"/>
                                    </f:facet>
                                    <ice:panelGrid columns="3">    
                                    <ice:commandButton panelConfirmation="confirmdelng" value="Del" styleClass="button_del" actionListener="#{processcontrol.changToDelNg}"/>
                                    <ice:panelConfirmation id="confirmdelng" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to create process" message="You are about to delete ng. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                    </ice:panelGrid>
                                </ice:column>
                            </ice:dataTable>
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                            </table>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>