<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Process List -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_process.png" /> Process </h1>
                    <div class="buttons">
                        <ice:commandButton partialSubmit="true" styleClass="button_insert" value="Insert" actionListener="#{processcontrol.changToInsert}"/>
                        <!--input type="button" class="button_delete" value="Detele" /-->				
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">Code operation : <br />
                                    <ice:inputText value="#{processcontrol.codeoperationSearch}" />
                                </td>
                                <td width="30%" align="left" valign="middle">Status : <br />
                                    <ice:selectOneMenu partialSubmit="true" value="#{processcontrol.statusSearch}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                        <f:selectItem itemValue="Active" itemLabel=" Active " />
                                        <f:selectItem itemValue="Inactive" itemLabel=" Inactive " />
                                    </ice:selectOneMenu>
                                </td>
                                <td width="30%" align="left" valign="middle"> 
                                </td>
                                <td width="10%" align="right" valign="middle">
                                    <ice:commandButton partialSubmit="true" styleClass="button_search" value="Search" actionListener="#{processcontrol.searchProcess}" />
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">Process name : <br /> 
                                    <ice:inputText value="#{processcontrol.processnameSearch}" />
                                </td> 
                                <td width="30%" align="left" valign="middle">Type process : <br />  
                                    <ice:selectOneMenu value="#{processcontrol.typeprocessSearch}" partialSubmit="true">
                                        <f:selectItems  value="#{processcontrol.loadProcessType()}"/> 
                                    </ice:selectOneMenu> 
                                </td>
                                <td width="30%" align="left" valign="middle"> </td>
                                <td width="10%" align="left" valign="middle"> </td>
                            </tr>
                        </table>
                    </div>
                    <ice:dataTable value="#{processcontrol.processtable}" var="proc" width="100%" cellpadding="0" cellspacing="0">
                        <ice:column style="width: 20%">
                            <f:facet name="header">
                                <ice:outputText value="Code operation"/>
                            </f:facet>
                            <ice:outputText value="#{proc.processPool.codeOperation}"/>
                        </ice:column>
                        <ice:column style="width: 25%">
                            <f:facet name="header">
                                <ice:outputText value="Process name"/>
                            </f:facet>
                            <ice:outputText value="#{proc.processPool.procName}"/>
                        </ice:column>
                        <ice:column style="width: 10%">
                            <f:facet name="header">
                                <ice:outputText value="Status"/>
                            </f:facet>
                            <ice:outputText value="#{proc.processPool.status}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Date create"/>
                            </f:facet>
                            <ice:outputText value="#{proc.processPool.createDate}"/>
                        </ice:column> 
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="User create"/>
                            </f:facet>
                            <ice:outputText value="#{proc.usercreate}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet>
                            <ice:commandButton styleClass="button_edit" value="Edit" actionListener="#{processcontrol.changToEdit}"/>
                            <ice:commandButton panelConfirmation="confirmdel" styleClass="button_del" value="Delete" actionListener="#{processcontrol.changToDelete}"/>
                            <ice:panelConfirmation id="confirmdel" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete process" message="You are about to delete process. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination"> 
                        <div align="center">
                            <ice:commandLink styleClass="prev" actionListener="#{processcontrol.previous}" value="Previous" rendered="#{processcontrol.processmodelpagination.hasPreviousPage}"/> 
                            #{processcontrol.processmodelpagination.page+1}/#{processcontrol.allpages}
                            <ice:commandLink styleClass="next" actionListener="#{processcontrol.next}" value="Next" rendered="#{processcontrol.processmodelpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{processcontrol.processmodelpagination.pageFirstItem+1} to #{processcontrol.processmodelpagination.pageLastItem+1} of #{processcontrol.processmodelpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>

