<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Create Process  -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1><img src="./images/h1_model.png" /> Create Model </h1>
                    <div class="buttons">
                        <ice:commandButton partialSubmit="true" panelConfirmation="confirmcreateprocess" styleClass="button_create" value="Create" actionListener="#{modelcontrol.create}" />
                        <ice:panelConfirmation id="confirmcreateprocess" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to create process" message="You are about to create new process. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        &nbsp;
                        <ice:commandButton partialSubmit="true" styleClass="button_cancel" value="Cancel" actionListener="#{modelcontrol.changTocancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Model grooup :</td>
                            <td >
                                <ice:inputText required="true" requiredMessage="Input this." value="#{modelcontrol.currentmoModelPool.modelGroup}" />
                                <ice:outputText value="#{modelcontrol.modelgrouperror}" style="color: red;"/>
                            </td>
                            <td class="label">Model type :</td>
                            <td >
                                <ice:inputText required="true" requiredMessage="Input this." value="#{modelcontrol.currentmoModelPool.modelType}" />
                                <ice:outputText value="#{modelcontrol.modeltypeerror}" style="color: red;"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Model series :</td>
                            <td>
                                <ice:inputText required="true" requiredMessage="Input this." value="#{modelcontrol.currentmoModelPool.modelSeries}" />
                                <ice:outputText value="#{modelcontrol.modelserieserror}" style="color: red;"/>
                            </td>
                            <td class="label">Model name :</td>
                            <td>
                                <ice:inputText required="true" requiredMessage="Input this." value="#{modelcontrol.currentmoModelPool.modelName}"/>
                                <ice:outputText value="#{modelcontrol.modelnameerror}" style="color: red;"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Status :</td>
                            <td>
                                <ice:selectOneMenu required="true" requiredMessage="Select this." value="#{modelcontrol.currentmoModelPool.status}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItem itemValue="Active" itemLabel=" Active "/>
                                    <f:selectItem itemValue="Inactive" itemLabel=" Inactive "/>
                                </ice:selectOneMenu>
                                <ice:outputText value="#{modelcontrol.modelstatuserror}" style="color: red;"/>
                            </td>
                            <td class="label">Std time(sec):</td>
                            <td><ice:inputText value="#{modelcontrol.currentmoModelPool.stdTime}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Prices (yen) : </td> 
                            <td><ice:inputText value="#{modelcontrol.currentmoModelPool.priceYen}"/></td>
                            <td class="label">Repair std time (sec) : </td>
                            <td><ice:inputText value="#{modelcontrol.currentmoModelPool.repairStdTime}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Process :</td>
                            <td>
                                <ice:selectOneMenu value="#{modelcontrol.pcid}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{modelcontrol.processPools}"/>
                                </ice:selectOneMenu>
                                <ice:outputText value="#{modelcontrol.processerror}" style="color: red;"/>
                            </td>
                            <td class="label"></td>
                            <td>
                                <ice:commandButton partialSubmit="true" value="Add" actionListener="#{modelcontrol.changToAddProcess}"/>
                            </td>
                        </tr>
                    </table>

                    <!-- model Status -->
                    <h2 class="lable_line"> Process </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <ice:dataTable value="#{modelcontrol.processtable}" var="process" width="100%" styleClass="xxtable" cellpadding="0" cellspacing="0">
                                <ice:column style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Process code"/>
                                    </f:facet>
                                    <ice:outputText value="#{process.pcname.codeOperation}"/>
                                </ice:column>
                                <ice:column style="width: 30%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Process name"/>
                                    </f:facet>
                                    <ice:outputText value="#{process.pcname.procName}"/>
                                </ice:column>
                                <ice:column style="width: 20%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Process type"/>
                                    </f:facet>
                                    <ice:outputText value="#{process.statusProcess}"/>
                                </ice:column>
                                <ice:column style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Process cost"/>
                                    </f:facet>
                                    <ice:outputText value="#{process.pcname.costProc}"/>
                                </ice:column>
                                <ice:column style="width: 10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Action"/>
                                    </f:facet>
                                    <ice:panelGrid columns="3" >
                                        <ice:commandButton value="" partialSubmit="true"  styleClass="button_up" actionListener="#{modelcontrol.up}"/>
                                        <ice:commandButton value="" partialSubmit="true" styleClass="button_down" actionListener="#{modelcontrol.down}"/>
                                        <ice:commandButton partialSubmit="true" panelConfirmation="confirmdelng" value="Del" styleClass="button_del" actionListener="#{modelcontrol.changToDelProcess}"/>
                                        <ice:panelConfirmation id="confirmdelng" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to create process" message="You are about to delete ng. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                    </ice:panelGrid>
                                </ice:column>
                            </ice:dataTable>
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                            </table>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>