<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <!--Process List -->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_model.png" /> Model </h1>
                    <div class="buttons">
                        <ice:commandButton partialSubmit="true" styleClass="button_insert" value="Insert" actionListener="#{modelcontrol.changToInsert}"/>
                        <!--input type="button" class="button_delete" value="Detele" /-->				
                    </div>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">Model group : <br />
                                    <ice:inputText value="#{modelcontrol.modelgroupSearch}" />
                                </td>
                                <td width="30%" align="left" valign="middle">Model series : <br />
                                    <ice:inputText value="#{modelcontrol.modelseriesSearch}"/>
                                </td>
                                <td width="30%" align="left" valign="middle">Model type : <br /> 
                                    <ice:inputText value="#{modelcontrol.modeltypeSearch}" />
                                </td>
                                <td width="10%" align="right" valign="middle">
                                    <ice:commandButton partialSubmit="true" styleClass="button_search" value="Search" actionListener="#{modelcontrol.searchModelPool}" />
                                </td>
                            </tr>
                            <tr>
                                <td width="30%" align="left" valign="middle">Model name : <br /> 
                                    <ice:inputText value="#{modelcontrol.modelnameSearch}"/>
                                </td>
                                <td width="30%" align="left" valign="middle">Model status : <br /> 
                                    <ice:selectOneMenu partialSubmit="true" value="#{modelcontrol.modelstatusSearch}">
                                        <f:selectItem itemValue="" itemLabel=" ----- Select One ----- " />
                                        <f:selectItem itemValue="Active" itemLabel=" Active " />
                                        <f:selectItem itemValue="Inactive" itemLabel=" Inactive " />
                                    </ice:selectOneMenu>
                                </td>
                                <td width="30%" align="left" valign="middle"> </td>
                                <td width="10%" align="left" valign="middle"> </td>
                            </tr>
                        </table>
                    </div>
                    <ice:dataTable value="#{modelcontrol.modelpooltable}" var="modelListView" width="100%" cellpadding="0" cellspacing="0">
                        <ice:column style="width: 20%">
                            <f:facet name="header">
                                <ice:outputText value="Model group"/>
                            </f:facet>
                            <ice:commandLink   actionListener="#{modelcontrol.changeToView(modelListView.index)}"> 
                                <ice:outputText value="#{modelListView.modelGroup}"/>
                            </ice:commandLink>
                        </ice:column>
                        <ice:column style="width: 25%">
                            <f:facet name="header">
                                <ice:outputText value="Model type"/>
                            </f:facet>
                            <ice:outputText value="#{modelListView.modelType}"/>
                        </ice:column>
                        <ice:column style="width: 10%">
                            <f:facet name="header">
                                <ice:outputText value="Model series"/>
                            </f:facet>
                            <ice:outputText value="#{modelListView.modelSeries}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Model name"/>
                            </f:facet>
                            <ice:outputText value="#{modelListView.modelName}"/>
                        </ice:column> 
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Status"/>
                            </f:facet>
                            <ice:outputText value="#{modelListView.status}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet>
                            <ice:panelGrid columns="2">
                                <ice:panelTab rendered="#{modelListView.lock}">
                                    <ice:commandButton styleClass="button_lock" value="Lock" />
                                </ice:panelTab>
                                <ice:panelTab rendered="#{modelListView.edit}"> 
                                    <ice:commandButton styleClass="button_edit" value="Edit" actionListener="#{modelcontrol.changToEdit(modelListView.index)}" />
                                    <ice:commandButton panelConfirmation="confirmdel" styleClass="button_del" value="Delete" actionListener="#{modelcontrol.changeToDeletedModel(modelListView.index)}" />
                                    <ice:panelConfirmation id="confirmdel" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete process" message="You are about to delete process. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                </ice:panelTab>
                            </ice:panelGrid>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination"> 
                        <div align="center">
                            <ice:commandLink styleClass="prev" actionListener="#{modelcontrol.previous}" value="Previous" visible="#{modelcontrol.modelpagination.hasPreviousPage}" rendered="#{modelcontrol.modelpagination.hasPreviousPage}"/> 
                            #{modelcontrol.modelpagination.page+1}/#{modelcontrol.allpages}
                            <ice:commandLink styleClass="next" actionListener="#{modelcontrol.next}" value="Next" visible="#{modelcontrol.modelpagination.hasNextPage}" rendered="#{modelcontrol.modelpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{modelcontrol.modelpagination.pageFirstItem+1} to #{modelcontrol.modelpagination.pageLastItem+1} of #{modelcontrol.modelpagination.itemsCount}
                            </div>
                        </div>
                    </div>
                </div>
            </ice:form>
        </div>
    </h:body>
</html>