<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>

        <ice:form>
            <ice:outputChart 
                id="axisOutputChart"
                type="#{acmgraphmanualcontrol.type}"
                chartTitle="#P Chart"
                yaxisTitle="#{acmgraphmanualcontrol.titleY}"
                xaxisTitle="#{acmgraphmanualcontrol.titleX}"
                xaxisLabels="#{acmgraphmanualcontrol.labels}"
                labels="#{acmgraphmanualcontrol.legendLabels}"
                colors="#{acmgraphmanualcontrol.paints}"
                data="#{acmgraphmanualcontrol.data}" 
                actionListener="#{acmgraphmanualcontrol.imageClicked}"
                renderOnSubmit="#{acmgraphmanualcontrol.newChart}"
                horizontal="#{acmgraphmanualcontrol.horizontal}"
                width="450"
                >
            </ice:outputChart>
        </ice:form>

    </h:body>
</html>

