<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html" 
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- styles layout -->
        <!--<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />-->
        <!--<link type="text/css" href="../css/lcd_layout800x600.css" rel="stylesheet" media="all" />-->
        <title>TCT Production Management</title>
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }

            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
            #list_one_content{
                display: none;
            }
            #list_two_content{
                display: none;
            }
        </style>
        <script type="text/javascript" src="../report/slideshowkpi/js/Chart.min.js"></script>
<!--        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script>-->
        <!--        <script type="text/javascript" src="../report/slideshowkpi/js/carousel.js"></script>-->
<!--        <script type="text/javascript" src="../report/slideshowkpi/js/flotr.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/jsLoop/loop.js" />-->
        
    </h:head>
    <h:body>  
        <div class="box">
            <div class="heading"> 
                <h1> <img src="../images/h1_model.png" /> Home </h1>
            </div>
            <div class="content">
                <table width="100%" >
                    <tr >
                        <td width="50%" valign="top">
                            <p class="label">Radar Chart</p>
                            <canvas id="container" width="650px" height="650px" ></canvas></td>
                        <td width="50%" valign="top">
                            <p class="label">Ng Defect</p>
                            <iframe src="report/totaldefect/ngRepair_1_1.xhtml" frameborder="0"  scrolling="no" height="450px" width="100%;" />
                        </td>
                    </tr>
                    <tr>
                        <td width="50%" valign="top">
                            <p class="label">%Ng Chart</p> 
                            <iframe src="report/totaldefect/ng_1.xhtml" frameborder="0" scrolling="no" height="450px" width="100%">
                            </iframe> 
                        </td>
                        <td width="50%">
                            <p class="label">%NgRepair Chart</p>
                            <iframe src="report/totaldefect/ngRepair_1.xhtml" frameborder="0" scrolling="no" height="450px" width="100%">
                            </iframe>  
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" height="550px;" valign="top"> 
                            <p class="label">Acm Chart</p>  
                            <table width="100%">
                                <tr>
                                    <td valign="top" width="50%"> 
                                        <p:dataList value="#{kpislideshowcontrol.defaultPageAcmLeftChart}" var="slideshow" type="definition" > 
                                            <p><span class="label" >Line Name : </span> #{slideshow.lineName}</p>
                                            <div id="container_#{slideshow.index}" style="width: 100%; height: 250px; background:#001929; display: block; "></div>
                                            <br/>
                                        </p:dataList>
                                    </td> 
                                    <td valign="top" width="50%"> 
                                        <p:dataList value="#{kpislideshowcontrol.defaultPageAcmRightChart}" var="slideshow2" type="definition" > 
                                            <p><span class="label" >Line Name : </span> #{slideshow2.lineName}</p>
                                            <div id="container_#{slideshow2.index}" style="width: 100%; height: 250px; background:#001929; display: block;"  ></div>
                                            <br/>
                                        </p:dataList> </td>
                                </tr>
                            </table>   
                        </td>
                    </tr> 
                </table>  
            </div>
        </div>
        <script type="text/javascript">
            
            /**
             * Wait till dom's finished loading.
             */

            var data = {
	    labels : #{kpislideshowcontrol.radarChartContent.ticksname},
                   scaleShowLabels : true,
	  datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data :  #{kpislideshowcontrol.radarChartContent.percenvalue}
                 
		},
		{
			fillColor : "rgba(151,187,205,0.5)",
			strokeColor : "rgba(151,187,205,1)",
			pointColor : "rgba(151,187,205,1)",
			pointStrokeColor : "#fff",
			data : #{kpislideshowcontrol.radarChartContent.actualvalue}
                  
		}
	]
      };
         
        </script>

        <!--        ACM chart-->
        <script type="text/javascript">
            var start  =  1;
            var end    =  (1+#{kpislideshowcontrol.sizeOfLine})-1;
            var dataUtlility  = new Array();
            var dataLine      = new Array();
            var index_dataUtlility   = 0;
            var index_dataLine       = 0;
        </script><!--
                 Get dataUtlility  
        -->        <p:dataList value="#{kpislideshowcontrol.utlilityDataAll}" var="utlility" type="definition" id="list_one">
            <script  type="text/javascript">
                dataUtlility[index_dataUtlility++] = #{utlility};
            </script>
        </p:dataList><!--
                    Get DataLine
        -->        <p:dataList   value="#{kpislideshowcontrol.lineDataAll}" var="lines" type="definition" id="list_two">
            <script type="text/javascript">
                dataLine[index_dataLine++]  = #{lines};  
            </script>   
        </p:dataList><!--

        -->        <script type="text/javascript" >
            var ctx = document.getElementById("container").getContext("2d");
             new Chart(ctx).Radar(data);
                document.observe('dom:loaded', function(){
                //loopDrawAcmChart(start,end,dataUtlility,dataLine);
               
            });
        </script> 
        <script language=" JavaScript" >
         
            function LoadOnce() 
            { 
                window.location.reload(); 
            } 
            LoadOnce(); 
        </script>
    </h:body>
</html>

