<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- styles layout -->
        <!--<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />-->
        <link type="text/css" href="../../../css/lcd_layout1024x768.css" rel="stylesheet" media="all" />
        <!--<link type="text/css" href="../css/lcd_layout800x600.css" rel="stylesheet" media="all" />-->
        <title>TCT Production Management</title>
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowcontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }
            #container {
                width:100%;
                height:100%;
            }
            .flotr-legend-label{
                font-size: 15;
                font-size: medium;
                font-weight: bold;
            }
        </style>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="js/prototype.js"></script>
        <script type="text/javascript" src="js/scriptaculous.js"></script>
        <script type="text/javascript" src="js/carousel.js"></script>
        <script type="text/javascript" src="js/flotr.js"></script>
        <script type="text/javascript" src="jsLoop/loop.js" />
    </h:head>
    <h:body>

        <div class="fullscreen">
            <div id="carousel-wrapper">
                <div id="carousel-content">
                    <div class="slide"></div>
                    <div class="slide">
                        <div id="container"></div>
                    </div> 
                    <p:dataList value="#{kpislideshowcontrol.slideshowlist}" var="slideshow" type="definition" >
                        <div class="slide">
                            <table class="myTable" width="100%" height="45%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="20%" align="left" valign="top"> 
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">Line : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="name"> #{slideshow.currentline} </span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td colspan="2" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">Model :</span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="name"> #{slideshow.currentmodel} </span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">STD Time : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="time"> #{slideshow.standardtime} </span></td>
                                            </tr>
                                            <tr>
                                                <td align="right"><span class="sec">sec./Pcs.</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">Worker : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="time"> #{slideshow.standardworker} </span></td>
                                            </tr>
                                            <tr>
                                                <td align="right"><span class="sec">psn.</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="header_tb" colspan="2" align="center" valign="middle"><span class="title">Plan</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Result</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect (Pcs.)</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title"> % NG </span> </td>
                                </tr>
                                <p:dataList rows="6" value="#{slideshow.targetresultlist}" var="targetresult" type="definition" >
                                    <tr>
                                        <td width="20%" align="center" valign="middle" class="black">#{targetresult.time}</td>
                                        <td width="20%" align="center" valign="middle" class="black">#{targetresult.target}</td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.resultclass}">#{targetresult.result}</td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.defectclass}"><span id="defect#{targetresult.index}">#{targetresult.defect}</span></td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.defectrateclass}"><span id="defectrate#{targetresult.index}">#{targetresult.defectrate}</span></td>
                                    </tr>
                                </p:dataList>
                            </table>
                            <div style="float: left; width: 60% ; height: 55%;">
                                <table class="myTable" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="header_tb" colspan="3" align="center" valign="middle" ><span class="title">Next Model</span> </td>
                                        <!--                                    <td class="header_tb" align="center" valign="middle" ><span class="title">ACM Graph</span> </td>-->
                                    </tr>
                                    <tr>
                                        <td class="header_tb" width="12%" align="center" valign="middle"><span class="title2">Date</span></td>
                                        <td class="header_tb" width="28%" align="center" valign="middle"><span class="title2">Model</span></td>
                                        <td class="header_tb" width="20%" align="center" valign="middle"><span class="title2">Quantity</span></td>
                                        <!--                                    <td rowspan="8" align="center" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>-->
                                    </tr>
                                    <p:dataList rows="7" value="#{slideshow.nextmodellist}" var="nextmodel" type="definition">
                                        <tr>
                                            <td width="12%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.date}</td>
                                            <td width="28%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.model}</td>
                                            <td width="20%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.qty}</td>
                                        </tr>
                                    </p:dataList>
                                </table>
                            </div>
                            <div  style="width: 40%; float: right; height: 7%;">
                                <table class="myTable" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="header_tb" ><span class="title"><center>ACM Graph</center></span></td>
                                    </tr> 
                                </table>
                            </div>
                            <div id="container_#{slideshow.index}" style="width: 40%; float: right; height: 48%; background: #FFFFFA;"></div>
                        </div>
                    </p:dataList>
                    <!--      Picture for upload          -->
                    <p:dataList value="#{kpislideshowcontrol.piclist}" var="uppic" type="definition" >
                        <div class="slide">
                            <table align="center" width="100%" >
                                <tr>
                                    <td style="color:#FFFFFF;"><center><label class="pic">#{uppic.titles}</label></center></td>
                                </tr>
                                <tr>
                                    <td><center><img src="#{uppic.url}"/></center></td>
                                </tr>
                            </table>
                        </div>
                    </p:dataList>
                </div>

            </div>
            <a href="javascript:" class="carousel-jumper" rel="slide-1">Jump to slide 1</a>
            <a href="javascript:" class="carousel-control" rel="prev">Previous slide</a>
        </div>
        <a href="javascript:" class="carousel-jumper" rel="slide-1">Jump to slide 1</a>
        <a href="javascript:" class="carousel-control" rel="prev">Previous slide</a>
        <script type="text/javascript">
            new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$('a.carousel-control', 'a.carousel-jumper'),{auto:true,frequency:#{kpislideshowcontrol.slideLine},circular:true,duration:1.5});
        </script>

        <script type="text/javascript">
            
            /**
             * Wait till dom's finished loading.
             */
            document.observe('dom:loaded', function(){
                /**
                 * Fill series s1 and s2.
                 */
                var target = {label: 'Target', color:'#{kpislideshowcontrol.radarColor.CTarget}', data: #{kpislideshowcontrol.radarChartContent.targetvalue}};
                var actual = {label: 'Actual', color:'#{kpislideshowcontrol.radarColor.CActual}', data: #{kpislideshowcontrol.radarChartContent.actualvalue}};
                var percen = {label: 'Percen', color:'#{kpislideshowcontrol.radarColor.CPrecent}', data: #{kpislideshowcontrol.radarChartContent.percenvalue}};
                
                var objData = new Array();
                var cactualshow = #{kpislideshowcontrol.radarColor.CActualShow};
                var ctargetshow = #{kpislideshowcontrol.radarColor.CTargetShow};
                var cpercenshow = #{kpislideshowcontrol.radarColor.CPercentShow};
                //                alert("Cactualshow : "+cactualshow);
                var i = 0;
                if(ctargetshow.toString() == 'true'){
                    objData[i] = target;
                    i++;
                }
                if(cactualshow.toString() == 'true'){
                    objData[i] = actual;
                    i++;
                }
                
                if(cpercenshow.toString() == 'true'){
                    objData[i] = percen;
                    i++;
                }
                //[target, actual, percen];
                //{label: 'Test',data: [[0,1],[1,9],[2,3],[3,6],[4,0],[5,5]]}];
                
                //var arr_s = s1;	    
                /**
                 * Draw the graph.
                 */
                var f = Flotr.draw($('container'), objData, { fontSize:30,
                    radar: {show: true, lineWidth: 5, fill: false, fontSize: 30,show: true,showPoint:true,pointSize:3.0},
                    grid: {circular: true, minorHorizontalLines: true}, 
                    yaxis: {min: 0, max: 100, minorTickFreq: 1}, 
                    xaxis: {ticks: #{kpislideshowcontrol.radarChartContent.ticksname} } });
            });
        </script>

        <!--        ACM chart-->
        <script type="text/javascript">
            var start  =  1;
            var end    =  (1+#{kpislideshowcontrol.sizeOfLine})-1;
            var dataUtlility  = new Array();
            var dataLine      = new Array();
            var index_dataUtlility   = 0;
            var index_dataLine       = 0;
        </script>
        <!--         Get dataUtlility  -->
        <p:dataList value="#{kpislideshowcontrol.utlilityDataAll}" var="utlility" type="definition">
            <script  type="text/javascript">
                dataUtlility[index_dataUtlility++] = #{utlility};
            </script>
        </p:dataList>
        <!--            Get DataLine-->
        <p:dataList   value="#{kpislideshowcontrol.lineDataAll}" var="lines" type="definition">
            <script type="text/javascript">
                dataLine[index_dataLine++]  = #{lines};  
            </script>   
        </p:dataList>

        <script type="text/javascript" >
            document.observe('dom:loaded', function(){
                loopDrawAcmChart(start,end,dataUtlility,dataLine);
            });
        </script> 
        <!--End ACM Chart-->
        <script type="text/javascript">
            var color_status = 0;
            //var id_all =["blink0","blink1"];
            var id_all = #{kpislideshowcontrol.blink};
            //alert(id_all);
            function check(a,b){
                if(b>a) return true;
                else return false;
            }
            
            function color_ch(){
                if(color_status==0){
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "red";
                    color_status= 1;
                }else{
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "#F7DEDE";
                    color_status= 0;
                } 
            }
            
            function RefreshPage(timeout){
                setTimeout("location.reload(true);",timeout);
            }
            
            function start_color()
            {   
                // min  = fast
                // time = minlisec
                setInterval(color_ch,700);
                RefreshPage(#{kpislideshowcontrol.refreshLine});
            }
            start_color();
        </script>
    </h:body>
</html>

