<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- styles layout -->
        <!--<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />-->
        <link type="text/css" href="../../../css/lcd_layout1024x768.css" rel="stylesheet" media="all" />
        <!--<link type="text/css" href="../css/lcd_layout800x600.css" rel="stylesheet" media="all" />-->
        <title>TCT Production Management</title>
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 98%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowmanualcontrol.contentPx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1336px;
                height: 768px;
            }
            #container {
                width:100%;
                height:100%;
            }
        </style>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="js/prototype.js"></script>
        <script type="text/javascript" src="js/scriptaculous.js"></script>
        <script type="text/javascript" src="js/carousel.js"></script>
        <script type="text/javascript" src="js/flotr.js"></script>
    </h:head>
    <h:body>
        <div id="carousel-wrapper">
            <div id="carousel-content">
                <div id="slide0" class="slide"></div>
                <!--       Radar chat         -->
                <div id="slide1" class="slide">
                    <div id="container"></div>
                </div>
                <!--       KPI alide         -->
                <p:dataList value="#{kpislideshowmanualcontrol.slideshowlist}" var="slideshowmanual" type="definition" >
                    <div id="slide#{slideshowmanual.index}" class="slide" >
                        <table class="myTable" width="100%" height="45%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td width="20%" align="left" valign="top"> 
                                    <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span class="title">Line : </span></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><span class="name"> #{slideshowmanual.currentline} </span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td colspan="2" align="left" valign="top">
                                    <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span class="title">Model :</span></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><span class="name"> #{slideshowmanual.currentmodel} </span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20%" align="left" valign="top">
                                    <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span class="title">STD Time : </span></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><span class="time"> #{slideshowmanual.standardtime} </span></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><span class="sec">sec./Pcs.</span></td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="20%" align="left" valign="top">
                                    <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td><span class="title">STD Worker : </span></td>
                                        </tr>
                                        <tr>
                                            <td align="center"><span class="time"> #{slideshowmanual.standardworker} </span></td>
                                        </tr>
                                        <tr>
                                            <td align="right"><span class="sec">psn,</span></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="header_tb" colspan="2" align="center" valign="middle"><span class="title">Plan</span></td>
                                <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Result</span></td>
                                <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect</span></td>
                                <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect rate</span> </td>
                            </tr>
                            <p:dataList rows="6" value="#{slideshowmanual.targetresultlist}" var="targetresultmanual" type="definition" >
                                <tr>
                                    <td width="20%" align="center" valign="middle" class="black">#{targetresultmanual.time}</td>
                                    <td width="20%" align="center" valign="middle" class="black">#{targetresultmanual.target}</td>
                                    <td width="20%" align="center" valign="middle" class="#{targetresultmanual.resultclass}">#{targetresultmanual.result}</td>
                                    <td width="20%" align="center" valign="middle" class="#{targetresultmanual.defectclass}"><span id="defect#{targetresultmanual.index}">#{targetresultmanual.defect}</span></td>
                                    <td width="20%" align="center" valign="middle" class="#{targetresultmanual.defectrateclass}"><span id="defectrate#{targetresultmanual.index}">#{targetresultmanual.defectrate}</span></td>
                                </tr>
                            </p:dataList>
                        </table>
                        <table class="myTable" width="100%" height="53%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="header_tb" colspan="3" align="center" valign="middle" ><span class="title">Next Model</span> </td>
                                <td class="header_tb" align="center" valign="middle" ><span class="title">ACM Graph</span> </td>
                            </tr>
                            <tr>
                                <td class="header_tb" width="12%" align="center" valign="middle"><span class="title2">Date</span></td>
                                <td class="header_tb" width="28%" align="center" valign="middle"><span class="title2">Model</span></td>
                                <td class="header_tb" width="20%" align="center" valign="middle"><span class="title2">Quantity</span></td>
                                <td rowspan="8" align="center" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
                            </tr>
                            <p:dataList rows="7" value="#{slideshowmanual.nextmodellist}" var="nextmodelmanual" type="definition">
                                <tr>
                                    <td width="12%" align="center" valign="middle" class="#{nextmodelmanual.dateclass}">#{nextmodelmanual.date}</td>
                                    <td width="28%" align="center" valign="middle" class="#{nextmodelmanual.dateclass}">#{nextmodelmanual.model}</td>
                                    <td width="20%" align="center" valign="middle" class="#{nextmodelmanual.dateclass}">#{nextmodelmanual.qty}</td>
                                </tr>
                            </p:dataList>
                        </table>
                    </div>
                </p:dataList>
                <!--      Picture for upload          -->
                <p:dataList value="#{kpislideshowmanualcontrol.piclist}" var="uppicmanual" type="definition" >
                    <div id="slide#{uppicmanual.index}" class="slide">
                        <table align="center" width="100%" >
                            <tr>
                                <td><center>#{uppicmanual.titles}</center></td>
                            </tr>
                            <tr>
                                <td><center><img src="#{uppicmanual.url}"/></center></td>
                            </tr>
                        </table>
                    </div>
                </p:dataList>
            </div>
        </div>

        <a href="javascript:" class="carousel-jumper" rel="slide-1">Jump to slide 1</a>
        <a href="javascript:" class="carousel-control" rel="prev">Previous slide</a>
        <script type="text/javascript">
            new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$('a.carousel-control', 'a.carousel-jumper'),{auto:true,frequency:#{kpislideshowmanualcontrol.slideLine},circular:true,duration:1.5});
        </script>

        <script type="text/javascript">
            
            /**
             * Wait till dom's finished loading.
             */
            document.observe('dom:loaded', function(){
                /**
                 * Fill series s1 and s2.
                 */
                var target = {label: 'Target', color:'#{kpislideshowmanualcontrol.radarColor.CTarget}', data: #{kpislideshowmanualcontrol.radarChartContent.targetvalue}};
                var actual = {label: 'Actual', color:'#{kpislideshowmanualcontrol.radarColor.CActual}', data: #{kpislideshowmanualcontrol.radarChartContent.actualvalue}};
                var percen = {label: 'Percen', color:'#{kpislideshowmanualcontrol.radarColor.CPrecent}', data: #{kpislideshowmanualcontrol.radarChartContent.percenvalue}};
                
                var objData = new Array();
                var cactualshow = #{kpislideshowmanualcontrol.radarColor.CActualShow};
                var ctargetshow = #{kpislideshowmanualcontrol.radarColor.CTargetShow};
                var cpercenshow = #{kpislideshowmanualcontrol.radarColor.CPercentShow};
                //                alert("Cactualshow : "+cactualshow);
                var i = 0;
                if(ctargetshow.toString() == 'true'){
                    objData[i] = target;
                    i++;
                }
                if(cactualshow.toString() == 'true'){
                    objData[i] = actual;
                    i++;
                }
                
                if(cpercenshow.toString() == 'true'){
                    objData[i] = percen;
                    i++;
                }
                //   [target, actual, percen];
                //{label: 'Test',data: [[0,1],[1,9],[2,3],[3,6],[4,0],[5,5]]}];
                
                //var arr_s = s1;	    
                /**
                 * Draw the graph.
                 */
                var f = Flotr.draw($('container'), objData, {
                    radar: {show: true, lineWidth: 5, fill: false, fontSize: 2},
                    grid: {circular: true, minorHorizontalLines: true}, 
                    yaxis: {min: 0, max: 100, minorTickFreq: 1}, 
                    xaxis: {ticks: #{kpislideshowmanualcontrol.radarChartContent.ticksname} }});
            });
        </script>
        <script type="text/javascript">
            function setSize(){
                var size = #{kpislideshowmanualcontrol.count};
       
                var w = screen.width;
                var h = screen.height;
                alert("Size : "+size + " W : "+w +" H : "+h);
                for(var i = 0;check(i,size);i++){
                    document.getElementById("slide"+i).style = "width: "+w+"px;";
                    document.getElementById("slide"+i).style = "height: "+h+"px;";
                }
            }
        </script>
        <script type="text/javascript">
            var color_status = 0;
            //var id_all =["blink0","blink1"];
            var id_all = #{kpislideshowmanualcontrol.blink};
            //alert(id_all);
            function check(a,b){
                if(b>a) return true;
                else return false;
            }
            
            function color_ch(){
                if(color_status==0){
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "red";
                    color_status= 1;
                }else{
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "#F7DEDE";
                    color_status= 0;
                } 
            }
            
            function RefreshPage(timeout){
                setTimeout("location.reload(true);",timeout);
            }
            
            function start_color()
            {   
                // min  = fast
                // time = minlisec
                setInterval(color_ch,700);
                RefreshPage(#{kpislideshowmanualcontrol.refreshLine});
                //                setSize();
            }
            
            start_color();
        </script>
    </h:body>
</html>

