<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- styles layout -->
        <!--<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />-->
        <link type="text/css" href="../../../css/lcd_layout1024x768.css" rel="stylesheet" media="all" />
        <!--<link type="text/css" href="../css/lcd_layout800x600.css" rel="stylesheet" media="all" />-->
        <title>TCT Production Management</title>
        <style type="text/css" >
            #carousel-wrapper {
                width: 100%;
                height: 99%;
                overflow: hidden;
            }
            #carousel-content {
                width: #{kpislideshowbylinecontrol.contentpx}px;
            }
            #carousel-content .slide {
                float: left;
                width: 1920px;
                height: 1080px;
            }
            #carousel-content .slide .labeloutput {
                color: #fff;
            }
            #container {
                width:100%;
                height:100%;
            }
        </style>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="js/prototype.js"></script>
        <script type="text/javascript" src="js/scriptaculous.js"></script>
        <script type="text/javascript" src="js/carousel.js"></script>
        <script type="text/javascript" src="js/flotr.js"></script>
    </h:head>
    <h:body>
        <div class="fullscreen">
            <div id="carousel-wrapper">
                <div id="carousel-content">
                    <div class="slide"></div>
                    <!--                    <div class="slide">
                                            <div id="container"></div>
                                        </div>-->
                    <p:dataList value="#{kpislideshowbylinecontrol.slideshowlist}" var="slideshow" type="definition" >
                        <div class="slide">
                            <table class="myTable" width="100%" height="45%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td width="20%" align="left" valign="top"> 
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">Line : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="name"> #{slideshow.currentline} </span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td colspan="2" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">Model :</span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="name"> #{slideshow.currentmodel} </span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">STD Time : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="time"> #{slideshow.standardtime} </span></td>
                                            </tr>
                                            <tr>
                                                <td align="right"><span class="sec">sec./Pcs.</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td width="20%" align="left" valign="top">
                                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                                            <tr>
                                                <td><span class="title">STD Worker : </span></td>
                                            </tr>
                                            <tr>
                                                <td align="center"><span class="time"> #{slideshow.standardworker} </span></td>
                                            </tr>
                                            <tr>
                                                <td align="right"><span class="sec">psn,</span></td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="header_tb" colspan="2" align="center" valign="middle"><span class="title">Plan</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Result</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect</span></td>
                                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect rate</span> </td>
                                </tr>
                                <p:dataList  value="#{slideshow.targetresultlist}" var="targetresult" type="definition" >
                                    <tr>
                                        <td width="20%" align="center" valign="middle" class="black">#{targetresult.time}</td>
                                        <td width="20%" align="center" valign="middle" class="black">#{targetresult.target}</td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.resultclass}">#{targetresult.result}</td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.defectclass}"><span id="defect#{targetresult.index}">#{targetresult.defect}</span></td>
                                        <td width="20%" align="center" valign="middle" class="#{targetresult.defectrateclass}"><span id="defectrate#{targetresult.index}">#{targetresult.defectrate}</span></td>
                                    </tr>
                                </p:dataList>
                            </table>
                            <div style="width: 60%; float: left; height: 55%;">
                                <table class="myTable" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="header_tb" colspan="3" align="center" valign="middle" ><span class="title">Next Model</span> </td>
                                        <!--                                    <td class="header_tb" align="center" valign="middle" ><span class="title">ACM Graph</span> </td>-->
                                    </tr>
                                    <tr>
                                        <td class="header_tb" width="12%" align="center" valign="middle"><span class="title2">Date</span></td>
                                        <td class="header_tb" width="28%" align="center" valign="middle"><span class="title2">Model</span></td>
                                        <td class="header_tb" width="20%" align="center" valign="middle"><span class="title2">Quantity</span></td>
                                        <!--                                    <td rowspan="8" align="center" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>-->
                                    </tr>
                                    <p:dataList rows="7" value="#{slideshow.nextmodellist}" var="nextmodel" type="definition">
                                        <tr>
                                            <td width="12%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.date}</td>
                                            <td width="28%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.model}</td>
                                            <td width="20%" align="center" valign="middle" class="#{nextmodel.dateclass}">#{nextmodel.qty}</td>
                                        </tr>
                                    </p:dataList>
                                </table>
                            </div>
                            <div style="width: 40%; float: right; height: 8.5%;">
                                <table class="myTable" width="100%" height="100%" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="header_tb" ><span class="title"><center>ACM Graph</center></span></td>
                                    </tr> 
                                </table>
                            </div>
                            <div id="container" style="float: right;width: 40%; height: 46.5%; background: #FFFFFF;">
                            </div>
                        </div>
                    </p:dataList>
                    <div class="slide">
                        <center>
                            <h2>
                                <h:outputText styleClass="labeloutput" value="#{kpislideshowbylinecontrol.headercomment}" escape="false"/>
                            </h2>
                        </center>
                    </div>
                    <!--      Picture for upload          -->
                    <p:dataList value="#{kpislideshowbylinecontrol.piclist}" var="uppic" type="definition" >
                        <div class="slide">
                            <table align="center" width="100%" >
                                <tr>
                                    <td align="center" valign="middle"><h1><h:outputText styleClass="labeloutput" value="#{uppic.titles}"/></h1></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="middle"><img src="#{uppic.url}"/></td>
                                </tr>
                            </table>
                        </div>
                    </p:dataList>
                </div>
            </div>
            <a href="javascript:" class="carousel-jumper" rel="slide-1">Jump to slide 1</a>
            <a href="javascript:" class="carousel-control" rel="prev">Previous slide</a>
        </div>
        <a href="javascript:" class="carousel-jumper" rel="slide-1">Jump to slide 1</a>
        <a href="javascript:" class="carousel-control" rel="prev">Previous slide</a>
        <script type="text/javascript">
            var t = #{kpislideshowbylinecontrol.slideLine};
            new Carousel('carousel-wrapper', $$('#carousel-content .slide'), $$('a.carousel-control', 'a.carousel-jumper'),{auto:true,frequency:t,circular:true,duration:1.5});
        </script>
        <!--        acm chart-->
        <script type="text/javascript" >
            var lineData = #{kpislideshowbylinecontrol.dataLine};
            var utlilidy = #{kpislideshowbylinecontrol.dataUtlility};
            document.observe('dom:loaded', function(){
                var ff = Flotr.draw($('container'), [
                    {label: "Target", color: "#00A8F0", data:lineData, xaxis: 1, yaxis: 1}
                    , 
                    {label: "Result", color: "#C0D800", data:utlilidy, bars: {"show": true}, xaxis: 1, yaxis: 1}
                ]);
            });
            
        </script>
        <!--end acm chart-->
        <script type="text/javascript">
            var color_status = 0;
            var id_all = #{kpislideshowbylinecontrol.blink};
            function check(a,b){
                if(b>a) return true;
                else return false;
            }
            
            function color_ch(){
                if(color_status==0){
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "red";
                    color_status= 1;
                }else{
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "#F7DEDE";
                    color_status= 0;
                }
            }
            
            function RefreshPage(timeout){
                setTimeout("location.reload(true);",timeout);
            }
            
            function start_color()
            {
                setInterval(color_ch,700);
                RefreshPage(#{kpislideshowbylinecontrol.refreshLine});
            }
            start_color();
        </script>
    </h:body>
</html>