<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<h:head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
<link href="../../../css/css_slidekpi2/css_slidekpi.css" rel="stylesheet"/>
</h:head>

<body>

	<div id="slides">
  <ul class="slides-container">
    <li>
      <img src="http://flickholdr.com/1000/800" alt="">
      
    </li>
    <li>
      
      <div class="container">
        Slide two
      </div>
    </li>
    <li>
      <img src="http://flickholdr.com/1000/800/tech" alt="">
      <div class="container">
        Slide three
      </div>
    </li>
	<li>
<img src="http://flickholdr.com/1000/800" alt="">
<h1>สุนีย์ชั้น</h1>

</li>
  </ul>
  <nav class="slides-navigation">
    <!--<a href="#" class="next">Next</a> -->
    <!--<a href="#" class="prev">Previous</a> -->
  </nav>
</div>

<script src="./js_slidekpi2/jquery.min.js"></script>
<script charset="utf-8" type="text/javascript" src="./js_slidekpi2/jquery.superslides.js"></script>
<script src="./js_slidekpi2/jquery.easing.1.3.js"></script>
<script src="./js_slidekpi2/jquery.animate-enhanced.min.js"></script>
<script >$(document).ready(function() {
$('#slides').superslides({
play: true,
slide_easing: 'easeInOutCubic',
slide_speed: 800,
pagination: false
});
});</script>
</body>
</html>
