<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <!-- styles layout -->
        <!--<link type="text/css" href="../css/lcd_layout.css" rel="stylesheet" media="all" />-->
        <link type="text/css" href="../../css/lcd_layout1024x768.css" rel="stylesheet" media="all" />
        <!--<link type="text/css" href="../css/lcd_layout800x600.css" rel="stylesheet" media="all" />-->
        <title>TCT Production Management</title>
    </h:head>
    <h:body>
        <div class="fullscreen">
            <table class="myTable" width="100%" height="45%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="20%" align="left" valign="top"> 
                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><span class="title">Line : </span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="name"> AKM-1 </span></td>
                            </tr>
                        </table>
                    </td>
                    <td colspan="2" align="left" valign="top">
                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><span class="title">Model :</span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="name"> TTRN-0525PH-000T </span></td>
                            </tr>
                        </table>
                    </td>
                    <td width="20%" align="left" valign="top">
                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><span class="title">STD Time : </span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="time">10 </span></td>
                            </tr>
                            <tr>
                                <td align="right"><span class="sec">sec./pcs.</span></td>
                            </tr>
                        </table>
                    </td>
                    <td width="20%" align="left" valign="top">
                        <table width="100%" class="inTable" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td><span class="title">STD Worker : </span></td>
                            </tr>
                            <tr>
                                <td align="center"><span class="time">15 </span></td>
                            </tr>
                            <tr>
                                <td align="right"><span class="sec">psn,</span></td>
                            </tr>
                        </table>

                    </td>
                </tr>

                <tr>
                    <td class="header_tb" colspan="2" align="center" valign="middle"><span class="title">Plan</span></td>
                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Result</span></td>
                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect (Pcs)</span></td>
                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title">Defect rate (PPM)</span> </td>
                </tr>
                <tr>
                    <td width="20%" align="center" valign="middle" class="black">07:40 - 10:10</td>
                    <td width="20%" align="center" valign="middle" class="black">14,445</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                </tr>
                <tr>
                    <td width="20%" align="center" valign="middle" class="black">10:20 - 12:30 </td>
                    <td width="20%" align="center" valign="middle" class="black">26,700</td>
                    <td width="20%" align="center" valign="middle" class="black">27,700</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                </tr>
                <tr>
                    <td width="20%" align="center" valign="middle" class="black">13:10 - 15:30 </td>
                    <td width="20%" align="center" valign="middle" class="black">43,400</td>
                    <td width="20%" align="center" valign="middle" class="red" >44,991</td>
                    <td width="20%" align="center" valign="middle" class="red" ><span id="blink0">15,000</span></td>
                    <td width="20%" align="center" valign="middle" class="red" ><span id="blink1">15,000</span></td>
                </tr>
                <tr>
                    <td width="20%" align="center" valign="middle" class="black">15:40 - 17:40 </td>
                    <td width="20%" align="center" valign="middle" class="black">60,000</td>
                    <td width="20%" align="center" valign="middle" class="black">-</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                    <td width="20%" align="center" valign="middle" class="black">15,000</td>
                </tr>
            </table>

            <table class="myTable" width="100%" height="53%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td height="10" colspan="4" align="center" valign="middle"></td>
                </tr>
                <tr>
                    <td class="header_tb" colspan="3" align="center" valign="middle" ><span class="title">Next Model</span> </td>
                    <td class="header_tb" align="center" valign="middle" ><span class="title">ACM Graph</span> </td>
                </tr>

                <tr>
                    <td class="header_tb" width="12%" align="center" valign="middle"><span class="title2">Date</span></td>
                    <td class="header_tb" width="28%" align="center" valign="middle"><span class="title2">Model</span></td>
                    <td class="header_tb" width="20%" align="center" valign="middle"><span class="title2">Quantity</span></td>
                    <td rowspan="8" align="center" valign="middle" bgcolor="#FFFFFF">&nbsp;</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">09/10/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">146,000</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="now">09/12/2012</td>
                    <td width="28%" align="center" valign="middle" class="now">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="now">101,800</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">14/09/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">29,000</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">17/09/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">26,300</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">17/09/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">70,000</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">18/09/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">48,200</td>
                </tr>
                <tr>
                    <td width="12%" align="center" valign="middle" class="next_model">19/09/2012</td>
                    <td width="28%" align="center" valign="middle" class="next_model">TTRN-0525PH-000T</td>
                    <td width="20%" align="center" valign="middle" class="next_model">302,000</td>
                </tr>
            </table>
        </div> 
        <script type="text/javascript">
            var color_status = 0;
            var id_all =["blink0","blink1"];
            function check(a,b){
                if(b>a) return true;
                else return false;
            }
            
            function color_ch(){
                if(color_status==0){
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "red";
                    color_status= 1;
                }else{
                    for(i=0;check(i,id_all.length);i++)
                        document.getElementById(id_all[i]).style.color = "#F7DEDE";
                    color_status= 0;
                } 
            }
            function start_color()
            {   
                // min  = fast
                // time = minlisec
                setInterval(color_ch,700);
            }
            start_color();
        </script>
    </h:body>
</html>

