<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:icecore="http://www.icefaces.org/icefaces/core">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
            <title>MenuBar Component Tutorial - Basic</title>
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
        </h:head>
        <h:body>
            <h:form> 
            <!--Front Line-->
		<div class="box">
    		<div class="heading">
      			<h1> <img src="../images/h1_radar.png" />Radar Property  </h1>
                          <div class="buttons"> 
                              <ice:commandButton panelConfirmation="Edit" styleClass="button_insert" value="Edit" title="Save" actionListener="#{radarcontrol.changeToEdit()}"/>
                           </div>
                  </div>
   		  <div class="content">
		  	<table class="form">
					  <tr>
						<td class="label">Target Color   :</td>
                                                <td width="20%" ><ice:outputText value="#{radarcontrol.currentColor.CTarget}"/></td>
						<td class="label">Target Show : </td>
                                                <td width="50%" ><ice:selectBooleanCheckbox disabled="true" value="#{radarcontrol.currentColor.CTargetShow}"/></td>
					  </tr>
					  <tr>
						<td class="label">Actual Color     :</td>
                                                <td width="20%" ><ice:outputText  value="#{radarcontrol.currentColor.CActual}"/></td>
						<td class="label">Actual Show     :</td>
                                                <td width="50%" ><ice:selectBooleanCheckbox disabled="true" value="#{radarcontrol.currentColor.CActualShow}"/></td>
					  </tr>
					  <tr>
						<td class="label">Percent Color     :</td>
                                                <td width="20%" ><ice:outputText value="#{radarcontrol.currentColor.CPrecent}"/></td>
						<td class="label">Percent Show     :</td>
                                                <td width="50%" ><ice:selectBooleanCheckbox disabled="true" value="#{radarcontrol.currentColor.CPercentShow}"/></td>
					  </tr>
		    </table>
		  </div>
	  	</div>
        
		
		<!--Create Worksheet-->
		<div class="box">
			<div class="heading">
      			<h1> <img src="../images/h1_radar.png" />Radar Detail </h1>
      			<div class="buttons">
<!--                            <ice:commandButton  styleClass="button_create" value="Create" actionListener="#{radarcontrol.changeToCreate()}"/>-->
      			</div>
	  	  </div>
			<div class="content">
<!--			  <table class="form">
					  <tr>
						<td class="label">Line No.  :</td>
						<td >
                                                    <ice:selectOneMenu value="#{radarcontrol.currentRadarData.lineNo}">
                                                        <f:selectItems value="#{radarcontrol.itemLineNo}" />
                                                    </ice:selectOneMenu>    
					    </td>
					  </tr>
					  <tr>
						<td class="label">Line Name  :</td>
                                                <td ><ice:inputText value="#{radarcontrol.currentRadarData.lineName}"/></td>
					  </tr>
					  <tr>
						<td class="label">Target  :</td>
                                                <td ><ice:inputText value="#{radarcontrol.currentRadarData.target}" /></td>
					  </tr>
					  <tr>
						<td class="label">Actual  :</td>
                                                <td ><ice:inputText value="#{radarcontrol.currentRadarData.actual}"/></td>
					  </tr>
					  <tr>
						<td class="label">Percent  :</td>
                                                <td ><ice:inputText value="#{radarcontrol.currentRadarData.percent}"/> 
						% </td>
					  </tr>
					  <tr>
						<td class="label">Show  :</td>
                                                <td ><ice:selectBooleanCheckbox value="#{radarcontrol.currentRadarData.show}" /></td>
					  </tr>
					 
			  </table>-->
                             <ice:dataTable width="100%" value="#{radarcontrol.itemRadar}" var="radarItem">
                                <ice:column style="width:5%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Line No." />
                                    </f:facet>
                                    <ice:outputText value="#{radarItem.lineNo}" />
                                </ice:column>
                                <ice:column style="width:25%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Line Name"/>
                                    </f:facet>
                                    <ice:outputText value="#{radarItem.lineName}"/>
                                </ice:column> 
                                  <ice:column style="width:25%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Target"/>
                                    </f:facet>
                                      <ice:outputText value="#{radarItem.target}"/>  
                                </ice:column>
                                  <ice:column style="width:25%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Actual"/>
                                    </f:facet>
                                      <ice:outputText value="#{radarItem.actual}" />
                                </ice:column>
                                <ice:column style="width:10%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Percent % "/>
                                    </f:facet>
                                    <ice:outputText value="#{radarItem.percent}"/>
                                </ice:column>
                                <ice:column style="width:15%;">
                                    <f:facet name="header">
                                        <ice:outputText value="Show"/>
                                    </f:facet>
                                    <ice:selectBooleanCheckbox value="#{radarItem.show}" disabled="true" /> 
                                </ice:column> 
                            </ice:dataTable>
<!--			  <table width="100%" border="1" cellpadding="0" cellspacing="0" bordercolor="#999999">
				  <tr>
					<td width="4%" align="center" bgcolor="#CCCCCC"> Line No.</td>
					<td width="18%" align="center" bgcolor="#CCCCCC">Line Name </td>
					<td width="18%" align="center" bgcolor="#CCCCCC">Target </td>
					<td width="17%" align="center" bgcolor="#CCCCCC">Actual</td>
					<td width="16%" align="center" bgcolor="#CCCCCC">Percent (%)</td>
					<td width="8%" align="center" bgcolor="#CCCCCC">show </td>
					<td colspan="2" align="center" bgcolor="#CCCCCC">Action</td>
				  </tr>
				  <tr>
					<td width="4%" align="left">1</td>
					<td width="18%" align="left">xxxxxxxxxxxx</td>
					<td width="18%" align="left">xxx</td>
					<td width="17%" align="left">&nbsp;</td>
					<td width="16%" align="left">&nbsp;</td>
					<td width="8%" align="left">&nbsp;</td>
					<td width="8%" align="center"><input name="button" type="button" class="button_edit" value="Edit" /></td>
					<td width="11%" align="center"><span class="buttons">
					  <input name="button2" type="button" class="button_delete2" value="Delete" />
					</span></td>
				  </tr>
				  <tr>
					<td width="4%" align="left">2</td>
					<td width="18%" align="left">xxxxxxxxxxxx</td>
					<td width="18%" align="left">xxx</td>
					<td width="17%" align="left">&nbsp;</td>
					<td width="16%" align="left">&nbsp;</td>
					<td width="8%" align="left">&nbsp;</td>
					<td width="8%" align="center"><input type="button" class="button_edit" value="Edit" /></td>
					<td width="11%" align="center"><span class="buttons">
					  <input name="button3" type="button" class="button_delete2" value="Delete" />
					</span></td>
				  </tr>
				  <tr>
					<td width="4%" align="left">3</td>
					<td width="18%" align="left">xxxxxxxxxxxx</td>
					<td width="18%" align="left">xxx</td>
					<td width="17%" align="left">&nbsp;</td>
					<td width="16%" align="left">&nbsp;</td>
					<td width="8%" align="left">&nbsp;</td>
					<td width="8%" align="center"><input type="button" class="button_edit" value="Edit" /></td>
					<td width="11%" align="center"><span class="buttons">
					  <input name="button4" type="button" class="button_delete2" value="Delete" />
					</span></td>
				  </tr>
				  <tr>
					<td width="4%" align="left">4</td>
					<td width="18%" align="left">xxxxxxxxxxxx</td>
					<td width="18%" align="left">xxx</td>
					<td width="17%" align="left">&nbsp;</td>
					<td width="16%" align="left">&nbsp;</td>
					<td width="8%" align="left">&nbsp;</td>
					<td width="8%" align="center"><input type="button" class="button_edit" value="Edit" /></td>
					<td width="11%" align="center"><span class="buttons">
					  <input name="button5" type="button" class="button_delete2" value="Delete" />
					</span></td>
				  </tr>
			  </table>-->
		  </div>
		</div>    
		<!--Edit Worksheet--> 
            </h:form> 
        </h:body>
    </f:view>
</html>
