<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
        <link type="image/gif" href="../../../images/favicon.gif" rel="icon"/>
        <script type="text/javascript" src="../report/slideshowkpi/js/prototype.js"></script>
        <script type="text/javascript" src="../report/slideshowkpi/js/scriptaculous.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/excanvas.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/base64.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvastext.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/lib/canvas2image.js"></script>
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.ie.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/flotr2.min.js"></script> 
        <script type="text/javascript" src="../report/totaldefect/js/loop.js" /> 
    </h:head>
    <h:body>
        <ice:form> 
            <div class="box">
                <div class="heading">
                    <h1> <img src="../images/h1_model.png" />Indicator oee for mc </h1>
                </div>
                <div class="content">
                    <div class="search_content">
                        <table class="form">
                            <tr>
                                <td>Start from date : <br/> 
                                    <ice:selectInputDate id="d4" required="true" requiredMessage="Select start date." renderAsPopup="true" value="#{indicatoroeeChartForMcControl.startdate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td>To date : <br/> 
                                    <ice:selectInputDate id="d3" required="true" requiredMessage="Select start date." renderAsPopup="true" value="#{indicatoroeeChartForMcControl.stopDate}" >
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                </td>
                                <td>
                                    <ice:commandButton value="Search" styleClass="button_search" actionListener="#{indicatoroeeChartForMcControl.changeToSearch()}"/>
                                </td>
                            </tr>
                        </table>   
                    </div> 
                    <div>

                        <div id="container" style="width: 100%; height: 450px; display: block; "></div> 
                        <script type="text/javascript"> 
                            var mcData = #{indicatoroeeChartForMcControl.mcData};
                            var mcTicks = #{indicatoroeeChartForMcControl.mcTicks};
                            (function basic_bars(horizontal) {
                                var    container = document.getElementById('container'); 
                                var  d1    = mcData;
                                var  ticks = mcTicks; 
                            
                                var markers = {
                                    data: [],
                                    markers: {
                                        show: true,
                                        position: "ct" ,
                                        color:"#FFFFFF" 
                                    }
                                };
                                markers.data = mcData; 
                                Flotr.draw(container, [d1,markers], {
                                    bars: {
                                        show: true,
                                        horizontal: horizontal,
                                        shadowSize: 0, 
                                        barWidth: 0.5
                                    },  
                                    yaxis: {
                                        min: 0,
                                        autoscaleMargin: 1
                                    },
                                    xaxis: {
                                        ticks: ticks,
                                        min: 0,
                                        max:12
                                    },
                                    grid: {
                                        verticalLines: false,
                                        backgroundColor: "#001929"
                                    }
                                });
                            })();
                        </script>
                    </div>
                </div>
            </div>
        </ice:form>
    </h:body>
</html>

