<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Assembly Worksheet</title>
        <meta charset="utf-8"/>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assembly.png" /> Create Assembly </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" value="Create" actionListener="#{assemblycontrol.create}"/>
                        <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{assemblycontrol.changTocancel}"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control   : </td>
                            <td ><ice:inputText value="#{assemblycontrol.currentdetails.lotcontrol}"/></td>
                            <td class="label">Line :</td>
                            <td ><ice:inputText value="#{assemblycontrol.currentdetails.line}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Remark :</td>
                            <td><ice:inputText value="#{assemblycontrol.currentdetailassembly.remark}"/></td>
                            <td class="label">Stamp :</td>
                            <td ><ice:inputText value="#{assemblycontrol.currentdetailassembly.stamp}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Pot core :</td>
                            <td>
                                <ice:selectOneMenu value="#{assemblycontrol.currentdetailassembly.potcore}" partialSubmit="true" >
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{assemblycontrol.potcorelist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Invoice pot core :</td>
                            <td>
                                <ice:inputText value="#{assemblycontrol.currentdetailassembly.invoicePotcore}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Type Ink :</td>
                            <td>
                                <ice:selectOneMenu value="#{assemblycontrol.currentdetailassembly.ink}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{assemblycontrol.inklist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Invoice Ink :</td>
                            <td><ice:inputText value="#{assemblycontrol.currentdetailassembly.invoiceInk}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Solder :</td>
                            <td>
                                <ice:selectOneMenu value="#{assemblycontrol.currentdetailassembly.solder}" partialSubmit="true">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{assemblycontrol.solderlist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Invoice Solder :</td>
                            <td><ice:inputText value="#{assemblycontrol.currentdetailassembly.invoiceSolder}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Bond :</td>
                            <td>
                                <ice:selectOneMenu value="#{assemblycontrol.currentdetailassembly.bond}" partialSubmit="true" >
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{assemblycontrol.bondlist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Invoice bond :</td>
                            <td>
                                <ice:inputText value="#{assemblycontrol.currentdetailassembly.invoiceBond}"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td ><ice:selectOneMenu partialSubmit="true" value="#{assemblycontrol.currentdetails.modelseries}" valueChangeListener="#{assemblycontrol.changModelseriesValue}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{assemblycontrol.modelserieslist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code name  :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" value="#{assemblycontrol.currentdetailassembly.pdCodeName}" valueChangeListener="#{assemblycontrol.changProductcodeName}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{assemblycontrol.productcodename}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Model  :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" value="#{assemblycontrol.currentdetails.model}" valueChangeListener="#{assemblycontrol.changModelValue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{assemblycontrol.modelpoollist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code  :</td>
                            <td ><ice:inputText readonly="true" value="#{assemblycontrol.currentdetailassembly.pdCode}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td >
                                <ice:selectOneMenu partialSubmit="true" value="#{assemblycontrol.currentdetailassembly.pdType}" valueChangeListener="#{assemblycontrol.changProductTypevalue}">
                                    <f:selectItem itemValue="" itemLabel="----- Select One -----"/>
                                    <f:selectItems value="#{assemblycontrol.producttype}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label"></td>
                            <td></td>
                        </tr>
                    </table>
                </div>
            </ice:form>

            <!-- Process Status -->
            <h2 class="lable_line">Process Status (#{assemblycontrol.detailprocess.size()}) </h2>
            <div  class="content_line">
                <div class="content_process">
                    <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                        <tr>
                            <td class="process_lable" width="20%" >Process</td>
                            <td class="process_lable" width="2%" > Shift </td>
                            <td class="process_lable" width="12%" > M/C </td>
                            <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                            <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                            <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                            <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                            <td class="process_lable" width="5%" > Input </td>
                            <td class="process_lable" width="5%" > NG </td>
                            <td class="process_lable" width="5%" > Repair </td>
                            <td class="process_lable" width="5%" > Output </td>	
                            <td class="process_lable" width="5%" > %NG </td>
                            <td class="process_lable" width="5%" > %Repair </td>
                        </tr>
                    </table>
                    <ice:panelSeries var="detailprocess" value="#{assemblycontrol.detailprocess}">
                        <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                            <tr>
                                <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                <td class="process_td" width="2%" align="center">-</td>
                                <td class="process_td" width="12%" align="center">-</td>
                                <td class="process_td" width="13%" align="center">-</td>
                                <td class="process_td" width="13%" align="center">-</td>
                                <td class="process_td" width="5%" align="right">-</td>
                                <td class="process_td" width="5%" align="right">-</td>
                                <td class="process_td" width="5%" align="right">0</td>
                                <td class="process_td" width="5%" align="right">0</td>
                                <td class="process_td" width="5%" align="right">0</td>
                                <td class="process_td" width="5%" align="right">0</td>
                                <td class="process_td" width="5%" align="right">0.00%</td>
                                <td class="process_td" width="5%" align="right">0.00%</td>
                            </tr>
                        </table>
                    </ice:panelSeries>
                </div>
            </div>
            <!--end Process Status -->
        </div>  	
    </h:body>
</html>
