<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Print Assembly Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
    </h:head>
    <h:body>
        <script>#{printassyworksheet.url}</script>
        <!--Print Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_assy.png" /> Print Assembly Worksheet </h1>
                    <div class="buttons">
                        <ice:commandLink  styleClass="button_print_all" value="Print All" partialSubmit="true" actionListener="#{printassyworksheet.printAssemblyAll}"/>
                        <ice:commandButton styleClass="button_print_select" partialSubmit="true" value="Print Check" actionListener="#{printassyworksheet.printAssemblySelection}"/>
                        <ice:commandButton styleClass="button_cancel" value="Cancel" partialSubmit="true" actionListener="#{assemblycontrol.changTocancel}"/>
                    </div>
                </div>
                
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control   :</td>
                            <td >#{assemblycontrol.currentdetails.lotcontrol}</td>
                            <td class="label">Line :</td>
                            <td >#{assemblycontrol.currentdetails.line}</td>
                        </tr>
                        <tr>
                            <td class="label">Remark :</td>
                            <td>#{assemblycontrol.currentdetailassembly.remark}</td>
                            <td class="label">Stamp :</td>
                            <td >#{assemblycontrol.currentdetailassembly.stamp}</td>
                        </tr>
                        <tr>
                            <td class="label">Pot core :</td>
                            <td>#{assemblycontrol.currentdetailassembly.potcore}</td>
                            <td class="label">Invoice pot core :</td>
                            <td>#{assemblycontrol.currentdetailassembly.invoicePotcore}</td>
                        </tr>
                        <tr>
                            <td class="label">Type Ink :</td>
                            <td>#{assemblycontrol.currentdetailassembly.ink}</td>
                            <td class="label">Invoice Ink :</td>
                            <td>#{assemblycontrol.currentdetailassembly.invoiceInk}</td>
                        </tr>
                        <tr>
                            <td class="label">Solder :</td>
                            <td>#{assemblycontrol.currentdetailassembly.solder}</td>
                            <td class="label">Invoice Solder :</td>
                            <td>#{assemblycontrol.currentdetailassembly.invoiceSolder}</td>
                        </tr>
                        <tr>
                            <td class="label">Bond :</td>
                            <td>#{assemblycontrol.currentdetailassembly.bond}</td>
                            <td class="label">Invoice bond :</td>
                            <td>#{assemblycontrol.currentdetailassembly.invoiceBond}</td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td >#{assemblycontrol.currentModelPool.modelSeries}</td>
                            <td class="label">Product code name  :</td>
                            <td >#{assemblycontrol.currentdetailassembly.pdCodeName}</td>
                        </tr>
                        <tr>
                            <td class="label">Model  :</td>
                            <td >#{assemblycontrol.currentModelPool.modelName}</td>
                            <td class="label">Product code  :</td>
                            <td >#{assemblycontrol.currentdetailassembly.pdCode}</td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td >#{assemblycontrol.currentdetailassembly.pdType}</td>
                            <td class="label"></td>
                            <td></td>
                        </tr>
                    </table>

                    <!-- Frame Barcode -->
                    <h2 class="lable_line">Barcode Worksheet </h2>
                    <div  class="content_line">
                        <div class="content_barcode">
                            <ice:panelSeries value="#{printassyworksheet.barcode}" var="bcr">
                                <ice:panelGroup styleClass="barcode">
                                    <div><!--barcode -->
                                        <p><ice:selectBooleanCheckbox value="#{bcr.selected}" partialSubmit="true"/>No : [ #{bcr.barcode} ]</p>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                            <tr align="center">
                                                <td valign="middle"><img src="#{bcr.qrcodeUrl}" width="120" height="120" /></td>
                                                <td valign="middle"><img src="#{bcr.barcodeUrl}" width="120" height="34" /></td>
                                            </tr>
                                        </table>
                                    </div><!--end barcode -->
                                </ice:panelGroup>
                            </ice:panelSeries>
                            <div style="clear:both;"></div>		  
                        </div>
                    </div>
            </ice:form>
        </div>
    </h:body>
</html>