<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Create Auto Worksheet</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
    </h:head>
    <h:body>

        <!--Create Worksheet-->
        <div class="box">
            <ice:form>
                <div class="heading">
                    <h1> <img src="../images/h1_auto.png" /> Edit Auto </h1>
                    <div class="buttons">
                        <ice:commandButton styleClass="button_create" partialSubmit="true" value=" Save " actionListener="#{autocontrol.changToSave}"/>
                        <ice:commandButton styleClass="button_cancel" partialSubmit="true" value="Cancel" actionListener="#{autocontrol.changTocancel}"/>
                        <ice:commandButton panelConfirmation="confirmdeletedetail" styleClass="button_delete" partialSubmit="true" value="Delete" actionListener="#{autocontrol.changTodelAll}"/>
                        <ice:panelConfirmation id="confirmdeletedetail" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm delete" message="You are about to delete. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Lot Control   :</td>
                            <td ><ice:inputText readonly="true" value="#{autocontrol.currentdetails.lotcontrol}" /></td>
                            <td class="label">Line :</td>
                            <td ><ice:inputText value="#{autocontrol.currentdetails.line}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Remark :</td>
                            <td><ice:inputText id="remark" value="#{autocontrol.currentdetailauto.remark}" required="true"/></td>
                            <td class="label">Dr core :</td>
                            <td><ice:inputText value="#{autocontrol.currentdetailauto.drCore}" required="true"/></td>
                        </tr>
                        <tr>
                            <td class="label">Series :</td>
                            <td >
                                <ice:selectOneMenu value="#{autocontrol.currentdetails.modelseries}" partialSubmit="true" required="true" requiredMessage="Select One Series." valueChangeListener="#{autocontrol.changModelSerieslistValue}">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{autocontrol.modelserieslist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Stamp :</td>
                            <td ><ice:inputText value="#{autocontrol.currentdetailauto.stamp}" /></td>
                        </tr>
                        <tr>
                            <td class="label">Model :</td>
                            <td >
                                <ice:selectOneMenu value="#{autocontrol.currentdetails.model}" partialSubmit="true" required="true" requiredMessage="Select One model" valueChangeListener="#{autocontrol.changModelValue}" >
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{autocontrol.modellist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code name :</td>
                            <td >
                                <ice:selectOneMenu value="#{autocontrol.currentdetailauto.productCodeName}" partialSubmit="true" valueChangeListener="#{autocontrol.changProductCodenameValue}"                                               required="true" requiredMessage="Select One Product Code Name">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{autocontrol.productcodename}"/>
                                </ice:selectOneMenu>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">Product type :</td>
                            <td>
                                <ice:selectOneMenu value="#{autocontrol.currentdetailauto.productType}" partialSubmit="true" valueChangeListener="#{autocontrol.changProductTypeValue}" required="true" requiredMessage="Select One Product Type">
                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                    <f:selectItems value="#{autocontrol.producttype}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Product code :</td>
                            <td ><ice:inputText readonly="true" value="#{autocontrol.currentdetailauto.productCode}" /></td>
                        </tr>
                        <!--tr>
                            <td class="label">Past code :</td>
                            <td>
                                <ice:selectOneMenu value="#{autocontrol.currentdetailauto.pastcode}" partialSubmit="true" valueChangeListener="#{autocontrol.changPastcodeValue}" required="true" requiredMessage="Select this.">
                                    <f:selectItem itemValue="" itemLabel="  "/>
                                    <f:selectItems value="#{autocontrol.pastcodelist}"/>
                                </ice:selectOneMenu>
                            </td>
                            <td class="label">Invoice copper wire :</td>
                            <td><ice:inputText value="#{autocontrol.currentdetailauto.invoiceCopperWire}"/></td>
                        </tr-->
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><ice:commandButton disabled="true" value="Add Matrail" styleClass="button_create" /></td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <div style="border-left: #7597BC 1px solid;border-right: #7597BC 1px solid;border-top: #7597BC 1px solid;border-bottom: #7597BC 1px solid;">
                                    <table width="100%" border="0" cellpadding="0" cellspacing="0" >
                                        <tr>
                                            <td width="15%" class="label">Past code :</td>
                                            <td width="25%">
                                                <ice:selectOneMenu title="Select past code" value="#{autocontrol.pastcode}" partialSubmit="true" valueChangeListener="#{autocontrol.changPastcodeValue}" required="true" requiredMessage="Select this.">
                                                    <f:selectItem itemValue="" itemLabel=" ----- Select One ----- "/>
                                                    <f:selectItems value="#{autocontrol.pastcodelist}"/>
                                                </ice:selectOneMenu>
                                            </td>
                                            <td width="15%" class="label">Invoice :</td>
                                            <td width="25%">
                                                <ice:inputText title="Input invoice copper wire" value="#{autocontrol.invoice}"/>
                                            </td>
                                            <td width="20%"><ice:commandButton partialSubmit="true" title="Add past code" value="Add" actionListener="#{autocontrol.addPastcodeAndInvoiceFromEditview}"/></td>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <h2 class="lable_line">Past code detail</h2>
                                                <div class="content_line" >
                                                    <br />
                                                    <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <th class="process_lable" align="center" width="40%">Past code</th>
                                                            <th class="process_lable" align="center" width="40%">Invoice</th>
                                                            <th class="process_lable" align="center" width="20%">Action</th>
                                                        </tr>
                                                    </table>
                                                    <div style="height: 160px;overflow: auto;">
                                                        <ice:dataTable rendered="#{autocontrol.pcodepagination.itemsCount>0}" styleClass="xxtable" width="100%" value="#{autocontrol.datamodelPcodelist}" var="pcl">
                                                            <ice:column styleClass="process_td" style="width: 40%"><ice:outputText value="#{pcl.pastcode}"/></ice:column>
                                                            <ice:column styleClass="process_td" style="width: 40%"><ice:outputText value="#{pcl.invoid}"/></ice:column>
                                                            <ice:column styleClass="process_td" style="width: 20%"><ice:commandButton styleClass="button_del" partialSubmit="true" value="Del" actionListener="#{autocontrol.delPastcodeAndInvoiceFromEditview}"/></ice:column>
                                                        </ice:dataTable>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </td>
                        </tr>
                    </table>

                    <!-- Process Status -->
                    <h2 class="lable_line">Process Status (#{autocontrol.detailprocess.size()}) </h2>
                    <div  class="content_line">
                        <div class="content_process">
                            <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td class="process_lable" width="20%" >Process</td>
                                    <td class="process_lable" width="2%" > Shift </td>
                                    <td class="process_lable" width="12%" > M/C </td>
                                    <td class="process_lable" width="13%" > Start <br />Date/Time </td>
                                    <td class="process_lable" width="13%" > Finish <br /> Date/Time </td>
                                    <td class="process_lable" width="5%" > Before <br />WIP I/P</td>
                                    <td class="process_lable" width="5%" > After <br />  WIP O/P </td>
                                    <td class="process_lable" width="5%" > Input </td>
                                    <td class="process_lable" width="5%" > NG </td>
                                    <td class="process_lable" width="5%" > Repair </td>
                                    <td class="process_lable" width="5%" > Output </td>	
                                    <td class="process_lable" width="5%" > %NG </td>
                                    <td class="process_lable" width="5%" > %Repair </td>
                                </tr>
                            </table>
                            <ice:panelSeries var="detailprocess" value="#{autocontrol.detailprocess}">
                                <table width="100%" class="xxtable" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td class="process_td" width="20%" align="center"><b>#{detailprocess.processname}</b></td>
                                        <td class="process_td" width="2%" align="center">-</td>
                                        <td class="process_td" width="12%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="13%" align="center">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">-</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                        <td class="process_td" width="5%" align="right">0.00%</td>
                                    </tr>
                                </table>
                            </ice:panelSeries>
                        </div>
                    </div>
                    <!--end Process Status -->

                </div>
            </ice:form>
        </div>

        <ice:form>
            <ice:panelPopup modal="true" style="z-index:1001; width:800px;" rendered="false" visible="false" autoCentre="true">
                <f:facet name="header">
                    <ice:panelGrid width="800px" style="text-align: right;">
                        <div>
                            <ice:commandButton value="X" partialSubmit="true" actionListener="#{addmaterail2assy.hideAddMatrail2assy}"/>
                        </div>
                    </ice:panelGrid>
                </f:facet>
                <f:facet name="body">
                    <ice:panelGrid columns="2" width="100%">
                        <ice:panelGroup>
                            <ice:selectOneRadio>
                                <f:selectItem  itemLabel="Qty 8,640 Pcs.(defult)" itemValue="8640"/>
                                <f:selectItem  itemLabel="Qty 4,320 Pcs." itemValue="5320"/>
                                <f:selectItem  itemLabel="Other " itemValue=""/>
                            </ice:selectOneRadio>
                            <ice:inputText value="" rendered="true" visible="true"/><ice:outputLabel value=" Pcs."/>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; overflow: auto; height: 275px;">
                                <ice:dataTable width="100%">
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Barcode"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Qty"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Del"/>
                                        </f:facet>
                                        <ice:commandButton value=""/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                            <ice:outputLabel for="summaryqty" value="Summary Qty : "/>
                            <ice:inputText id="summaryqty" readonly="true" value=""/><ice:outputLabel for="summary" value=" Pcs."/><br />

                        </ice:panelGroup>
                        <ice:panelGroup>
                            <div style="border: 1px #000000 solid; border-radius: 15px; padding: 15px; overflow: auto; height: 275px;">
                                <ice:dataTable width="100%">
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Barcode"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Date"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Output"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                    <ice:column>
                                        <f:facet name="header">
                                            <ice:outputText value="Wip"/>
                                        </f:facet>
                                        <ice:outputText value=""/>
                                    </ice:column>
                                </ice:dataTable>
                            </div>
                        </ice:panelGroup>
                        <ice:outputLabel value="Generate barcode Auto worksheet"/>
                        <ice:commandButton value="Save"/>
                    </ice:panelGrid>
                </f:facet>
            </ice:panelPopup>
        </ice:form>
    </h:body>
</html>