<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        
      <!--Create Worksheet-->
		<div class="box">
			<div class="heading">
      			<h1> <img src="../images/h1_model.png" /> Create Attribute </h1>
      			<div class="buttons">
                            <h:form>
                            <ice:commandButton styleClass="button_create" value="Create" actionListener="#{attribute.changeToCreate}"/>
                            &nbsp;
                            <ice:commandButton styleClass="button_cancel" value="Cancel" actionListener="#{attribute.changeToCancel}" />
                            </h:form>  
                        </div>
	  	  </div>
			<div class="content">
			  <table class="form">
					  <tr>
                                              <td><h:form> 
                                                      <table>
                                                      <tr>
                                                            <td class="label">Type :</td>
                                                            <td >
                                                                 
                                                                <ice:selectOneMenu partialSubmit="true" value="#{attribute.selectAttributeTypeSearch}" valueChangeListener="#{attribute.selectItemChangeValue}">
                                                                    <f:selectItems value="#{attribute.selectAttributeType}" />
                                                                </ice:selectOneMenu>
                                                                
                                                            </td> 
                                                      </tr>
                                                      <tr>
                                                            <td class="label">Name  :</td>
                                                            <td ><ice:inputText partialSubmit="true" value="#{attribute.currentFilename.name}"/></td>
                                                      </tr>
                                                       <tr>
                                                            <td class="label">Request  :</td>
                                                            <td >
                                                                <ice:selectBooleanCheckbox   valueChangeListener="#{attribute.requestBoolean}" partialSubmit="true"/>
                                                            </td>
                                                      </tr>
                                                      <tr>
                                                            <td class="label">Description  :</td>
                                                            <td ><ice:inputTextarea partialSubmit="true" rows="5" cols="45"  value="#{attribute.currentFilename.detail}"/></td>
                                                      </tr> 
                                                  </table>
                                                  </h:form> 
                                              </td> 
					  </tr>  
					  <tr>
                                              <td><h:form> 
                                                   <ice:panelTab rendered="#{attribute.valueAttribute}"> 
                                                       <table width="100%">
                                                           <tr>
                                                               <td class="label">Value  :</td>
                                                                <td > 
                                                                    <ice:inputText value="#{attribute.nameValue}" />
                                                                    <ice:commandButton value="Add"   actionListener="#{attribute.addValue}"/>
                                                                        <br />
                                                                    <h2 class="lable_line"></h2>        
                                                                    <div  class="content_line">
                                                                        <div class="content_process">   
                                                                        <ice:dataTable value="#{attribute.itemAttributeValue}" var="valueField" width="100%" cellpadding="0" cellspacing="0">
                                                                            <ice:column style="width: 90%;">
                                                                                <f:facet name="header">
                                                                                    <ice:outputText value="Name Value"/>
                                                                                </f:facet>
                                                                                <ice:outputLabel  value="#{valueField.nameValue}"/>
                                                                            </ice:column>
                                                                            <ice:column style="width: 10%;">
                                                                                <f:facet name="header">
                                                                                    <ice:outputText value="Action"/>
                                                                                </f:facet>
                <!--                                                                 <ice:panelGrid columns="2">   -->
                                                                                <ice:panelConfirmation  id="delValue" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete value" message="You are about to delete this value. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                                                                <ice:commandButton styleClass="button_del"   panelConfirmation="delValue" value=" Delete " actionListener="#{attribute.actionDeleteValue(valueField.indexValue)}" />
                <!--                                                                 </ice:panelGrid>-->
                                                                            </ice:column>
                                                                        </ice:dataTable> 
                                                                        </div>
                                                                    </div> 
                                                                    </td> 
                                                                </tr> 
                                                            </table>  
                                                         
                                                        </ice:panelTab>  
                                                  </h:form>  
                                                    </td> 
					  </tr>
			  </table>
			   </div>
		</div> 
    </h:body>
</html>
