<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
       <!--Front Line-->
		<div class="box">
    		<div class="heading">
      			<h1> <img src="../images/h1_model.png" />Attribute</h1>
      			<div class="buttons">
                            <ice:commandButton  styleClass="button_insert" value="Insert" actionListener="#{attribute.changeToInsert}" />
      			</div>
		  </div>
    		<div class="content">
				<div class="search_content">
				  <table class="form_search">
					  <tr>
						<td width="30%" align="left" valign="middle">Type :<br />
                                                    <ice:selectOneMenu partialSubmit="true" value="#{attribute.selectAttributeTypeSearch}" valueChangeListener="#{attribute.selectItemChangeValue}">
                                                        <f:selectItems value="#{attribute.selectAttributeType}" />
                                                    </ice:selectOneMenu>
                                                </td>
						<td width="30%" align="left" valign="middle">Name :<br />
                                                    <ice:inputText partialSubmit="true" value="#{attribute.nameField}"/>
                                                </td>
						<td width="30%" align="left" valign="middle"><br />
					    <br /></td>
                                              <td width="10%" align="right" valign="middle"><ice:commandButton styleClass="button_search" value="Search" partialSubmit="true" actionListener="#{attribute.search()}" /></td>
					  </tr>
				  </table>
				</div>
                    <ice:dataTable  value="#{attribute.worksheet}" var="attributeTable" width="100%" cellspacing="0" cellpadding="0">
                                    <ice:column style="width:10%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Type"/>
                                        </f:facet>
                                        <ice:outputText value="#{attributeTable.type}" />
                                    </ice:column>
                                    <ice:column style="width:30%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Name" />
                                        </f:facet>
                                        <ice:outputText value="#{attributeTable.nameFiled}" />
                                    </ice:column>
                                    <ice:column style="width:50%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Detail"/>
                                        </f:facet>
                                        <ice:outputText value="#{attributeTable.detail}"/>
                                    </ice:column>
                                    <ice:column style="width:10%;">
                                        <f:facet name="header">
                                            <ice:outputText value="Action"/>
                                        </f:facet>
                                          <ice:panelGrid columns="2">
                                            <ice:commandLink value="Edit" styleClass="button_edit" actionListener="#{attribute.changeToEdit(attributeTable.index)}"/>
                                            <ice:commandButton panelConfirmation="confirmdelAttribute" styleClass="button_del" value="Delete" actionListener="#{attribute.changeToDelete(attributeTable.index)}" />
                                            <ice:panelConfirmation id="confirmdelAttribute" acceptLabel="Confirm" cancelLabel="Cancel" title="Confirm to delete mc" message="You are about to mc . Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                                        </ice:panelGrid>  
                                    </ice:column>  
                                </ice:dataTable>   
                                <div class="pagination">
                                <div align="center"> 
                                    <ice:commandLink styleClass="prev" actionListener="#{attribute.previous}" value="Previous" rendered="#{attribute.worksheetpagination.hasPreviousPage}"/> 
                                        #{attribute.worksheetpagination.page+1}/#{attribute.allPages}
                                        <ice:commandLink styleClass="next" actionListener="#{attribute.next}" value="Next" rendered="#{attribute.worksheetpagination.hasNextPage}"/>
                                <div class="results">
                                            Showing #{attribute.worksheetpagination.pageFirstItem+1} to #{attribute.worksheetpagination.pageLastItem+1} of #{attribute.worksheetpagination.itemsCount}
                                </div>
                            </div>
                        </div>  
		  </div>
	  	</div>
       </h:form>
    </h:body>
</html>
