<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRoleUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_id}" for="id" />
                    <h:inputText id="id" value="#{roleUserController.selected.id}" title="#{bundle.CreateRoleUserTitle_id}" required="true" requiredMessage="#{bundle.CreateRoleUserRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{roleUserController.selected.createDate}" title="#{bundle.CreateRoleUserTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_deleted}" for="deleted" />
                    <h:inputText id="deleted" value="#{roleUserController.selected.deleted}" title="#{bundle.CreateRoleUserTitle_deleted}" />
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{roleUserController.selected.userCreate}" title="#{bundle.CreateRoleUserTitle_userCreate}" required="true" requiredMessage="#{bundle.CreateRoleUserRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_roleId}" for="roleId" />
                    <h:selectOneMenu id="roleId" value="#{roleUserController.selected.roleId}" title="#{bundle.CreateRoleUserTitle_roleId}" required="true" requiredMessage="#{bundle.CreateRoleUserRequiredMessage_roleId}">
                        <f:selectItems value="#{roleController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreateRoleUserLabel_usersId}" for="usersId" />
                    <h:selectOneMenu id="usersId" value="#{roleUserController.selected.usersId}" title="#{bundle.CreateRoleUserTitle_usersId}" required="true" requiredMessage="#{bundle.CreateRoleUserRequiredMessage_usersId}">
                        <f:selectItems value="#{usersController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleUserController.create}" value="#{bundle.CreateRoleUserSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{roleUserController.prepareList}" value="#{bundle.CreateRoleUserShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateRoleUserIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
