<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRoleUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRoleUserEmpty}" rendered="#{roleUserController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{roleUserController.items.rowCount > 0}">
                    <h:outputText value="#{roleUserController.pagination.pageFirstItem + 1}..#{roleUserController.pagination.pageLastItem + 1}/#{roleUserController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{roleUserController.previous}" value="#{bundle.Previous} #{roleUserController.pagination.pageSize}" rendered="#{roleUserController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{roleUserController.next}" value="#{bundle.Next} #{roleUserController.pagination.pageSize}" rendered="#{roleUserController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{roleUserController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_deleted}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleted}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_roleId}"/>
                            </f:facet>
                            <h:outputText value="#{item.roleId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleUserTitle_usersId}"/>
                            </f:facet>
                            <h:outputText value="#{item.usersId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{roleUserController.prepareView}" value="#{bundle.ListRoleUserViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleUserController.prepareEdit}" value="#{bundle.ListRoleUserEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleUserController.destroy}" value="#{bundle.ListRoleUserDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{roleUserController.prepareCreate}" value="#{bundle.ListRoleUserCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListRoleUserIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
