<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleUserTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleUserLabel_id}"/>
                    <h:outputText value="#{roleUserController.selected.id}" title="#{bundle.ViewRoleUserTitle_id}"/>
                    <h:outputText value="#{bundle.ViewRoleUserLabel_createDate}"/>
                    <h:outputText value="#{roleUserController.selected.createDate}" title="#{bundle.ViewRoleUserTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewRoleUserLabel_deleted}"/>
                    <h:outputText value="#{roleUserController.selected.deleted}" title="#{bundle.ViewRoleUserTitle_deleted}"/>
                    <h:outputText value="#{bundle.ViewRoleUserLabel_userCreate}"/>
                    <h:outputText value="#{roleUserController.selected.userCreate}" title="#{bundle.ViewRoleUserTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewRoleUserLabel_roleId}"/>
                    <h:outputText value="#{roleUserController.selected.roleId}" title="#{bundle.ViewRoleUserTitle_roleId}"/>
                    <h:outputText value="#{bundle.ViewRoleUserLabel_usersId}"/>
                    <h:outputText value="#{roleUserController.selected.usersId}" title="#{bundle.ViewRoleUserTitle_usersId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleUserController.destroyAndView}" value="#{bundle.ViewRoleUserDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewRoleUserEditLink}"/>
                <br />
                <h:commandLink action="#{roleUserController.prepareCreate}" value="#{bundle.ViewRoleUserCreateLink}" />
                <br />
                <h:commandLink action="#{roleUserController.prepareList}" value="#{bundle.ViewRoleUserShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewRoleUserIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
