<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePc2ngTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_pc2ngId}" for="pc2ngId" />
                    <h:inputText id="pc2ngId" value="#{pc2ngController.selected.pc2ngId}" title="#{bundle.CreatePc2ngTitle_pc2ngId}" required="true" requiredMessage="#{bundle.CreatePc2ngRequiredMessage_pc2ngId}"/>
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{pc2ngController.selected.createDate}" title="#{bundle.CreatePc2ngTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{pc2ngController.selected.userCreate}" title="#{bundle.CreatePc2ngTitle_userCreate}" required="true" requiredMessage="#{bundle.CreatePc2ngRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{pc2ngController.selected.userApprove}" title="#{bundle.CreatePc2ngTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_idProc}" for="idProc" />
                    <h:selectOneMenu id="idProc" value="#{pc2ngController.selected.idProc}" title="#{bundle.CreatePc2ngTitle_idProc}" required="true" requiredMessage="#{bundle.CreatePc2ngRequiredMessage_idProc}">
                        <f:selectItems value="#{processPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.CreatePc2ngLabel_idNg}" for="idNg" />
                    <h:selectOneMenu id="idNg" value="#{pc2ngController.selected.idNg}" title="#{bundle.CreatePc2ngTitle_idNg}" required="true" requiredMessage="#{bundle.CreatePc2ngRequiredMessage_idNg}">
                        <f:selectItems value="#{ngPoolController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pc2ngController.create}" value="#{bundle.CreatePc2ngSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pc2ngController.prepareList}" value="#{bundle.CreatePc2ngShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreatePc2ngIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
