<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPc2ngTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPc2ngEmpty}" rendered="#{pc2ngController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pc2ngController.items.rowCount > 0}">
                    <h:outputText value="#{pc2ngController.pagination.pageFirstItem + 1}..#{pc2ngController.pagination.pageLastItem + 1}/#{pc2ngController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pc2ngController.previous}" value="#{bundle.Previous} #{pc2ngController.pagination.pageSize}" rendered="#{pc2ngController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pc2ngController.next}" value="#{bundle.Next} #{pc2ngController.pagination.pageSize}" rendered="#{pc2ngController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pc2ngController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_pc2ngId}"/>
                            </f:facet>
                            <h:outputText value="#{item.pc2ngId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_idProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPc2ngTitle_idNg}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pc2ngController.prepareView}" value="#{bundle.ListPc2ngViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pc2ngController.prepareEdit}" value="#{bundle.ListPc2ngEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pc2ngController.destroy}" value="#{bundle.ListPc2ngDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pc2ngController.prepareCreate}" value="#{bundle.ListPc2ngCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListPc2ngIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
