<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPc2ngTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPc2ngLabel_pc2ngId}"/>
                    <h:outputText value="#{pc2ngController.selected.pc2ngId}" title="#{bundle.ViewPc2ngTitle_pc2ngId}"/>
                    <h:outputText value="#{bundle.ViewPc2ngLabel_createDate}"/>
                    <h:outputText value="#{pc2ngController.selected.createDate}" title="#{bundle.ViewPc2ngTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewPc2ngLabel_userCreate}"/>
                    <h:outputText value="#{pc2ngController.selected.userCreate}" title="#{bundle.ViewPc2ngTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewPc2ngLabel_userApprove}"/>
                    <h:outputText value="#{pc2ngController.selected.userApprove}" title="#{bundle.ViewPc2ngTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewPc2ngLabel_idProc}"/>
                    <h:outputText value="#{pc2ngController.selected.idProc}" title="#{bundle.ViewPc2ngTitle_idProc}"/>
                    <h:outputText value="#{bundle.ViewPc2ngLabel_idNg}"/>
                    <h:outputText value="#{pc2ngController.selected.idNg}" title="#{bundle.ViewPc2ngTitle_idNg}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pc2ngController.destroyAndView}" value="#{bundle.ViewPc2ngDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewPc2ngEditLink}"/>
                <br />
                <h:commandLink action="#{pc2ngController.prepareCreate}" value="#{bundle.ViewPc2ngCreateLink}" />
                <br />
                <h:commandLink action="#{pc2ngController.prepareList}" value="#{bundle.ViewPc2ngShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewPc2ngIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
