<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ice="http://www.icesoft.com/icefaces/component"
	xmlns:icecore="http://www.icefaces.org/icefaces/core">
<f:view>
	<h:head>
		<meta http-equiv="Content-Type"
			content="text/html; charset=iso-8859-1" />
		<title>MenuBar Component Tutorial - Basic</title>
		<link rel="stylesheet" type="text/css"
			href="../xmlhttp/css/rime/rime.css" />
                <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
	</h:head>
	<h:body>  
 	
 
 
 
	</h:body>
</f:view>
</html>