<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>History Lot Control</title>
        <link rel="stylesheet" type="text/css"
              href="../../../xmlhttp/css/rime/rime.css" />
        <link rel="stylesheet" type="text/css" href="../../../css/layout.css"/>
    </h:head>
    <h:body>
        <!--Front Line-->
        <div class="box">
            <div class="heading">
                <h1><img src="../images/h1_history.png" />History Lot Control</h1>
            </div>
            <div class="content">
                <ice:form>
                    <div class="search_content">
                        <table class="form_search">
                            <tr>
                                <td width="30%" align="left" valign="middle">
                                    Lot Barcode :<br />
                                    <ice:inputText size="40" value="#{historytackingcontrol.barcodeinput}"/>
                                </td>
                                <td width="30%" align="left" valign="middle">
                                    Order Number : <br />
                                    <ice:inputText value="#{historytackingcontrol.ordernumber}"/>
                                </td>
                                <td width="30%" align="left" valign="middle">Date :<br />
                                    <ice:selectInputDate renderAsPopup="true" value="#{historytackingcontrol.date}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                    <br /></td>
                                <td width="30%" align="left" valign="middle">Date :<br />
                                    <ice:selectInputDate renderAsPopup="true" value="#{historytackingcontrol.enddate}">
                                        <f:convertDateTime pattern="dd/MM/yyyy"/>
                                    </ice:selectInputDate>
                                    <br /></td>
                                <td width="10%" align="right" valign="middle">
                                    <ice:commandButton actionListener="#{historytackingcontrol.searchHistoryTacking}" title="Search" value="Search" styleClass="button_search"/>
                                </td>
                            </tr>

                            <!--                            <tr>
                                                            <td width="30%" align="left" valign="middle">LOT Barcode :<br />
                                                                <ice:inputText size="40" value="#{historytackingcontrol.barcodeinput}"/>
                                                                                                <input name="Input3" type="text" size="40" />
                                                            </td>
                                                            <td width="30%" align="left" valign="middle">LOT Stamp :<br />
                                                                <ice:inputText value="#{historytackingcontrol.stampp}"/>
                                                                                                <input name="Input2" type="text" />
                                                            </td>
                                                            <td width="30%" align="left" valign="middle">Line :<br />
                                                                <ice:selectOneMenu value="#{historytackingcontrol.lineinput}" >
                                                                    <f:selectItem itemValue="" itemLabel=" Select One "/>
                                                                    <f:selectItems value="#{historytackingcontrol.linelist}"/>
                                                                </ice:selectOneMenu>
                                                                                                <select name="select3">
                                                                                                    <option>Select</option>
                                                                                                </select>
                                                                <br /></td>
                                                            <td width="10%" align="right" valign="middle">
                                                                <ice:commandButton actionListener="#{historytackingcontrol.searchHistoryTacking}" title="Search" value="Search" styleClass="button_search"/>
                                                                                                <input type="button" class="button_search"  value="Search" />
                                                            </td>
                                                        </tr>-->
                            <!--                            <tr>
                                                            <td width="30%" align="left" valign="middle">M/C :<br />
                                                                <ice:selectOneMenu value="#{historytackingcontrol.machine}">
                                                                    <f:selectItem itemValue="" itemLabel="  Select One  "/>
                                                                    <f:selectItems value="#{historytackingcontrol.machinelist}"/>
                                                                </ice:selectOneMenu>
                                                                                                <select name="select">
                                                                                                    <option>Select</option>
                                                                                                </select>
                                                            </td>
                                                            <td width="30%" align="left" valign="middle">Order number :<br />
                                                                <ice:inputText value="#{historytackingcontrol.ordernumber}"/>
                                                                                                <input name="Input2" type="text" />
                                                            </td>
                                                            <td width="30%" align="left" valign="middle">Date :<br />
                                                                <ice:selectInputDate renderAsPopup="true" value="#{historytackingcontrol.date}">
                                                                    <f:convertDateTime pattern="dd/MM/yyyy"/>
                                                                </ice:selectInputDate>
                                                                                                <input name="Input" type="text" />
                                                                <br /></td>
                                                            <td width="10%" align="right" valign="middle">&nbsp;</td>
                                                        </tr>-->
                        </table>

                    </div>

                    <ice:dataTable value="#{historytackingcontrol.datatable}" var="history" width="100%" border="1" cellpadding="0" cellspacing="0">
                        <ice:column style="width: 11%">
                            <f:facet name="header">
                                <ice:outputText value="Date"/>
                            </f:facet>
                            <ice:outputText value="#{history.date}"/>
                        </ice:column>
                        <ice:column style="width: 17%">
                            <f:facet name="header">
                                <ice:outputText value="Barcode"/>
                            </f:facet>
                            <ice:commandLink title="Link to Barcode History" value="#{history.barcode}" actionListener="#{historytackingcontrol.actionLink}"/>
                        </ice:column>
                        <ice:column style="width: 10%">
                            <f:facet name="header">
                                <ice:outputText value="Series"/>
                            </f:facet>
                            <ice:outputText value="#{history.series}"/>
                        </ice:column>
                        <ice:column style="width: 16%">
                            <f:facet name="header">
                                <ice:outputText value="Model"/>
                            </f:facet>
                            <ice:outputText value="#{history.model}"/>
                        </ice:column>
                        <ice:column style="width: 15%">
                            <f:facet name="header">
                                <ice:outputText value="Stamp"/>
                            </f:facet>
                            <ice:outputText value="#{history.stampp}"/>
                        </ice:column>
                        <ice:column style="width: 13%">
                            <f:facet name="header">
                                <ice:outputText value="Process"/>
                            </f:facet>
                            <ice:outputText value="#{history.process}"/>
                        </ice:column>
                        <ice:column style="width: 11%">
                            <f:facet name="header">
                                <ice:outputText value="Section"/>
                            </f:facet>
                            <ice:outputText value="#{history.section}"/>
                        </ice:column>
                        <ice:column style="width: 7%">
                            <f:facet name="header">
                                <ice:outputText value="Status"/>
                            </f:facet>
                            <ice:outputText value="#{history.status}"/>
                        </ice:column>
                    </ice:dataTable>
                    <div class="pagination"> 
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{historytackingcontrol.previous}" value="Previous" rendered="#{historytackingcontrol.paginationHelper.hasPreviousPage}"/> 
                            #{historytackingcontrol.paginationHelper.page+1}/#{historytackingcontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{historytackingcontrol.next}" value="Next" rendered="#{historytackingcontrol.paginationHelper.hasNextPage}"/>
                            <div class="results">
                                Showing #{historytackingcontrol.paginationHelper.pageFirstItem+1} to #{historytackingcontrol.paginationHelper.pageLastItem+1} of #{historytackingcontrol.paginationHelper.itemsCount}
                            </div>
                        </div>
                    </div>
                </ice:form>
            </div>
        </div>
    </h:body>
</html>

