<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>  
            <!--Create Worksheet-->
            <div class="box">
                <div class="heading">
                    <h1> <img src="../images/h1_stdtime.png" />STD Time Setting  </h1>
                    <div class="buttons">
                        
                        <ice:panelTab rendered="#{stdtimesettingcontrol.statusAddButton}" >    
                            <ice:commandButton value="Add" styleClass="button_create" actionListener="#{stdtimesettingcontrol.changeToAdd}" />
                        </ice:panelTab>
                        <ice:panelTab rendered="#{stdtimesettingcontrol.statusSaveButton}" >
                            <ice:commandButton value="Save" styleClass="button_save" actionListener="#{stdtimesettingcontrol.changeToSave}"/>
                            &nbsp;
                            <ice:commandButton value="Cancel" styleClass="button_cancel" actionListener="#{stdtimesettingcontrol.changeToCancel}" />
                        </ice:panelTab>
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Header name :</td>
                            <td >
                                <ice:inputText value="#{stdtimesettingcontrol.currentStdTime.headerName}"/>
                                &nbsp;
                                <ice:outputText style="color: red;" value="#{stdtimesettingcontrol.validateHeaderName}" />
                            </td>
                            <td class="label">Hours :</td>
                            <td>
                                <ice:inputText value="#{stdtimesettingcontrol.currentStdTime.hours}" />
                                &nbsp;
                                <ice:outputText style="color: red;" value="#{stdtimesettingcontrol.validateHours}" />
                            </td>
                            <td class="label">Minute:</td>
                            <td>
                                <ice:inputText  value="#{stdtimesettingcontrol.currentStdTime.minute}"/>
                                &nbsp;
                                <ice:outputText style="color: red;" value="#{stdtimesettingcontrol.validateMinutes}" />
                            </td>
                        </tr>
                    </table> 
                    <ice:dataTable width="100%" value="#{stdtimesettingcontrol.itemStdTime}" var="itemStdTime" > 
                        <ice:column style="width: 5%;">
                            <f:facet name="header">
                                <ice:outputText value="No." />
                            </f:facet>  
                            <ice:outputText value="#{itemStdTime.number}" />
                        </ice:column>
                        <ice:column style="width: 30%;">
                            <f:facet name="header">
                                <ice:outputText value="Header name" />
                            </f:facet>
                            <ice:outputText value="#{itemStdTime.headerName}" /> 
                        </ice:column>
                        <ice:column style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Hours" />
                            </f:facet>
                            <ice:outputText value="#{itemStdTime.hours}" />
                        </ice:column>
                        <ice:column style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Minute" />
                            </f:facet>
                            <ice:outputText value="#{itemStdTime.minute}" />
                        </ice:column>
                        <ice:column style="width: 20%;">
                            <f:facet name="header">
                                <ice:outputText value="DataCreate" />
                            </f:facet>
                            <ice:outputText value="#{itemStdTime.date}" />
                        </ice:column>
                        <ice:column style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action" />
                            </f:facet>
                            <ice:commandButton value="Edit" styleClass="button_edit" actionListener="#{stdtimesettingcontrol.changeToEdit(itemStdTime.index)}" />
                            <ice:commandButton panelConfirmation="delStdSetting" value="Delete" styleClass="button_del"  actionListener="#{stdtimesettingcontrol.changeToDelete(itemStdTime.index)}"/>
                            <ice:panelConfirmation id="delStdSetting" acceptLabel="Confirm" cancelLabel="Cancel"  title="Confirm to delete STD settingtime" message="You are about to STD Time Setting. Are you sure?" draggable="false" autoCentre="true" rendered="true"/>
                        </ice:column>
                    </ice:dataTable> 
                </div>
            </div>  
<!--            <br/>
            <ice:commandButton value="Test" actionListener="#{stdtimesettingcontrol.changeToTest()}" styleClass="button_edit"/>
            <ice:inputText value="#{stdtimesettingcontrol.testinput}"/>
            <br/>
            <ice:commandButton value="edit" styleClass="button_edit" actionListener="#{stdtimesettingcontrol.editTest()}" />
            <br/>
            <ice:outputText value="#{stdtimesettingcontrol.indexEdit}" />
            <br/>
            <ice:commandButton value="show data " actionListener="#{stdtimesettingcontrol.showListData()}" />
            <BR/>
            <ice:dataTable value="#{stdtimesettingcontrol.masterModel}" var="itemList" >
                <ice:column>
                    <f:facet name="header">
                        <ice:outputText value="show" />
                    </f:facet>
                    <ice:outputText value="#{itemList.headerName}" />
                </ice:column>
            </ice:dataTable>
             <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{stdtimesettingcontrol.previous}" value="Previous" rendered="#{stdtimesettingcontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{stdtimesettingcontrol.worksheetpagination.page+1}/#{stdtimesettingcontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{stdtimesettingcontrol.next}" value="Next" rendered="#{stdtimesettingcontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{stdtimesettingcontrol.worksheetpagination.pageFirstItem+1} to #{stdtimesettingcontrol.worksheetpagination.pageLastItem+1} of #{stdtimesettingcontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>  
            <br/>
            <ice:commandButton value="show pop up"  actionListener="#{stdtimesettingcontrol.showPopup()}"/>
            <ice:panelPopup   rendered="#{stdtimesettingcontrol.showPopup}" modal="true"  >
                <f:facet name="header">
                   <ice:commandButton value="close pop up"  actionListener="#{stdtimesettingcontrol.closePopup()}"/>
                </f:facet>    
                <f:facet name="body">
                     <ice:dataTable value="#{stdtimesettingcontrol.masterModel}" var="itemList" >
                <ice:column>
                    <f:facet name="header">
                        <ice:outputText value="show" />
                    </f:facet>
                    <ice:outputText value="#{itemList.headerName}" />
                </ice:column>
            </ice:dataTable>
             <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{stdtimesettingcontrol.previous}" value="Previous" rendered="#{stdtimesettingcontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{stdtimesettingcontrol.worksheetpagination.page+1}/#{stdtimesettingcontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{stdtimesettingcontrol.next}" value="Next" rendered="#{stdtimesettingcontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{stdtimesettingcontrol.worksheetpagination.pageFirstItem+1} to #{stdtimesettingcontrol.worksheetpagination.pageLastItem+1} of #{stdtimesettingcontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>   
                </f:facet>     
            </ice:panelPopup>
            
            -->
        </h:form>
    </h:body>
</html>