<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditNgRepairTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditNgRepairLabel_idNg}" for="idNg" />
                    <h:inputText id="idNg" value="#{ngRepairController.selected.idNg}" title="#{bundle.EditNgRepairTitle_idNg}" required="true" requiredMessage="#{bundle.EditNgRepairRequiredMessage_idNg}"/>
                    <h:outputLabel value="#{bundle.EditNgRepairLabel_name}" for="name" />
                    <h:inputText id="name" value="#{ngRepairController.selected.name}" title="#{bundle.EditNgRepairTitle_name}" />
                    <h:outputLabel value="#{bundle.EditNgRepairLabel_qty}" for="qty" />
                    <h:inputText id="qty" value="#{ngRepairController.selected.qty}" title="#{bundle.EditNgRepairTitle_qty}" />
                    <h:outputLabel value="#{bundle.EditNgRepairLabel_currentProcessId}" for="currentProcessId" />
                    <h:selectOneMenu id="currentProcessId" value="#{ngRepairController.selected.currentProcessId}" title="#{bundle.EditNgRepairTitle_currentProcessId}" required="true" requiredMessage="#{bundle.EditNgRepairRequiredMessage_currentProcessId}">
                        <f:selectItems value="#{currentProcessController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{ngRepairController.update}" value="#{bundle.EditNgRepairSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditNgRepairViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{ngRepairController.prepareList}" value="#{bundle.EditNgRepairShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditNgRepairIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
