<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListNgRepairTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListNgRepairEmpty}" rendered="#{ngRepairController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ngRepairController.items.rowCount > 0}">
                    <h:outputText value="#{ngRepairController.pagination.pageFirstItem + 1}..#{ngRepairController.pagination.pageLastItem + 1}/#{ngRepairController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ngRepairController.previous}" value="#{bundle.Previous} #{ngRepairController.pagination.pageSize}" rendered="#{ngRepairController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ngRepairController.next}" value="#{bundle.Next} #{ngRepairController.pagination.pageSize}" rendered="#{ngRepairController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ngRepairController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgRepairTitle_idNg}"/>
                            </f:facet>
                            <h:outputText value="#{item.idNg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgRepairTitle_name}"/>
                            </f:facet>
                            <h:outputText value="#{item.name}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgRepairTitle_qty}"/>
                            </f:facet>
                            <h:outputText value="#{item.qty}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListNgRepairTitle_currentProcessId}"/>
                            </f:facet>
                            <h:outputText value="#{item.currentProcessId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ngRepairController.prepareView}" value="#{bundle.ListNgRepairViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngRepairController.prepareEdit}" value="#{bundle.ListNgRepairEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ngRepairController.destroy}" value="#{bundle.ListNgRepairDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ngRepairController.prepareCreate}" value="#{bundle.ListNgRepairCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListNgRepairIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
