<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewNgRepairTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewNgRepairLabel_idNg}"/>
                    <h:outputText value="#{ngRepairController.selected.idNg}" title="#{bundle.ViewNgRepairTitle_idNg}"/>
                    <h:outputText value="#{bundle.ViewNgRepairLabel_name}"/>
                    <h:outputText value="#{ngRepairController.selected.name}" title="#{bundle.ViewNgRepairTitle_name}"/>
                    <h:outputText value="#{bundle.ViewNgRepairLabel_qty}"/>
                    <h:outputText value="#{ngRepairController.selected.qty}" title="#{bundle.ViewNgRepairTitle_qty}"/>
                    <h:outputText value="#{bundle.ViewNgRepairLabel_currentProcessId}"/>
                    <h:outputText value="#{ngRepairController.selected.currentProcessId}" title="#{bundle.ViewNgRepairTitle_currentProcessId}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{ngRepairController.destroyAndView}" value="#{bundle.ViewNgRepairDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewNgRepairEditLink}"/>
                <br />
                <h:commandLink action="#{ngRepairController.prepareCreate}" value="#{bundle.ViewNgRepairCreateLink}" />
                <br />
                <h:commandLink action="#{ngRepairController.prepareList}" value="#{bundle.ViewNgRepairShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewNgRepairIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
