<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDetailAutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDetailAutoLabel_id}" for="id" />
                    <h:inputText id="id" value="#{detailAutoController.selected.id}" title="#{bundle.EditDetailAutoTitle_id}" required="true" requiredMessage="#{bundle.EditDetailAutoRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditDetailAutoLabel_user}" for="user" />
                    <h:inputText id="user" value="#{detailAutoController.selected.user}" title="#{bundle.EditDetailAutoTitle_user}" />
                    <h:outputLabel value="#{bundle.EditDetailAutoLabel_remark}" for="remark" />
                    <h:inputText id="remark" value="#{detailAutoController.selected.remark}" title="#{bundle.EditDetailAutoTitle_remark}" />
                    <h:outputLabel value="#{bundle.EditDetailAutoLabel_lotcontrolassy}" for="lotcontrolassy" />
                    <h:inputText id="lotcontrolassy" value="#{detailAutoController.selected.lotcontrolassy}" title="#{bundle.EditDetailAutoTitle_lotcontrolassy}" />
                    <h:outputLabel value="#{bundle.EditDetailAutoLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{detailAutoController.selected.detailIdDetail}" title="#{bundle.EditDetailAutoTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.EditDetailAutoRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{detailAutoController.update}" value="#{bundle.EditDetailAutoSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditDetailAutoViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{detailAutoController.prepareList}" value="#{bundle.EditDetailAutoShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditDetailAutoIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
