<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListDetailAutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDetailAutoEmpty}" rendered="#{detailAutoController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{detailAutoController.items.rowCount > 0}">
                    <h:outputText value="#{detailAutoController.pagination.pageFirstItem + 1}..#{detailAutoController.pagination.pageLastItem + 1}/#{detailAutoController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{detailAutoController.previous}" value="#{bundle.Previous} #{detailAutoController.pagination.pageSize}" rendered="#{detailAutoController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{detailAutoController.next}" value="#{bundle.Next} #{detailAutoController.pagination.pageSize}" rendered="#{detailAutoController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{detailAutoController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAutoTitle_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAutoTitle_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAutoTitle_remark}"/>
                            </f:facet>
                            <h:outputText value="#{item.remark}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAutoTitle_lotcontrolassy}"/>
                            </f:facet>
                            <h:outputText value="#{item.lotcontrolassy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailAutoTitle_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{detailAutoController.prepareView}" value="#{bundle.ListDetailAutoViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailAutoController.prepareEdit}" value="#{bundle.ListDetailAutoEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailAutoController.destroy}" value="#{bundle.ListDetailAutoDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{detailAutoController.prepareCreate}" value="#{bundle.ListDetailAutoCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListDetailAutoIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
