<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetailAutoTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetailAutoLabel_id}"/>
                    <h:outputText value="#{detailAutoController.selected.id}" title="#{bundle.ViewDetailAutoTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDetailAutoLabel_user}"/>
                    <h:outputText value="#{detailAutoController.selected.user}" title="#{bundle.ViewDetailAutoTitle_user}"/>
                    <h:outputText value="#{bundle.ViewDetailAutoLabel_remark}"/>
                    <h:outputText value="#{detailAutoController.selected.remark}" title="#{bundle.ViewDetailAutoTitle_remark}"/>
                    <h:outputText value="#{bundle.ViewDetailAutoLabel_lotcontrolassy}"/>
                    <h:outputText value="#{detailAutoController.selected.lotcontrolassy}" title="#{bundle.ViewDetailAutoTitle_lotcontrolassy}"/>
                    <h:outputText value="#{bundle.ViewDetailAutoLabel_detailIdDetail}"/>
                    <h:outputText value="#{detailAutoController.selected.detailIdDetail}" title="#{bundle.ViewDetailAutoTitle_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailAutoController.destroyAndView}" value="#{bundle.ViewDetailAutoDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewDetailAutoEditLink}"/>
                <br />
                <h:commandLink action="#{detailAutoController.prepareCreate}" value="#{bundle.ViewDetailAutoCreateLink}" />
                <br />
                <h:commandLink action="#{detailAutoController.prepareList}" value="#{bundle.ViewDetailAutoShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewDetailAutoIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
