<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditProcessPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_idProc}" for="idProc" />
                    <h:inputText id="idProc" value="#{processPoolController.selected.idProc}" title="#{bundle.EditProcessPoolTitle_idProc}" required="true" requiredMessage="#{bundle.EditProcessPoolRequiredMessage_idProc}"/>
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_codeOperation}" for="codeOperation" />
                    <h:inputText id="codeOperation" value="#{processPoolController.selected.codeOperation}" title="#{bundle.EditProcessPoolTitle_codeOperation}" />
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_procName}" for="procName" />
                    <h:inputText id="procName" value="#{processPoolController.selected.procName}" title="#{bundle.EditProcessPoolTitle_procName}" />
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_status}" for="status" />
                    <h:inputText id="status" value="#{processPoolController.selected.status}" title="#{bundle.EditProcessPoolTitle_status}" />
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_createDate}" for="createDate" />
                    <h:inputText id="createDate" value="#{processPoolController.selected.createDate}" title="#{bundle.EditProcessPoolTitle_createDate}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_userCreate}" for="userCreate" />
                    <h:inputText id="userCreate" value="#{processPoolController.selected.userCreate}" title="#{bundle.EditProcessPoolTitle_userCreate}" required="true" requiredMessage="#{bundle.EditProcessPoolRequiredMessage_userCreate}"/>
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_userApprove}" for="userApprove" />
                    <h:inputText id="userApprove" value="#{processPoolController.selected.userApprove}" title="#{bundle.EditProcessPoolTitle_userApprove}" />
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_costProc}" for="costProc" />
                    <h:inputText id="costProc" value="#{processPoolController.selected.costProc}" title="#{bundle.EditProcessPoolTitle_costProc}" />
                    <h:outputLabel value="#{bundle.EditProcessPoolLabel_type}" for="type" />
                    <h:inputText id="type" value="#{processPoolController.selected.type}" title="#{bundle.EditProcessPoolTitle_type}" />
                </h:panelGrid>
                <h:commandLink action="#{processPoolController.update}" value="#{bundle.EditProcessPoolSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditProcessPoolViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{processPoolController.prepareList}" value="#{bundle.EditProcessPoolShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditProcessPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
