<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListProcessPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListProcessPoolEmpty}" rendered="#{processPoolController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{processPoolController.items.rowCount > 0}">
                    <h:outputText value="#{processPoolController.pagination.pageFirstItem + 1}..#{processPoolController.pagination.pageLastItem + 1}/#{processPoolController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{processPoolController.previous}" value="#{bundle.Previous} #{processPoolController.pagination.pageSize}" rendered="#{processPoolController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{processPoolController.next}" value="#{bundle.Next} #{processPoolController.pagination.pageSize}" rendered="#{processPoolController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{processPoolController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_idProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.idProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_codeOperation}"/>
                            </f:facet>
                            <h:outputText value="#{item.codeOperation}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_procName}"/>
                            </f:facet>
                            <h:outputText value="#{item.procName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_status}"/>
                            </f:facet>
                            <h:outputText value="#{item.status}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_createDate}"/>
                            </f:facet>
                            <h:outputText value="#{item.createDate}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_userCreate}"/>
                            </f:facet>
                            <h:outputText value="#{item.userCreate}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_userApprove}"/>
                            </f:facet>
                            <h:outputText value="#{item.userApprove}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_costProc}"/>
                            </f:facet>
                            <h:outputText value="#{item.costProc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListProcessPoolTitle_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{processPoolController.prepareView}" value="#{bundle.ListProcessPoolViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{processPoolController.prepareEdit}" value="#{bundle.ListProcessPoolEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{processPoolController.destroy}" value="#{bundle.ListProcessPoolDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{processPoolController.prepareCreate}" value="#{bundle.ListProcessPoolCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListProcessPoolIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
