<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewProcessPoolTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_idProc}"/>
                    <h:outputText value="#{processPoolController.selected.idProc}" title="#{bundle.ViewProcessPoolTitle_idProc}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_codeOperation}"/>
                    <h:outputText value="#{processPoolController.selected.codeOperation}" title="#{bundle.ViewProcessPoolTitle_codeOperation}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_procName}"/>
                    <h:outputText value="#{processPoolController.selected.procName}" title="#{bundle.ViewProcessPoolTitle_procName}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_status}"/>
                    <h:outputText value="#{processPoolController.selected.status}" title="#{bundle.ViewProcessPoolTitle_status}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_createDate}"/>
                    <h:outputText value="#{processPoolController.selected.createDate}" title="#{bundle.ViewProcessPoolTitle_createDate}">
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_userCreate}"/>
                    <h:outputText value="#{processPoolController.selected.userCreate}" title="#{bundle.ViewProcessPoolTitle_userCreate}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_userApprove}"/>
                    <h:outputText value="#{processPoolController.selected.userApprove}" title="#{bundle.ViewProcessPoolTitle_userApprove}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_costProc}"/>
                    <h:outputText value="#{processPoolController.selected.costProc}" title="#{bundle.ViewProcessPoolTitle_costProc}"/>
                    <h:outputText value="#{bundle.ViewProcessPoolLabel_type}"/>
                    <h:outputText value="#{processPoolController.selected.type}" title="#{bundle.ViewProcessPoolTitle_type}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{processPoolController.destroyAndView}" value="#{bundle.ViewProcessPoolDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewProcessPoolEditLink}"/>
                <br />
                <h:commandLink action="#{processPoolController.prepareCreate}" value="#{bundle.ViewProcessPoolCreateLink}" />
                <br />
                <h:commandLink action="#{processPoolController.prepareList}" value="#{bundle.ViewProcessPoolShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewProcessPoolIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
