<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1><img src="../images/h1_model.png" />Report Create setting</h1>
                    <div class="buttons">
                        <ice:commandButton value="Create" styleClass="button_create" actionListener="#{reportsettincontrol.changeToCreate}" />
                        &nbsp;
                        <ice:commandButton value="Cancel" styleClass="button_cancel" actionListener="#{reportsettincontrol.changeToCancel}" />
                    </div>
                </div>
                <div class="content">
                    <table class="form">
                        <tr>
                            <td class="label">Name Report : </td>
                            <td><ice:inputText value="#{reportsettincontrol.currentReportSetting.nameSetting}"/></td>
                        </tr>
                        <tr>
                            <td class="label">Description : </td>
                            <td><ice:inputTextarea cols="45" rows="5" value="#{reportsettincontrol.currentReportSetting.descriptionSetting}"/></td>
                        </tr>
                    </table> 
                    <br/>
                    <div class="search_content">
                        <table class="form" >
                            <tr>
                                <td class="label">Field Name :</td>
                                <td><ice:inputText value="#{reportsettincontrol.currentBufferDta.name}"/></td>
                                <td class="label">Value Field :</td>
                                <td><ice:inputText value="#{reportsettincontrol.currentBufferDta.value}"/></td>
                                <td><ice:commandButton value="Add" action="#{reportsettincontrol.changeToAdd()}" /></td>
                            </tr>
                        </table>
                    </div>
                    <h2 class="lable_line">Field name List : </h2>
                    <div class="content_line">
                        <div class="content_process">
                            <ice:dataTable width="100%" value="#{reportsettincontrol.currentReportsettinField}" var="report">
                                <ice:column  style="width: 50%;" >
                                    <f:facet name="header">
                                        <ice:outputText value="Name Field"/>
                                    </f:facet>
                                    <ice:inputText  value="#{report.name}"/>
                                </ice:column>
                                <ice:column  style="width: 20%;" >
                                    <f:facet name="header">
                                        <ice:outputText value="Value Field"/>
                                    </f:facet>
                                    <ice:inputText  value="#{report.value}"/>
                                </ice:column>
                                <ice:column  style="width: 30%;" >
                                    <f:facet name="header">
                                        <ice:outputText value="Action" />
                                    </f:facet>
                                    <ice:commandButton value="Delete" styleClass="button_del" action="#{reportsettincontrol.changeToDeleted(report.indexFiled)}"/>
                                </ice:column>
                            </ice:dataTable>
                        </div>
                    </div>    
                </div>
            </div>
        </h:form>
    </h:body>
</html>