<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core" 
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <title>Facelet Title</title>
    </h:head>
    <h:body>
        <h:form>
            <div class="box">
                <div class="heading">
                    <h1><img src="../images/h1_model.png" /> Report setting</h1>
                    <div class="buttons">
                        <ice:commandButton  styleClass="button_insert" value="Insert" actionListener="#{reportsettincontrol.changeToInsert}"/>
                    </div>
                </div>
                <div class="content">
                    <ice:dataTable value="#{reportsettincontrol.dataModelReportSetting}" var="itemList" width="100%">
                        <ice:column style="width: 5%;">
                            <f:facet name="header">
                                <ice:outputText value="No." />
                            </f:facet>    
                            <ice:outputText value="#{itemList.number}" />
                        </ice:column>    
                        <ice:column style="width: 35%;">
                            <f:facet name="header">
                                <ice:outputText value="Report name" />
                            </f:facet>
                            <ice:outputText value="#{itemList.name}" />
                        </ice:column>
                        <ice:column style="width: 45%;">
                            <f:facet name="header" >
                                <ice:outputText value="Description" />
                            </f:facet>
                            <ice:outputText value="#{itemList.description}" />
                        </ice:column>
                        <ice:column style="width: 15%;">
                            <f:facet name="header">
                                <ice:outputText value="Action"/>
                            </f:facet>
                            <ice:commandButton value="Edit" styleClass="button_edit" actionListener="#{reportsettincontrol.changeToEdit}" />
                            <ice:commandButton panelConfirmation="delReportSetting" value="Delete" styleClass="button_del" actionListener="#{reportsettincontrol.changeToDeletedListView}"/>
                            <ice:panelConfirmation  id="delReportSetting" title="Confirm to delete report setting " message="You are about to report setting. Are you sure?" draggable="false" autoCentre="true" rendered="true" cancelLabel="Cancel" acceptLabel="Confirm"   />
                        </ice:column>
                    </ice:dataTable>    
                    <div class="pagination">
                        <div align="center"> 
                            <ice:commandLink styleClass="prev" actionListener="#{reportsettincontrol.previous}" value="Previous" rendered="#{reportsettincontrol.worksheetpagination.hasPreviousPage}"/> 
                            #{reportsettincontrol.worksheetpagination.page+1}/#{reportsettincontrol.allPages}
                            <ice:commandLink styleClass="next" actionListener="#{reportsettincontrol.next}" value="Next" rendered="#{reportsettincontrol.worksheetpagination.hasNextPage}"/>
                            <div class="results">
                                Showing #{reportsettincontrol.worksheetpagination.pageFirstItem+1} to #{reportsettincontrol.worksheetpagination.pageLastItem+1} of #{reportsettincontrol.worksheetpagination.itemsCount}
                            </div>
                        </div>
                    </div>  
                </div>
            </div>
        </h:form>
    </h:body>
</html>