<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreatePcb01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreatePcb01Label_id}" for="id" />
                    <h:inputText id="id" value="#{pcb01Controller.selected.id}" title="#{bundle.CreatePcb01Title_id}" required="true" requiredMessage="#{bundle.CreatePcb01RequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreatePcb01Label_stamp}" for="stamp" />
                    <h:inputText id="stamp" value="#{pcb01Controller.selected.stamp}" title="#{bundle.CreatePcb01Title_stamp}" />
                    <h:outputLabel value="#{bundle.CreatePcb01Label_user}" for="user" />
                    <h:inputText id="user" value="#{pcb01Controller.selected.user}" title="#{bundle.CreatePcb01Title_user}" required="true" requiredMessage="#{bundle.CreatePcb01RequiredMessage_user}"/>
                    <h:outputLabel value="#{bundle.CreatePcb01Label_type}" for="type" />
                    <h:inputText id="type" value="#{pcb01Controller.selected.type}" title="#{bundle.CreatePcb01Title_type}" />
                    <h:outputLabel value="#{bundle.CreatePcb01Label_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{pcb01Controller.selected.detailIdDetail}" title="#{bundle.CreatePcb01Title_detailIdDetail}" required="true" requiredMessage="#{bundle.CreatePcb01RequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pcb01Controller.create}" value="#{bundle.CreatePcb01SaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{pcb01Controller.prepareList}" value="#{bundle.CreatePcb01ShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreatePcb01IndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
