<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListPcb01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListPcb01Empty}" rendered="#{pcb01Controller.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{pcb01Controller.items.rowCount > 0}">
                    <h:outputText value="#{pcb01Controller.pagination.pageFirstItem + 1}..#{pcb01Controller.pagination.pageLastItem + 1}/#{pcb01Controller.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{pcb01Controller.previous}" value="#{bundle.Previous} #{pcb01Controller.pagination.pageSize}" rendered="#{pcb01Controller.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{pcb01Controller.next}" value="#{bundle.Next} #{pcb01Controller.pagination.pageSize}" rendered="#{pcb01Controller.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{pcb01Controller.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcb01Title_id}"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcb01Title_stamp}"/>
                            </f:facet>
                            <h:outputText value="#{item.stamp}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcb01Title_user}"/>
                            </f:facet>
                            <h:outputText value="#{item.user}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcb01Title_type}"/>
                            </f:facet>
                            <h:outputText value="#{item.type}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListPcb01Title_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{pcb01Controller.prepareView}" value="#{bundle.ListPcb01ViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pcb01Controller.prepareEdit}" value="#{bundle.ListPcb01EditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{pcb01Controller.destroy}" value="#{bundle.ListPcb01DestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{pcb01Controller.prepareCreate}" value="#{bundle.ListPcb01CreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListPcb01IndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
