<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewPcb01Title}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewPcb01Label_id}"/>
                    <h:outputText value="#{pcb01Controller.selected.id}" title="#{bundle.ViewPcb01Title_id}"/>
                    <h:outputText value="#{bundle.ViewPcb01Label_stamp}"/>
                    <h:outputText value="#{pcb01Controller.selected.stamp}" title="#{bundle.ViewPcb01Title_stamp}"/>
                    <h:outputText value="#{bundle.ViewPcb01Label_user}"/>
                    <h:outputText value="#{pcb01Controller.selected.user}" title="#{bundle.ViewPcb01Title_user}"/>
                    <h:outputText value="#{bundle.ViewPcb01Label_type}"/>
                    <h:outputText value="#{pcb01Controller.selected.type}" title="#{bundle.ViewPcb01Title_type}"/>
                    <h:outputText value="#{bundle.ViewPcb01Label_detailIdDetail}"/>
                    <h:outputText value="#{pcb01Controller.selected.detailIdDetail}" title="#{bundle.ViewPcb01Title_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{pcb01Controller.destroyAndView}" value="#{bundle.ViewPcb01DestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewPcb01EditLink}"/>
                <br />
                <h:commandLink action="#{pcb01Controller.prepareCreate}" value="#{bundle.ViewPcb01CreateLink}" />
                <br />
                <h:commandLink action="#{pcb01Controller.prepareList}" value="#{bundle.ViewPcb01ShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewPcb01IndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
