<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateRoleLabel_idRole}" for="idRole" />
                    <h:inputText id="idRole" value="#{roleController.selected.idRole}" title="#{bundle.CreateRoleTitle_idRole}" required="true" requiredMessage="#{bundle.CreateRoleRequiredMessage_idRole}"/>
                    <h:outputLabel value="#{bundle.CreateRoleLabel_roleName}" for="roleName" />
                    <h:inputText id="roleName" value="#{roleController.selected.roleName}" title="#{bundle.CreateRoleTitle_roleName}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeFl}" for="seeFl" />
                    <h:inputText id="seeFl" value="#{roleController.selected.seeFl}" title="#{bundle.CreateRoleTitle_seeFl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createFl}" for="createFl" />
                    <h:inputText id="createFl" value="#{roleController.selected.createFl}" title="#{bundle.CreateRoleTitle_createFl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listFl}" for="listFl" />
                    <h:inputText id="listFl" value="#{roleController.selected.listFl}" title="#{bundle.CreateRoleTitle_listFl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteFl}" for="deleteFl" />
                    <h:inputText id="deleteFl" value="#{roleController.selected.deleteFl}" title="#{bundle.CreateRoleTitle_deleteFl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editFl}" for="editFl" />
                    <h:inputText id="editFl" value="#{roleController.selected.editFl}" title="#{bundle.CreateRoleTitle_editFl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailFrontLine}" for="detailFrontLine" />
                    <h:inputText id="detailFrontLine" value="#{roleController.selected.detailFrontLine}" title="#{bundle.CreateRoleTitle_detailFrontLine}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeBl}" for="seeBl" />
                    <h:inputText id="seeBl" value="#{roleController.selected.seeBl}" title="#{bundle.CreateRoleTitle_seeBl}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createAssy}" for="createAssy" />
                    <h:inputText id="createAssy" value="#{roleController.selected.createAssy}" title="#{bundle.CreateRoleTitle_createAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listAssy}" for="listAssy" />
                    <h:inputText id="listAssy" value="#{roleController.selected.listAssy}" title="#{bundle.CreateRoleTitle_listAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteAssy}" for="deleteAssy" />
                    <h:inputText id="deleteAssy" value="#{roleController.selected.deleteAssy}" title="#{bundle.CreateRoleTitle_deleteAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editAssy}" for="editAssy" />
                    <h:inputText id="editAssy" value="#{roleController.selected.editAssy}" title="#{bundle.CreateRoleTitle_editAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveAssy}" for="approveAssy" />
                    <h:inputText id="approveAssy" value="#{roleController.selected.approveAssy}" title="#{bundle.CreateRoleTitle_approveAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailAssy}" for="detailAssy" />
                    <h:inputText id="detailAssy" value="#{roleController.selected.detailAssy}" title="#{bundle.CreateRoleTitle_detailAssy}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createAuto}" for="createAuto" />
                    <h:inputText id="createAuto" value="#{roleController.selected.createAuto}" title="#{bundle.CreateRoleTitle_createAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listAuto}" for="listAuto" />
                    <h:inputText id="listAuto" value="#{roleController.selected.listAuto}" title="#{bundle.CreateRoleTitle_listAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteAuto}" for="deleteAuto" />
                    <h:inputText id="deleteAuto" value="#{roleController.selected.deleteAuto}" title="#{bundle.CreateRoleTitle_deleteAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editAuto}" for="editAuto" />
                    <h:inputText id="editAuto" value="#{roleController.selected.editAuto}" title="#{bundle.CreateRoleTitle_editAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveAuto}" for="approveAuto" />
                    <h:inputText id="approveAuto" value="#{roleController.selected.approveAuto}" title="#{bundle.CreateRoleTitle_approveAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailAuto}" for="detailAuto" />
                    <h:inputText id="detailAuto" value="#{roleController.selected.detailAuto}" title="#{bundle.CreateRoleTitle_detailAuto}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createAssembly}" for="createAssembly" />
                    <h:inputText id="createAssembly" value="#{roleController.selected.createAssembly}" title="#{bundle.CreateRoleTitle_createAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listAssembly}" for="listAssembly" />
                    <h:inputText id="listAssembly" value="#{roleController.selected.listAssembly}" title="#{bundle.CreateRoleTitle_listAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteAssembly}" for="deleteAssembly" />
                    <h:inputText id="deleteAssembly" value="#{roleController.selected.deleteAssembly}" title="#{bundle.CreateRoleTitle_deleteAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editAssembly}" for="editAssembly" />
                    <h:inputText id="editAssembly" value="#{roleController.selected.editAssembly}" title="#{bundle.CreateRoleTitle_editAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveAssembly}" for="approveAssembly" />
                    <h:inputText id="approveAssembly" value="#{roleController.selected.approveAssembly}" title="#{bundle.CreateRoleTitle_approveAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailAssembly}" for="detailAssembly" />
                    <h:inputText id="detailAssembly" value="#{roleController.selected.detailAssembly}" title="#{bundle.CreateRoleTitle_detailAssembly}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seePcb}" for="seePcb" />
                    <h:inputText id="seePcb" value="#{roleController.selected.seePcb}" title="#{bundle.CreateRoleTitle_seePcb}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createPcb01}" for="createPcb01" />
                    <h:inputText id="createPcb01" value="#{roleController.selected.createPcb01}" title="#{bundle.CreateRoleTitle_createPcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listPcb01}" for="listPcb01" />
                    <h:inputText id="listPcb01" value="#{roleController.selected.listPcb01}" title="#{bundle.CreateRoleTitle_listPcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deletePcb01}" for="deletePcb01" />
                    <h:inputText id="deletePcb01" value="#{roleController.selected.deletePcb01}" title="#{bundle.CreateRoleTitle_deletePcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editPcb01}" for="editPcb01" />
                    <h:inputText id="editPcb01" value="#{roleController.selected.editPcb01}" title="#{bundle.CreateRoleTitle_editPcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approvePcb01}" for="approvePcb01" />
                    <h:inputText id="approvePcb01" value="#{roleController.selected.approvePcb01}" title="#{bundle.CreateRoleTitle_approvePcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailPcb01}" for="detailPcb01" />
                    <h:inputText id="detailPcb01" value="#{roleController.selected.detailPcb01}" title="#{bundle.CreateRoleTitle_detailPcb01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createPcb02}" for="createPcb02" />
                    <h:inputText id="createPcb02" value="#{roleController.selected.createPcb02}" title="#{bundle.CreateRoleTitle_createPcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listPcb02}" for="listPcb02" />
                    <h:inputText id="listPcb02" value="#{roleController.selected.listPcb02}" title="#{bundle.CreateRoleTitle_listPcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deletePcb02}" for="deletePcb02" />
                    <h:inputText id="deletePcb02" value="#{roleController.selected.deletePcb02}" title="#{bundle.CreateRoleTitle_deletePcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editPcb02}" for="editPcb02" />
                    <h:inputText id="editPcb02" value="#{roleController.selected.editPcb02}" title="#{bundle.CreateRoleTitle_editPcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approvePcb02}" for="approvePcb02" />
                    <h:inputText id="approvePcb02" value="#{roleController.selected.approvePcb02}" title="#{bundle.CreateRoleTitle_approvePcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailPcb02}" for="detailPcb02" />
                    <h:inputText id="detailPcb02" value="#{roleController.selected.detailPcb02}" title="#{bundle.CreateRoleTitle_detailPcb02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createPcb03}" for="createPcb03" />
                    <h:inputText id="createPcb03" value="#{roleController.selected.createPcb03}" title="#{bundle.CreateRoleTitle_createPcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listPcb03}" for="listPcb03" />
                    <h:inputText id="listPcb03" value="#{roleController.selected.listPcb03}" title="#{bundle.CreateRoleTitle_listPcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deletePcb03}" for="deletePcb03" />
                    <h:inputText id="deletePcb03" value="#{roleController.selected.deletePcb03}" title="#{bundle.CreateRoleTitle_deletePcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editPcb03}" for="editPcb03" />
                    <h:inputText id="editPcb03" value="#{roleController.selected.editPcb03}" title="#{bundle.CreateRoleTitle_editPcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approvePcb03}" for="approvePcb03" />
                    <h:inputText id="approvePcb03" value="#{roleController.selected.approvePcb03}" title="#{bundle.CreateRoleTitle_approvePcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailPcb03}" for="detailPcb03" />
                    <h:inputText id="detailPcb03" value="#{roleController.selected.detailPcb03}" title="#{bundle.CreateRoleTitle_detailPcb03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeRefu}" for="seeRefu" />
                    <h:inputText id="seeRefu" value="#{roleController.selected.seeRefu}" title="#{bundle.CreateRoleTitle_seeRefu}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createRefu01}" for="createRefu01" />
                    <h:inputText id="createRefu01" value="#{roleController.selected.createRefu01}" title="#{bundle.CreateRoleTitle_createRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listRefu01}" for="listRefu01" />
                    <h:inputText id="listRefu01" value="#{roleController.selected.listRefu01}" title="#{bundle.CreateRoleTitle_listRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteRefu01}" for="deleteRefu01" />
                    <h:inputText id="deleteRefu01" value="#{roleController.selected.deleteRefu01}" title="#{bundle.CreateRoleTitle_deleteRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editRefu01}" for="editRefu01" />
                    <h:inputText id="editRefu01" value="#{roleController.selected.editRefu01}" title="#{bundle.CreateRoleTitle_editRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveRefu01}" for="approveRefu01" />
                    <h:inputText id="approveRefu01" value="#{roleController.selected.approveRefu01}" title="#{bundle.CreateRoleTitle_approveRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailRefu01}" for="detailRefu01" />
                    <h:inputText id="detailRefu01" value="#{roleController.selected.detailRefu01}" title="#{bundle.CreateRoleTitle_detailRefu01}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createRefu02}" for="createRefu02" />
                    <h:inputText id="createRefu02" value="#{roleController.selected.createRefu02}" title="#{bundle.CreateRoleTitle_createRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listRefu02}" for="listRefu02" />
                    <h:inputText id="listRefu02" value="#{roleController.selected.listRefu02}" title="#{bundle.CreateRoleTitle_listRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteRefu02}" for="deleteRefu02" />
                    <h:inputText id="deleteRefu02" value="#{roleController.selected.deleteRefu02}" title="#{bundle.CreateRoleTitle_deleteRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editRefu02}" for="editRefu02" />
                    <h:inputText id="editRefu02" value="#{roleController.selected.editRefu02}" title="#{bundle.CreateRoleTitle_editRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveRefu02}" for="approveRefu02" />
                    <h:inputText id="approveRefu02" value="#{roleController.selected.approveRefu02}" title="#{bundle.CreateRoleTitle_approveRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailRefu02}" for="detailRefu02" />
                    <h:inputText id="detailRefu02" value="#{roleController.selected.detailRefu02}" title="#{bundle.CreateRoleTitle_detailRefu02}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createRefu03}" for="createRefu03" />
                    <h:inputText id="createRefu03" value="#{roleController.selected.createRefu03}" title="#{bundle.CreateRoleTitle_createRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_listRefu03}" for="listRefu03" />
                    <h:inputText id="listRefu03" value="#{roleController.selected.listRefu03}" title="#{bundle.CreateRoleTitle_listRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_deleteRefu03}" for="deleteRefu03" />
                    <h:inputText id="deleteRefu03" value="#{roleController.selected.deleteRefu03}" title="#{bundle.CreateRoleTitle_deleteRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editRefu03}" for="editRefu03" />
                    <h:inputText id="editRefu03" value="#{roleController.selected.editRefu03}" title="#{bundle.CreateRoleTitle_editRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_approveRefu03}" for="approveRefu03" />
                    <h:inputText id="approveRefu03" value="#{roleController.selected.approveRefu03}" title="#{bundle.CreateRoleTitle_approveRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_detailRefu03}" for="detailRefu03" />
                    <h:inputText id="detailRefu03" value="#{roleController.selected.detailRefu03}" title="#{bundle.CreateRoleTitle_detailRefu03}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeReport}" for="seeReport" />
                    <h:inputText id="seeReport" value="#{roleController.selected.seeReport}" title="#{bundle.CreateRoleTitle_seeReport}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeSetting}" for="seeSetting" />
                    <h:inputText id="seeSetting" value="#{roleController.selected.seeSetting}" title="#{bundle.CreateRoleTitle_seeSetting}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editModel}" for="editModel" />
                    <h:inputText id="editModel" value="#{roleController.selected.editModel}" title="#{bundle.CreateRoleTitle_editModel}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_newProcess}" for="newProcess" />
                    <h:inputText id="newProcess" value="#{roleController.selected.newProcess}" title="#{bundle.CreateRoleTitle_newProcess}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_dataProcess}" for="dataProcess" />
                    <h:inputText id="dataProcess" value="#{roleController.selected.dataProcess}" title="#{bundle.CreateRoleTitle_dataProcess}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_editNg}" for="editNg" />
                    <h:inputText id="editNg" value="#{roleController.selected.editNg}" title="#{bundle.CreateRoleTitle_editNg}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_selectBar}" for="selectBar" />
                    <h:inputText id="selectBar" value="#{roleController.selected.selectBar}" title="#{bundle.CreateRoleTitle_selectBar}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeMc}" for="seeMc" />
                    <h:inputText id="seeMc" value="#{roleController.selected.seeMc}" title="#{bundle.CreateRoleTitle_seeMc}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createMc}" for="createMc" />
                    <h:inputText id="createMc" value="#{roleController.selected.createMc}" title="#{bundle.CreateRoleTitle_createMc}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_mcPref}" for="mcPref" />
                    <h:inputText id="mcPref" value="#{roleController.selected.mcPref}" title="#{bundle.CreateRoleTitle_mcPref}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_seeAppconf}" for="seeAppconf" />
                    <h:inputText id="seeAppconf" value="#{roleController.selected.seeAppconf}" title="#{bundle.CreateRoleTitle_seeAppconf}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_createUser}" for="createUser" />
                    <h:inputText id="createUser" value="#{roleController.selected.createUser}" title="#{bundle.CreateRoleTitle_createUser}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_userConf}" for="userConf" />
                    <h:inputText id="userConf" value="#{roleController.selected.userConf}" title="#{bundle.CreateRoleTitle_userConf}" />
                    <h:outputLabel value="#{bundle.CreateRoleLabel_addUserRole}" for="addUserRole" />
                    <h:inputText id="addUserRole" value="#{roleController.selected.addUserRole}" title="#{bundle.CreateRoleTitle_addUserRole}" />
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.create}" value="#{bundle.CreateRoleSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.CreateRoleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateRoleIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
