<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditRoleLabel_idRole}" for="idRole" />
                    <h:inputText id="idRole" value="#{roleController.selected.idRole}" title="#{bundle.EditRoleTitle_idRole}" required="true" requiredMessage="#{bundle.EditRoleRequiredMessage_idRole}"/>
                    <h:outputLabel value="#{bundle.EditRoleLabel_roleName}" for="roleName" />
                    <h:inputText id="roleName" value="#{roleController.selected.roleName}" title="#{bundle.EditRoleTitle_roleName}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeFl}" for="seeFl" />
                    <h:inputText id="seeFl" value="#{roleController.selected.seeFl}" title="#{bundle.EditRoleTitle_seeFl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createFl}" for="createFl" />
                    <h:inputText id="createFl" value="#{roleController.selected.createFl}" title="#{bundle.EditRoleTitle_createFl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listFl}" for="listFl" />
                    <h:inputText id="listFl" value="#{roleController.selected.listFl}" title="#{bundle.EditRoleTitle_listFl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteFl}" for="deleteFl" />
                    <h:inputText id="deleteFl" value="#{roleController.selected.deleteFl}" title="#{bundle.EditRoleTitle_deleteFl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editFl}" for="editFl" />
                    <h:inputText id="editFl" value="#{roleController.selected.editFl}" title="#{bundle.EditRoleTitle_editFl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailFrontLine}" for="detailFrontLine" />
                    <h:inputText id="detailFrontLine" value="#{roleController.selected.detailFrontLine}" title="#{bundle.EditRoleTitle_detailFrontLine}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeBl}" for="seeBl" />
                    <h:inputText id="seeBl" value="#{roleController.selected.seeBl}" title="#{bundle.EditRoleTitle_seeBl}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createAssy}" for="createAssy" />
                    <h:inputText id="createAssy" value="#{roleController.selected.createAssy}" title="#{bundle.EditRoleTitle_createAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listAssy}" for="listAssy" />
                    <h:inputText id="listAssy" value="#{roleController.selected.listAssy}" title="#{bundle.EditRoleTitle_listAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteAssy}" for="deleteAssy" />
                    <h:inputText id="deleteAssy" value="#{roleController.selected.deleteAssy}" title="#{bundle.EditRoleTitle_deleteAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editAssy}" for="editAssy" />
                    <h:inputText id="editAssy" value="#{roleController.selected.editAssy}" title="#{bundle.EditRoleTitle_editAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveAssy}" for="approveAssy" />
                    <h:inputText id="approveAssy" value="#{roleController.selected.approveAssy}" title="#{bundle.EditRoleTitle_approveAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailAssy}" for="detailAssy" />
                    <h:inputText id="detailAssy" value="#{roleController.selected.detailAssy}" title="#{bundle.EditRoleTitle_detailAssy}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createAuto}" for="createAuto" />
                    <h:inputText id="createAuto" value="#{roleController.selected.createAuto}" title="#{bundle.EditRoleTitle_createAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listAuto}" for="listAuto" />
                    <h:inputText id="listAuto" value="#{roleController.selected.listAuto}" title="#{bundle.EditRoleTitle_listAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteAuto}" for="deleteAuto" />
                    <h:inputText id="deleteAuto" value="#{roleController.selected.deleteAuto}" title="#{bundle.EditRoleTitle_deleteAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editAuto}" for="editAuto" />
                    <h:inputText id="editAuto" value="#{roleController.selected.editAuto}" title="#{bundle.EditRoleTitle_editAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveAuto}" for="approveAuto" />
                    <h:inputText id="approveAuto" value="#{roleController.selected.approveAuto}" title="#{bundle.EditRoleTitle_approveAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailAuto}" for="detailAuto" />
                    <h:inputText id="detailAuto" value="#{roleController.selected.detailAuto}" title="#{bundle.EditRoleTitle_detailAuto}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createAssembly}" for="createAssembly" />
                    <h:inputText id="createAssembly" value="#{roleController.selected.createAssembly}" title="#{bundle.EditRoleTitle_createAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listAssembly}" for="listAssembly" />
                    <h:inputText id="listAssembly" value="#{roleController.selected.listAssembly}" title="#{bundle.EditRoleTitle_listAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteAssembly}" for="deleteAssembly" />
                    <h:inputText id="deleteAssembly" value="#{roleController.selected.deleteAssembly}" title="#{bundle.EditRoleTitle_deleteAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editAssembly}" for="editAssembly" />
                    <h:inputText id="editAssembly" value="#{roleController.selected.editAssembly}" title="#{bundle.EditRoleTitle_editAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveAssembly}" for="approveAssembly" />
                    <h:inputText id="approveAssembly" value="#{roleController.selected.approveAssembly}" title="#{bundle.EditRoleTitle_approveAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailAssembly}" for="detailAssembly" />
                    <h:inputText id="detailAssembly" value="#{roleController.selected.detailAssembly}" title="#{bundle.EditRoleTitle_detailAssembly}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seePcb}" for="seePcb" />
                    <h:inputText id="seePcb" value="#{roleController.selected.seePcb}" title="#{bundle.EditRoleTitle_seePcb}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createPcb01}" for="createPcb01" />
                    <h:inputText id="createPcb01" value="#{roleController.selected.createPcb01}" title="#{bundle.EditRoleTitle_createPcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listPcb01}" for="listPcb01" />
                    <h:inputText id="listPcb01" value="#{roleController.selected.listPcb01}" title="#{bundle.EditRoleTitle_listPcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deletePcb01}" for="deletePcb01" />
                    <h:inputText id="deletePcb01" value="#{roleController.selected.deletePcb01}" title="#{bundle.EditRoleTitle_deletePcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editPcb01}" for="editPcb01" />
                    <h:inputText id="editPcb01" value="#{roleController.selected.editPcb01}" title="#{bundle.EditRoleTitle_editPcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approvePcb01}" for="approvePcb01" />
                    <h:inputText id="approvePcb01" value="#{roleController.selected.approvePcb01}" title="#{bundle.EditRoleTitle_approvePcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailPcb01}" for="detailPcb01" />
                    <h:inputText id="detailPcb01" value="#{roleController.selected.detailPcb01}" title="#{bundle.EditRoleTitle_detailPcb01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createPcb02}" for="createPcb02" />
                    <h:inputText id="createPcb02" value="#{roleController.selected.createPcb02}" title="#{bundle.EditRoleTitle_createPcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listPcb02}" for="listPcb02" />
                    <h:inputText id="listPcb02" value="#{roleController.selected.listPcb02}" title="#{bundle.EditRoleTitle_listPcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deletePcb02}" for="deletePcb02" />
                    <h:inputText id="deletePcb02" value="#{roleController.selected.deletePcb02}" title="#{bundle.EditRoleTitle_deletePcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editPcb02}" for="editPcb02" />
                    <h:inputText id="editPcb02" value="#{roleController.selected.editPcb02}" title="#{bundle.EditRoleTitle_editPcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approvePcb02}" for="approvePcb02" />
                    <h:inputText id="approvePcb02" value="#{roleController.selected.approvePcb02}" title="#{bundle.EditRoleTitle_approvePcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailPcb02}" for="detailPcb02" />
                    <h:inputText id="detailPcb02" value="#{roleController.selected.detailPcb02}" title="#{bundle.EditRoleTitle_detailPcb02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createPcb03}" for="createPcb03" />
                    <h:inputText id="createPcb03" value="#{roleController.selected.createPcb03}" title="#{bundle.EditRoleTitle_createPcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listPcb03}" for="listPcb03" />
                    <h:inputText id="listPcb03" value="#{roleController.selected.listPcb03}" title="#{bundle.EditRoleTitle_listPcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deletePcb03}" for="deletePcb03" />
                    <h:inputText id="deletePcb03" value="#{roleController.selected.deletePcb03}" title="#{bundle.EditRoleTitle_deletePcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editPcb03}" for="editPcb03" />
                    <h:inputText id="editPcb03" value="#{roleController.selected.editPcb03}" title="#{bundle.EditRoleTitle_editPcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approvePcb03}" for="approvePcb03" />
                    <h:inputText id="approvePcb03" value="#{roleController.selected.approvePcb03}" title="#{bundle.EditRoleTitle_approvePcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailPcb03}" for="detailPcb03" />
                    <h:inputText id="detailPcb03" value="#{roleController.selected.detailPcb03}" title="#{bundle.EditRoleTitle_detailPcb03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeRefu}" for="seeRefu" />
                    <h:inputText id="seeRefu" value="#{roleController.selected.seeRefu}" title="#{bundle.EditRoleTitle_seeRefu}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createRefu01}" for="createRefu01" />
                    <h:inputText id="createRefu01" value="#{roleController.selected.createRefu01}" title="#{bundle.EditRoleTitle_createRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listRefu01}" for="listRefu01" />
                    <h:inputText id="listRefu01" value="#{roleController.selected.listRefu01}" title="#{bundle.EditRoleTitle_listRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteRefu01}" for="deleteRefu01" />
                    <h:inputText id="deleteRefu01" value="#{roleController.selected.deleteRefu01}" title="#{bundle.EditRoleTitle_deleteRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editRefu01}" for="editRefu01" />
                    <h:inputText id="editRefu01" value="#{roleController.selected.editRefu01}" title="#{bundle.EditRoleTitle_editRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveRefu01}" for="approveRefu01" />
                    <h:inputText id="approveRefu01" value="#{roleController.selected.approveRefu01}" title="#{bundle.EditRoleTitle_approveRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailRefu01}" for="detailRefu01" />
                    <h:inputText id="detailRefu01" value="#{roleController.selected.detailRefu01}" title="#{bundle.EditRoleTitle_detailRefu01}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createRefu02}" for="createRefu02" />
                    <h:inputText id="createRefu02" value="#{roleController.selected.createRefu02}" title="#{bundle.EditRoleTitle_createRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listRefu02}" for="listRefu02" />
                    <h:inputText id="listRefu02" value="#{roleController.selected.listRefu02}" title="#{bundle.EditRoleTitle_listRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteRefu02}" for="deleteRefu02" />
                    <h:inputText id="deleteRefu02" value="#{roleController.selected.deleteRefu02}" title="#{bundle.EditRoleTitle_deleteRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editRefu02}" for="editRefu02" />
                    <h:inputText id="editRefu02" value="#{roleController.selected.editRefu02}" title="#{bundle.EditRoleTitle_editRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveRefu02}" for="approveRefu02" />
                    <h:inputText id="approveRefu02" value="#{roleController.selected.approveRefu02}" title="#{bundle.EditRoleTitle_approveRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailRefu02}" for="detailRefu02" />
                    <h:inputText id="detailRefu02" value="#{roleController.selected.detailRefu02}" title="#{bundle.EditRoleTitle_detailRefu02}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createRefu03}" for="createRefu03" />
                    <h:inputText id="createRefu03" value="#{roleController.selected.createRefu03}" title="#{bundle.EditRoleTitle_createRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_listRefu03}" for="listRefu03" />
                    <h:inputText id="listRefu03" value="#{roleController.selected.listRefu03}" title="#{bundle.EditRoleTitle_listRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_deleteRefu03}" for="deleteRefu03" />
                    <h:inputText id="deleteRefu03" value="#{roleController.selected.deleteRefu03}" title="#{bundle.EditRoleTitle_deleteRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editRefu03}" for="editRefu03" />
                    <h:inputText id="editRefu03" value="#{roleController.selected.editRefu03}" title="#{bundle.EditRoleTitle_editRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_approveRefu03}" for="approveRefu03" />
                    <h:inputText id="approveRefu03" value="#{roleController.selected.approveRefu03}" title="#{bundle.EditRoleTitle_approveRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_detailRefu03}" for="detailRefu03" />
                    <h:inputText id="detailRefu03" value="#{roleController.selected.detailRefu03}" title="#{bundle.EditRoleTitle_detailRefu03}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeReport}" for="seeReport" />
                    <h:inputText id="seeReport" value="#{roleController.selected.seeReport}" title="#{bundle.EditRoleTitle_seeReport}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeSetting}" for="seeSetting" />
                    <h:inputText id="seeSetting" value="#{roleController.selected.seeSetting}" title="#{bundle.EditRoleTitle_seeSetting}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editModel}" for="editModel" />
                    <h:inputText id="editModel" value="#{roleController.selected.editModel}" title="#{bundle.EditRoleTitle_editModel}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_newProcess}" for="newProcess" />
                    <h:inputText id="newProcess" value="#{roleController.selected.newProcess}" title="#{bundle.EditRoleTitle_newProcess}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_dataProcess}" for="dataProcess" />
                    <h:inputText id="dataProcess" value="#{roleController.selected.dataProcess}" title="#{bundle.EditRoleTitle_dataProcess}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_editNg}" for="editNg" />
                    <h:inputText id="editNg" value="#{roleController.selected.editNg}" title="#{bundle.EditRoleTitle_editNg}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_selectBar}" for="selectBar" />
                    <h:inputText id="selectBar" value="#{roleController.selected.selectBar}" title="#{bundle.EditRoleTitle_selectBar}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeMc}" for="seeMc" />
                    <h:inputText id="seeMc" value="#{roleController.selected.seeMc}" title="#{bundle.EditRoleTitle_seeMc}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createMc}" for="createMc" />
                    <h:inputText id="createMc" value="#{roleController.selected.createMc}" title="#{bundle.EditRoleTitle_createMc}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_mcPref}" for="mcPref" />
                    <h:inputText id="mcPref" value="#{roleController.selected.mcPref}" title="#{bundle.EditRoleTitle_mcPref}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_seeAppconf}" for="seeAppconf" />
                    <h:inputText id="seeAppconf" value="#{roleController.selected.seeAppconf}" title="#{bundle.EditRoleTitle_seeAppconf}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_createUser}" for="createUser" />
                    <h:inputText id="createUser" value="#{roleController.selected.createUser}" title="#{bundle.EditRoleTitle_createUser}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_userConf}" for="userConf" />
                    <h:inputText id="userConf" value="#{roleController.selected.userConf}" title="#{bundle.EditRoleTitle_userConf}" />
                    <h:outputLabel value="#{bundle.EditRoleLabel_addUserRole}" for="addUserRole" />
                    <h:inputText id="addUserRole" value="#{roleController.selected.addUserRole}" title="#{bundle.EditRoleTitle_addUserRole}" />
                </h:panelGrid>
                <h:commandLink action="#{roleController.update}" value="#{bundle.EditRoleSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditRoleViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.EditRoleShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditRoleIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
