<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListRoleEmpty}" rendered="#{roleController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{roleController.items.rowCount > 0}">
                    <h:outputText value="#{roleController.pagination.pageFirstItem + 1}..#{roleController.pagination.pageLastItem + 1}/#{roleController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{roleController.previous}" value="#{bundle.Previous} #{roleController.pagination.pageSize}" rendered="#{roleController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{roleController.next}" value="#{bundle.Next} #{roleController.pagination.pageSize}" rendered="#{roleController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{roleController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_idRole}"/>
                            </f:facet>
                            <h:outputText value="#{item.idRole}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_roleName}"/>
                            </f:facet>
                            <h:outputText value="#{item.roleName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeFl}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeFl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createFl}"/>
                            </f:facet>
                            <h:outputText value="#{item.createFl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listFl}"/>
                            </f:facet>
                            <h:outputText value="#{item.listFl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteFl}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteFl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editFl}"/>
                            </f:facet>
                            <h:outputText value="#{item.editFl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailFrontLine}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailFrontLine}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeBl}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeBl}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.createAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.listAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.editAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailAssy}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailAssy}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.createAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.listAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.editAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailAuto}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailAuto}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.createAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.listAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.editAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailAssembly}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailAssembly}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seePcb}"/>
                            </f:facet>
                            <h:outputText value="#{item.seePcb}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createPcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.createPcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listPcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.listPcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deletePcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.deletePcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editPcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.editPcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approvePcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.approvePcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailPcb01}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailPcb01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createPcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.createPcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listPcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.listPcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deletePcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.deletePcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editPcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.editPcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approvePcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.approvePcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailPcb02}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailPcb02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createPcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.createPcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listPcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.listPcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deletePcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.deletePcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editPcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.editPcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approvePcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.approvePcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailPcb03}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailPcb03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeRefu}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeRefu}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.createRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.listRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.editRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailRefu01}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailRefu01}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.createRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.listRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.editRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailRefu02}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailRefu02}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.createRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_listRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.listRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_deleteRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.deleteRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.editRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_approveRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.approveRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_detailRefu03}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailRefu03}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeReport}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeReport}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeSetting}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeSetting}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editModel}"/>
                            </f:facet>
                            <h:outputText value="#{item.editModel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_newProcess}"/>
                            </f:facet>
                            <h:outputText value="#{item.newProcess}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_dataProcess}"/>
                            </f:facet>
                            <h:outputText value="#{item.dataProcess}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_editNg}"/>
                            </f:facet>
                            <h:outputText value="#{item.editNg}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_selectBar}"/>
                            </f:facet>
                            <h:outputText value="#{item.selectBar}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeMc}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeMc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createMc}"/>
                            </f:facet>
                            <h:outputText value="#{item.createMc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_mcPref}"/>
                            </f:facet>
                            <h:outputText value="#{item.mcPref}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_seeAppconf}"/>
                            </f:facet>
                            <h:outputText value="#{item.seeAppconf}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_createUser}"/>
                            </f:facet>
                            <h:outputText value="#{item.createUser}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_userConf}"/>
                            </f:facet>
                            <h:outputText value="#{item.userConf}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListRoleTitle_addUserRole}"/>
                            </f:facet>
                            <h:outputText value="#{item.addUserRole}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{roleController.prepareView}" value="#{bundle.ListRoleViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleController.prepareEdit}" value="#{bundle.ListRoleEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{roleController.destroy}" value="#{bundle.ListRoleDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ListRoleCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListRoleIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
