<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewRoleTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewRoleLabel_idRole}"/>
                    <h:outputText value="#{roleController.selected.idRole}" title="#{bundle.ViewRoleTitle_idRole}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_roleName}"/>
                    <h:outputText value="#{roleController.selected.roleName}" title="#{bundle.ViewRoleTitle_roleName}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeFl}"/>
                    <h:outputText value="#{roleController.selected.seeFl}" title="#{bundle.ViewRoleTitle_seeFl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createFl}"/>
                    <h:outputText value="#{roleController.selected.createFl}" title="#{bundle.ViewRoleTitle_createFl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listFl}"/>
                    <h:outputText value="#{roleController.selected.listFl}" title="#{bundle.ViewRoleTitle_listFl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteFl}"/>
                    <h:outputText value="#{roleController.selected.deleteFl}" title="#{bundle.ViewRoleTitle_deleteFl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editFl}"/>
                    <h:outputText value="#{roleController.selected.editFl}" title="#{bundle.ViewRoleTitle_editFl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailFrontLine}"/>
                    <h:outputText value="#{roleController.selected.detailFrontLine}" title="#{bundle.ViewRoleTitle_detailFrontLine}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeBl}"/>
                    <h:outputText value="#{roleController.selected.seeBl}" title="#{bundle.ViewRoleTitle_seeBl}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createAssy}"/>
                    <h:outputText value="#{roleController.selected.createAssy}" title="#{bundle.ViewRoleTitle_createAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listAssy}"/>
                    <h:outputText value="#{roleController.selected.listAssy}" title="#{bundle.ViewRoleTitle_listAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteAssy}"/>
                    <h:outputText value="#{roleController.selected.deleteAssy}" title="#{bundle.ViewRoleTitle_deleteAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editAssy}"/>
                    <h:outputText value="#{roleController.selected.editAssy}" title="#{bundle.ViewRoleTitle_editAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveAssy}"/>
                    <h:outputText value="#{roleController.selected.approveAssy}" title="#{bundle.ViewRoleTitle_approveAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailAssy}"/>
                    <h:outputText value="#{roleController.selected.detailAssy}" title="#{bundle.ViewRoleTitle_detailAssy}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createAuto}"/>
                    <h:outputText value="#{roleController.selected.createAuto}" title="#{bundle.ViewRoleTitle_createAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listAuto}"/>
                    <h:outputText value="#{roleController.selected.listAuto}" title="#{bundle.ViewRoleTitle_listAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteAuto}"/>
                    <h:outputText value="#{roleController.selected.deleteAuto}" title="#{bundle.ViewRoleTitle_deleteAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editAuto}"/>
                    <h:outputText value="#{roleController.selected.editAuto}" title="#{bundle.ViewRoleTitle_editAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveAuto}"/>
                    <h:outputText value="#{roleController.selected.approveAuto}" title="#{bundle.ViewRoleTitle_approveAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailAuto}"/>
                    <h:outputText value="#{roleController.selected.detailAuto}" title="#{bundle.ViewRoleTitle_detailAuto}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createAssembly}"/>
                    <h:outputText value="#{roleController.selected.createAssembly}" title="#{bundle.ViewRoleTitle_createAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listAssembly}"/>
                    <h:outputText value="#{roleController.selected.listAssembly}" title="#{bundle.ViewRoleTitle_listAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteAssembly}"/>
                    <h:outputText value="#{roleController.selected.deleteAssembly}" title="#{bundle.ViewRoleTitle_deleteAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editAssembly}"/>
                    <h:outputText value="#{roleController.selected.editAssembly}" title="#{bundle.ViewRoleTitle_editAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveAssembly}"/>
                    <h:outputText value="#{roleController.selected.approveAssembly}" title="#{bundle.ViewRoleTitle_approveAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailAssembly}"/>
                    <h:outputText value="#{roleController.selected.detailAssembly}" title="#{bundle.ViewRoleTitle_detailAssembly}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seePcb}"/>
                    <h:outputText value="#{roleController.selected.seePcb}" title="#{bundle.ViewRoleTitle_seePcb}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createPcb01}"/>
                    <h:outputText value="#{roleController.selected.createPcb01}" title="#{bundle.ViewRoleTitle_createPcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listPcb01}"/>
                    <h:outputText value="#{roleController.selected.listPcb01}" title="#{bundle.ViewRoleTitle_listPcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deletePcb01}"/>
                    <h:outputText value="#{roleController.selected.deletePcb01}" title="#{bundle.ViewRoleTitle_deletePcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editPcb01}"/>
                    <h:outputText value="#{roleController.selected.editPcb01}" title="#{bundle.ViewRoleTitle_editPcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approvePcb01}"/>
                    <h:outputText value="#{roleController.selected.approvePcb01}" title="#{bundle.ViewRoleTitle_approvePcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailPcb01}"/>
                    <h:outputText value="#{roleController.selected.detailPcb01}" title="#{bundle.ViewRoleTitle_detailPcb01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createPcb02}"/>
                    <h:outputText value="#{roleController.selected.createPcb02}" title="#{bundle.ViewRoleTitle_createPcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listPcb02}"/>
                    <h:outputText value="#{roleController.selected.listPcb02}" title="#{bundle.ViewRoleTitle_listPcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deletePcb02}"/>
                    <h:outputText value="#{roleController.selected.deletePcb02}" title="#{bundle.ViewRoleTitle_deletePcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editPcb02}"/>
                    <h:outputText value="#{roleController.selected.editPcb02}" title="#{bundle.ViewRoleTitle_editPcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approvePcb02}"/>
                    <h:outputText value="#{roleController.selected.approvePcb02}" title="#{bundle.ViewRoleTitle_approvePcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailPcb02}"/>
                    <h:outputText value="#{roleController.selected.detailPcb02}" title="#{bundle.ViewRoleTitle_detailPcb02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createPcb03}"/>
                    <h:outputText value="#{roleController.selected.createPcb03}" title="#{bundle.ViewRoleTitle_createPcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listPcb03}"/>
                    <h:outputText value="#{roleController.selected.listPcb03}" title="#{bundle.ViewRoleTitle_listPcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deletePcb03}"/>
                    <h:outputText value="#{roleController.selected.deletePcb03}" title="#{bundle.ViewRoleTitle_deletePcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editPcb03}"/>
                    <h:outputText value="#{roleController.selected.editPcb03}" title="#{bundle.ViewRoleTitle_editPcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approvePcb03}"/>
                    <h:outputText value="#{roleController.selected.approvePcb03}" title="#{bundle.ViewRoleTitle_approvePcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailPcb03}"/>
                    <h:outputText value="#{roleController.selected.detailPcb03}" title="#{bundle.ViewRoleTitle_detailPcb03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeRefu}"/>
                    <h:outputText value="#{roleController.selected.seeRefu}" title="#{bundle.ViewRoleTitle_seeRefu}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createRefu01}"/>
                    <h:outputText value="#{roleController.selected.createRefu01}" title="#{bundle.ViewRoleTitle_createRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listRefu01}"/>
                    <h:outputText value="#{roleController.selected.listRefu01}" title="#{bundle.ViewRoleTitle_listRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteRefu01}"/>
                    <h:outputText value="#{roleController.selected.deleteRefu01}" title="#{bundle.ViewRoleTitle_deleteRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editRefu01}"/>
                    <h:outputText value="#{roleController.selected.editRefu01}" title="#{bundle.ViewRoleTitle_editRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveRefu01}"/>
                    <h:outputText value="#{roleController.selected.approveRefu01}" title="#{bundle.ViewRoleTitle_approveRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailRefu01}"/>
                    <h:outputText value="#{roleController.selected.detailRefu01}" title="#{bundle.ViewRoleTitle_detailRefu01}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createRefu02}"/>
                    <h:outputText value="#{roleController.selected.createRefu02}" title="#{bundle.ViewRoleTitle_createRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listRefu02}"/>
                    <h:outputText value="#{roleController.selected.listRefu02}" title="#{bundle.ViewRoleTitle_listRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteRefu02}"/>
                    <h:outputText value="#{roleController.selected.deleteRefu02}" title="#{bundle.ViewRoleTitle_deleteRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editRefu02}"/>
                    <h:outputText value="#{roleController.selected.editRefu02}" title="#{bundle.ViewRoleTitle_editRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveRefu02}"/>
                    <h:outputText value="#{roleController.selected.approveRefu02}" title="#{bundle.ViewRoleTitle_approveRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailRefu02}"/>
                    <h:outputText value="#{roleController.selected.detailRefu02}" title="#{bundle.ViewRoleTitle_detailRefu02}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createRefu03}"/>
                    <h:outputText value="#{roleController.selected.createRefu03}" title="#{bundle.ViewRoleTitle_createRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_listRefu03}"/>
                    <h:outputText value="#{roleController.selected.listRefu03}" title="#{bundle.ViewRoleTitle_listRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_deleteRefu03}"/>
                    <h:outputText value="#{roleController.selected.deleteRefu03}" title="#{bundle.ViewRoleTitle_deleteRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editRefu03}"/>
                    <h:outputText value="#{roleController.selected.editRefu03}" title="#{bundle.ViewRoleTitle_editRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_approveRefu03}"/>
                    <h:outputText value="#{roleController.selected.approveRefu03}" title="#{bundle.ViewRoleTitle_approveRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_detailRefu03}"/>
                    <h:outputText value="#{roleController.selected.detailRefu03}" title="#{bundle.ViewRoleTitle_detailRefu03}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeReport}"/>
                    <h:outputText value="#{roleController.selected.seeReport}" title="#{bundle.ViewRoleTitle_seeReport}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeSetting}"/>
                    <h:outputText value="#{roleController.selected.seeSetting}" title="#{bundle.ViewRoleTitle_seeSetting}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editModel}"/>
                    <h:outputText value="#{roleController.selected.editModel}" title="#{bundle.ViewRoleTitle_editModel}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_newProcess}"/>
                    <h:outputText value="#{roleController.selected.newProcess}" title="#{bundle.ViewRoleTitle_newProcess}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_dataProcess}"/>
                    <h:outputText value="#{roleController.selected.dataProcess}" title="#{bundle.ViewRoleTitle_dataProcess}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_editNg}"/>
                    <h:outputText value="#{roleController.selected.editNg}" title="#{bundle.ViewRoleTitle_editNg}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_selectBar}"/>
                    <h:outputText value="#{roleController.selected.selectBar}" title="#{bundle.ViewRoleTitle_selectBar}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeMc}"/>
                    <h:outputText value="#{roleController.selected.seeMc}" title="#{bundle.ViewRoleTitle_seeMc}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createMc}"/>
                    <h:outputText value="#{roleController.selected.createMc}" title="#{bundle.ViewRoleTitle_createMc}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_mcPref}"/>
                    <h:outputText value="#{roleController.selected.mcPref}" title="#{bundle.ViewRoleTitle_mcPref}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_seeAppconf}"/>
                    <h:outputText value="#{roleController.selected.seeAppconf}" title="#{bundle.ViewRoleTitle_seeAppconf}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_createUser}"/>
                    <h:outputText value="#{roleController.selected.createUser}" title="#{bundle.ViewRoleTitle_createUser}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_userConf}"/>
                    <h:outputText value="#{roleController.selected.userConf}" title="#{bundle.ViewRoleTitle_userConf}"/>
                    <h:outputText value="#{bundle.ViewRoleLabel_addUserRole}"/>
                    <h:outputText value="#{roleController.selected.addUserRole}" title="#{bundle.ViewRoleTitle_addUserRole}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{roleController.destroyAndView}" value="#{bundle.ViewRoleDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewRoleEditLink}"/>
                <br />
                <h:commandLink action="#{roleController.prepareCreate}" value="#{bundle.ViewRoleCreateLink}" />
                <br />
                <h:commandLink action="#{roleController.prepareList}" value="#{bundle.ViewRoleShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewRoleIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
