<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateDetailFlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_id}" for="id" />
                    <h:inputText id="id" value="#{detailFlController.selected.id}" title="#{bundle.CreateDetailFlTitle_id}" required="true" requiredMessage="#{bundle.CreateDetailFlRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_orderNo}" for="orderNo" />
                    <h:inputText id="orderNo" value="#{detailFlController.selected.orderNo}" title="#{bundle.CreateDetailFlTitle_orderNo}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_qtyFrame}" for="qtyFrame" />
                    <h:inputText id="qtyFrame" value="#{detailFlController.selected.qtyFrame}" title="#{bundle.CreateDetailFlTitle_qtyFrame}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_qtyRoll}" for="qtyRoll" />
                    <h:inputText id="qtyRoll" value="#{detailFlController.selected.qtyRoll}" title="#{bundle.CreateDetailFlTitle_qtyRoll}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_resinName}" for="resinName" />
                    <h:inputText id="resinName" value="#{detailFlController.selected.resinName}" title="#{bundle.CreateDetailFlTitle_resinName}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_resinType}" for="resinType" />
                    <h:inputText id="resinType" value="#{detailFlController.selected.resinType}" title="#{bundle.CreateDetailFlTitle_resinType}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_typeModel}" for="typeModel" />
                    <h:inputText id="typeModel" value="#{detailFlController.selected.typeModel}" title="#{bundle.CreateDetailFlTitle_typeModel}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_invoicebrozeplat}" for="invoicebrozeplat" />
                    <h:inputText id="invoicebrozeplat" value="#{detailFlController.selected.invoicebrozeplat}" title="#{bundle.CreateDetailFlTitle_invoicebrozeplat}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_typeBb}" for="typeBb" />
                    <h:inputText id="typeBb" value="#{detailFlController.selected.typeBb}" title="#{bundle.CreateDetailFlTitle_typeBb}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_plat}" for="plat" />
                    <h:inputText id="plat" value="#{detailFlController.selected.plat}" title="#{bundle.CreateDetailFlTitle_plat}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_productcodeName}" for="productcodeName" />
                    <h:inputText id="productcodeName" value="#{detailFlController.selected.productcodeName}" title="#{bundle.CreateDetailFlTitle_productcodeName}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_productcode}" for="productcode" />
                    <h:inputText id="productcode" value="#{detailFlController.selected.productcode}" title="#{bundle.CreateDetailFlTitle_productcode}" />
                    <h:outputLabel value="#{bundle.CreateDetailFlLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{detailFlController.selected.detailIdDetail}" title="#{bundle.CreateDetailFlTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.CreateDetailFlRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailFlController.create}" value="#{bundle.CreateDetailFlSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{detailFlController.prepareList}" value="#{bundle.CreateDetailFlShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.CreateDetailFlIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
