<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditDetailFlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_id}" for="id" />
                    <h:inputText id="id" value="#{detailFlController.selected.id}" title="#{bundle.EditDetailFlTitle_id}" required="true" requiredMessage="#{bundle.EditDetailFlRequiredMessage_id}"/>
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_orderNo}" for="orderNo" />
                    <h:inputText id="orderNo" value="#{detailFlController.selected.orderNo}" title="#{bundle.EditDetailFlTitle_orderNo}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_qtyFrame}" for="qtyFrame" />
                    <h:inputText id="qtyFrame" value="#{detailFlController.selected.qtyFrame}" title="#{bundle.EditDetailFlTitle_qtyFrame}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_qtyRoll}" for="qtyRoll" />
                    <h:inputText id="qtyRoll" value="#{detailFlController.selected.qtyRoll}" title="#{bundle.EditDetailFlTitle_qtyRoll}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_resinName}" for="resinName" />
                    <h:inputText id="resinName" value="#{detailFlController.selected.resinName}" title="#{bundle.EditDetailFlTitle_resinName}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_resinType}" for="resinType" />
                    <h:inputText id="resinType" value="#{detailFlController.selected.resinType}" title="#{bundle.EditDetailFlTitle_resinType}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_typeModel}" for="typeModel" />
                    <h:inputText id="typeModel" value="#{detailFlController.selected.typeModel}" title="#{bundle.EditDetailFlTitle_typeModel}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_invoicebrozeplat}" for="invoicebrozeplat" />
                    <h:inputText id="invoicebrozeplat" value="#{detailFlController.selected.invoicebrozeplat}" title="#{bundle.EditDetailFlTitle_invoicebrozeplat}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_typeBb}" for="typeBb" />
                    <h:inputText id="typeBb" value="#{detailFlController.selected.typeBb}" title="#{bundle.EditDetailFlTitle_typeBb}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_plat}" for="plat" />
                    <h:inputText id="plat" value="#{detailFlController.selected.plat}" title="#{bundle.EditDetailFlTitle_plat}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_productcodeName}" for="productcodeName" />
                    <h:inputText id="productcodeName" value="#{detailFlController.selected.productcodeName}" title="#{bundle.EditDetailFlTitle_productcodeName}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_productcode}" for="productcode" />
                    <h:inputText id="productcode" value="#{detailFlController.selected.productcode}" title="#{bundle.EditDetailFlTitle_productcode}" />
                    <h:outputLabel value="#{bundle.EditDetailFlLabel_detailIdDetail}" for="detailIdDetail" />
                    <h:selectOneMenu id="detailIdDetail" value="#{detailFlController.selected.detailIdDetail}" title="#{bundle.EditDetailFlTitle_detailIdDetail}" required="true" requiredMessage="#{bundle.EditDetailFlRequiredMessage_detailIdDetail}">
                        <f:selectItems value="#{detailsController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{detailFlController.update}" value="#{bundle.EditDetailFlSaveLink}"/>
                <br />
                <br />
                <h:commandLink action="View" value="#{bundle.EditDetailFlViewLink}" immediate="true"/>
                <br />
                <h:commandLink action="#{detailFlController.prepareList}" value="#{bundle.EditDetailFlShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.EditDetailFlIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
