<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="jhhjyg"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListDetailFlEmpty}" rendered="#{detailFlController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{detailFlController.items.rowCount > 0}">
                    <h:outputText value="#{detailFlController.pagination.pageFirstItem + 1}..#{detailFlController.pagination.pageLastItem + 1}/#{detailFlController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{detailFlController.previous}" value="#{bundle.Previous} #{detailFlController.pagination.pageSize}" rendered="#{detailFlController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{detailFlController.next}" value="#{bundle.Next} #{detailFlController.pagination.pageSize}" rendered="#{detailFlController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{detailFlController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="dg"/>
                            </f:facet>
                            <h:outputText value="#{item.id}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_orderNo}"/>
                            </f:facet>
                            <h:outputText value="#{item.orderNo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_qtyFrame}"/>
                            </f:facet>
                            <h:outputText value="#{item.qtyFrame}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_qtyRoll}"/>
                            </f:facet>
                            <h:outputText value="#{item.qtyRoll}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_resinName}"/>
                            </f:facet>
                            <h:outputText value="#{item.resinName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_resinType}"/>
                            </f:facet>
                            <h:outputText value="#{item.resinType}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_typeModel}"/>
                            </f:facet>
                            <h:outputText value="#{item.typeModel}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_invoicebrozeplat}"/>
                            </f:facet>
                            <h:outputText value="#{item.invoicebrozeplat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_typeBb}"/>
                            </f:facet>
                            <h:outputText value="#{item.typeBb}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_plat}"/>
                            </f:facet>
                            <h:outputText value="#{item.plat}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_productcodeName}"/>
                            </f:facet>
                            <h:outputText value="#{item.productcodeName}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_productcode}"/>
                            </f:facet>
                            <h:outputText value="#{item.productcode}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListDetailFlTitle_detailIdDetail}"/>
                            </f:facet>
                            <h:outputText value="#{item.detailIdDetail}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{detailFlController.prepareView}" value="#{bundle.ListDetailFlViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailFlController.prepareEdit}" value="#{bundle.ListDetailFlEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{detailFlController.destroy}" value="#{bundle.ListDetailFlDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{detailFlController.prepareCreate}" value="#{bundle.ListDetailFlCreateLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ListDetailFlIndexLink}" action="/index" immediate="true" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
