<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewDetailFlTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewDetailFlLabel_id}"/>
                    <h:outputText value="#{detailFlController.selected.id}" title="#{bundle.ViewDetailFlTitle_id}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_orderNo}"/>
                    <h:outputText value="#{detailFlController.selected.orderNo}" title="#{bundle.ViewDetailFlTitle_orderNo}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_qtyFrame}"/>
                    <h:outputText value="#{detailFlController.selected.qtyFrame}" title="#{bundle.ViewDetailFlTitle_qtyFrame}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_qtyRoll}"/>
                    <h:outputText value="#{detailFlController.selected.qtyRoll}" title="#{bundle.ViewDetailFlTitle_qtyRoll}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_resinName}"/>
                    <h:outputText value="#{detailFlController.selected.resinName}" title="#{bundle.ViewDetailFlTitle_resinName}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_resinType}"/>
                    <h:outputText value="#{detailFlController.selected.resinType}" title="#{bundle.ViewDetailFlTitle_resinType}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_typeModel}"/>
                    <h:outputText value="#{detailFlController.selected.typeModel}" title="#{bundle.ViewDetailFlTitle_typeModel}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_invoicebrozeplat}"/>
                    <h:outputText value="#{detailFlController.selected.invoicebrozeplat}" title="#{bundle.ViewDetailFlTitle_invoicebrozeplat}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_typeBb}"/>
                    <h:outputText value="#{detailFlController.selected.typeBb}" title="#{bundle.ViewDetailFlTitle_typeBb}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_plat}"/>
                    <h:outputText value="#{detailFlController.selected.plat}" title="#{bundle.ViewDetailFlTitle_plat}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_productcodeName}"/>
                    <h:outputText value="#{detailFlController.selected.productcodeName}" title="#{bundle.ViewDetailFlTitle_productcodeName}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_productcode}"/>
                    <h:outputText value="#{detailFlController.selected.productcode}" title="#{bundle.ViewDetailFlTitle_productcode}"/>
                    <h:outputText value="#{bundle.ViewDetailFlLabel_detailIdDetail}"/>
                    <h:outputText value="#{detailFlController.selected.detailIdDetail}" title="#{bundle.ViewDetailFlTitle_detailIdDetail}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{detailFlController.destroyAndView}" value="#{bundle.ViewDetailFlDestroyLink}"/>
                <br />
                <br />
                <h:commandLink action="Edit" value="#{bundle.ViewDetailFlEditLink}"/>
                <br />
                <h:commandLink action="#{detailFlController.prepareCreate}" value="#{bundle.ViewDetailFlCreateLink}" />
                <br />
                <h:commandLink action="#{detailFlController.prepareList}" value="#{bundle.ViewDetailFlShowAllLink}"/>
                <br />
                <br />
                <h:commandLink value="#{bundle.ViewDetailFlIndexLink}" action="/index" immediate="true" />

            </h:form>
        </ui:define>
    </ui:composition>

</html>
