<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html">
    <h:head>
        <title>Facelet Title</title>
<h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>
    <h:body>
        
                <h:form>
                    <h:commandLink action="/pagenerate/currentProcess/List" value="Show All CurrentProcess Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/detailAssy/List" value="Show All DetailAssy Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/detailAuto/List" value="Show All DetailAuto Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/detailFl/List" value="Show All DetailFl Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/details/List" value="Show All Details Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/lineAssembly/List" value="Show All LineAssembly Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/lotControl/List" value="Show All LotControl Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/mainData/List" value="Show All MainData Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/md2pc/List" value="Show All Md2pc Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/modelPool/List" value="Show All ModelPool Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/ngNormal/List" value="Show All NgNormal Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/ngPool/List" value="Show All NgPool Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/ngRepair/List" value="Show All NgRepair Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/option/List" value="Show All Option Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/pc2data/List" value="Show All Pc2data Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/pc2ng/List" value="Show All Pc2ng Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/pcb01/List" value="Show All Pcb01 Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/pcsQty/List" value="Show All PcsQty Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/processPool/List" value="Show All ProcessPool Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/refu01/List" value="Show All Refu01 Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/role/List" value="Show All Role Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/roleUser/List" value="Show All RoleUser Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/text/List" value="Show All Text Items"/>
                </h:form>
                <h:form>
                    <h:commandLink action="/pagenerate/users/List" value="Show All Users Items"/>
                </h:form>
</h:body>














































































</html>

