<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      >
    <h:head>
        <title>Login |TCT Production Management</title>

        <ice:outputStyle href="../xmlhttp/css/rime/rime.css" />
        <link type="text/css"  rel="stylesheet" href="../css/layout.css" /> 
          <link type="image/gif" href="./images/favicon.gif" rel="icon"/>
    </h:head>
    <h:body  style="background:url(images/login_bg2.png) no-repeat center top #EAEAEA">
        <!-- Header --> 
        <div id="head_site">
            <div id="logo_home">
                 <ice:form>
                     <ice:commandLink  
                         style="background:url(../images/logo_TCT_MRP.png) no-repeat;
                                height: 60px;
                                text-decoration:none;
                                width: 280px;
                                display:block;" 
                         title="TCT Production Management" actionListener="#{menuBar.listener}">
                        <f:param name="myParam" value="Home"></f:param>
                     </ice:commandLink>	
                  </ice:form>
	</div><!-- logo_home--> 
        </div><!--head_site -->

        <!-- Login Form -->
        <div id="login_all">
            <div id="logoin_form">
                <div class="head"><div class="logologin"></div>Login to your account.</div>
                <ui:param name="onloads" value=""/>
                <h:form id="iceForm">
                    <!--   <form action="" method="post" name="form1">-->
                    <table width="350" align="center">
                        <tbody>
                            <tr>
                                <td align="right">&nbsp;&nbsp;Username :</td>
                                <td> 
                                    <ice:inputText value="#{userlogin.username}"/>
                                </td>
                            </tr>
                            <tr>
                                <td align="right">&nbsp;&nbsp;Password :</td>
                                <td> <ice:inputSecret value="#{userlogin.password}" partialSubmit="true" action="#{userlogin.logins}"/>
                                </td>
                            </tr>
                            <tr>
                                <td>&nbsp;</td>
                                <td><ice:commandButton styleClass="button_login" partialSubmit="true" value=" Login " action="#{userlogin.logins}"/>
                                    &nbsp;<ice:commandButton styleClass="button_reset" type="reset" value=" Clear "/></td>
                            </tr>

                        </tbody></table>
                    <!--</form> -->
                </h:form>    
            </div>
        </div>
    </h:body>
</html>