<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ice="http://www.icesoft.com/icefaces/component"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components">
    <f:view>
        <h:head>
            <meta http-equiv="Content-Type"
                  content="text/html; charset=utf-8" />
            <title>TCT Production Management</title>
            <ice:outputStyle href="../xmlhttp/css/rime/rime.css" />
            <link rel="stylesheet" type="text/css" href="../css/layout.css"/> 
            <link type="image/gif" href="./images/favicon.gif" rel="icon"/>
        </h:head>
        <h:body>
            <ui:include src="menu/menu.xhtml"></ui:include>
            <table width="100%" height="650" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <!-- Tree_site -->
<!--                    <td id="tree_content">
                        <ice:form>
                            <ice:tree id="tree"
                                      value="#{tree.model}"
                                      var="item"
                                      hideRootNode="false"
                                      hideNavigation="false"
                                      imageDir="./xmlhttp/css/xp/css-images/" >
                                <ice:treeNode>
                                    <f:facet name="content">
                                        <ice:panelGroup style="display: inline">
                                            <ice:commandLink  actionListener="#{menuBar.listener}">
                                                <ice:outputText value="#{item.userObject.text}" />
                                                <f:param name="myParam" value="#{item.userObject.tooltip}"></f:param>
                                            </ice:commandLink>

                                        </ice:panelGroup>
                                    </f:facet>
                                </ice:treeNode>
                            </ice:tree>
                        </ice:form>
                    </td>-->
                    <!--tree_site -->

                    <!-- Main_site -->
                    <td id="main_content">    
                        <ui:include src="#{menuBar.param}"></ui:include> 
                    </td>
                    <!-- main_site-->
                </tr>
            </table>
            <div style="clear:both;"></div>

            <!-- Footer_site -->
            <div id="footer_site">
                X  Control (Production Control Lot with barcode ) version 1.0 Power by 4xtreme
            </div><!--foot_site --> 

        </h:body>
    </f:view>
</html>