<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:icecore="http://www.icefaces.org/icefaces/core"
      xmlns:ace="http://www.icefaces.org/icefaces/components"
      xmlns:ice="http://www.icesoft.com/icefaces/component">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
<h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>

    <h:body>
        <h1>
            <ui:insert name="title">Default Title</ui:insert>
        </h1>
        <p>
            <ui:insert name="body">Default Body</ui:insert>
        </p>
        
        <h:form>
            <ice:commandButton panelConfirmation="genConfirm" value="Save"/>
            <ice:panelConfirmation id="genConfirm"
                                   message="Are you sure you want to generate a new random number?"
                                   acceptLabel="New Number!"
                                   cancelLabel="No, Keep #{confirmation.number}"
                                   autoCentre="true"
                                   rendered="true"/>
            <ice:panelConfirmation id="savethis" acceptLabel="OK" autoCentre="true" cancelLabel="Cancel" rendered="true" message="Are you sure?" title="Confirm save"/>
        </h:form>
    </h:body>

</html>
